[D-BUS Service]
Name=org.desktopspec.ConfigManager
Exec=/usr/bin/dde-dconfig-daemon
User=dde-dconfig-daemon
SystemdService=dbus-org.desktopspec.ConfigManager.service
