Source: lingmo-osconfig
Section: misc
Priority: optional
Maintainer: Lingmo Sysdev <sysdev@lingmo.com>
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 12)

Package: lingmo-osconfig
Architecture: all
Depends: ${misc:Depends}
Description: The config files of Lingmo Desktop, 
 provides system configs for OCEAN components
