# translation of kdelibs4.po to Tajik Language
# Copyright (C) 2004, 2002, 2005, 2006, 2007, 2008 Free Software Foundation, Inc.
# 2004, 2005, 2006, 2007 infoDev, a World Bank organization.
# 2004, 2005, 2006, 2007 Khujand Computer Technologies, Inc.
# 2004, 2005, 2006, 2007 Youth Opportunities, NGO, 2005.
# Roger Kovacs <rkovacs@khujand.org>, 2003.
# Thomas Diehl <thd@kde.org>, 2003.
# Victor Ibragimov <victor.ibragimov@gmail.com>, 2003, 2004, 2005, 2006, 2007, 2008, 2019.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2019-09-15 21:27+0500\n"
"Last-Translator: Victor Ibragimov <victor.ibragimov@gmail.com>\n"
"Language-Team: English <kde-i18n-doc@kde.org>\n"
"Language: tg\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 19.04.3\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Victor Ibragimov"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "victor.ibragimov@gmail.com"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Стандартӣ"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Худмуайянкунии"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr ""

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Танзимот"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:329
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "&Нишон додани навори феҳрист"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr ""

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr ""

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Ягон ворида нест"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Пок кардани рӯйхат"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Ба қафо"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Ба пеш"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Асосӣ"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Нишон додани навори феҳрист<p>Навори менюро аз нав нишон медиҳад, агар он "
"пинҳон карда шуда бошад</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Нишон додани навори вазъият<p>Навори вазъиятеро нишон медиҳад, ки дар поёни "
"равзана ҷойгир аст ва барои намоиши иттилооти вазъият истифода мешавад.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "&Нав"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Эҷод кардани ҳуҷҷати нав"

#: kstandardaction_p.h:64
#, fuzzy
#| msgid "&Open..."
msgid "&Open…"
msgstr "&Кушодан..."

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Кушодани ҳуҷҷати мавҷудбуда"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "&Кушодани маводи охирин"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "&Кушодани маводе, ки охирин бор кушода буд"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Нигоҳ доштан"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Нигоҳ доштани ҳуҷҷат"

#: kstandardaction_p.h:67
#, fuzzy
#| msgid "Save &As..."
msgid "Save &As…"
msgstr "&Нигоҳ доштан ҳамчун..."

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Нигоҳ доштани ҳуҷҷат дар таҳти номи нав"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "&Бозсозӣ"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Бозгашти тағйироте, ки дар ҳуҷҷат нигоҳ дошта нашуд"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Пӯшидан"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Пӯшидани ҳуҷҷат"

#: kstandardaction_p.h:70
#, fuzzy
#| msgid "&Print..."
msgid "&Print…"
msgstr "&Чоп кардан…"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Чоп кардани ҳуҷҷат"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "&Пешнамоиши чоп"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Нишон додани пешнамоиши чопи ҳуҷҷат"

#: kstandardaction_p.h:72
#, fuzzy
#| msgid "&Mail..."
msgid "&Mail…"
msgstr "&Почта..."

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Фиристодани ҳуҷҷат ба воситаи почта"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "&Баромадан"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Баромадан аз барнома"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Ботил сохтан"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Ботил сохтани амали охирин"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "&Дубора анҷом додан"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Дубора анҷом додани амали охирин"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "&Буридан"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Буридани интихоб ба ҳофизаи муваққатӣ"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "&Нусха бардоштан"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Нусха бардоштани интихоб ба ҳофизаи муваққатӣ"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "&Гузоштан"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Гузоштани муҳтавои ҳофизаи муваққатӣ"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "&Пок кардан"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "&Ҳамаро интихоб кардан"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "&Интихобро бекор кардан"

#: kstandardaction_p.h:83
#, fuzzy
#| msgid "&Find..."
msgid "&Find…"
msgstr "&Ёфтан..."

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "&Ёфтани навбатӣ"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "&Ёфтани қаблӣ"

#: kstandardaction_p.h:86
#, fuzzy
#| msgid "&Replace..."
msgid "&Replace…"
msgstr "&Ҷойгузин кардан..."

#: kstandardaction_p.h:88
#, fuzzy
#| msgid "&Actual Size"
msgid "Zoom to &Actual Size"
msgstr "&Андозаи ҳақиқӣ"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Намоиш додани ҳуҷҷат дар андозаи ҳақиқӣ"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "&Ба саҳифа ғунҷидан"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Танзими андоза барои ба равзана ғунҷидан"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "&Ба паҳнии саҳифа ғунҷидан"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Танзими андоза барои ба паҳнии саҳифа дар равзана ғунҷидан"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "&Ба баландии саҳифа ғунҷидан"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Танзими андоза барои ба баландии саҳифа дар равзана ғунҷидан"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "&Бузург кардани андоза"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "&Хурд кардани андоза"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "&Zoom..."
msgid "&Zoom…"
msgstr "&Танзими андоза..."

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Интихоби дараҷаи танзими андоза"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:95
#, fuzzy
#| msgid "Redisplay document"
msgid "Refresh document"
msgstr "Аз нав нишон додани ҳуҷҷат"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "&Ба боло"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Гузариш ба боло"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "&Саҳифаи қаблӣ"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Гузариш ба саҳифаи қаблӣ"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "&Саҳифаи навбатӣ"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Гузариш ба саҳифаи навбатӣ"

#: kstandardaction_p.h:104
#, fuzzy
#| msgid "&Go To..."
msgid "&Go To…"
msgstr "&Гузариш ба..."

#: kstandardaction_p.h:105
#, fuzzy
#| msgid "&Go to Page..."
msgid "&Go to Page…"
msgstr "&Гузариш ба саҳифа..."

#: kstandardaction_p.h:106
#, fuzzy
#| msgid "&Go to Line..."
msgid "&Go to Line…"
msgstr "&Гузариш ба сатр..."

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "&Саҳифаи аввалин"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "Гузариш ба саҳифаи аввалин"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "&Саҳифаи охирин"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Гузариш ба саҳифаи охирин"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "&Ба қафо"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Гузариш ба қафо дар ҳуҷҷат"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "&Ба пеш"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Гузариш ба пеш дар ҳуҷҷат"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "&Илова кардани хатчӯб"

#: kstandardaction_p.h:113
#, fuzzy
#| msgid "&Edit Bookmarks..."
msgid "&Edit Bookmarks…"
msgstr "&Таҳрир кардани хатчӯбҳо..."

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "&Spelling..."
msgid "&Spelling…"
msgstr "&Санҷиши имло..."

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Санҷиши имло дар ҳуҷҷат"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "&Нишон додани навори феҳрист"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Нишон додан ё пинҳон кардани навори феҳрист"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "&Нишон додани навори абзорҳо"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Нишон додан ё пинҳон кардани навори абзорҳо"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "Намоиш додани навори &вазъият"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Нишон додан ё пинҳон кардани навори вазъият"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "&Реҷаи экрани пурра"

#: kstandardaction_p.h:121
#, fuzzy
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts…"
msgstr "Танзимоти &миёнбурҳо..."

#: kstandardaction_p.h:122
#, fuzzy, kde-format
#| msgid "&Configure %1..."
msgid "&Configure %1…"
msgstr "&Танзим кардани %1..."

#: kstandardaction_p.h:123
#, fuzzy
#| msgid "Configure Tool&bars..."
msgid "Configure Tool&bars…"
msgstr "&Танзимоти навори абзорҳо..."

#: kstandardaction_p.h:124
#, fuzzy
#| msgid "Configure &Notifications..."
msgid "Configure &Notifications…"
msgstr "Танзимоти &огоҳиномаҳо..."

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "&Маълумотномаи %1"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "Ин чист?"

#: kstandardaction_p.h:130
#, fuzzy
#| msgid "&Report Bug..."
msgid "&Report Bug…"
msgstr "Гузориш дар бораи &хато..."

#: kstandardaction_p.h:131
#, fuzzy
#| msgid "&Configure %1..."
msgid "Configure &Language…"
msgstr "&Танзим кардани %1..."

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "&Дар бораи барномаи %1"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "&Дар бораи KDE"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "&Нест кардан"

#: kstandardaction_p.h:135
#, fuzzy
#| msgid "&Rename..."
msgid "&Rename…"
msgstr "&Номро иваз кардан..."

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "&Интиқол додан ба сабад"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "&Дастгирии молӣ"

#: kstandardaction_p.h:138
#, fuzzy
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "&Кушодани маводи охирин"

#: kstylemanager.cpp:60
#, fuzzy, kde-format
#| msgid "Quit application"
msgid "Application Style"
msgstr "Баромадан аз барнома"

#: kstylemanager.cpp:64
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "Стандартӣ"

#~ msgid "Tip of the &Day"
#~ msgstr "&Маслиҳати рӯз"

#~ msgid "You will be asked to authenticate before saving"
#~ msgstr "Пеш аз нигоҳдорӣ ба шумо санҷиши ҳаққоният пешниҳод карда мешавад"

#~ msgid "You are not allowed to save the configuration"
#~ msgstr "Шумо барои нигоҳ доштани танзимот иҷозат надоред"

#~ msgctxt "show help"
#~ msgid "&Help"
#~ msgstr "&Кумак"

#~ msgid "&Save Settings"
#~ msgstr "&Нигоҳ доштани танзимот"

#~ msgctxt "@title:window"
#~ msgid "Tip of the Day"
#~ msgstr "Маслиҳати рӯз"

#~ msgctxt "@title"
#~ msgid "Did you know...?\n"
#~ msgstr "Оё шумо медонед, ки...?\n"

#~ msgctxt "@option:check"
#~ msgid "&Show tips on startup"
#~ msgstr "&Нишон додани маслиҳат дар оғози кор"

#~ msgctxt "@action:button Goes to previous tip"
#~ msgid "&Previous"
#~ msgstr "&Қаблӣ"

#~ msgctxt "@action:button Goes to next tip, opposite to previous"
#~ msgid "&Next"
#~ msgstr "&Навбатӣ"

#~ msgid "Switch Application &Language..."
#~ msgstr "&Иваз кардани забони барнома..."

#~ msgid "&Redisplay"
#~ msgstr "&Аз нав нишон додан"
