[Desktop Entry]
Exec=kmenuedit
Icon=kmenuedit
X-DocPath=kmenuedit/index.html
Type=Application
StartupNotify=true
OnlyShowIn=KDE;

Name=Menu Editor
Name[af]=Kieslys Redigeerder
Name[ar]=محرّر القوائم
Name[az]=Menyu redaktoru
Name[be]=Рэдактар меню
Name[be@latin]=Redaktar menu
Name[bg]=Редактор на менюто
Name[bn]=মেনু সম্পাদক
Name[bn_IN]=মেনু সম্পাদন ব্যবস্থা
Name[br]=Aozer lañserioù
Name[bs]=Uređivač menija
Name[ca]=Editor del menú
Name[ca@valencia]=Editor del menú
Name[cs]=Editor nabídek
Name[csb]=Editora menu
Name[cy]=Golygydd Dewislen
Name[da]=Menueditor
Name[de]=Menü-Editor
Name[el]=Επεξεργαστής μενού
Name[en_GB]=Menu Editor
Name[eo]=Menuredaktilo
Name[es]=Editor de menús
Name[et]=Menüü redaktor
Name[eu]=Menu-editorea
Name[fa]=ویرایشگر گزینگان
Name[fi]=Valikkomuokkain
Name[fr]=Éditeur de menus
Name[fy]=Menubewurker
Name[ga]=Eagarthóir Roghchláir
Name[gl]=Editor do menú
Name[gu]=મેનુ સંપાદક
Name[he]=עורך התפריטים
Name[hi]=मेन्यू संपादक 
Name[hne]=मेन्यू संपादक 
Name[hr]=Uređivač izbornika
Name[hsb]=Menijowy wobdźěłowar
Name[hu]=Menüszerkesztő
Name[ia]=Editor de menu
Name[id]=Pengedit Menu
Name[is]=Valmyndaritill
Name[it]=Editor dei menu
Name[ja]=メニューエディタ
Name[ka]=მენიუს რედაქტორი
Name[kk]=Мәзір редакторы
Name[km]=កម្មវិធី​និពន្ធ​ម៉ឺនុយ
Name[kn]=ಪರಿವಿಡಿ ಸಂಪಾದಕ
Name[ko]=메뉴 편집기
Name[ku]=Edîtorê Menuyan
Name[lt]=Meniu redaktorius
Name[lv]=Izvēlnes redaktors
Name[mai]=मेनू संपादक
Name[mk]=Уредувач на мени
Name[ml]=വിഭവസൂചിക മാറ്റുന്നിടം
Name[mr]=मेन्यू संपादक
Name[ms]=Editor Menu
Name[nb]=Menyredigering
Name[nds]=Menüeditor
Name[ne]=मेनु सम्पादक
Name[nl]=Menubewerker
Name[nn]=Menyredigering
Name[oc]=Editor de menuts
Name[pa]=ਮੇਨੂ ਐਡੀਟਰ
Name[pl]=Edytor menu
Name[pt]=Editor de Menus
Name[pt_BR]=Editor de menus
Name[ro]=Editor de meniuri
Name[ru]=Редактор меню
Name[sa]=विकल्पसूचि सम्पादकः
Name[se]=Fállodoaimmaheaddji
Name[si]=මෙනු සකසනය
Name[sk]=Editor ponuky
Name[sl]=Urejevalnik menijev
Name[sr]=Уређивач менија
Name[sr@ijekavian]=Уређивач менија
Name[sr@ijekavianlatin]=Uređivač menija
Name[sr@latin]=Uređivač menija
Name[sv]=Menyeditor
Name[ta]=பட்டியல் திருத்துபவர்
Name[te]=పట్టి ఎడిటర్
Name[tg]=Муҳаррири феҳрист
Name[th]=ตัวแก้ไขเมนู
Name[tr]=Menü Düzenleyicisi
Name[ug]=تىزىملىك تەھرىرلىگۈچ
Name[uk]=Редактор меню
Name[uz]=Menyu tahrirchi
Name[uz@cyrillic]=Меню таҳрирчи
Name[vi]=Trình sửa trình đơn
Name[wa]=Aspougneu di menus
Name[xh]=Umhleli we Menu
Name[x-test]=xxMenu Editorxx
Name[zh_CN]=菜单编辑器
Name[zh_TW]=選單編輯器
Comment=Edit how applications are presented in app launchers
Comment[ar]=حرر كيف تُعرض البرامج في مطلقات البرامج
Comment[az]=Tətbiq başladıcıda görünən tətbiqlər siyahısına düzəliş edin
Comment[be]=Рэдагаванне спосабу паказу праграм у праграмах запуску
Comment[bg]=Настройване на изгледа на приложенията в стартера
Comment[ca]=Edita com es presenten les aplicacions en els llançadors d'aplicacions
Comment[ca@valencia]=Edita com es presenten les aplicacions en els iniciadors d'aplicacions
Comment[cs]=Upravit jak budou aplikace zobrazovány ve spouštěčích
Comment[da]=Redigér hvordan programmer vises i programstarterne
Comment[de]=Bearbeiten, wie Anwendungen im Anwendungsstarter dargestellt werden
Comment[el]=Επεξεργάζεται τον τρόπο παρουσίασης των εφαρμογών στους εκτελεστές εφαρμογών
Comment[en_GB]=Edit how applications are presented in app launchers
Comment[eo]=Redakti kiom da aplikaĵoj estas prezentataj en ap-lanĉiloj
Comment[es]=Editar cómo se presentan las aplicaciones en los lanzadores de aplicaciones
Comment[eu]=Editatu aplikazio-abiarazleetan aplikazioak nola aurkezten diren
Comment[fi]=Muokkaa miltä sovellukset näyttävät sovelluskäynnistimissä
Comment[fr]=Modifier la présentation des applications dans les lanceurs d'applications
Comment[gl]=Edita como se presentan as aplicacións nos iniciadores
Comment[he]=עריכת האופן בו היישומים מיוצגים במשגרי היישומים
Comment[hu]=Szerkesztheti az alkalmazások megjelenését az alkalmazásindítókban
Comment[ia]=Modifica  como applicationes essera presentate in lanceatores de app
Comment[is]=Breyta hvernig forrit eru sett fram í forritaræsum
Comment[it]=Modifica come le applicazioni sono presentate negli esecutori delle applicazioni
Comment[ja]=アプリケーションランチャーエントリの設定ができます
Comment[ka]=ჩაასწორეთ, გამშვებში აპლიკაციები როგორ არიან წარმოდგენილები
Comment[ko]=앱 실행기에 표시되는 앱 편집
Comment[lv]=Rediģējiet, kā programmas ir redzamas to palaidējos
Comment[nl]=Bewerk hoe toepassingen gepresenteerd worden in starters van toepassingen
Comment[nn]=Endra korleis program vert viste i programstartarar
Comment[pl]=Zmienia sposób przedstawiania aplikacji w uruchamiaczach
Comment[pt]=Editar como as aplicações são apresentadas nos lançadores de aplicações
Comment[pt_BR]=Editar como as aplicações são mostradas nos lançadores de aplicativos
Comment[ro]=Modifică felul în care aplicațiile sunt prezentate în lansatorii de aplicații
Comment[ru]=Редактирование представления приложений в средствах запуска приложений
Comment[sa]=अनुप्रयोगप्रक्षेपकाः मध्ये अनुप्रयोगाः कथं प्रस्तुताः भवन्ति इति सम्पादयन्तु
Comment[sk]=Editovať, ako sa aplikácie zobrazujú v spúšťačoch aplikácií
Comment[sl]=Uredi kako so aplikacije predstavljene v zaganjalnikih programov
Comment[sv]=Redigera hur program presenteras i startprogram
Comment[ta]=ஏவிகளில் செயலிகள் காட்டப்படும் வித‍த்தை மாற்றுங்கள்
Comment[tr]=Uygulama Başlatıcısı Düzenleyicisi
Comment[uk]=Редагування способу, у який пункти програм буде показано у програмах для запуску програм
Comment[vi]=Chỉnh sửa cách các ứng dụng được trình bày trong các trình khởi chạy ứng dụng
Comment[x-test]=xxEdit how applications are presented in app launchersxx
Comment[zh_CN]=编辑应用程序在应用程序启动器中的显示方式
Comment[zh_TW]=編輯應用程式在啟動器中的顯示方式

X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kmenuedit
Categories=Qt;KDE;System;
SingleMainWindow=true
