[Desktop Entry]
Type=Application
Version=1.0
Name=Install Lingmo OS
GenericName=Calamares Installer
Exec=sudo -E calamares-install-lingmo
Comment=Calamares — Installer for Lingmo Live
Keywords=calamares;system;install;lingmo;installer
Icon=system-installer
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True

Name[zh_CN]=安装 灵墨OS
