Source: system-core
Section: lingmo
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.5.0

Package: system-core
Architecture: any
Section: lingmo
Priority: optional
Depends: appmotor,
         base-files,
         liblingmo,
         lingmo-core,
         lingmo-cursor-themes,
         lingmo-calculator,
         lingmo-grub-config,
         lingmo-daemon,
         lingmo-dock,
         lingmo-filemanager,
         lingmo-gtk-themes,
         lingmo-kwin-plugins,
         lingmo-qt-plugins,
         lingmo-launcher,
         lingmo-screenlocker,
         lingmo-sddm-theme,
         lingmo-settings,
         lingmo-statusbar,
         lingmo-systemicons,
         lingmo-terminal,
         lingmo-texteditor,
         lingmo-wallpapers,
         lingmo-ocr,
								lingmo-appstore,
								lingmo-updator,
         lingmoui
Description: Informational list of lingmo-workspace-base packages.
