# Hausa translation for kdelibs strings.
# Copyright 2009 Adriaan de Groot, Mustapha Abubakar, Ibrahim Dasuna
# This file is distributed under the same license as the kdelibs package.
#
# Adriaan de Groot <groot@kde.org>, 2009.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2009-03-17 11:22+0100\n"
"Last-Translator: Adriaan de Groot <groot@kde.org>\n"
"Language-Team: Hausa <kde-i18n-doc@lists.kde.org>\n"
"Language: ha\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Generator: Lokalize 0.2\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Mustapha Abubakar,Adriaan de Groot,Ibrahim Dasuna"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ",groot@kde.org,"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr ""

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr ""

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr ""

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "Haɗawa"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr ""

#: khamburgermenu.cpp:355
#, fuzzy, kde-format
#| msgid "A&uthor"
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "&Mawallafi"

#: khamburgermenu.cpp:356
#, fuzzy, kde-format
#| msgid "Action"
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Aiki"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr ""

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr ""

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr ""

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr ""

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr ""

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""

#: kstandardaction_p.h:63
msgid "&New"
msgstr ""

#: kstandardaction_p.h:63
#, fuzzy
#| msgid "Close the current document."
msgid "Create new document"
msgstr "Rufe wannan -dokumen-"

#: kstandardaction_p.h:64
msgid "&Open…"
msgstr ""

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr ""

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr ""

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:66
msgid "&Save"
msgstr ""

#: kstandardaction_p.h:66
#, fuzzy
#| msgid "&Close Document"
msgid "Save document"
msgstr "&Rufe -dokumen-"

#: kstandardaction_p.h:67
msgid "Save &As…"
msgstr ""

#: kstandardaction_p.h:67
#, fuzzy
#| msgid "&Close Document"
msgid "Save document under a new name"
msgstr "&Rufe -dokumen-"

#: kstandardaction_p.h:68
#, fuzzy
#| msgid "Se&verity"
msgid "Re&vert"
msgstr "Mahimmanchi"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Rufe"

#: kstandardaction_p.h:69
#, fuzzy
#| msgid "&Close Document"
msgid "Close document"
msgstr "&Rufe -dokumen-"

#: kstandardaction_p.h:70
msgid "&Print…"
msgstr ""

#: kstandardaction_p.h:70
#, fuzzy
#| msgid "&Close Document"
msgid "Print document"
msgstr "&Rufe -dokumen-"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr ""

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:72
msgid "&Mail…"
msgstr ""

#: kstandardaction_p.h:72
#, fuzzy
#| msgid "&Close Document"
msgid "Send document by mail"
msgstr "&Rufe -dokumen-"

#: kstandardaction_p.h:73
#, fuzzy
#| msgid "Quit"
msgid "&Quit"
msgstr "Kashi"

#: kstandardaction_p.h:73
#, fuzzy
#| msgid "Quit application..."
msgid "Quit application"
msgstr "Rufewa -afelikashon-"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr ""

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr ""

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr ""

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr ""

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr ""

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr ""

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr ""

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr ""

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr ""

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr ""

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr ""

#: kstandardaction_p.h:83
msgid "&Find…"
msgstr ""

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr ""

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr ""

#: kstandardaction_p.h:86
msgid "&Replace…"
msgstr ""

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr ""

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr ""

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr ""

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr ""

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr ""

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr ""

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr ""

#: kstandardaction_p.h:94
msgid "&Zoom…"
msgstr ""

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr ""

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:95
#, fuzzy
#| msgid "&Close Document"
msgid "Refresh document"
msgstr "&Rufe -dokumen-"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr ""

#: kstandardaction_p.h:97
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr ""

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr ""

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr ""

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr ""

#: kstandardaction_p.h:104
msgid "&Go To…"
msgstr ""

#: kstandardaction_p.h:105
msgid "&Go to Page…"
msgstr ""

#: kstandardaction_p.h:106
msgid "&Go to Line…"
msgstr ""

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr ""

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr ""

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr ""

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr ""

#: kstandardaction_p.h:109
msgid "&Back"
msgstr ""

#: kstandardaction_p.h:109
#, fuzzy
#| msgid "&Close Document"
msgid "Go back in document"
msgstr "&Rufe -dokumen-"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr ""

#: kstandardaction_p.h:110
#, fuzzy
#| msgid "&Close Document"
msgid "Go forward in document"
msgstr "&Rufe -dokumen-"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr ""

#: kstandardaction_p.h:113
msgid "&Edit Bookmarks…"
msgstr ""

#: kstandardaction_p.h:115
msgid "&Spelling…"
msgstr ""

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "Close the current document."
msgid "Check spelling in document"
msgstr "Rufe wannan -dokumen-"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr ""

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr ""

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr ""

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr ""

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr ""

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr ""

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr ""

#: kstandardaction_p.h:121
#, fuzzy
#| msgid "Configure &Notifications..."
msgid "Configure Keyboard S&hortcuts…"
msgstr "Haɗawa &Sanerwa"

#: kstandardaction_p.h:122
#, fuzzy, kde-format
#| msgid "Configure Email..."
msgid "&Configure %1…"
msgstr "Haɗawa wasikan lantarki"

#: kstandardaction_p.h:123
#, fuzzy
#| msgid "Configure Email..."
msgid "Configure Tool&bars…"
msgstr "Haɗawa wasikan lantarki"

#: kstandardaction_p.h:124
#, fuzzy
#| msgid "Configure Notifications"
msgid "Configure &Notifications…"
msgstr "Haɗawa Sanerwa"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr ""

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr ""

#: kstandardaction_p.h:130
msgid "&Report Bug…"
msgstr ""

#: kstandardaction_p.h:131
#, fuzzy
#| msgid "Configure Email..."
msgid "Configure &Language…"
msgstr "Haɗawa wasikan lantarki"

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "&Bayani akan %1"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "Bayani akan &KDE"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr ""

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr ""

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr ""

#: kstylemanager.cpp:60
#, fuzzy, kde-format
#| msgid "Quit application..."
msgid "Application Style"
msgstr "Rufewa -afelikashon-"

#: kstylemanager.cpp:64
#, kde-format
msgid "Default"
msgstr ""

#~ msgid "Configure &Notifications..."
#~ msgstr "Haɗawa &Sanerwa"

#~ msgctxt "show help"
#~ msgid "&Help"
#~ msgstr "&Agaji"

#, fuzzy
#~| msgid "&Settings"
#~ msgid "&Save Settings"
#~ msgstr "&Tsarawa"

#, fuzzy
#~| msgid "Quit application..."
#~ msgid "Switch Application &Language..."
#~ msgstr "Rufewa -afelikashon-"

#~ msgid "&About"
#~ msgstr "&Game da"

#~ msgid "A&uthor"
#~ msgstr "&Mawallafi"

#~ msgid "A&uthors"
#~ msgstr "&Mawallafa"

#~ msgid ""
#~ "Please use <a href=\"http://bugs.kde.org\">http://bugs.kde.org</a> to "
#~ "report bugs.\n"
#~ msgstr ""
#~ "Yi amfani da <a href=\"http://bugs.kde.org\">http://bugs.kde.org</a> "
#~ "domin sanar da matsaloli.\n"

#~ msgid "Please report bugs to <a href=\"mailto:%1\">%2</a>.\n"
#~ msgstr "Sanar da matsaloli ga <a href=\"mailto:%1\">%2</a>.\n"

#~ msgid "&Thanks To"
#~ msgstr "G&odiya ga"

#~ msgid "T&ranslation"
#~ msgstr "Ma&ffassara"

#~ msgid "&License Agreement"
#~ msgstr "Yarjejeniyar &lasisi"

#~ msgid "Author"
#~ msgstr "Mawallafi"

#~ msgid "Other Contributors:"
#~ msgstr "Sauran mataimaka:"

#~ msgid "About %1"
#~ msgstr "Bayani akan %1"

#~ msgid "&Language:"
#~ msgstr "&Yare:"

#~ msgid "am"
#~ msgstr "safe"

#~ msgid "pm"
#~ msgstr "yamma"

#~ msgid "Today"
#~ msgstr "Yau"

#~ msgid "Yesterday"
#~ msgstr "Jiya"

#~ msgid "KDE Daemon"
#~ msgstr "KDE Fatalwa"

#~ msgid "License Agreement"
#~ msgstr "Yarjejeniyar lasisi"

#, fuzzy
#~| msgid "Other Contributors:"
#~ msgctxt "Action to send an email to a contributor"
#~ msgid "Email contributor"
#~ msgstr "Sauran mataimaka:"

#, fuzzy
#~| msgid "Other Contributors:"
#~ msgctxt "Action to send an email to a contributor"
#~ msgid ""
#~ "Email contributor\n"
#~ "%1"
#~ msgstr "Sauran mataimaka:"

#~ msgctxt "@item Contributor name in about dialog."
#~ msgid "%1"
#~ msgstr "%1"

#~ msgid "About KDE"
#~ msgstr "Bayani akan KDE"

#~ msgctxt "About KDE"
#~ msgid "&About"
#~ msgstr "&Game da"

#~ msgid "&Join KDE"
#~ msgstr "&Tarayya da KDE"

#~ msgid "&Support KDE"
#~ msgstr "&Temakama KDE"

#~ msgctxt "Email sender address"
#~ msgid "From:"
#~ msgstr "Daga:"

#~ msgctxt "Email receiver address"
#~ msgid "To:"
#~ msgstr "Zuwa:"

#~ msgid "&Send"
#~ msgstr "&Aika"

#~ msgid "Send bug report."
#~ msgstr "Aika bayanin matsala."

#~ msgid "Send this bug report to %1."
#~ msgstr "Aika wannan bayanin matsala zuwa %1."

#~ msgid "OS:"
#~ msgstr "Tsarin budanarwa:"

#~ msgid "Compiler:"
#~ msgstr "Mehadawa:"

#~ msgid "Critical"
#~ msgstr "Tsanani"

#~ msgid "Grave"
#~ msgstr "Mantikar Tsanani"

#~ msgctxt "normal severity"
#~ msgid "Normal"
#~ msgstr "Matsala"

#~ msgid "Wishlist"
#~ msgstr "Abinda zan so"

#~ msgid "Translation"
#~ msgstr "Fassara"

#~ msgid "S&ubject: "
#~ msgstr "Abinda wasika yerkoni tsa"

#~ msgid "1"
#~ msgstr "1"

#~ msgid "6"
#~ msgstr "6"

#~ msgid "2"
#~ msgstr "2"

#~ msgid "9"
#~ msgstr "9"

#~ msgid "4"
#~ msgstr "4"

#~ msgid "16"
#~ msgstr "16"

#~ msgctxt "@action:button filter-yes"
#~ msgid "%1"
#~ msgstr "%1"

#~ msgctxt "@action:button filter-no"
#~ msgid "%1"
#~ msgstr "%1"

#~ msgctxt "@action:button filter-continue"
#~ msgid "%1"
#~ msgstr "%1"

#~ msgctxt "@action:button filter-cancel"
#~ msgid "%1"
#~ msgstr "%1"

#~ msgctxt "@action:button post-filter"
#~ msgid "."
#~ msgstr "."

#~ msgid "Question"
#~ msgstr "Tambaya"

#~ msgid "Information"
#~ msgstr "Bayani"

#~ msgid "Password:"
#~ msgstr "Harrufan sirri:"

#~ msgid "Username:"
#~ msgstr "Sunan shiga:"

#~ msgid "Action"
#~ msgstr "Aiki"

#~ msgid "Shortcut"
#~ msgstr "Gajeran hanya"

#~ msgid "Alternate"
#~ msgstr "Wata gajeran hanya"

#~ msgctxt "@item:intable Action name in shortcuts configuration"
#~ msgid "%1"
#~ msgstr "%1"

#~ msgid "Remove"
#~ msgstr "Cire"

#~ msgid "Stop"
#~ msgstr "Tsaya"

#~ msgctxt "@action:button"
#~ msgid "Close"
#~ msgstr "Rufe"

#~ msgctxt "@action"
#~ msgid "Close"
#~ msgstr "Rufe"

#~ msgctxt "@action"
#~ msgid "Help"
#~ msgstr "Agaji"

#~ msgctxt "@action"
#~ msgid "Configure Notifications"
#~ msgstr "Haɗawa Sanerwa"

#~ msgctxt "@action"
#~ msgid "About KDE"
#~ msgstr "Bayani akan KDE"

#~ msgid "Default language:"
#~ msgstr "Yaren farko:"

#~ msgid "&Yes"
#~ msgstr "&Ee"

#~ msgid "Yes"
#~ msgstr "Ee"

#~ msgid "&No"
#~ msgstr "&A'a"

#~ msgid "No"
#~ msgstr "A'a"

#~ msgid "Close the current window or document"
#~ msgstr "Rufe wannan tagar"

#~ msgid "&Close Window"
#~ msgstr "&Rufe taga"

#~ msgid "Close the current window."
#~ msgstr "Rufe wannan tagar."

#~ msgid "&Close Document"
#~ msgstr "&Rufe -dokumen-"

#~ msgid "Close the current document."
#~ msgstr "Rufe wannan -dokumen-"

#, fuzzy
#~| msgid "Today"
#~ msgctxt "@option today"
#~ msgid "Today"
#~ msgstr "Yau"

#, fuzzy
#~| msgid "Yesterday"
#~ msgctxt "@option yesterday"
#~ msgid "Yesterday"
#~ msgstr "Jiya"

#~ msgid "&Remove"
#~ msgstr "&Cire"

#~ msgid "&Help"
#~ msgstr "&Agaji"

#, fuzzy
#~| msgid "Settings"
#~ msgctxt "@title:menu"
#~ msgid "Toolbar Settings"
#~ msgstr "Tsarawa"

#, fuzzy
#~| msgid "Translation"
#~ msgctxt "Toolbar orientation"
#~ msgid "Orientation"
#~ msgstr "Fassara"

#~ msgid "Description:"
#~ msgstr "ƙwatan tawa:"

#~ msgid "Pause"
#~ msgstr "Dakata"

#~ msgid "Settings"
#~ msgstr "Tsarawa"

#~ msgid "?"
#~ msgstr "?"

#~ msgid "Author:"
#~ msgstr "Mawallafi:"

#~ msgid "GPL"
#~ msgstr "GPL"

#~ msgid "LGPL"
#~ msgstr "LGPL"

#~ msgid "BSD"
#~ msgstr "BSD"

#~ msgid "Language:"
#~ msgstr "Yare:"

#, fuzzy
#~| msgid "Settings"
#~ msgid "Apply Settings"
#~ msgstr "Tsarawa"

#~ msgid "Color for links"
#~ msgstr "Launin ma'isa"

#~ msgid "What color links should be that have not yet been clicked on"
#~ msgstr ""
#~ "Wani launi ma'isa kake so launin ma'isar ya kasance wanda ba a taɓa ba"

#~ msgid "Color for visited links"
#~ msgstr "Launin ma'isar da aka taɓa"

#~ msgid "What country"
#~ msgstr "Wacce ƙasa"

#~ msgid ""
#~ "Used to determine how to display numbers, currency and time/date, for "
#~ "example"
#~ msgstr "ƙasarce take zaɓar haruffa, lambobi da lokaci da take amfani dashi"

#~ msgid "Path to the autostart directory"
#~ msgstr "Hanyan jakar farawa da kai"

#, fuzzy
#~| msgid "About %1"
#~ msgctxt "Used only for plugins"
#~ msgid "About %1"
#~ msgstr "Bayani akan %1"

#, fuzzy
#~| msgid "Today"
#~ msgctxt ""
#~ "referring to a filter on the modification and usage date of files/"
#~ "resources"
#~ msgid "Today"
#~ msgstr "Yau"

#, fuzzy
#~| msgid "Yesterday"
#~ msgctxt ""
#~ "referring to a filter on the modification and usage date of files/"
#~ "resources"
#~ msgid "Yesterday"
#~ msgstr "Jiya"

#, fuzzy
#~| msgid "A&uthor"
#~ msgid "Before"
#~ msgstr "&Mawallafi"

#, fuzzy
#~| msgid "&Close Document"
#~ msgctxt "@option:check A filter on file type"
#~ msgid "Documents"
#~ msgstr "&Rufe -dokumen-"

#~ msgid "Start"
#~ msgstr "Tada"

#~ msgid "What time is it? Click to update."
#~ msgstr "Ƙarfe nawa? Denna don sabuntawa."

#, fuzzy
#~| msgid "Today"
#~ msgctxt "@info/plain"
#~ msgid "today"
#~ msgstr "Yau"

#~ msgctxt "@item Author name in about dialog"
#~ msgid "%1"
#~ msgstr "%1"

#~ msgid "..."
#~ msgstr "..."

#, fuzzy
#~| msgid "Question"
#~ msgid "description"
#~ msgstr "Tambaya"

#, fuzzy
#~| msgid "Author"
#~ msgid "Autor Name"
#~ msgstr "Mawallafi"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Indian National month 10 - LongNamePossessive"
#~ msgid "of Paush"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Indian National month 10 - ShortName"
#~ msgid "Pau"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Indian National month 10 - LongName"
#~ msgid "Paush"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 2 - ShortNamePossessive"
#~ msgid "of Pao"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 7 - ShortNamePossessive"
#~ msgid "of Par"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 8 - ShortNamePossessive"
#~ msgid "of Pam"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 9 - ShortNamePossessive"
#~ msgid "of Pas"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 10 - ShortNamePossessive"
#~ msgid "of Pan"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 2 - LongNamePossessive"
#~ msgid "of Paope"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 4 - LongNamePossessive"
#~ msgid "of Kiahk"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 8 - LongNamePossessive"
#~ msgid "of Parmoute"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 9 - LongNamePossessive"
#~ msgid "of Pashons"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 10 - LongNamePossessive"
#~ msgid "of Paone"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 2 - ShortName"
#~ msgid "Pao"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Yes"
#~ msgctxt "Coptic month 6 - ShortName"
#~ msgid "Mes"
#~ msgstr "Ee"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 7 - ShortName"
#~ msgid "Par"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "am"
#~ msgctxt "Coptic month 8 - ShortName"
#~ msgid "Pam"
#~ msgstr "safe"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 9 - ShortName"
#~ msgid "Pas"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 10 - ShortName"
#~ msgid "Pan"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 2 - LongName"
#~ msgid "Paope"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Author"
#~ msgctxt "Coptic month 3 - LongName"
#~ msgid "Hathor"
#~ msgstr "Mawallafi"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 8 - LongName"
#~ msgid "Parmoute"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 9 - LongName"
#~ msgid "Pashons"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic month 10 - LongName"
#~ msgid "Paone"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Yes"
#~ msgctxt "Coptic weekday 1 - ShortDayName"
#~ msgid "Pes"
#~ msgstr "Ee"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic weekday 2 - ShortDayName"
#~ msgid "Psh"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic weekday 6 - ShortDayName"
#~ msgid "Psa"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Coptic weekday 1 - LongDayName"
#~ msgid "Pesnau"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Ethiopian month 4 - ShortNamePossessive"
#~ msgid "of Tah"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Ethiopian month 13 - ShortNamePossessive"
#~ msgid "of Pag"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Ethiopian month 13 - LongNamePossessive"
#~ msgid "of Pagumen"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Yes"
#~ msgctxt "Ethiopian month 1 - ShortName"
#~ msgid "Mes"
#~ msgstr "Ee"

#, fuzzy
#~| msgid "am"
#~ msgctxt "Ethiopian month 11 - ShortName"
#~ msgid "Ham"
#~ msgstr "safe"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Ethiopian month 13 - ShortName"
#~ msgid "Pag"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Ethiopian month 13 - LongName"
#~ msgid "Pagumen"
#~ msgstr "Dakata"

#, fuzzy
#~| msgid "am"
#~ msgctxt "Ethiopian weekday 4 - ShortDayName"
#~ msgid "Ham"
#~ msgstr "safe"

#, fuzzy
#~| msgid "Pause"
#~ msgctxt "Ethiopian weekday 4 - LongDayName"
#~ msgid "Hamus"
#~ msgstr "Dakata"

#~ msgid "Path for the trash can"
#~ msgstr "Hanyan zubar da shara"

#~ msgid "Path to documents folder"
#~ msgstr "Hanyan jakar -dokumen-"
