SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_interface", ACTION=="add|remove", ENV{LIBFPRINT_DRIVER}!="", RUN+="/usr/bin/dbus-send --system --dest=org.lingmo.ocean.Fprintd1 --print-reply /org/lingmo/ocean/Fprintd1 org.lingmo.ocean.Fprintd1.TriggerUDevEvent"
