Source: lingmo-desktop-base
Section: misc
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 12)

Package: lingmo-desktop-base
Architecture: any
Provides: lingmo-appstore-config
Conflicts: lingmo-desktop-server
Depends: ${misc:Depends}, lingmo-keyring, distro-info-data,
 eject, fonts-noto, fonts-symbola
Description: The basic file of Lingmo OS, 
 provides system attribute description for Lingmo OS components
