Source: liblingmosdk-applications
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (= 13),
               libfreeimage-dev,
               libfreeimageplus-dev,
               libgif-dev,
               libgsettings-qt-dev,
               libkf5iconthemes-dev,
               libkf5wayland-dev,
               libkf5windowsystem-dev,
               liblingmosdk-base-dev,
               libopencv-core-dev,
               libopencv-imgcodecs-dev,
               libopencv-imgproc-dev,
               libpng-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libssl-dev,
               libstb-dev,
               libsystemd-dev,
               libwayland-dev,
               pkg-config,
               pkg-kde-tools,
               pkgconf,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtchooser,
               qttools5-dev-tools,
               liblingmosdk-conf2-dev,
               lingmo-wayland-protocols,
       	       libwayland-bin,
	       wayland-protocols
Standards-Version: 4.6.1.0
Section: libs
Rules-Requires-Root: no
Homepage: https://github.com/LingmoOS/liblingmosdk-applications
Vcs-Git: https://github.com/LingmoOS/liblingmosdk-applications.git
Vcs-Browser: https://github.com/LingmoOS/liblingmosdk-applications

Package: liblingmosdk-applications
Architecture: any
Section: libdevel
Depends: liblingmosdk-alm (= ${binary:Version}),
         liblingmosdk-kabase (= ${binary:Version}),
         liblingmosdk-qtwidgets (= ${binary:Version}),
         liblingmosdk-ukenv (= ${binary:Version}),
         liblingmosdk-waylandhelper (= ${binary:Version}),
         liblingmosdk-widgetutils (= ${binary:Version}),
         liblingmosdk-appconf2 (= ${binary:Version}),
         ${misc:Depends}
Description: lingmo SDK based on application level
 A set of interfaces and tools are provided to assist the software
 development of the application layer. It includes Qt extension control,
 window management module, process control module, display control module,
 D-Bus call module, gsetting acquisition module, etc.
 It is a empty package.

Package: liblingmosdk-applications-dev
Architecture: any
Section: libdevel
Depends: liblingmosdk-alm-dev(= ${binary:Version}),
         liblingmosdk-kabase-dev(= ${binary:Version}),
         liblingmosdk-qtwidgets-dev(= ${binary:Version}),
         liblingmosdk-ukenv-dev(= ${binary:Version}),
         liblingmosdk-waylandhelper-dev(= ${binary:Version}),
         liblingmosdk-widgetutils-dev(= ${binary:Version}),
         liblingmosdk-appconf2-dev(= ${binary:Version}),
         liblingmosdk-applications-doc,
         ${misc:Depends}
Description: development for liblingmosdk-applications
 A set of interfaces and tools are provided to assist the software
 development of the application layer. It includes Qt extension control,
 window management module, process control module, display control module,
 D-Bus call module, gsetting acquisition module, etc.
 Contains development files for liblingmosdk-applications.
 It is a empty package.

Package: liblingmosdk-qtwidgets
Architecture: any
Depends: libglib2.0-0,
         libgsettings-qt1,
         libqt5sql5,
         libqt5widgets5,
         ${misc:Depends},
         ${shlibs:Depends}
Description: add-on widgets and classes for Qt applications
 liblingmosdk-qtwidgets is a module in liblingmosdk-applications that
 provides a list of useful Qt widgets, which can follow lingmo
 platformtheme changes, such as icon theme, system highlight
 color, system opacity.

Package: liblingmosdk-qtwidgets-dev
Section: libdevel
Architecture: any
Depends: liblingmosdk-qtwidgets (= ${binary:Version}),
           ${misc:Depends}
Description: development files for liblingmosdk-qtwidgets
 liblingmosdk-qtwidgets is a module in liblingmosdk-applications that
 provides a list of useful Qt widgets, which can follow lingmo
 platformtheme changes, such as icon theme, system highlight color,
 system opacity.
 Contains development files for liblingmosdk-qtwidgets.

Package: liblingmosdk-widgetutils
Architecture: any
Depends: libglib2.0-0,
         libgsettings-qt1,
         libqt5widgets5,
         ${misc:Depends},
         ${shlibs:Depends}
Description: window display control moudule
 Provides a list of interface based on window
 display, such as hide dpi screen adaptation, etc.

Package: liblingmosdk-widgetutils-dev
Section: libdevel
Architecture: any
Depends: liblingmosdk-widgetutils (= ${binary:Version}),
         ${misc:Depends}
Description: development files for liblingmosdk-widgetutils
 Provides a list of interface based on window display, such as
 hide dpi screen adaptation, etc.
 Contains development files for liblingmosdk-widgetutils.

Package: liblingmosdk-kabase
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: additional interface on application level
 It provides common interfaces for application development,
 including image encoding and decoding, general button settings, etc.

Package: liblingmosdk-kabase-dev
Section: libdevel
Architecture: any
Depends: liblingmosdk-kabase (= ${binary:Version}),
        ${misc:Depends}
Description: development files for liblingmosdk-kabase
 It provides common interfaces for application development,
 including image encoding and decoding, general button settings, etc.
 Contains development files for liblingmosdk-kabase.

Package: liblingmosdk-waylandhelper
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Window management interface
 It provides a series of interfaces related to window management,
 such as maximizing, minimizing, topping, and activating windows.
 It can take effect under X and wayland protocol.

Package: liblingmosdk-waylandhelper-dev
Section: libdevel
Architecture: any
Depends: liblingmosdk-waylandhelper (= ${binary:Version}),
        ${misc:Depends}
Description: development files for liblingmosdk-waylandhelper
 It provides a series of interfaces related to window management,
 such as maximizing, minimizing, topping, and activating windows.
 It can take effect under X and wayland protocol.
 Contains development files for liblingmosdk-waylandhelper.

Package: liblingmosdk-alm
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Application process management module
 It provides a single instance application auxiliary interface
 to call up the started application with the same name.

Package: liblingmosdk-alm-dev
Section: libdevel
Architecture: any
Depends: liblingmosdk-alm (= ${binary:Version}),
        ${misc:Depends}
Description: development files for liblingmosdk-ukenv
 It provides a single instance application auxiliary interface
 to call up the started application with the same name.
 Contains development files for liblingmosdk-alm.

Package: liblingmosdk-ukenv
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Lingmo system environment interface
 A set of interfaces is provided to obtain the system
 gsetting variables, call up the user manual, and obtain
 the Kirin application name.

Package: liblingmosdk-ukenv-dev
Section: libdevel
Architecture: any
Depends: liblingmosdk-ukenv (= ${binary:Version}),
        ${misc:Depends}
Description: development files for liblingmosdk-ukenv modal
 A set of interfaces is provided to obtain the system gsetting
 variables, call up the user manual, and obtain the Kirin
 application name.
 Contains development files for liblingmosdk-ukenv.

Package: liblingmosdk-applications-doc
Architecture: any
Depends: ${misc:Depends}
Description:  man manual function
 You can use the man manual to query
 liblingmosdk- Application layer component information to help users.
 Enable users to quickly understand the corresponding api

Package: liblingmosdk-appconf2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Lingmo system environment interface
 A set of interfaces is provided to obtain the system
 gsetting variables, call up the user manual, and obtain
 the Kirin application name.

Package: liblingmosdk-appconf2-dev
Section: libdevel
Architecture: any
Depends: liblingmosdk-appconf2 (= ${binary:Version}),
        ${misc:Depends}
Description: development files for liblingmosdk-appconf2 modal
 A set of interfaces is provided to obtain the system gsetting
 variables, call up the user manual, and obtain the Kirin
 application name.
 Contains development files for liblingmosdk-appconf2.




