[Desktop Entry]
Type=Application
Exec=/usr/bin/httpServer
Name=lingmosdk-httpServer
Comment=provide lingmosdk dbus js interface
X-MATE_Autostart-Delay=15
NoDisplay=true
