[Unit]
Description= lingmosdkHttpServer

[Service]
Type=simple
User=root
Restart=1 			# 如果这个服务意外停止,那么就重启
RestartSec=3s
ExecStart=/usr/bin/httpServer

[Install]
WantedBy=multi-user.target