nohup.out
.#*
*~
build*
dist
daemon/deepin-feedback-daemon
daemon/daemon
misc/com.deepin.Feedback.service
gui/*.o
gui/moc_*
gui/qrc_*
gui/Makefile
gui/deepin-feedback
*.po~
*.swp
*.user
*.old
*.mo
.gitreview
__*
