[Desktop Entry]
Name=lingmo-menu
Name[zh_CN]=开始菜单
Name[tr_TR]=Başlangıç menüsü
Comment=A simple application launcher
Comment[zh_CN]=简易的应用程序启动器
Exec=/usr/bin/lingmo-menu %u
Icon=lingmo-menu
Terminal=false
Type=Application
NoDisplay=true
OnlyShowIn=LINGMO
X-LINGMO-AutoRestart=true
X-LINGMO-Autostart-Phase=Application
