.light {
  --main-bg-color: white;
  --font-color: rgba(0, 0, 0, 0.9);
  --font-normal-color: rgba(0, 0, 0, 0.7);
  --font-error-color: #f9704f;
  --font-holder-color: #c0c6d4;
}
.light #submit_bt {
  --btn-background: linear-gradient(180deg,rgba(230, 230, 230, 1) 0%,rgba(227, 227, 227, 1) 100%);
  --btn-box-shadow: 0rem 0.13rem 0.27rem 0rem rgba(0, 0, 0, 0.05);
  --btn-border: 0.07rem solid rgba(0, 0, 0, 0.03);
  --btn-color: rgba(65, 77, 104, 1);
  --brn-disabled-font-color: rgba(65, 77, 104, 1);
  --brn-disabled-bg-color: linear-gradient(180deg,rgba(230, 230, 230, 1) 0%,rgba(227, 227, 227, 1) 100%);
  --brn-disabled-border-color: rgba(0, 0, 0, 0.03);
}
.light #submit_bt:not([disabled]):hover {
  --btn-background: linear-gradient(180deg,rgba(205, 205, 205, 1) 0%,rgba(198, 198, 198, 1) 100%);
  --btn-box-shadow: 0rem 0.13rem 0.27rem 0rem rgba(0, 0, 0, 0.1);
  --btn-color: rgba(0, 26, 46, 1);
}
.light #submit_bt:not([disabled]):active {
  --btn-background: linear-gradient(180deg,rgba(230, 230, 230, 1) 0%, rgba(227, 227, 227, 1) 100%);
  --btn-box-shadow: 0rem 0.13rem 0.27rem 0rem rgba(0, 0, 0, 0.05);
}
.dark {
  --main-bg-color: #282828;
  --font-color: #ffffff;
  --font-normal-color: rgba(255, 255, 255, 0.7);
  --font-error-color: #f9704f;
  --font-holder-color: rgba(192, 198, 212, 0.4);
}
.dark #submit_bt {
  --btn-background: #484848;
  --btn-box-shadow: 0rem 0.13rem 0.27rem 0rem rgba(0, 0, 0, 0.05);
  --btn-border: 0.07rem solid rgba(0, 0, 0, 0.03);
  --btn-color: #c0c6d4;
  --brn-disabled-font-color: rgba(65, 77, 104, 0.8);
  --brn-disabled-bg-color: rgba(72, 72, 72, 0.4);
  --brn-disabled-border-color: rgba(255, 255, 255, 0.03);
}
.dark #submit_bt:not([disabled]):hover {
  --btn-background: #727272;
  --btn-box-shadow: 0rem 0.13rem 0.27rem 0rem rgba(0, 0, 0, 0.1);
  --btn-color: #ffffff;
}
.dark #submit_bt:not([disabled]):active {
  --btn-background: #242424;
  --btn-box-shadow: 0rem 0.13rem 0.27rem 0rem rgba(0, 0, 0, 0.05);
}
