Source: lingmo-app-widget
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (= 12),
	       qt5-qmake,
	       qtbase5-dev,
	       qtbase5-dev-tools,
	       qtdeclarative5-dev,
	       qtquickcontrols2-5-dev,
               libglib2.0-dev,
               libgsettings-qt-dev,
               liblingmo-log4qt-dev
Standards-Version: 4.6.1.0
Section: x11
Rules-Requires-Root: no
Homepage: https://github.com/LingmoOS

Package: liblingmo-appwidget-manager-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         liblingmo-appwidget-manager0 (= ${binary:Version})
Conflicts: liblingmo-appwidget-manager0 ( << 4.0.0.0-ok0)
Replaces: liblingmo-appwidget-manager0 ( << 4.0.0.0-ok0)
Description: liblingmo app widget manager dev
 lingmo-app-widget is a qml appwidget framework. It can display
 a view for quick browsing, which is mainly to display the
 most important data and functions of the application.
 .
 Dev of lingmo app widget manager.

Package: liblingmo-appwidget-manager0
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Provides: liblingmo-appwidget-manager
Description: liblingmo app widget manager
 lingmo-app-widget is a qml appwidget framework. It can display
 a view for quick browsing, which is mainly to display the
 most important data and functions of the application.
 .
 SDK of lingmo app widget manager.

Package: liblingmo-appwidget-provider-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         liblingmo-appwidget-provider0 (= ${binary:Version})
Conflicts: liblingmo-appwidget-provider0 ( << 4.0.0.0-ok0)
Replaces: liblingmo-appwidget-provider0 ( << 4.0.0.0-ok0)
Description: liblingmo app widget provider dev
 lingmo-app-widget is a qml appwidget framework. It can display
 a view for quick browsing, which is mainly to display the
 most important data and functions of the application.
 .
 Dev of lingmo app widget provider.

Package: liblingmo-appwidget-qmlplugin0
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         liblingmo-appwidget-manager0,
         libglib2.0-dev,
         libgsettings-qt-dev
Provides: liblingmo-appwidget-qmlplugin
Description: lingmo app widget plugin
 lingmo-app-widget is a qml appwidget framework. It can display
 a view for quick browsing, which is mainly to display the
 most important data and functions of the application.
 .
 QML plugin of lingmo app widget.

Package: liblingmo-appwidget-provider0
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         liblingmo-appwidget-manager0
Provides: liblingmo-appwidget-provider
Description: liblingmo app widget provider
 lingmo-app-widget is a qml appwidget framework. It can display
 a view for quick browsing, which is mainly to display the
 most important data and functions of the application.
 .
 SDK of lingmo app widget provider.

Package: lingmo-appwidget-manager
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         liblingmo-appwidget-manager0
Description: lingmo app widget manager
 lingmo-app-widget is a qml appwidget framework. It can display
 a view for quick browsing, which is mainly to display the
 most important data and functions of the application.
 .
 The manager of lingmo app widget.

Package: lingmo-appwidget-test
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         liblingmo-appwidget-manager0,
	 liblingmo-appwidget-manager-dev,
	 lingmo-appwidget-manager,
	 liblingmo-appwidget-provider0,
	 liblingmo-appwidget-provider-dev,
	 liblingmo-appwidget-qmlplugin0
Description: lingmo app widget test
 lingmo-app-widget is a qml appwidget framework. It can display
 a view for quick browsing, which is mainly to display the
 most important data and functions of the application.
 .
 LingmoUI app widget demo.
