# SOME DESCRIPTIVE TITLE.
# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
# GunChleoc <fios@foramnagaidhlig.net>, 2014, 2015.
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets5\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2015-11-04 15:11+0000\n"
"Last-Translator: Michael Bauer <fios@akerbeltz.org>\n"
"Language-Team: Fòram na Gàidhlig\n"
"Language: gd\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=4; plural=(n==1 || n==11) ? 0 : (n==2 || n==12) ? 1 : "
"(n > 2 && n < 20) ? 2 : 3;\n"
"X-Generator: Poedit 1.8.4\n"
"X-Project-Style: kde\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "GunChleoc"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "fios@foramnagaidhlig.net"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Tùsail"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Mothaich gu fèin-obrachail"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr ""

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Rèitich"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:329
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Seall &bàr clàr-taice"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr ""

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr ""

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Chan eil innteart ann"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Falamhaich an liosta"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Air ais"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "Air a&dhart"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "Dha&chaigh"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Seall bàr clàr-taice<p>Seallaidh seo am bàr clàr-taice a-rithist ma chaidh "
"fhalach</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Seall am bàr-staid<p>Seallaidh seo am bàr-staid, 's e seo am bàr aig bonn na "
"h-uinneige a thèid a chleachdadh gus fiosrachadh mun staid a shealltainn.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "Ù&r"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Cruthaich sgrìobhainn ùr"

#: kstandardaction_p.h:64
#, fuzzy
#| msgid "&Open..."
msgid "&Open…"
msgstr "F&osgail..."

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Fosgail sgrìobhainn a tha ann"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "Fosgail sgrìobhainn o chionn goi&rid"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Fosgail sgrìobhainn a chaidh fhosgladh o chionn goirid"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Sàbhail"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Sàbhail an sgrìobhainn"

#: kstandardaction_p.h:67
#, fuzzy
#| msgid "Save &As..."
msgid "Save &As…"
msgstr "Sàbhail m&ar..."

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Sàbhail an sgrìobhainn fo ainm ùr"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "Ti&ll"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr ""
"Till atharraichean gun sàbhaladh a chaidh a dhèanamh air an sgrìobhainn"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Dùin"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Dùin an sgrìobhainn"

#: kstandardaction_p.h:70
#, fuzzy
#| msgid "&Print..."
msgid "&Print…"
msgstr "&Clò-bhuail..."

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Clò-bhuail an sgrìobhainn"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "&Ro-shealladh a' chlò-bhualaidh"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Seall ro-shealladh air clò-bhualadh na sgrìobhainn"

#: kstandardaction_p.h:72
#, fuzzy
#| msgid "&Mail..."
msgid "&Mail…"
msgstr "&Post-d..."

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Cuir an sgrìobhainn air a' phost-d"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "&Fàg an-seo"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Fàg an aplacaid"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Neo-dhèan"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Neo-dhèan an gnìomh mu dheireadh"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "Ath-&dhean"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Ath-dhèan an gnìomh mu dheireadh a chaidh a neo-dhèanamh"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "&Gearr às"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Gearr às na thagh thu 's cuir san stòr-bhòrd e"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "Dèan lethbhrea&c"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Cuir lethbhreac de na thagh thu san stòr-bhòrd"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "Cuir a&nn"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Cuir ann na tha san stòr-bhòrd"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "Fa&lamhaich"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "Tagh n&a h-uile"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "Neo-&thagh"

#: kstandardaction_p.h:83
#, fuzzy
#| msgid "&Find..."
msgid "&Find…"
msgstr "&Lorg..."

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "Lorg a&n ath fhear"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Lorg am fear &roimhe"

#: kstandardaction_p.h:86
#, fuzzy
#| msgid "&Replace..."
msgid "&Replace…"
msgstr "Cui&r 'na àite..."

#: kstandardaction_p.h:88
#, fuzzy
#| msgid "&Actual Size"
msgid "Zoom to &Actual Size"
msgstr "&An dearbh mheud"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Seall an sgrìobhainn sa mheud thùsail"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "Co-&fhreagair ris an duilleag"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Sùm ach am freagair an duilleag ris an uinneag"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "Co-fhreagair ri &leud na duilleige"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Sùm ach am freagair leud na duilleige ris an uinneag"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "Co-fhreagair ri ài&rde na duilleige"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Sùm ach am freagair àirde na duilleige ris an uinneag"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "Sùm a-&steach"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "Sùm a-&mach"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "&Zoom..."
msgid "&Zoom…"
msgstr "&Sùm..."

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Tagh leibheil an t-sùmaidh"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:95
#, fuzzy
#| msgid "Redisplay document"
msgid "Refresh document"
msgstr "Seall an sgrìobhainn às ùr"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "S&uas"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Rach suas"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "An duilleag &roimhpe"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Rach gun duilleag roimhpe"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "A&n ath dhuilleag"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Rach gun ath dhuilleag"

#: kstandardaction_p.h:104
#, fuzzy
#| msgid "&Go To..."
msgid "&Go To…"
msgstr "Rach &gu..."

#: kstandardaction_p.h:105
#, fuzzy
#| msgid "&Go to Page..."
msgid "&Go to Page…"
msgstr "Rach &gu duilleag..."

#: kstandardaction_p.h:106
#, fuzzy
#| msgid "&Go to Line..."
msgid "&Go to Line…"
msgstr "Rach &gu loidhne..."

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "A' &chiad duilleag"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "Rach gun chiad duilleag"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "An duilleag mu &dheireadh"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Rach gun duilleag mu dheireadh"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "&Air ais"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Rach air ais san sgrìobhainn"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "Air a&dhart"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Rach air adhart san sgrìobhainn"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "&Cuir comharra-leabhair ris"

#: kstandardaction_p.h:113
#, fuzzy
#| msgid "&Edit Bookmarks..."
msgid "&Edit Bookmarks…"
msgstr "D&easaich na comharran-leabhair..."

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "&Spelling..."
msgid "&Spelling…"
msgstr "Dearbhaich an &litreachadh..."

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Dearbhaich an litreachadh san sgrìobhainn"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "Seall &bàr clàr-taice"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Seall no falaich am bàr clàr-taice"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "Seall am &bàr-inneal"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Seall no falaich am bàr-inneal"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "Seall am bàr-st&aid"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Seall no falaich am bàr-staid"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "Modh &làn-sgrìn"

#: kstandardaction_p.h:121
#, fuzzy
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts…"
msgstr "Rèitich na h-ath-g&hoiridean..."

#: kstandardaction_p.h:122
#, fuzzy, kde-format
#| msgid "&Configure %1..."
msgid "&Configure %1…"
msgstr "Rèiti&ch %1..."

#: kstandardaction_p.h:123
#, fuzzy
#| msgid "Configure Tool&bars..."
msgid "Configure Tool&bars…"
msgstr "Rèitich na &bàraichean-inneal..."

#: kstandardaction_p.h:124
#, fuzzy
#| msgid "Configure &Notifications..."
msgid "Configure &Notifications…"
msgstr "Rèitich na bratha&n..."

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "An &leabhar-mìneachaidh aig %1"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "Dè &th' ann?"

#: kstandardaction_p.h:130
#, fuzzy
#| msgid "&Report Bug..."
msgid "&Report Bug…"
msgstr "Dèan aith&ris air buga..."

#: kstandardaction_p.h:131
#, fuzzy
#| msgid "&Configure %1..."
msgid "Configure &Language…"
msgstr "Rèiti&ch %1..."

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "&Mu %1"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "Mu &KDE"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr ""

#: kstandardaction_p.h:135
#, fuzzy
#| msgid "&Replace..."
msgid "&Rename…"
msgstr "Cui&r 'na àite..."

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:138
#, fuzzy
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "Fosgail sgrìobhainn o chionn goi&rid"

#: kstylemanager.cpp:60
#, fuzzy, kde-format
#| msgid "Quit application"
msgid "Application Style"
msgstr "Fàg an aplacaid"

#: kstylemanager.cpp:64
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "Tùsail"

#~ msgid "Tip of the &Day"
#~ msgstr "&Gliocas an latha"

#~ msgid "You will be asked to authenticate before saving"
#~ msgstr ""
#~ "Thèid iarraidh ort gun dèan thu dearbhadh gur tusa a th' ann mus sàbhail "
#~ "thu rud"

#~ msgid "You are not allowed to save the configuration"
#~ msgstr "Chan fhaod thu an rèiteachadh a shàbhaladh"

#~ msgctxt "show help"
#~ msgid "&Help"
#~ msgstr "Cob&hair"

#~ msgid "&Save Settings"
#~ msgstr "&Sàbhail na roghainnean"

#~ msgctxt "@title:window"
#~ msgid "Tip of the Day"
#~ msgstr "Gliocas an latha"

#~ msgctxt "@title"
#~ msgid "Did you know...?\n"
#~ msgstr "An robh fios agad...?\n"

#~ msgctxt "@option:check"
#~ msgid "&Show tips on startup"
#~ msgstr "&Seall na gliocasan aig an toiseach"

#~ msgctxt "@action:button Goes to previous tip"
#~ msgid "&Previous"
#~ msgstr "Ai&r ais"

#~ msgctxt "@action:button Goes to next tip, opposite to previous"
#~ msgid "&Next"
#~ msgstr "Air &adhart"

#~ msgid "Switch Application &Language..."
#~ msgstr "Atharraich &cànan na h-aplacaid..."

#~ msgid "&Redisplay"
#~ msgstr "Seall às ù&r"

#~ msgid "without name"
#~ msgstr "gun ainm"
