[KCM Locale]
Name=Scottish Gaelic
Name[ar]=الغيلية الاسكتلندية
Name[ast]=Gaélicu (Escocia)
Name[az]=Şotland Qall
Name[be]=Гаэльская (Шатландыя)
Name[be@latin]=Haeĺskaja (Šatlandyja)
Name[bg]=Шотландски келтски
Name[ca]=Gaèlic escocès
Name[ca@valencia]=Gaèlic escocés
Name[cs]=Skotská gaelština
Name[de]=Schottisch-Gälisch
Name[el]=Σκωτικά γαελικά
Name[en_GB]=Scottish Gaelic
Name[eo]=Skotgaela
Name[es]=Gaélico escocés
Name[eu]=Eskoziako gaelera
Name[fi]=Skotlanningaeli
Name[fr]=Gaélique écossais
Name[gl]=Gaélico escocés
Name[he]=גאלית סקוטית
Name[hi]=स्कॉटिश गैलिक
Name[hu]=Skót gael
Name[ia]=Gaelic Scotese
Name[id]=Gaelik Skotlandia
Name[is]=Skosk gelíska
Name[it]=Gaelico scozzese
Name[ka]=შოტლანდიური გალური
Name[ko]=스코틀랜드 게일어
Name[lt]=Škotų gėlų
Name[lv]=Skotu gēlu
Name[nl]=Scottish Gaelic
Name[nn]=Skotsk-gælisk
Name[pa]=ਸਕਾਟਿਸ਼ ਗਾਈਲਿਕ
Name[pl]=Szkocki Galicyjski
Name[pt]=Gaélico Escocês
Name[pt_BR]=Escocês gaélico
Name[ro]=Galeză scoțiană
Name[ru]=Гэльский (Шотландия)
Name[sk]=Škótska gaelčina
Name[sl]=Škotska gelščina
Name[sv]=Skotsk gäliska
Name[ta]=ஸ்காட்டிஷ் கேலிக்
Name[tok]=toki Kalike
Name[tr]=İskoç Gaelcesi
Name[uk]=Шотландська гаельська
Name[vi]=Tiếng Gael Scot
Name[x-test]=xxScottish Gaelicxx
Name[zh_CN]=苏格兰盖尔语
Name[zh_TW]=蘇格蘭蓋爾語
