# Translation of kconfigwidgets5.po to Ukrainian
# Copyright (C) 2018-2020 This_file_is_part_of_KDE
# This file is distributed under the license LGPL version 2.1 or
# version 3 or later versions approved by the membership of KDE e.V.
#
# Eugene Onischenko <oneugene@ukr.net>, 2002, 2003, 2004, 2005, 2006.
# Andriy Rysin <arysin@bcsii.com>, 2002, 2003, 2006, 2007.
# Ivan Petrouchtchak <fr.ivan@ukrainian-orthodox.org>, 2005, 2006, 2007, 2008.
# Yuri Chornoivan <yurchor@ukr.net>, 2008, 2009, 2010, 2011, 2012, 2013, 2015, 2016, 2017, 2019, 2020, 2021, 2022, 2023, 2024.
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets5\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2024-05-18 09:13+0300\n"
"Last-Translator: Yuri Chornoivan <yurchor@ukr.net>\n"
"Language-Team: Ukrainian\n"
"Language: uk\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 23.04.3\n"
"Plural-Forms: nplurals=4; plural=n==1 ? 3 : n%10==1 && n%100!=11 ? 0 : n"
"%10>=2 && n%10<=4 && (n%100<10 || n%100>=20) ? 1 : 2;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "о. Іван Петрущак,Юрій Чорноіван"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "fr.ivan@ukrainian-orthodox.org,yurchor@ukr.net"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Типове"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Автовиявлення"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr "Схема кольорів"

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr "Немає команд для показу"

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr "Фільтру не відповідає жодна команда"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Налаштовування"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Меню"

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Показати с&мужку меню із усіма кнопками дій"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Більше"

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Більше дій"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Немає записів"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Спорожнити список"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Назад"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Вперед"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Домівка"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Показати смужку меню<p>Вмикає показ смужки меню після того, як її було "
"сховано</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Показати смужку стану<p>Вмикає показ смужки стану, панелі у нижній частині "
"вікна, яку використовують для показу даних щодо стану.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "&Створити"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Створити новий документ"

#: kstandardaction_p.h:64
msgid "&Open…"
msgstr "&Відкрити…"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Відкрити вже створений документ"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "Відкрити &недавні"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Відкрити документ, який вже було нещодавно відкрито"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Зберегти"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Зберегти документ"

#: kstandardaction_p.h:67
msgid "Save &As…"
msgstr "Зберегти &як…"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Зберегти документ під іншою назвою"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "&Відновити"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Скасувати незбережені зміни у документі"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Закрити"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Закрити документ"

#: kstandardaction_p.h:70
msgid "&Print…"
msgstr "&Надрукувати…"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Надрукувати документ"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "Перегляд др&уку"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Показати попередній перегляд результатів друку документа"

#: kstandardaction_p.h:72
msgid "&Mail…"
msgstr "&Надіслати поштою…"

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Надіслати документ електронною поштою"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "Ви&йти"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Вийти з програми"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Вернути"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Скасувати останню дію"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "П&овторити"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Повернути результат останньої скасованої дії"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "Виріза&ти"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Вирізати позначені об’єкти до буфера обміну даними"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "&Копіювати"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Копіювати позначений фрагмент до буфера обміну даними"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "&Вставити"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Вставити вміст буфера обміну даними"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "О&чистити"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "Вибрати &все"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "Скасувати ви&бір"

#: kstandardaction_p.h:83
msgid "&Find…"
msgstr "З&найти…"

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "Знайти &далі"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Знайти &позаду"

#: kstandardaction_p.h:86
msgid "&Replace…"
msgstr "З&амінити…"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr "&Фактичний розмір"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Переглянути документ з використанням його справжніх розмірів"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "&Влаштувати в сторінку"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Змінити масштаб, щоб розмістити сторінку цілком"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "Влаштувати в &ширину сторінки"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Змінити масштаб, щоб розмістити всю ширину сторінки документа"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "Влаштувати в &висоту сторінки"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Змінити масштаб, щоб розмістити всю висоту сторінки документа"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "З&більшити"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "З&меншити"

#: kstandardaction_p.h:94
msgid "&Zoom…"
msgstr "&Масштаб…"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Вибрати масштаб"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr "&Оновити"

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr "Оновити документ"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "&Нагору"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Перейти вгору"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "&Попередня"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Перейти до попередньої сторінки"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "&Наступна"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Перейти до наступної сторінки"

#: kstandardaction_p.h:104
msgid "&Go To…"
msgstr "Пере&йти…"

#: kstandardaction_p.h:105
msgid "&Go to Page…"
msgstr "П&ерейти до сторінки…"

#: kstandardaction_p.h:106
msgid "&Go to Line…"
msgstr "Пе&рейти до рядка…"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "Пе&рша"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "Перейти до першої сторінки"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "&Остання"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Перейти до останньої сторінки"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "&Назад"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Перейти назад документом"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "&Вперед"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Перейти вперед документом"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "&Додати закладку"

#: kstandardaction_p.h:113
msgid "&Edit Bookmarks…"
msgstr "&Редагувати закладки…"

#: kstandardaction_p.h:115
msgid "&Spelling…"
msgstr "Пр&авопис…"

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Перевірити правопис у документі"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "Показати смужку &меню"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Показати або приховати смужку меню"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "Показати &пенал"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Показати або приховати панель інструментів"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "Пок&азувати смужку стану"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Показати або приховати смужку стану"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "Повноекранний &режим"

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr "Налаштовування &клавіатурних скорочень…"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Configure %1…"
msgstr "&Налаштувати %1…"

#: kstandardaction_p.h:123
msgid "Configure Tool&bars…"
msgstr "Налаштувати п&анелі…"

#: kstandardaction_p.h:124
msgid "Configure &Notifications…"
msgstr "Налаштувати спові&щення…"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "П&ідручник з %1"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "&Що це?"

#: kstandardaction_p.h:130
msgid "&Report Bug…"
msgstr "&Повідомити про ваду…"

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr "Нала&штувати мову…"

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "&Про %1"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "П&ро KDE"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "Ви&лучити"

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr "Пере&йменувати…"

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "&Пересунути до смітника"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "Підтримати &фінансово"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr "Відкрити &меню"

#: kstylemanager.cpp:60
#, kde-format
msgid "Application Style"
msgstr "Стиль вікон програм"

#: kstylemanager.cpp:64
#, kde-format
msgid "Default"
msgstr "Типовий"

#~ msgid "Tip of the &Day"
#~ msgstr "П&орада дня"

#~ msgid "You will be asked to authenticate before saving"
#~ msgstr "Програма попросить вас пройти розпізнавання перед збереженням"

#~ msgid "You are not allowed to save the configuration"
#~ msgstr "Вам заборонено зберігати налаштування"

#~ msgctxt "show help"
#~ msgid "&Help"
#~ msgstr "&Довідка"

#~ msgid "&Save Settings"
#~ msgstr "&Зберегти параметри"

#~ msgctxt "@title:window"
#~ msgid "Tip of the Day"
#~ msgstr "Підказка дня"

#~ msgctxt "@title"
#~ msgid "Did you know...?\n"
#~ msgstr "Чи знали ви, що…\n"

#~ msgctxt "@option:check"
#~ msgid "&Show tips on startup"
#~ msgstr "П&оказувати підказки під час запуску"

#~ msgctxt "@action:button Goes to previous tip"
#~ msgid "&Previous"
#~ msgstr "&Попередня"

#~ msgctxt "@action:button Goes to next tip, opposite to previous"
#~ msgid "&Next"
#~ msgstr "&Наступна"

#~ msgctxt ""
#~ "@action:inmenu A menu text advertising its contents (more features)."
#~ msgid "For %1 more action:"
#~ msgid_plural "For %1 more actions:"
#~ msgstr[0] "Для %1 додаткової дії:"
#~ msgstr[1] "Для %1 додаткових дій:"
#~ msgstr[2] "Для %1 додаткових дій:"
#~ msgstr[3] "Для %1 додаткової дії:"

#~ msgctxt ""
#~ "@action:inmenu A section heading advertising the contents of the menu bar"
#~ msgid "%1 Menu Bar Exclusive Action"
#~ msgid_plural "%1 Menu Bar Exclusive Actions"
#~ msgstr[0] "%1 виключна дія панелі меню"
#~ msgstr[1] "%1 виключні дії панелі меню"
#~ msgstr[2] "%1 виключних дій панелі меню"
#~ msgstr[3] "%1 виключна дія панелі меню"

#~ msgid "Switch Application &Language..."
#~ msgstr "Перемкнути &мову програми…"

#~ msgid "&Redisplay"
#~ msgstr "&Перемалювати"

#~ msgid "without name"
#~ msgstr "без назви"

#~ msgid "&Rename File"
#~ msgstr "Пере&йменувати файл"
