[Desktop Entry]
Name=DBus runner test
Comment=DBus runner test
X-KDE-ServiceTypes=Lingmo/Runner
Type=Service
Icon=internet-web-browser
X-KDE-PluginInfo-Author=Some Developer
X-KDE-PluginInfo-Email=kde@example.com
X-KDE-PluginInfo-Name=dbusrunnertest
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Lingmo-API=DBus
X-Lingmo-DBusRunner-Service=net.krunnertests.dave
X-Lingmo-DBusRunner-Path=/dave
X-Lingmo-Request-Actions-Once=true
X-Lingmo-Runner-Min-Letter-Count=3
X-Lingmo-Runner-Match-Regex=^fo
X-Lingmo-Runner-Syntaxes=syntax1,syntax2
X-Lingmo-Runner-Syntax-Descriptions=description1,description2
