[Desktop Entry]
Name=DBus runner test
X-KDE-ServiceTypes=Lingmo/Runner
Type=Service
X-KDE-PluginInfo-EnabledByDefault=true
X-Lingmo-Runner-Unique-Results=true
X-Lingmo-Runner-Weak-Results=true
