[Desktop Entry]
Name=Lingmo Tweak
Name[zh_CN]=深度定制
GenericName=Lingmo Tweak
GenericName[zh_CN]=深度定制
Icon=lingmo-tweak
Exec=/usr/bin/lingmo-tweak
Type=Application
X-Lingmo-TurboType=dtkqml
