[Desktop Entry]
Type=Application
Exec=/usr/lib/lingmo-screensaver/modules/lingmo-custom-screensaver --config
Terminal=false
Name=lingmo-custom-screensaver-config
