# Ignore the following files
*~
*.[oa]
*.diff
*.moc
*.moc.cpp
*.orig
*.user
.*.swp
.swp.*
Doxyfile
Makefile
avail
random_seed
/build*/
CMakeLists.txt.user*
*.unc-backup*
.cmake/

obj-aarch64-linux-gnu/
obj-x86_64-linux-gnu/
debian/.debhelper/
debian/*.substvars

