[Unit]
Description=dde-permission-manager service

[Service]
Type=dbus
BusName=org.deepin.dde.Permission1
ExecStart=/usr/bin/dde-permission-manager
Restart=on-failure

[Install]
WantedBy=default.target
