# Translation of kdelibs4 into Japanese.
# This file is distributed under the same license as the kdelibs package.
# Taiki Komoda <kom@kde.gr.jp>, 2002, 2004, 2006, 2010.
# Noboru Sinohara <shinobo@leo.bekkoame.ne.jp>, 2004.
# Toyohiro Asukai <toyohiro@ksmplus.com>, 2004.
# Kurose Shushi <md81@bird.email.ne.jp>, 2004.
# AWASHIRO Ikuya <ikuya@oooug.jp>, 2004.
# Shinichi Tsunoda <tsuno@ngy.1st.ne.jp>, 2005.
# Yukiko Bando <ybando@k6.dion.ne.jp>, 2006, 2007, 2008, 2009, 2010.
# Tomohiro Hyakutake <tomhioo@outlook.jp>, 2019, 2020.
# Fumiaki Okushi <fumiaki.okushi@gmail.com>, 2006, 2007, 2008, 2010, 2011, 2015, 2019.
#
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-12-08 00:42+0000\n"
"PO-Revision-Date: 2021-09-30 22:37+0900\n"
"Last-Translator: Ryunosuke Toda <toda.ryunosuke@gmail.com>\n"
"Language-Team: Japanese <kde-jp@kde.org>\n"
"Language: ja\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"
"X-Generator: Poedit 3.0\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr ""
"Taiki Komoda,Noboru Sinohara,Toyohiro Asukai,Kurose Shushi,Shinichi Tsunoda"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"kom@kde.gr.jp,shinobo@leo.bekkoame.ne.jp,toyohiro@ksmplus.com,md81@bird."
"email.ne.jp,tsuno@ngy.1st.ne.jp"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "保存する前に認証を求められます"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "あなたは設定を保存することを許可されていません"

#: kcodecaction.cpp:67
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "デフォルト"

#: kcodecaction.cpp:75
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "自動検出"

#: kcolorschememanager.cpp:220 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "デフォルト"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "設定"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:326
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "メニューバーを表示(&M)"

#: khamburgermenu.cpp:352
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr ""

#: khamburgermenu.cpp:353
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr ""

#: krecentfilesaction.cpp:71
#, kde-format
msgid "No Entries"
msgstr "エントリなし"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "Clear List"
msgstr "リストをクリア"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "戻る(&B)"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "進む(&F)"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "ホーム(&H)"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "ヘルプ(&H)"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "メニューバーを表示<p>隠したメニューバーを再び表示します</p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"ステータスバーを表示 <p>ステータスバーを表示します (ウィンドウの下方にある"
"バーで状態情報表示のために使用されています)。</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "新規(&N)"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "新しい文書を作成"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "開く(&O)..."

#: kstandardaction_p.h:31
#, fuzzy
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "文書の閲覧履歴の前へ戻る(&B)"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "最近のファイルを開く(&R)"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "保存(&S)"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "文書を保存"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "名前を付けて保存(&A)..."

#: kstandardaction_p.h:34
#, fuzzy
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "文書を閉じる"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "戻す(&V)"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "閉じる(&C)"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "文書を閉じる"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "印刷(&P)..."

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "文書を印刷"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "印刷プレビュー(&W)"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "メール(&M)..."

#: kstandardaction_p.h:39
#, fuzzy
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "文書を閉じる"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "終了(&Q)"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "アプリケーションを終了します"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "元に戻す(&U)"

#: kstandardaction_p.h:42
#, fuzzy
#| msgctxt ""
#| "A link to make a donation for a Get Hot New Stuff item (opens a web "
#| "browser)"
#| msgid "Make a donation"
msgid "Undo last action"
msgstr "募金する"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "やり直す(&D)"

#: kstandardaction_p.h:43
#, fuzzy
#| msgctxt ""
#| "A link to make a donation for a Get Hot New Stuff item (opens a web "
#| "browser)"
#| msgid "Make a donation"
msgid "Redo last undone action"
msgstr "募金する"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "切り取り(&T)"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "コピー(&C)"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "貼り付け(&P)"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
#, fuzzy
#| msgid "Upload content"
msgid "Paste clipboard content"
msgstr "コンテンツをアップロード"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "クリア(&L)"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "すべて選択(&A)"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "選択解除(&L)"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "検索(&F)..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "次を検索(&N)"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "前を検索(&V)"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "置換(&R)..."

#: kstandardaction_p.h:58
#, fuzzy
#| msgid "&Actual Size"
msgid "Zoom to &Actual Size"
msgstr "実際のサイズ(&A)"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "ページに合わせる(&F)"

#: kstandardaction_p.h:59
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "行に移動"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "ページの幅に合わせる(&W)"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "ページの高さに合わせる(&H)"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "拡大(&I)"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "縮小(&O)"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "ズーム(&Z)..."

#: kstandardaction_p.h:64
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "週を選択"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "最新の情報に更新(&R)"

#: kstandardaction_p.h:65
#, fuzzy
#| msgid "Redisplay document"
msgid "Refresh document"
msgstr "文書を再表示"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "上へ(&U)"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "上へ"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "前のページ(&P)"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "前のページへ"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "次のページ(&N)"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "次のページへ"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "移動(&G)..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "ページに移動(&G)..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "行に移動(&G)..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "最初のページ(&F)"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "最初のページへ"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "最後のページ(&L)"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "最後のページへ"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "戻る(&B)"

#: kstandardaction_p.h:79
#, fuzzy
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "文書の閲覧履歴の前へ戻る(&B)"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "進む(&F)"

#: kstandardaction_p.h:80
#, fuzzy
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "文書の閲覧履歴の先へ進む(&F)"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "ブックマークに追加(&A)"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "ブックマークを編集(&E)..."

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "スペルチェック(&S)..."

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "文書をスペルチェック"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "メニューバーを表示(&M)"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "メニューバーを表示・非表示"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "ツールバーを表示(&T)"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "ツールバーを表示・非表示"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "ステータスバーを表示(&A)"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "ステータスバーを表示・非表示"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "フルスクリーンモード(&U)|/|$[~setProps ~label 'フルスクリーン']"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "設定を保存(&S)"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "キーボードショートカットを設定(&H)..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "%1 を設定(&C)..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "ツールバーを設定(&B)..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "通知を設定(&N)..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 ハンドブック(&H)"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "これは何？(&T)"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "今日の一言(&D)"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "バグを報告(&R)..."

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "言語を設定(&L)..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "%1 について(&A)"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "KDE について(&K)"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "削除(&D)"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "名前変更(&R)..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "ごみ箱に移動(&M)"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "寄付(&D)"

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "最近のファイルを開く(&R)"

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "今日の一言"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr ""

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr ""

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "前へ(&P)"

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "次へ(&N)"
