[Desktop Entry]
Type=Application
Exec=/usr/bin/lingmosdk-dbus-websocket
Name=lingmosdk-dbus-websocket
Comment=provide lingmosdk dbus js interface
X-MATE_Autostart-Delay=15
NoDisplay=true
