Source: lingmo-lingmoid-client
Section: net
Priority: optional
Maintainer: Iceyer <me@iceyer.net>
Build-Depends: debhelper (>= 10),
 cmake,
 libdtk6widget-dev,
 libdtk6gui-dev,
 libqt6webchannel6-dev,
 qt6-webengine-dev,
 pkg-config,
 qt6-tools-dev-tools,
 qt6-tools-dev,
 qt6-5compat-dev,
 libdtkcommon-dev,
 libdframeworkdbus-dev,
Standards-Version: 4.1.2
Homepage: https://www.lingmo.org
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/lingmo-sync-client.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/lingmo-sync-client.git

Package: lingmo-lingmoid-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdframeworkdbus2, oceanui-lingmoid-plugin, libqt6webenginecore6-bin
Description: client to login lingmo sync account
 Lingmo user can login with LingmoID oauth
