# Translation of kconfigwidgets5.po into Serbian.
# Marko Rosic <roske@kde.org.yu>, 2003.
# Toplica Tanaskovic <toptan@kde.org.yu>, 2003, 2004, 2005.
# Chusslove Illich <caslav.ilic@gmx.net>, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017.
# Dalibor Djuric <daliborddjuric@gmail.com>, 2009, 2010, 2011.
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets5\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2017-09-28 17:57+0200\n"
"Last-Translator: Chusslove Illich <caslav.ilic@gmx.net>\n"
"Language-Team: Serbian <kde-i18n-sr@kde.org>\n"
"Language: sr@latin\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=4; plural=n==1 ? 3 : n%10==1 && n%100!=11 ? 0 : n"
"%10>=2 && n%10<=4 && (n%100<10 || n%100>=20) ? 1 : 2;\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"
"X-Environment: kde\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Toplica Tanasković,Časlav Ilić"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "toptan@kde.org.yu,caslav.ilic@gmx.net"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "podrazumevano"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "automatski"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr ""

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Podešavanje"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:329
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Prikaži traku &menija"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr ""

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr ""

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Nema unosa"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Očisti spisak"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "Na&zad"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "Na&pred"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Domaća"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Prikaži traku menija<p>Ponovo prikazuje meni pošto je prethodno sakriven.</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"<p><i>Prikaži traku stanja</i></p><p>Prikazuje traku stanja, tj. traku na "
"dnu prozora koja se koristi za prikaz informacija o stanju.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "&Novo"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Napravi novi dokument"

#: kstandardaction_p.h:64
#, fuzzy
#| msgid "&Open..."
msgid "&Open…"
msgstr "&Otvori..."

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Otvori postojeći dokument"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "Otvori &nedavni"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Otvori nedavno otvarani dokument"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Sačuvaj"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Sačuvaj dokument"

#: kstandardaction_p.h:67
#, fuzzy
#| msgid "Save &As..."
msgid "Save &As…"
msgstr "Sačuvaj &kao..."

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Sačuva dokument pod novim imenom"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "&Vrati"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Odbaci nesačuvane izmene nad dokumentom"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Zatvori"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Zatvori dokument"

#: kstandardaction_p.h:70
#, fuzzy
#| msgid "&Print..."
msgid "&Print…"
msgstr "&Štampaj..."

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Štampaj dokument"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "Pregled &pred štampanje"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Prikaži pregled pred štampanje dokumenta"

#: kstandardaction_p.h:72
#, fuzzy
#| msgid "&Mail..."
msgid "&Mail…"
msgstr "&Poštom..."

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Pošalji dokument poštom"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "&Napusti"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Napusti program"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Opozovi"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Opozovi poslednju radnju"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "&Ponovi"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Ponovi poslednju opozvanu radnju"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "&Iseci"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Iseci izbor u klipbord"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "&Kopiraj"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Kopiraj izbor u klipbord"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "&Nalepi"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Nalepi sadržaj klipborda"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "&Očisti"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "Izaberi &sve"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "Poništi &izbor"

#: kstandardaction_p.h:83
#, fuzzy
#| msgid "&Find..."
msgid "&Find…"
msgstr "&Nađi..."

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "Nađi &sledeće"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Nađi &prethodno"

#: kstandardaction_p.h:86
#, fuzzy
#| msgid "&Replace..."
msgid "&Replace…"
msgstr "&Zameni..."

#: kstandardaction_p.h:88
#, fuzzy
#| msgid "&Actual Size"
msgid "Zoom to &Actual Size"
msgstr "&Stvarna veličina"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Prikaži dokument u stvarnoj veličini"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "&Uklopi u stranicu"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Uveličaj tako da se stranica uklopi u prozor"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "Uklopi u &širinu stranice"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Uveličaj tako da se širina stranice uklopi u prozor"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "Uklopi u &visinu stranice"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Uveličaj tako da se visina stranice uklopi u prozor"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "U&veličaj"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "U&manji"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "&Zoom..."
msgid "&Zoom…"
msgstr "U&veličaj..."

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Izaberi stepen uveličanja"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:95
#, fuzzy
#| msgid "Redisplay document"
msgid "Refresh document"
msgstr "Ponovo prikaži dokument"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "&Gore"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Pomeri se nagore"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "&Prethodna stranica"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Preći na prethodnu stranicu"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "&Sledeća stranica"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Pređi na sledeću stranicu"

#: kstandardaction_p.h:104
#, fuzzy
#| msgid "&Go To..."
msgid "&Go To…"
msgstr "&Idi na..."

#: kstandardaction_p.h:105
#, fuzzy
#| msgid "&Go to Page..."
msgid "&Go to Page…"
msgstr "Idi na &stranicu..."

#: kstandardaction_p.h:106
#, fuzzy
#| msgid "&Go to Line..."
msgid "&Go to Line…"
msgstr "Idi na &red..."

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "&Prva stranica"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "Pređi na prvu stranicu"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "Posle&dnja stranica"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Pređi na poslednju stranicu"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "Na&zad"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Idi nazad kroz dokument"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "&Napred"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Idi napred kroz dokument"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "&Dodaj obeleživač"

#: kstandardaction_p.h:113
#, fuzzy
#| msgid "&Edit Bookmarks..."
msgid "&Edit Bookmarks…"
msgstr "&Uredi obeleživače..."

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "&Spelling..."
msgid "&Spelling…"
msgstr "&Pravopis..."

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Proveri pravopis u dokumentu"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "Prikaži traku &menija"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Prikaži ili sakrij traku menija"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "Prikaži &traku alatki"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Prikaži ili sakrij traku alatki"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "Prikaži traku &stanja"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Prikaži ili sakrij traku stanja"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "Preko &celog ekrana"

#: kstandardaction_p.h:121
#, fuzzy
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts…"
msgstr "Podesi p&rečice..."

#: kstandardaction_p.h:122
#, fuzzy, kde-format
#| msgid "&Configure %1..."
msgid "&Configure %1…"
msgstr "&Podesi %1...|/|&Podesi $[aku %1]..."

#: kstandardaction_p.h:123
#, fuzzy
#| msgid "Configure Tool&bars..."
msgid "Configure Tool&bars…"
msgstr "Podesi &trake alatki..."

#: kstandardaction_p.h:124
#, fuzzy
#| msgid "Configure &Notifications..."
msgid "Configure &Notifications…"
msgstr "Podesi &obaveštenja..."

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "&Priručnik za %1|/|&Priručnik za $[aku %1]"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "Šta je &ovo?"

#: kstandardaction_p.h:130
#, fuzzy
#| msgid "&Report Bug..."
msgid "&Report Bug…"
msgstr "Prijavi &grešku..."

#: kstandardaction_p.h:131
#, fuzzy
#| msgid "&Configure %1..."
msgid "Configure &Language…"
msgstr "&Podesi %1...|/|&Podesi $[aku %1]..."

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "&O %1|/|&O $[dat %1]"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "O &KDE‑u"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "&Obriši"

#: kstandardaction_p.h:135
#, fuzzy
#| msgid "&Rename..."
msgid "&Rename…"
msgstr "&Preimenuj..."

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "Premesti u &smeće"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "&Donacija"

#: kstandardaction_p.h:138
#, fuzzy
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "Otvori &nedavni"

#: kstylemanager.cpp:60
#, fuzzy, kde-format
#| msgid "Quit application"
msgid "Application Style"
msgstr "Napusti program"

#: kstylemanager.cpp:64
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "podrazumevano"

#~ msgid "Tip of the &Day"
#~ msgstr "Savet &dana"

#~ msgid "You will be asked to authenticate before saving"
#~ msgstr "Moraćete da se autentifikujete pre upisivanja."

#~ msgid "You are not allowed to save the configuration"
#~ msgstr "Nije vam dozvoljeno da sačuvate postavu."

#~ msgctxt "show help"
#~ msgid "&Help"
#~ msgstr "&Pomoć"

#~ msgid "&Save Settings"
#~ msgstr "&Sačuvaj postavke"

#~ msgid "Switch Application &Language..."
#~ msgstr "Promeni &jezik programa..."

#~ msgctxt "@title:window"
#~ msgid "Tip of the Day"
#~ msgstr "Savet dana"

#~ msgctxt "@title"
#~ msgid "Did you know...?\n"
#~ msgstr "Da li ste znali...?\n"

#~ msgctxt "@option:check"
#~ msgid "&Show tips on startup"
#~ msgstr "&Saveti po pokretanju"

#~ msgctxt "@action:button Goes to previous tip"
#~ msgid "&Previous"
#~ msgstr "&Prethodni"

#~ msgctxt "@action:button Goes to next tip, opposite to previous"
#~ msgid "&Next"
#~ msgstr "&Sledeći"
