[Desktop Entry]
Name=lingmo-search-service-dir-manager
Name[zh_CN]=搜索服务目录管理
GenericName=lingmo-search-service-dir-manager
GenericName[zh_CN]=搜索服务目录管理
Comment=lingmo-search-service-dir-manager
Comment[zh_CN]=搜索服务目录管理
Exec=/usr/bin/lingmo-search-service-dir-manager %U
Type=Application
Icon=lingmo-search
X-LINGMO-AutoRestart=true
OnlyShowIn=LINGMO
NoDisplay=true
X-LINGMO-Autostart-Phase=Application
Terminal=false
