[Desktop Entry]
Name=lingmo-search-service
Name[zh_CN]=搜索服务
GenericName=lingmo-search-service
GenericName[zh_CN]=搜索服务
Comment=lingmo-search-service
Comment[zh_CN]=搜索服务
Exec=/usr/bin/lingmo-search-service %U
Type=Application
Icon=lingmo-search
X-LINGMO-AutoRestart=true
OnlyShowIn=LINGMO
NoDisplay=true
X-LINGMO-Autostart-Phase=Application
Terminal=false

