[Desktop Entry]
Name=lingmo-search-app-data-service
Name[zh_CN]=应用数据搜索服务
GenericName=lingmo-search-app-data-service
GenericName[zh_CN]=应用数据搜索服务
Comment=lingmo-search-app-data-service
Comment[zh_CN]=应用数据搜索服务
Exec=/usr/bin/lingmo-search-app-data-service %U
Type=Application
Icon=lingmo-search
X-LINGMO-AutoRestart=true
OnlyShowIn=LINGMO
NoDisplay=true
X-LINGMO-Autostart-Phase=Application
Terminal=false

