[Desktop Entry]
Name=Search
Name[zh_CN]=搜索
Name[zh_HK]=搜索
Name[bo_CN]=བཤེར་འཚོལ།
Name[mn]=ᠪᠦᠬᠦ ᠲᠠᠯ᠎ᠠ ᠪᠠᠷ ᠬᠠᠢᠬᠤ
Name[kk]=Іздеу
Name[ug]=ئىزدە
Name[ky]=Издөө
Name[de]=Suchen
Name[es]=Buscar
Name[fr]=Rechercher
GenericName=LINGMO Global Search
GenericName[zh_CN]=全局搜索
GenericName[zh_HK]=全域搜索
GenericName[bo_CN]=བཤེར་འཚོལ།
GenericName[mn]=ᠪᠦᠬᠦ ᠲᠠᠯ᠎ᠠ ᠪᠠᠷ ᠡᠷᠢᠨ᠎ᠡ
GenericName[kk]=Ғаламдық іздеу
GenericName[ug]=يەرشارى ئىزدەش
GenericName[ky]=Глобалдык издөө
GenericName[de]=Globale Suche
GenericName[es]=Búsqueda global
GenericName[fr]=Recherche globale
Comment=lingmo-search
Comment[zh_CN]=全局搜索
Comment[zh_HK]=全域搜索
Comment[bo_CN]=ཁྱོན་ཡོངས་བཤེར་འཚོལ།
Comment[mn]=ᠪᠦᠬᠦ ᠲᠠᠯ᠎ᠠ ᠪᠠᠷ ᠬᠠᠢᠬᠤ
Comment[kk]=Ғаламдық іздеу
Comment[ug]=يەرشارى ئىزدەش
Comment[ky]=Глобалдык издөө
Comment[de]=Globale Suche
Comment[es]=Búsqueda global
Comment[fr]=Recherche globale
Exec=/usr/bin/lingmo-search %U
Type=Application
Icon=lingmo-search
X-LINGMO-AutoRestart=true
OnlyShowIn=LINGMO
NoDisplay=true
X-LINGMO-Autostart-Phase=Application
Terminal=false
