<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<icon_name>deepin-diskmanager</icon_name>
	<action id="com.deepin.diskmanager">
		<description>Run Disk Manager Need Authentication</description>
		<message>Authentication is required to read disk information</message>
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/deepin-diskmanager-authenticateProxy</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<description xml:lang="nl">Run Disk Manager Need Authentication</description>
		<message xml:lang="nl">Voer je wachtwoord in om schijfinformatie uit te lezen</message>
		<description xml:lang="bo">Run Disk Manager Need Authentication</description>
		<message xml:lang="bo">སྡུད་སྡེར་གྱི་ཆ་འཕྲིན་ཀློག་ལེན་བྱེད་པར་དཔང་དཔྱད་བྱེད་དགོས།</message>
		<description xml:lang="ru">Для запуская диспетчера дисков требуется аутентификация</description>
		<message xml:lang="ru">Аутентификация необходима для чтения информации с диска</message>
		<description xml:lang="cs">Spuštění Správy disků vyžaduje ověření se</description>
		<message xml:lang="cs">Pro čtení informací o disku je zapotřebí ověření se</message>
		<description xml:lang="zh_HK">Run Disk Manager Need Authentication</description>
		<message xml:lang="zh_HK">讀取磁盤訊息需要認證</message>
		<description xml:lang="ar">إن تشغيل مدير الأقرص يحتاج إلى مصادقة</description>
		<message xml:lang="ar">المصادقة مطلوبة لقراءة معلومات القرص</message>
		<description xml:lang="ms">Pengurus Cakera yang Dijalankan Memerlukan Pengesahihan</description>
		<message xml:lang="ms">Pengesahihan diperlukan untuk membaca maklumat cakera</message>
		<description xml:lang="hu">Hitelesítés szükséges a Lemezkezelő futtatásához</description>
		<message xml:lang="hu">Hitelesítés szükséges a lemezinformációk olvasásához</message>
		<description xml:lang="fi">Levynhallinta tarvitsee todennusta</description>
		<message xml:lang="fi">Levyn tietojen lukeminen edellyttää todennusta</message>
		<description xml:lang="pt_BR">Run Disk Manager Need Authentication</description>
		<message xml:lang="pt_BR">A autenticação é necessária para ler as informações do disco</message>
		<description xml:lang="sr">Run Disk Manager Need Authentication</description>
		<message xml:lang="sr">Идентификација је неопходна за читање података о диску</message>
		<description xml:lang="id">Menjalankan manajer diska membutuhkan autentikasi</description>
		<message xml:lang="id">Diperlukan autentikasi untuk membaca informasi diska</message>
		<description xml:lang="uk">Запуск керування дисками потребує розпізнавання</description>
		<message xml:lang="uk">Для читання відомостей щодо диска слід пройти розпізнавання</message>
		<description xml:lang="ug">دىسكا باشقۇرغۇچىنى دەلىللەش لازىم</description>
		<message xml:lang="ug">دىسكا ئۇچۇرلىرىنى ئوقۇش دەلىللەشنى تەلەپ قىلىدۇ</message>
		<description xml:lang="zh_CN">Run Disk Manager Need Authentication</description>
		<message xml:lang="zh_CN">读取磁盘信息需要认证</message>
		<description xml:lang="az">Disk İdarəetməsini başlatmaq Kimlik Doğrulaması tələb edir</description>
		<message xml:lang="az">Disk məlumatlarını oxumaq üçün kimlik doğrulaması tələb olunur</message>
		<description xml:lang="tr">Disk Yöneticisi Kimlik Doğrulaması Gerekli</description>
		<message xml:lang="tr">Disk bilgilerini okumak için kimlik doğrulaması gerekli</message>
		<description xml:lang="ro">Rularea Manager Disc Necesită Autentificare</description>
		<message xml:lang="ro">Autentificare necesară pentru citire informații disc</message>
		<description xml:lang="ja">ディスク マネージャーの実行には認証が必要です</description>
		<message xml:lang="ja">ディスク情報の読み取りには認証が必要です</message>
		<description xml:lang="pl">Run Disk Manager Need Authentication</description>
		<message xml:lang="pl">Wymagane jest uwierzytelnienie do odczytywania informacji o dyskach</message>
		<description xml:lang="sq">Xhirimi i Përgjegjësit të Disqeve Lyp Mirëfilltësim</description>
		<message xml:lang="sq">Për të lexuar të dhëna disku lypset mirëfilltësim</message>
		<description xml:lang="pt">Run Disk Manager Need Authentication</description>
		<message xml:lang="pt">É necessária a autenticação para ler as informações do disco</message>
		<description xml:lang="sl">Zagon upravljalca diskov zahteva overitev</description>
		<message xml:lang="sl">Za branje podatkov o disku je potrebna overitev</message>
		<description xml:lang="zh_TW">Run Disk Manager Need Authentication</description>
		<message xml:lang="zh_TW">讀取磁碟訊息需要認證</message>
		<description xml:lang="fr">Gestionnaire de disque a besoin d'une authentification</description>
		<message xml:lang="fr">L'authentification est requise pour lire les informations du disque</message>
		<description xml:lang="es">Se necesita autenticación para ejecutar el Administrador de discos</description>
		<message xml:lang="es">Se necesita autenticación para leer la información del disco</message>
		<description xml:lang="ca">Per executar el gestor de discs cal autenticació</description>
		<message xml:lang="ca">Cal autenticació per llegir la informació del disc</message>
		<description xml:lang="it">Run Disk Manager Need Authentication</description>
		<message xml:lang="it">Autenticazione richiesta per la lettura delle info del Disco</message>
	</action>
</policyconfig>
