LINGMO_powerpc64=y
LINGMO_powerpc_power7=y
LINGMO_TOOLCHAIN_EXTERNAL=y
LINGMO_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
LINGMO_TOOLCHAIN_EXTERNAL_URL="http://autobuild.buildroot.net/toolchains/tarballs/br-powerpc64-power7-glibc-2020.11.2.tar.bz2"
LINGMO_TOOLCHAIN_EXTERNAL_GCC_9=y
LINGMO_TOOLCHAIN_EXTERNAL_HEADERS_5_9=y
LINGMO_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
LINGMO_TOOLCHAIN_EXTERNAL_CXX=y
