<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
    "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
    "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
    <action id="org.lingmo.samba.share.config.authorization">
        <description>Apply for the samba configuration permission</description>
        <message>Confirm whether you want to modify the Samba configuration</message>
        <message xml:lang="zh_CN">请确认是否允许修改samba配置</message>
        <message xml:lang="zh_HK">請確認是否允許修改samba配置</message>
        <message xml:lang="bo_CN">sambaཡི་སྒྲིག་གཞི་བསྒྱུར་ན་ཆོག་མིན་ཐག་གཅོད་བྱེད་རོགས།</message>
        <message xml:lang="mn">samba ᠲᠣᠬᠢᠷᠠᠭᠤᠯᠤᠯᠲᠠ ᠶ᠋ᠢ ᠵᠠᠰᠠᠬᠤ ᠶ᠋ᠢ ᠵᠥᠪᠱᠢᠶᠡᠷᠡᠬᠦ ᠡᠰᠡᠬᠦ ᠪᠡᠨ ᠲᠣᠳᠣᠷᠬᠠᠢᠯᠠᠭᠠᠷᠠᠢ</message>
        <defaults>
            <allow_inactive>no</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
    </action>
</policyconfig>
