Source: linux-signed-amd64
Section: kernel
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Standards-Version: 4.2.0
Build-Depends: debhelper-compat (= 13), python3:any, sbsigntool [amd64 arm64]
Build-Depends-Arch: linux-image-6.12.12-amd64-unsigned (= 6.12.12-1~lingmo3) [amd64] <!pkg.linux.nokernel !pkg.linux.quick>, kernel-wedge (>= 2.105~) [amd64] <!pkg.linux.nokernel>, kmod [amd64] <!pkg.linux.nokernel>, rsync [amd64] <!pkg.linux.nokernel>, linux-image-6.12.12-cloud-amd64-unsigned (= 6.12.12-1~lingmo3) [amd64] <!pkg.linux.nokernel>, linux-image-6.12.12-rt-amd64-unsigned (= 6.12.12-1~lingmo3) [amd64] <!pkg.linux.nokernel !pkg.linux.quick>
Rules-Requires-Root: no
Homepage: https://www.kernel.org/
Vcs-Browser: https://github.com/LingmoOS/linux
Vcs-Git: https://github.com/LingmoOS/linux.git

Package: linux-headers-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-headers-generic
Depends: linux-headers-6.12.12-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux amd64 configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel amd64 configuration.

Package: linux-headers-cloud-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa>
Depends: linux-headers-6.12.12-cloud-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux cloud-amd64 configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel cloud-amd64 configuration.

Package: linux-headers-rt-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Depends: linux-headers-6.12.12-rt-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux rt-amd64 configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel rt-amd64 configuration.

Package: linux-image-6.12.12-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.quick>
Built-Using: linux (= 6.12.12-1~lingmo3)
Depends: kmod, linux-base (>= 4.3~), ${misc:Depends}, initramfs-tools (>= 0.120+deb8u2) [amd64] | linux-initramfs-tool [amd64]
Recommends: apparmor [amd64]
Suggests: firmware-linux-free, linux-doc-6.12, debian-kernel-handbook, grub-pc [amd64] | grub-efi-amd64 [amd64] | extlinux [amd64]
Replaces: linux-image-6.12.12-amd64-unsigned
Breaks: fwupdate (<< 12-7) [amd64], wireless-regdb (<< 2019.06.03-1~) [amd64], initramfs-tools (<< 0.120+deb8u2) [amd64]
Conflicts: linux-image-6.12.12-amd64-unsigned
Description: Linux 6.12 for 64-bit PCs (signed)
 The Linux kernel 6.12 and modules for use on PCs with AMD64, Intel 64 or
 VIA Nano processors.
 .
 The kernel image is signed for use with Secure Boot.

Package: linux-image-6.12.12-cloud-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel>
Built-Using: linux (= 6.12.12-1~lingmo3)
Depends: kmod, linux-base (>= 4.3~), ${misc:Depends}, initramfs-tools (>= 0.120+deb8u2) [amd64] | linux-initramfs-tool [amd64]
Recommends: apparmor [amd64]
Suggests: firmware-linux-free, linux-doc-6.12, debian-kernel-handbook, grub-pc [amd64] | grub-efi-amd64 [amd64] | extlinux [amd64]
Replaces: linux-image-6.12.12-cloud-amd64-unsigned
Breaks: fwupdate (<< 12-7) [amd64], wireless-regdb (<< 2019.06.03-1~) [amd64], initramfs-tools (<< 0.120+deb8u2) [amd64]
Conflicts: linux-image-6.12.12-cloud-amd64-unsigned
Description: Linux 6.12 for x86-64 cloud (signed)
 The Linux kernel 6.12 and modules for use on cloud platforms including
 Amazon EC2, Microsoft Azure, and Google Compute Engine.
 .
 The kernel image is signed for use with Secure Boot.

Package: linux-image-6.12.12-rt-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.quick>
Built-Using: linux (= 6.12.12-1~lingmo3)
Depends: kmod, linux-base (>= 4.3~), ${misc:Depends}, initramfs-tools (>= 0.120+deb8u2) [amd64] | linux-initramfs-tool [amd64]
Recommends: apparmor [amd64]
Suggests: firmware-linux-free, linux-doc-6.12, debian-kernel-handbook, grub-pc [amd64] | grub-efi-amd64 [amd64] | extlinux [amd64]
Replaces: linux-image-6.12.12-rt-amd64-unsigned
Breaks: fwupdate (<< 12-7) [amd64], wireless-regdb (<< 2019.06.03-1~) [amd64], initramfs-tools (<< 0.120+deb8u2) [amd64]
Conflicts: linux-image-6.12.12-rt-amd64-unsigned
Description: Linux 6.12 for 64-bit PCs (signed), PREEMPT_RT
 The Linux kernel 6.12 and modules for use on PCs with AMD64, Intel 64 or
 VIA Nano processors.
 .
 The kernel image is signed for use with Secure Boot.
 .
 This kernel includes the PREEMPT_RT realtime patch set.

Package: linux-image-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-modules-6.12.12-amd64, wireguard-modules (= 1.0.0), virtualbox-guest-modules [amd64], linux-image-generic
Depends: linux-image-6.12.12-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for 64-bit PCs (meta-package)
 This package depends on the latest Linux kernel and modules for use on PCs
 with AMD64, Intel 64 or VIA Nano processors.

Package: linux-image-cloud-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa>
Provides: linux-latest-modules-6.12.12-cloud-amd64, wireguard-modules (= 1.0.0), virtualbox-guest-modules [amd64]
Depends: linux-image-6.12.12-cloud-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for x86-64 cloud (meta-package)
 This package depends on the latest Linux kernel and modules for use on
 cloud platforms including Amazon EC2, Microsoft Azure, and Google Compute
 Engine.

Package: linux-image-rt-amd64
Architecture: amd64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-modules-6.12.12-rt-amd64, wireguard-modules (= 1.0.0), virtualbox-guest-modules [amd64]
Depends: linux-image-6.12.12-rt-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for 64-bit PCs (meta-package)
 This package depends on the latest Linux kernel and modules for use on PCs
 with AMD64, Intel 64 or VIA Nano processors.

Package: ata-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: ata-modules
Depends: kernel-image-6.12.12-amd64-di, scsi-core-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: ATA disk modules
 This package contains core ATA disk modules used by both PATA and SATA
 disk drivers.

Package: btrfs-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: btrfs-modules
Depends: kernel-image-6.12.12-amd64-di, md-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: BTRFS filesystem support
 This package contains the BTRFS filesystem module for the kernel.

Package: cdrom-core-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: cdrom-core-modules
Depends: kernel-image-6.12.12-amd64-di, scsi-core-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: CDROM support
 This package contains core CDROM support for the kernel.

Package: crypto-dm-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: crypto-dm-modules
Depends: kernel-image-6.12.12-amd64-di, md-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: devicemapper crypto module
 This package contains the devicemapper crypto (dm-crypt) module.

Package: crypto-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: crypto-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: crypto modules
 This package contains crypto modules.

Package: drm-core-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: drm-core-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Frame buffer support
 This package contains core DRM modules for the kernel.

Package: ext4-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: ext4-modules, ext2-modules, ext3-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: ext2/ext3/ext4 filesystem support
 This package contains the ext4 filesystem module for the kernel, which
 also supports ext2 and ext3.

Package: f2fs-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: f2fs-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: f2fs filesystem support
 This package contains the f2fs (Flash-Friendly Filesystem) module.

Package: fat-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: fat-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: FAT filesystem support
 This package contains the FAT and VFAT filesystem modules for the kernel.

Package: fb-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: fb-modules
Depends: kernel-image-6.12.12-amd64-di, drm-core-modules-6.12.12-amd64-di, input-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Frame buffer support
 This package contains Frame buffer drivers for the kernel.

Package: firewire-core-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: firewire-core-modules
Depends: kernel-image-6.12.12-amd64-di, scsi-core-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Core FireWire drivers
 This package contains core FireWire drivers for the kernel.

Package: input-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: input-modules
Depends: kernel-image-6.12.12-amd64-di, usb-modules-6.12.12-amd64-di, rfkill-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Input devices support
 This package contains input device drivers for the kernel.

Package: isofs-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: isofs-modules
Depends: kernel-image-6.12.12-amd64-di, cdrom-core-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: ISOFS filesystem support
 This package contains the ISOFS filesystem module for the kernel.

Package: jfs-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: jfs-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: JFS filesystem support
 This package contains the JFS filesystem module for the kernel.

Package: kernel-image-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: kernel-image, efi-modules
Kernel-Version: 6.12.12-amd64
Description: Linux kernel image and core modules for the Debian installer
 This package contains the kernel image and core modules for the Debian
 installer boot images.  It does _not_ provide a usable kernel for your
 full Debian system.

Package: loop-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: loop-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Loopback filesystem support
 This package contains loopback filesystem support for the kernel.

Package: md-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: md-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: RAID and LVM support
 This package contains RAID and LVM modules for the kernel.

Package: mmc-core-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: mmc-core-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: MMC/SD/SDIO core modules
 This package contains core modules for MMC/SD/SDIO support.

Package: mmc-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: mmc-modules
Depends: kernel-image-6.12.12-amd64-di, mmc-core-modules-6.12.12-amd64-di, usb-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: MMC/SD card modules
 This package contains modules needed to support MMC (multimedia) and SD
 cards.

Package: mtd-core-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: mtd-core-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: MTD core
 This package contains the MTD core.

Package: multipath-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: multipath-modules
Depends: kernel-image-6.12.12-amd64-di, md-modules-6.12.12-amd64-di, scsi-core-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Multipath support
 This package contains DM-Multipath modules for the kernel.

Package: nbd-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: nbd-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Network Block Device modules
 This package contains the modules required for support of the Network
 Block Device

Package: nic-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: nic-modules, nic-extra-modules
Depends: kernel-image-6.12.12-amd64-di, nic-shared-modules-6.12.12-amd64-di, mtd-core-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: NIC drivers
 This package contains Ethernet and some paravirtualised network drivers
 for the kernel.

Package: nic-pcmcia-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: nic-pcmcia-modules
Depends: kernel-image-6.12.12-amd64-di, nic-shared-modules-6.12.12-amd64-di, nic-wireless-modules-6.12.12-amd64-di, pcmcia-modules-6.12.12-amd64-di, mmc-core-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Common PCMCIA NIC drivers
 This package contains common PCMCIA NIC drivers for the kernel.

Package: nic-shared-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: nic-shared-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Shared NIC drivers
 This package contains NIC drivers needed by combinations of nic-modules,
 nic-pcmcia-modules, nic-usb-modules and nic-wireless-modules.

Package: nic-usb-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: nic-usb-modules
Depends: kernel-image-6.12.12-amd64-di, nic-shared-modules-6.12.12-amd64-di, nic-wireless-modules-6.12.12-amd64-di, usb-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: USB NIC drivers
 This package contains USB network adapter drivers for the kernel.

Package: nic-wireless-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: nic-wireless-modules
Depends: kernel-image-6.12.12-amd64-di, nic-shared-modules-6.12.12-amd64-di, usb-modules-6.12.12-amd64-di, mmc-core-modules-6.12.12-amd64-di, pcmcia-modules-6.12.12-amd64-di, rfkill-modules-6.12.12-amd64-di, crypto-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Wireless NIC drivers
 This package contains wireless NIC drivers for the kernel.  Includes
 crypto modules only needed for wireless (WEP, WPA).

Package: pata-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: pata-modules
Depends: kernel-image-6.12.12-amd64-di, ata-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: PATA drivers
 This package contains PATA drivers for the kernel.

Package: pcmcia-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: pcmcia-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Common PCMCIA drivers
 This package contains common PCMCIA drivers for the kernel.

Package: pcmcia-storage-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: pcmcia-storage-modules
Depends: kernel-image-6.12.12-amd64-di, cdrom-core-modules-6.12.12-amd64-di, pcmcia-modules-6.12.12-amd64-di, ata-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: PCMCIA storage drivers
 This package contains PCMCIA storage drivers for the kernel.

Package: ppp-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: ppp-modules
Depends: kernel-image-6.12.12-amd64-di, serial-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: PPP drivers
 This package contains PPP drivers for the kernel.

Package: rfkill-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: rfkill-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: rfkill modules
 This package contains the rfkill module.

Package: sata-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: sata-modules
Depends: kernel-image-6.12.12-amd64-di, scsi-core-modules-6.12.12-amd64-di, ata-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: SATA drivers
 This package contains SATA drivers for the kernel.

Package: scsi-core-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: scsi-core-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Core SCSI subsystem
 This package contains the core SCSI subsystem for the kernel.

Package: scsi-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: scsi-modules
Depends: kernel-image-6.12.12-amd64-di, scsi-core-modules-6.12.12-amd64-di, cdrom-core-modules-6.12.12-amd64-di, ata-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: SCSI drivers
 This package contains SCSI drivers for the kernel.

Package: scsi-nic-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: scsi-nic-modules
Depends: scsi-modules-6.12.12-amd64-di, nic-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: SCSI drivers for converged NICs
 This package contains SCSI drivers that depend on net drivers.

Package: serial-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: serial-modules
Depends: kernel-image-6.12.12-amd64-di, pcmcia-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: Serial drivers
 This package contains serial drivers for the kernel.

Package: sound-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: sound-modules
Depends: kernel-image-6.12.12-amd64-di, usb-modules-6.12.12-amd64-di, pcmcia-modules-6.12.12-amd64-di, firewire-core-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: sound support
 This package contains sound modules.

Package: speakup-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: speakup-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: speakup modules
 This package contains speakup modules.

Package: squashfs-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: squashfs-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: squashfs modules
 This package contains squashfs modules.

Package: udf-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: udf-modules
Depends: kernel-image-6.12.12-amd64-di, cdrom-core-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: UDF modules
 This package contains the UDF filesystem module.

Package: uinput-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: uinput-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: uinput support
 This package contains the uinput module.

Package: usb-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: usb-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: USB support
 This package contains core USB drivers for the kernel.

Package: usb-serial-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: optional
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: usb-serial-modules
Depends: kernel-image-6.12.12-amd64-di, usb-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: USB serial drivers
 This package contains USB serial drivers for the kernel.

Package: usb-storage-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: usb-storage-modules
Depends: kernel-image-6.12.12-amd64-di, scsi-core-modules-6.12.12-amd64-di, usb-modules-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: USB storage support
 This package contains the USB storage driver for the kernel.

Package: xfs-modules-6.12.12-amd64-di
Architecture: amd64
Section: debian-installer
Priority: standard
Package-Type: udeb
Build-Profiles: <!noudeb !pkg.linux.nokernel !pkg.linux.quick>
Provides: xfs-modules
Depends: kernel-image-6.12.12-amd64-di
Kernel-Version: 6.12.12-amd64
Description: XFS filesystem support
 This package contains the XFS filesystem module for the kernel.

