[Desktop Entry]
Categories=Graphics;Picker;
Comment=Color picker
Exec=lingmo-picker
GenericName=Picker
Icon=lingmo-picker
Name=Lingmo Picker
StartupNotify=true
TryExec=lingmo-picker
Type=Application
X-Lingmo-Vendor=lingmo
NoDisplay=true

# Translations:
# Do not manually modify!
Comment[ar]=منتقي اللون
Comment[ast]=Seleutor de colores
Comment[bg]=Избор на цвят
Comment[bn]=কালার পিকার
Comment[bo]=གཏིང་ཟབ་ཚོས་ལེན་ཆས།
Comment[ca]=Selector de color
Comment[cs]=Sběrač barev
Comment[da]=Farvepipette
Comment[de]=Farbpipette
Comment[es]=Selector de color
Comment[es_419]=Selector de color
Comment[et]=Värvivalija
Comment[fi]=Värien kerääjä
Comment[fr]=Pipette à couleurs
Comment[id]=Pemilih Warna
Comment[it]=Color picker
Comment[ko]=색상 선택 도구
Comment[lt]=Spalvos parinkiklis
Comment[ms]=Pemilih warna
Comment[ne]=रङ चयनकर्ता
Comment[nl]=Kleurkiezer
Comment[pl]=Zbieracz kolorów
Comment[pt]=Selector de cores
Comment[pt_BR]=Selecionador de cor
Comment[ru]=Выбор цвета
Comment[sk]=Výber farby
Comment[sq]=Zgjedhës ngjyrash
Comment[sr]=Пипета за боје
Comment[tr]=Renk seçici
Comment[uk]=Піпетка для кольорів
Comment[ug]=Lingmo رەڭ ئالغۇچى
Comment[zh_CN]=取色器
Comment[zh_TW]=取色器
Comment[zh_HK]=取色器
GenericName[ar]=منتقي
GenericName[ast]=Seleutor
GenericName[bg]=Picker
GenericName[bn]=পিকার
GenericName[bo]=གཏིང་ཟབ་ཚོས་ལེན་ཆས།
GenericName[ca]=Selector
GenericName[cs]=Sběrač
GenericName[da]=Pipette
GenericName[de]=Auswahlwerkzeug
GenericName[es]=Seleccionar
GenericName[es_419]=Picker
GenericName[et]=Värvivalija
GenericName[fi]=Kerääjä
GenericName[fr]=Pipette
GenericName[id]=Pemilih
GenericName[it]=Picker
GenericName[ko]=선택 도구
GenericName[lt]=Parinkiklis
GenericName[ms]=Pemilih
GenericName[ne]=चयनकर्ता
GenericName[nl]=Kiezer
GenericName[pl]=Zbieracz kolorów
GenericName[pt]=Selector
GenericName[pt_BR]=Selecionador
GenericName[ru]=Сборщик Цветовых Кодов
GenericName[sk]=Výber
GenericName[sq]=Zgjedhës
GenericName[sr]=Пипета
GenericName[tr]=Renk Seçici
GenericName[uk]=Піпетка
GenericName[ug]=رەڭ ئالغۇچى
GenericName[zh_CN]=取色器
GenericName[zh_TW]=取色器
GenericName[zh_HK]=取色器
Name[ar]=منتقي الألوان ديبين
Name[ast]=Lingmo Picker
Name[bg]=Lingmo Picker
Name[bn]=ডিপিন পিকার
Name[bo]=གཏིང་ཟབ་ཚོས་ལེན་ཆས།
Name[ca]=Selector del Lingmo
Name[cs]=Sběrač barev
Name[da]=Lingmo pipette
Name[de]=Lingmo Farbpipette
Name[es]=Lingmo Picker
Name[es_419]=Lingmo Picker
Name[et]=Lingmo värvivalija
Name[fi]=Lingmo kerääjä
Name[fr]=Lingmo Picker
Name[id]=Pemilih Lingmo
Name[it]=Lingmo Picker
Name[ko]=Lingmo 선택 도구
Name[lt]=Lingmo parinkiklis
Name[ms]=Pemilih Lingmo
Name[ne]=डिपिन चयनकर्ता
Name[nl]=Lingmo Kleurkiezer
Name[pl]=Zbieracz kolorów Lingmo
Name[pt]=Lingmo Picker
Name[pt_BR]=Selecionador Lingmo
Name[ru]=Сборщик Цветовых Кодов Lingmo
Name[sk]=Lingmo Výber
Name[sq]=Zgjedhësi Lingmo
Name[sr]=Дипин Пипета
Name[tr]=Lingmo Renk Seçici
Name[uk]=Піпетка Lingmo
Name[ug]=Lingmo رەڭ ئالغۇچى
Name[zh_CN]=深度取色器
Name[zh_TW]=Lingmo 取色器
Name[zh_HK]=Lingmo 取色器

