Source: deepin-shortcut-viewer
Section: devel
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>=9), pkg-config, qt5-qmake, qtbase5-dev, libdtkwidget-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: deepin-shortcut-viewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: shortcut viewer tools
 A shortcut viewer tool for deepin.
