Source: lingmo-ocr
Section: utils
Priority: optional
Maintainer: Liuminghang
Build-Depends: debhelper (>= 11), 
               cmake, 
               extra-cmake-modules,
               qtbase5-dev, 
               pkg-config,
               qtquickcontrols2-5-dev,
               qtdeclarative5-dev,
               qttools5-dev,
               qttools5-dev-tools,
               qttools5-dev-tools
Standards-Version: 4.5.0
Homepage: http://lingmo.org/

Package: lingmo-ocr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lingmo Ocr
 Ocr is a text recognition software.
