[submodule "shell/frameworks/lingmoui-addons"]
	path = shell/frameworks/lingmoui-addons
	url = https://github.com/LingmoOS/lingmoui-addons
[submodule "shell/frameworks/lingmo5support"]
	path = shell/frameworks/lingmo5support
	url = https://github.com/LingmoOS/lingmo5support
