[submodule "shell/frameworks/lingmoui-addons"]
	path = shell/frameworks/lingmoui-addons
	url = https://github.com/LingmoOS/lingmoui-addons
[submodule "shell/frameworks/lingmo5support"]
	path = shell/frameworks/lingmo5support
	url = https://github.com/LingmoOS/lingmo5support
[submodule "shell/frameworks/lingmo-wayland-protocols"]
	path = shell/frameworks/lingmo-wayland-protocols
	url = https://github.com/LingmoOS/lingmo-wayland-protocols
[submodule "shell/frameworks/lingmo-icons"]
	path = shell/frameworks/lingmo-icons
	url = https://github.com/LingmoOS/lingmo-icons
[submodule "core/lpm"]
	path = core/lpm
	url = https://github.com/LingmoOS/lpm
[submodule "sysinit/mkinitcpio-lingmo"]
	path = sysinit/mkinitcpio-lingmo
	url = https://github.com/LingmoOS/mkinitcpio-lingmo
[submodule "shell/ui/LingmoUI"]
	path = shell/ui/LingmoUI
	url = https://github.com/LingmoOS/LingmoUI
