[Desktop Entry]
Categories=Utility;
Comment=Open file with dialog
Exec=/usr/bin/ocean-file-manager -o %u
GenericName=Open Dialog
Icon=ocean-file-manager
Name=OCEAN Open Dialog
NoDisplay=true
StartupNotify=true
Terminal=false
Type=Application

# Translations:
# Do not manually modify!
Comment[hu]=Fájl megnyitása párbeszédpanelen
GenericName[hu]=Párbeszédpanel megnyitása
Name[hu]=OCEAN párbeszédpanel megnyitása

