# Copyright (C) YEAR This file is copyright:
# This file is distributed under the same license as the kconfigwidgets package.
#
# Xəyyam <xxmn77@gmail.com>, 2020, 2021, 2022.
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-12-08 00:42+0000\n"
"PO-Revision-Date: 2022-07-31 23:16+0400\n"
"Last-Translator: Kheyyam <xxmn77@gmail.com>\n"
"Language-Team: Azerbaijani <kde-i18n-doc@kde.org>\n"
"Language: az\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Generator: Lokalize 22.04.3\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Xəyyam Qocayev"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "xxmn77@gmail.com"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Saxlamadan oncə parolu daxil etməniz tələb edilir"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Konfiqurasiyanı saxlamağa sizə icazə verilmir"

#: kcodecaction.cpp:67
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "İlkin göstərici"

#: kcodecaction.cpp:75
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Avtomatik təyin etmə"

#: kcolorschememanager.cpp:220 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr "Rəng Seçimi"

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "İlkin göstərici"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr "Süzgəcə uyğun əmrlər yoxdur"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Tənzimləmək"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Menyu"

#: khamburgermenu.cpp:326
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Menyu çu&buğunu bütün əməlləri ilə göstərmək"

#: khamburgermenu.cpp:352
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Daha çox"

#: khamburgermenu.cpp:353
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Daha çox əməl"

#: krecentfilesaction.cpp:71
#, kde-format
msgid "No Entries"
msgstr "Giriş Olmayıb"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "Clear List"
msgstr "Siyahını Təmizlə"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Geriyə"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&İrəli"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Evə"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Yardım"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Menyu Çubuğunu Göstər<p>Gizlədildikdən sonra menyu çubuğunu yenidən göstər</"
"p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Vəziyyət Çubuğunu Göstər<p>Öəncərələrin ən alt hissəsində məlumat vermək "
"üçün istifadə olunan vəziyyət çubuğunu göstərir.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Yeni"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "Yeni sənəd yarat"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Aç"

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "Mövcud olan bir sənəd açın"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "&Sonuncunu aç"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "Ən son açılmış sənədi açın"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Saxla"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "Sənədi saxla"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "&Fərqli Saxla"

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "Sənədi yeni adla saxla"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "Bərpa &et"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "Sənədə daxil edilmiş lakin saxlanılmamış dəyişiklikləri bərpa et"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Bağla"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "Sənədi bağla"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "&Çap et"

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "Sənədi çap et"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "Önbaxışı Göst&ər"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "Sənədın çapa haazır görünüşünü göstər"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&E-poçt"

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "Sənədi e-poçtla göndər"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&Çıx"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Tətbiqdən çıx"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&Geri qaytar"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "Sonuncu hərəkəti geri qaytar"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "Təkr&arla"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "Sonuncu ləğv edilən hərəkəti təkrar edin"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "Kə&s"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "Seçiləni mübadilə yaddaşında saxlamaq üçün kəs"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "&Kopyala"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "Seçiləni mübadilə yaddaşında saxlamaq üçün kopyala"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&Yerləşdir"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "Mübadilə yaddaşında olanı yerləşdir"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "Tə&mizlə"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "&Hamısını seç"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "Heçbirini &Seçmə"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Tap..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "&Sonrakını Tap"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "Əvv&əlkini Tap"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Əvəzlə"

#: kstandardaction_p.h:58
msgid "Zoom to &Actual Size"
msgstr "&Həqiqi ölçüsünə miqyaslayın"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "Sənədi həqiqi ölçüsündə göstər"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&Səhifəni Tam Doldur"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "Səhifəni Pəncərəyə Sığışdır"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "Səhifəni &Enə Uyğunlaşdır"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "Səhifəni pəncərənin eninə uyğunlaşdır"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "Səhifəni &Hündürlüyə Uyğunlaşdır"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "Səhifəni pəncərənin hündürlüyünə görə böyüt"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "Bö&yüt"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "Kiç&ilt"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Böyütmə"

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "Böyütmə ölçüsünü seçin"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "&Yenilə"

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr "Sənədi yenilə"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Aşağı"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "Aşağı get"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&Əvvəlki Səhifə"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "Əvvəlki səhifəyə keç"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Sorakı Səhifə"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "Sonrakı səhifəyə keç"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&Keç..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "&Səhifəyə keç"

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "Sətirə &Keç"

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&İlk səhifə"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "İlk səhifəyə keç"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&Sonuncu Səhifə"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "Sonuncu səhifəyə keç"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&Geri"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "Sənədə geri dön"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "&İrəli"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "Növbəti sənədə keç"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "Əlfəcin &Əlavə et"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "Əlfəcinə &Düzəliş et"

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&İmla Yoxlaması"

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "Sənədin Yazı Qaydalarını Yoxla"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "Menyu &Çübüğunu Göstər"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "Menyu Çubuğunu gizlət və ya göstər"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "&Alətlər Çubuğunu Göstər"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "Alətlər Çubuğunu göstər və ya gizlət"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "Vəziyyət &Çubuğunu Göstər"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "Vəziyyət Çübüğunu göstər və ya gizlət"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "T&am Ekran Rejimi"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "Ayarları &Saxla"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "Klaviatura Q&ısayollarını Ayarla"

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "%1 &Ayarları..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "Alətlər &Çubuğunu Ayarla"

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "&Bildirişləri Ayarla"

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &Sorğu Kitabı"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "Bu &Nədir?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "&Günün Məsləhəti"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "Xəta &Bildir..."

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "Dil &Ayarları..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "%1 &Haqqında"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "&KDE haqqında"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "&Sil"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "&Adını Dəyiş"

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "&Səbətə At"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "&Maddi Dəstək"

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr "&Menyunu açın"

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Günün məsləhəti"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Bunları bilirsənmi...?\n"

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "Sistem Açılanda Məsləhətləri &Göstər"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Əvvəlki"

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Sonrakı"

#~ msgctxt ""
#~ "@action:inmenu A menu text advertising its contents (more features)."
#~ msgid "For %1 more action:"
#~ msgid_plural "For %1 more actions:"
#~ msgstr[0] "%1, əlavə əməllər üçün:"
#~ msgstr[1] "%1, əlavə əməllər üçün:"

#~ msgctxt ""
#~ "@action:inmenu A section heading advertising the contents of the menu bar"
#~ msgid "%1 Menu Bar Exclusive Action"
#~ msgid_plural "%1 Menu Bar Exclusive Actions"
#~ msgstr[0] "%1 menyu paneli xüsusi əməli"
#~ msgstr[1] "%1 menyu paneli xüsusi əməlləri"

#~ msgid "Switch Application &Language..."
#~ msgstr "Tətbiq &Dillərini Dəyiş"
