[Desktop Entry]
Type=Application
Exec=/usr/bin/sync-config-session
TryExec=/usr/bin/sync-config-session
Name=LINGMOSDK-CONF2-SYNC-CONFIG-BUS
X-LINGMO-Autostart-Phase=Initialization
Icon=
Keywords=session;
Comment=This session date you into sdk
NoDisplay=true