[Unit]
Description=LINGMO CONF2 SYNC DBUS

[Service]
Type=dbus
Restart=always
RestartSec=1
BusName=com.lingmo.lingmosdk.SyncConfig
ExecStart=/usr/bin/sync-config-system

[Install]
WantedBy=multi-user.target
