[Unit]
Description=DTK widget application launch booster
After=display-manager.service

[Service]
Type=notify
ExecStart=/usr/lib/lingmo-turbo/booster-dtkwidget --systemd
Restart=always
RestartSec=1
OOMScoreAdjust=-250

[Install]
WantedBy=default.target
