# Copyright (C) YEAR This file is copyright:
# This file is distributed under the same license as the kconfigwidgets package.
#
# Xəyyam <xxmn77@gmail.com>, 2020, 2021, 2022, 2023.
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2023-02-17 01:22+0400\n"
"Last-Translator: Kheyyam <xxmn77@gmail.com>\n"
"Language-Team: Azerbaijani <kde-i18n-doc@kde.org>\n"
"Language: az\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Generator: Lokalize 22.12.2\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Xəyyam Qocayev"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "xxmn77@gmail.com"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "İlkin göstərici"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Avtomatik təyin etmə"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr "Rəng Seçimi"

#: kcommandbar.cpp:639
#, fuzzy, kde-format
#| msgid "No commands matching the filter"
msgid "No commands to display"
msgstr "Süzgəcə uyğun əmrlər yoxdur"

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr "Süzgəcə uyğun əmrlər yoxdur"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Tənzimləmək"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Menyu"

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Menyu çu&buğunu bütün əməlləri ilə göstərmək"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Daha çox"

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Daha çox əməl"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Giriş Olmayıb"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Siyahını Təmizlə"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Geriyə"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&İrəli"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Evə"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Menyu Çubuğunu Göstər<p>Gizlədildikdən sonra menyu çubuğunu yenidən göstər</"
"p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Vəziyyət Çubuğunu Göstər<p>Öəncərələrin ən alt hissəsində məlumat vermək "
"üçün istifadə olunan vəziyyət çubuğunu göstərir.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "&Yeni"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Yeni sənəd yarat"

#: kstandardaction_p.h:64
#, fuzzy
#| msgid "&Open..."
msgid "&Open…"
msgstr "&Aç"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Mövcud olan bir sənəd açın"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "&Sonuncunu aç"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Ən son açılmış sənədi açın"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Saxla"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Sənədi saxla"

#: kstandardaction_p.h:67
#, fuzzy
#| msgid "Save &As..."
msgid "Save &As…"
msgstr "&Fərqli Saxla"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Sənədi yeni adla saxla"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "Bərpa &et"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Sənədə daxil edilmiş lakin saxlanılmamış dəyişiklikləri bərpa et"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Bağla"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Sənədi bağla"

#: kstandardaction_p.h:70
#, fuzzy
#| msgid "&Print..."
msgid "&Print…"
msgstr "&Çap et"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Sənədi çap et"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "Önbaxışı Göst&ər"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Sənədın çapa haazır görünüşünü göstər"

#: kstandardaction_p.h:72
#, fuzzy
#| msgid "&Mail..."
msgid "&Mail…"
msgstr "&E-poçt"

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Sənədi e-poçtla göndər"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "&Çıx"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Tətbiqdən çıx"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Geri qaytar"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Sonuncu hərəkəti geri qaytar"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "Təkr&arla"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Sonuncu ləğv edilən hərəkəti təkrar edin"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "Kə&s"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Seçiləni mübadilə yaddaşında saxlamaq üçün kəs"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "&Kopyala"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Seçiləni mübadilə yaddaşında saxlamaq üçün kopyala"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "&Yerləşdir"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Mübadilə yaddaşında olanı yerləşdir"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "Tə&mizlə"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "&Hamısını seç"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "Heçbirini &Seçmə"

#: kstandardaction_p.h:83
#, fuzzy
#| msgid "&Find..."
msgid "&Find…"
msgstr "&Tap..."

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "&Sonrakını Tap"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Əvv&əlkini Tap"

#: kstandardaction_p.h:86
#, fuzzy
#| msgid "&Replace..."
msgid "&Replace…"
msgstr "&Əvəzlə"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr "&Həqiqi ölçüsünə miqyaslayın"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Sənədi həqiqi ölçüsündə göstər"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "&Səhifəni Tam Doldur"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Səhifəni Pəncərəyə Sığışdır"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "Səhifəni &Enə Uyğunlaşdır"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Səhifəni pəncərənin eninə uyğunlaşdır"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "Səhifəni &Hündürlüyə Uyğunlaşdır"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Səhifəni pəncərənin hündürlüyünə görə böyüt"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "Bö&yüt"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "Kiç&ilt"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "&Zoom..."
msgid "&Zoom…"
msgstr "&Böyütmə"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Böyütmə ölçüsünü seçin"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr "&Yenilə"

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr "Sənədi yenilə"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "&Aşağı"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Aşağı get"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "&Əvvəlki Səhifə"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Əvvəlki səhifəyə keç"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "&Sorakı Səhifə"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Sonrakı səhifəyə keç"

#: kstandardaction_p.h:104
#, fuzzy
#| msgid "&Go To..."
msgid "&Go To…"
msgstr "&Keç..."

#: kstandardaction_p.h:105
#, fuzzy
#| msgid "&Go to Page..."
msgid "&Go to Page…"
msgstr "&Səhifəyə keç"

#: kstandardaction_p.h:106
#, fuzzy
#| msgid "&Go to Line..."
msgid "&Go to Line…"
msgstr "Sətirə &Keç"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "&İlk səhifə"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "İlk səhifəyə keç"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "&Sonuncu Səhifə"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Sonuncu səhifəyə keç"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "&Geri"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Sənədə geri dön"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "&İrəli"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Növbəti sənədə keç"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "Əlfəcin &əlavə et"

#: kstandardaction_p.h:113
#, fuzzy
#| msgid "&Edit Bookmarks..."
msgid "&Edit Bookmarks…"
msgstr "Əlfəcinə &Düzəliş et"

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "&Spelling..."
msgid "&Spelling…"
msgstr "&İmla Yoxlaması"

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Sənədin Yazı Qaydalarını Yoxla"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "Menyu &Çübüğunu Göstər"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Menyu Çubuğunu gizlət və ya göstər"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "&Alətlər Çubuğunu Göstər"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Alətlər Çubuğunu göstər və ya gizlət"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "Vəziyyət &Çubuğunu Göstər"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Vəziyyət Çübüğunu göstər və ya gizlət"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "T&am Ekran Rejimi"

#: kstandardaction_p.h:121
#, fuzzy
#| msgid "Configure Keyboard S&hortcuts..."
msgid "Configure Keyboard S&hortcuts…"
msgstr "Klaviatura Q&ısayollarını Ayarla"

#: kstandardaction_p.h:122
#, fuzzy, kde-format
#| msgid "&Configure %1..."
msgid "&Configure %1…"
msgstr "%1 &Ayarları..."

#: kstandardaction_p.h:123
#, fuzzy
#| msgid "Configure Tool&bars..."
msgid "Configure Tool&bars…"
msgstr "Alətlər &Çubuğunu Ayarla"

#: kstandardaction_p.h:124
#, fuzzy
#| msgid "Configure &Notifications..."
msgid "Configure &Notifications…"
msgstr "&Bildirişləri Ayarla"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &Sorğu Kitabı"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "Bu &Nədir?"

#: kstandardaction_p.h:130
#, fuzzy
#| msgid "&Report Bug..."
msgid "&Report Bug…"
msgstr "Xəta &Bildir..."

#: kstandardaction_p.h:131
#, fuzzy
#| msgid "Configure &Language..."
msgid "Configure &Language…"
msgstr "Dil &Ayarları..."

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "%1 &Haqqında"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "&KDE haqqında"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "&Sil"

#: kstandardaction_p.h:135
#, fuzzy
#| msgid "&Rename..."
msgid "&Rename…"
msgstr "&Adını Dəyiş"

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "&Səbətə At"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "&Maddi Dəstək"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr "&Menyunu açın"

#: kstylemanager.cpp:60
#, fuzzy, kde-format
#| msgid "Quit application"
msgid "Application Style"
msgstr "Tətbiqdən çıx"

#: kstylemanager.cpp:64
#, kde-format
msgid "Default"
msgstr "İlkin göstərici"

#~ msgid "Tip of the &Day"
#~ msgstr "&Günün Məsləhəti"

#~ msgid "You will be asked to authenticate before saving"
#~ msgstr "Saxlamadan oncə parolu daxil etməniz tələb edilir"

#~ msgid "You are not allowed to save the configuration"
#~ msgstr "Konfiqurasiyanı saxlamağa sizə icazə verilmir"

#~ msgctxt "show help"
#~ msgid "&Help"
#~ msgstr "&Yardım"

#~ msgid "&Save Settings"
#~ msgstr "Ayarları &Saxla"

#~ msgctxt "@title:window"
#~ msgid "Tip of the Day"
#~ msgstr "Günün məsləhəti"

#~ msgctxt "@title"
#~ msgid "Did you know...?\n"
#~ msgstr "Bunları bilirsənmi...?\n"

#~ msgctxt "@option:check"
#~ msgid "&Show tips on startup"
#~ msgstr "Sistem Açılanda Məsləhətləri &Göstər"

#~ msgctxt "@action:button Goes to previous tip"
#~ msgid "&Previous"
#~ msgstr "&Əvvəlki"

#~ msgctxt "@action:button Goes to next tip, opposite to previous"
#~ msgid "&Next"
#~ msgstr "&Sonrakı"

#~ msgctxt ""
#~ "@action:inmenu A menu text advertising its contents (more features)."
#~ msgid "For %1 more action:"
#~ msgid_plural "For %1 more actions:"
#~ msgstr[0] "%1, əlavə əməllər üçün:"
#~ msgstr[1] "%1, əlavə əməllər üçün:"

#~ msgctxt ""
#~ "@action:inmenu A section heading advertising the contents of the menu bar"
#~ msgid "%1 Menu Bar Exclusive Action"
#~ msgid_plural "%1 Menu Bar Exclusive Actions"
#~ msgstr[0] "%1 menyu paneli xüsusi əməli"
#~ msgstr[1] "%1 menyu paneli xüsusi əməlləri"

#~ msgid "Switch Application &Language..."
#~ msgstr "Tətbiq &Dillərini Dəyiş"
