[KCM Locale]
Name=Interlingue
Name[ar]=الغربية
Name[az]=İnterlinqva
Name[be]=Інтэрлінгва
Name[bg]=Интерлингве
Name[ca]=Interlingue
Name[ca@valencia]=Interlingue
Name[cs]=Interlingue
Name[de]=Interlingue
Name[el]=Interlingue
Name[en_GB]=Interlingue
Name[eo]=Interlingue
Name[es]=Interlingue
Name[eu]=Interlingue
Name[fi]=Interlingua
Name[fr]=Interlingua
Name[gl]=Interlingua
Name[he]=אינטרלינגה
Name[hu]=Interlingua
Name[ia]=Interlingue
Name[is]=Interlingue
Name[it]=Interlingue
Name[ka]=ოქსიდენტური
Name[ko]=국제어(Interlingue)
Name[lt]=Interlingvė
Name[lv]=Interlingve
Name[nl]=Interlingue
Name[nn]=Interlingue
Name[pa]=ਇੰਟਰਈਨੂਗੂਈ
Name[pl]=Interlingua
Name[pt]=Interlingue
Name[pt_BR]=Interlíngua
Name[ro]=Interlingue
Name[ru]=Интерлингве
Name[sk]=Interlingue
Name[sl]=Interlingva
Name[sv]=Interlingue
Name[ta]=இன்டெர்லிங்குவே
Name[tr]=İnterlingue
Name[uk]=Окциденталь
Name[vi]=Tiếng Interlingue
Name[x-test]=xxInterlinguexx
Name[zh_CN]=拉丁国际语
Name[zh_TW]=西方國際語
