Source: system-core
Section: lingmo
Priority: required
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.5.0

Package: system-core
Architecture: any
Section: lingmo
Priority: required
Depends: appmotor,
         base-files,
         kscreen,
         khotkeys,
         lingmo-base-files,
         liblingmo,
         libkf5jobwidgets5,
         lingmo-core,
         lingmo-control-panel,
         lingmo-clock,
         lingmo-cursor-themes,
         lingmo-calculator,
         lingmo-grub-config,
         lingmo-daemon,
         lingmo-debinstaller,
         lingmo-dock,
         lingmo-filemanager,
         lingmo-gtk-themes,
         lingmo-kwin-plugins,
         lingmo-launcher,
         lingmo-notepad,
         lingmo-plymouth,
         lingmo-screenlocker,
         lingmo-sddm-theme,
         lingmo-settings,
         lingmo-statusbar,
         lingmo-systemicons,
         lingmo-system-monitor,
         lingmo-terminal,
         lingmo-wallpapers,
         lingmo-watchdog,
         lingmo-workspace,
         lingmo-welcome,
         lingmo-ocr,
         lingmo-updator,
         lingmoui,
         ocean
Description: Informational list of lingmo-workspace-base packages.
