# Translation of kconfigwidgets5 to Norwegian Bokmål
#
# Knut Yrvin <knut.yrvin@gmail.com>, 2002, 2003, 2004, 2005.
# Bjørn Steensrud <bjornst@skogkatt.homelinux.org>, 2002, 2003, 2004, 2005, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015.
# Eskild Hustvedt <zerodogg@skolelinux.no>, 2004, 2005.
# Gaute Hvoslef Kvalnes <gaute@verdsveven.com>, 2004, 2005.
# Axel Bojer <fri_programvare@bojer.no>, 2005, 2006.
# Nils Kristian Tomren <slx@nilsk.net>, 2005, 2007.
# Øyvind A. Holm <sunny@sunbase.org>, 2009.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-12-08 00:42+0000\n"
"PO-Revision-Date: 2015-02-24 20:39+0100\n"
"Last-Translator: Bjørn Steensrud <bjornst@skogkatt.homelinux.org>\n"
"Language-Team: Norwegian Bokmål <l10n-no@lister.huftis.org>\n"
"Language: nb\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.5\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Environment: kde\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Knut Yrvin,Axel Bojer,Bjørn Steensrud"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"knut.yrvin@gmail.com,fri_programvare@bojer.no,bjornst@skogkatt.homelinux.org"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Du blir bedt om å autentisere deg før lagring"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Du har ikke lov til å lagre oppsettet"

#: kcodecaction.cpp:67
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Standard"

#: kcodecaction.cpp:75
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Oppdag automatisk"

#: kcolorschememanager.cpp:220 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr ""

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Sett opp"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:326
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr ""

#: khamburgermenu.cpp:352
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr ""

#: khamburgermenu.cpp:353
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr ""

#: krecentfilesaction.cpp:71
#, kde-format
msgid "No Entries"
msgstr "Ingen oppføringer"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "Clear List"
msgstr "Tøm liste"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Tilbake"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Fram"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Hjem"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Hjelp"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Vis menylinja <p>Viser menylinja igjen etter at den har vært skjult</p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Vis statuslinja<p>Viser statuslinja, som er den linja nederst i vinduet som "
"brukes til å vise statusinformasjon.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Ny"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "Lag et nytt dokument"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Åpne …"

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "Åpne et eksisterende dokument"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "Nylig &brukt"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "Åpne et nylig åpnet dokument"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Lagre"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "Lagre dokumentet"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "Lagre &som …"

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "Lagre dokumentet med et nytt navn"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "&Tilbakestill"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "Tilbakestill ulagrede endringer gjort i dokumentet"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Lukk"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "Lukk dokumentet"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "Sk&riv ut …"

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "Skriv ut dokumentet"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "Forhånds&visning av utskrift"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "Vis forhåndsvisning av dokumentutskriften"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "S&end e-post …"

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "Send dokumentet med e-post"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&Avslutt"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Avslutt program"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&Angre"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "Angre forrige handling"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "&Gjør om"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "Gjør forrige angrede handling på nytt"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "&Klipp ut"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "Klipp ut utvalget til utklippstavla"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "Ko&pier"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "Kopier utvalget til utklippstavla"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&Lim inn"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "Lim inn innholdet i utklippstavla"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "&Tøm"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "Velg &alt"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "Ve&lg bort"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Finn …"

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "Finn &neste"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "Finn forri&ge"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Erstatt …"

#: kstandardaction_p.h:58
msgid "Zoom to &Actual Size"
msgstr ""

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "Vis dokumentet i virkelig størrelse"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&Tilpass sidestørrelsen"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "Tilpass sida til vindustørrelsen"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "Tilpass til side&bredden"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "Tilpass så sidebredden passer i vinduet"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "Tilpass til side&høyden"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "Tilpass så sidehøyden passer i vinduet"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "Vis &større"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "Vis &mindre"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Vis større/mindre …"

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "Velg forstørringsnivå"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr ""

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Opp"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "Gå opp"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&Forrige side"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "Gå til forrige side"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Neste side"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "Gå til neste side"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&Gå til …"

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "&Gå til side …"

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "&Gå til linje …"

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&Første side"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "Gå til første side"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&Siste side"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "Gå til siste side"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&Tilbake"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "Gå bakover i dokumentet"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "&Forover"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "Gå forover i dokumentet"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "&Legg til bokmerke"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&Rediger bokmerker …"

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&Stavekontroll …"

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "Kjør stavekontroll i dokumentet"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "Vis &menylinje"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "Vis eller skjul menylinja"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "Vis &verktøylinje"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "Vis eller skjul verktøylinje"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "Vis &statuslinja"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "Vis eller skjul statuslinja"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "F&ullskjermmodus"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&Lagre innstillinger"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr ""

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "&Oppsett av %1 …"

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "Oppsett av verktøy&linjer …"

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "Oppsett av &varslinger …"

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1-&håndbok"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "Hva er &dette?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "&Dagens tips"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "&Rapporter feil …"

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr ""

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&Om %1"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "Om &KDE"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr ""

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr ""

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr ""

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Dagens tips"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Visste du …?\n"

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Vis ved oppstart"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Forrige"

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Neste"
