[Desktop Entry]
Terminal=false
Name=Plasmoidviewer
Name[az]=Plasmoidlərə baxış
Name[be]=Прагляд плазмоідаў
Name[bg]=Преглед на уиджети
Name[ca]=Plasmoidviewer
Name[ca@valencia]=Plasmoidviewer
Name[cs]=Plasmoidviewer
Name[da]=Plasmoidviewer
Name[de]=PlasmoidViewer
Name[el]=Plasmoidviewer
Name[en_GB]=Plasmoidviewer
Name[eo]=Plasmoidviewer
Name[es]=Visor de plasmoides
Name[et]=Plasmoidide näitaja
Name[eu]=Plasmoid erakusle shell
Name[fi]=Plasmoidviewer
Name[fr]=Afficheur de composants graphiques
Name[gl]=Plasmoidviewer
Name[he]=מציג Plasmoids
Name[hu]=Plasmoidviewer
Name[ia]=Plasmoidviewer
Name[id]=Plasmoidviewer
Name[it]=Plasmoidviewer
Name[ka]=Plasmoidviewer
Name[ko]=Plasmoidviewer
Name[lt]=Lingmo įskiepių žiūryklė
Name[nl]=Plasmoidviewer
Name[nn]=PlasmoidViewer
Name[pl]=Przeglądarka plazmoidów
Name[pt]=Visualizador de Plasmóides
Name[pt_BR]=Plasmoidviewer
Name[ru]=Просмотр виджета Lingmo
Name[sk]=PlasmoidViewer
Name[sl]=PlasmoidViewer
Name[sv]=Plasmoid-visning
Name[tr]=Plasmoid Görüntüleyicisi
Name[uk]=Перегляд плазмоїдів
Name[x-test]=xxPlasmoidviewerxx
Name[zh_CN]=Lingmo 小程序查看器
Name[zh_TW]=Plasmoidviewer
GenericName=Lingmo Widget Testing Tool
GenericName[az]=Lingmo vidjetlərini test olunma aləti
GenericName[be]=Інструмент для тэставання віджэтаў Lingmo
GenericName[bg]=Инструмент за тестване на уиджети на Lingmo
GenericName[ca]=Eina de proves de ginys del Lingmo
GenericName[ca@valencia]=Eina de proves de ginys de Lingmo
GenericName[cs]=Nástroj na testování widgetů Lingmo
GenericName[da]=Testværktøj til Lingmo-widgets
GenericName[de]=Testprogramm für Lingmo-Bedienelemente
GenericName[el]=Εργαλείο δοκιμών γραφικών συστατικών Lingmo
GenericName[en_GB]=Lingmo Widget Testing Tool
GenericName[eo]=Lingmo Widget Testa Ilo
GenericName[es]=Herramienta de prueba de elementos gráficos de Lingmo
GenericName[et]=Lingmo vidinate testimise tööriist
GenericName[eu]=Lingmoko trepetak probatzeko tresna
GenericName[fi]=Lingmo-sovelmien testaustyökalu
GenericName[fr]=Outil de test des composants graphiques Lingmo
GenericName[gl]=Ferramenta de proba de trebellos de Lingmo
GenericName[he]=כלי לבדיקת יישומונים של פלזמה
GenericName[hu]=Lingmo widgettesztelő eszköz
GenericName[ia]=Instrumento de testar Widget de Lingmo
GenericName[id]=Alat Pengujian Widget Lingmo
GenericName[it]=Strumento di test degli oggetti di Lingmo
GenericName[ka]=Lingmo-ის ვიჯეტს დასატესტი ხელსაწყო
GenericName[ko]=Lingmo 위젯 테스트 도구
GenericName[lt]=Lingmo valdiklių testavimo įrankis
GenericName[nl]=Hulpmiddel voor testen van Lingmo Widget
GenericName[nn]=Testverktøy for Lingmo-element
GenericName[pl]=Narzędzie do próbowania na elementach interfejsu Plazmy
GenericName[pt]=Ferramenta de Testes de Elementos do Lingmo
GenericName[pt_BR]=Ferramenta de testes de widgets do Lingmo
GenericName[ru]=Тестирование виджетов Lingmo
GenericName[sk]=Nástroj na testovanie Lingmo Widget-ov
GenericName[sl]=Testirno orodje za gradnike Plasme
GenericName[sv]=Testverktyg för Lingmo grafiska komponenter
GenericName[tr]=Lingmo Araç Takımı Sınama Aracı
GenericName[uk]=Інструмент для тестування віджетів Плазми
GenericName[x-test]=xxLingmo Widget Testing Toolxx
GenericName[zh_CN]=Lingmo 挂件测试工具
GenericName[zh_TW]=Lingmo 元件測試工具
Comment=Testing tool for Lingmo applets
Comment[az]=Lingmo əlavələrinin test olunması aləti
Comment[be]=Інструмент для тэставання аплетаў Lingmo
Comment[bg]=Инструмент за тестване на аплети на Lingmo
Comment[ca]=Eina de proves per a les miniaplicacions del Lingmo
Comment[ca@valencia]=Eina de proves per a les miniaplicacions de Lingmo
Comment[cs]=Testovací nástroj pro applety Lingmo
Comment[da]=Testværktøj til Lingmo-applets
Comment[de]=Test-Werkzeug für Lingmo-Miniprogramme
Comment[el]=Δοκιμαστικά εργαλεία για μικροεφαρμογές Lingmo
Comment[en_GB]=Testing tool for Lingmo applets
Comment[eo]=Testilo por Lingmo-apletoj
Comment[es]=Herramienta de prueba para miniaplicaciones de Lingmo
Comment[et]=Lingmo aplettide testimise tööriist
Comment[eu]=Lingmo appletak probatzeko tresna
Comment[fi]=Lingmo-sovelmien testaustyökalu
Comment[fr]=Outil de test pour les applets Lingmo
Comment[gl]=Ferramenta de probas para trebellos de Lingmo.
Comment[he]=כלי בדיקת יישומוניות של פלזמה
Comment[hu]=Tesztelő eszköz Lingmo kisalkalmazásokhoz
Comment[ia]=Instrumento de essayar pro applets de Lingmo
Comment[id]=Alat pengujian untuk applet Lingmo
Comment[it]=Strumento di prova delle applet di Lingmo
Comment[ka]=Lingmo-ის აპლეტების დასატესტი ხელსაწყო
Comment[ko]=Lingmo 애플릿 테스트 도구
Comment[lt]=Lingmo programėlių testavimo įrankis
Comment[nl]=Testhulpmiddel voor Lingmo-applets
Comment[nn]=Testverktøy for Lingmo-element
Comment[pl]=Narzędzie do prób apletów Plazmy
Comment[pt]=Ferramenta de testes de elementos do Lingmo
Comment[pt_BR]=Ferramenta de testes de miniaplicativos Lingmo
Comment[ru]=Инструмент тестирования виджетов Lingmo
Comment[sk]=Testovací nástroj pre Lingmo applety
Comment[sl]=Testirno orodje za programčke v Plasmi
Comment[sv]=Testverktyg för Lingmo miniprogram
Comment[tr]=Lingmo uygulamacıkları için sınama aracı
Comment[uk]=Засіб тестування аплетів Плазми
Comment[x-test]=xxTesting tool for Lingmo appletsxx
Comment[zh_CN]=Lingmo 小程序测试工具
Comment[zh_TW]=Lingmo 小程式測試工具
Exec=plasmoidviewer
Icon=lingmo
Type=Application
Categories=Qt;KDE;Development;IDE;
NoDisplay=true
