[Desktop Entry]
Name=Pictures
Name[zh_CN]=看图
Name[bo_CN]=རི་མོར་ལྟ་བ།
Name[zh_HK]=看圖
Name[mn_MN]=ᠵᠢᠷᠤᠭ ᠦᠵᠡᠬᠦ<
Name[kk_KZ]=راسىم كورۋ
Name[ug_CN]=رەسىم كۆرۈش
Name[ky_KG]=سۉرۅت  كۅرۉۉ
Name[de_DE]=Bilder
Name[es_ES]=Fotos
Name[fr_FR]=Photos
Comment=Photo viewer, support to view, zoom and rotate images of various formats
Comment[zh_CN]=图片查看器，支持多种格式的图片的查看、缩放和旋转
Comment[bo_CN]=པར་རིས་ལྟ་ཆས་ཀྱི་རྣམ་གཞག་སྣ་མང་གི་པར་རིས་ལྟ་ཐུབ་པ་དང་།སྐྱེད་སྐྱུང་དང་འཁྱིལ་འཁོར་ལ་རྒྱབ་སྐྱོར་བྱེད་ཐུབ།
Comment[zh_HK]=圖片查看器，支持多種格式的圖片的查看、縮放和旋轉
Comment[mn_MN]= ᠵᠢᠷᠤᠭ ᠦᠵᠡᠬᠦᠷ ᠨᠢ ᠣᠯᠠᠨ ᠵᠠᠭᠪᠤᠷ ᠤ᠋ᠨ ᠵᠢᠷᠤᠭ ᠢ᠋ ᠬᠠᠢᠵᠤ ᠦᠵᠡᠬᠦ᠂ ᠠᠪᠴᠢᠭᠤᠯᠬᠤ᠂ ᠡᠷᠬᠢᠯᠳᠦᠬᠦᠯᠬᠦ ᠵᠢ ᠳᠡᠮᠵᠢᠨ<180e>ᠡ
Comment[kk_KZ]=رەسىم كۆرگۈچ ، ھەر خىل فورماتلارنىڭ رەسىملىرىنى كۆرۈش ، چوڭايتىش ۋە ئايلىنىشنى قوللاش
Comment[ug_CN]=رەسىم كۆرگۈچ ، ھەر خىل فورماتلارنىڭ رەسىملىرىنى كۆرۈش ، چوڭايتىش ۋە ئايلىنىشنى قوللاش
Comment[ky_KG]=رەسىم كۆرگۈچ ، ھەر خىل فورماتلارنىڭ رەسىملىرىنى كۆرۈش ، چوڭايتىش ۋە ئايلىنىشنى قوللاش
Comment[de_DE]=Fotobetrachter, Unterstützung zum Anzeigen, Zoomen und Drehen von Bildern verschiedener Formate
Comment[es_ES]=Visor de fotos, soporte para ver, hacer zoom y rotar imágenes de varios formatos
Comment[fr_FR]=Visionneuse de photos, prise en charge de la visualisation, du zoom et de la rotation d’images de différents formats
GenericName=Photo Viewer
GenericName[zh_CN]=看图
GenericName[bo_CN]=རི་མོར་ལྟ་བ།
GenericName[zh_HK]=看圖
GenericName[mn_MN]=ᠵᠢᠷᠤᠭ ᠦᠵᠡᠬᠦ
GenericName[kk_KZ]=راسىم كورۋ
GenericName[ug_CN]=رەسىم كۆرۈش
GenericName[ky_KG]=سۉرۅت  كۅرۉۉ
GenericName[de_DE]=Fotobetrachter
GenericName[es_ES]=Visor de fotos
GenericName[fr_FR]=Visionneuse de photos
Exec=/usr/bin/lingmo-photo-viewer %u
Icon=lingmo-photo-viewer
Type=Application
Categories=Graphics;
MimeType=application/ico;application/x-navi-animation;audio/x-riff;image/bmp;image/gif;image/ico;image/icon;image/jpeg;image/jpg;image/jpx;image/pjpeg;image/png;image/qtif;image/svg;image/svg+xml;image/svg+xml-compressed;image/svg-xml;image/tiff;image/vnd.adobe.svg+xml;image/vnd.microsoft.icon;image/vnd.wap.wbmp;image/webp;image/x-MS-bmp;image/x-adobe-dng;image/x-bmp;image/x-canon-cr2;image/x-canon-crw;image/x-compressed-xcf;image/x-epson-erf;image/x-fuji-raf;image/x-gray;image/x-icb;image/x-icns;image/x-ico;image/x-icon;image/x-minolta-mrw;image/x-nikon-nef;image/x-olympus-orf;image/x-pcx;image/x-pentax-pef;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-quicktime;image/x-sony-arw;image/x-tga;image/x-win-bitmap;image/x-wmf;image/x-xbitmap;image/x-xcf;image/x-xpixmap;text/ico;text/xml-svg;image/x-sun-raster;image/x-cmu-raster;image/jp2;image/x-exr;image/x-psd;
