<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
<vendor>Foo Control Module</vendor>
<icon_name>preferences-desktop-display</icon_name>
   <action id="org.kde.kcontrol.kcmplymouth.save" >
      <description xml:lang="ca">Desa el tema del Foo</description>
      <description>Save the Foo Theme</description>
      <description xml:lang="en_GB">Save the Foo Theme</description>
      <description xml:lang="zh_CN">保存 Foo 主题</description>
      <message xml:lang="ca">Les polítiques del sistema impedeixen que apliqueu el tema del Foo.</message>
      <message>Authenticate to apply the Foo theme.</message>
      <message xml:lang="en_GB">System policies prevent you from applying the Foo theme.</message>
      <message xml:lang="zh_CN">系统策略阻止您应用 Foo 主题。</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin</allow_active>
      </defaults>
   </action>
</policyconfig>
