[Desktop Entry]
Categories=Utility
Exec=/usr/bin/dde-introduction
GenericName=Welcome
Icon=dde-introduction
Name=deepin Welcome
Type=Application
X-Deepin-TurboType=dtkwidget
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[ar]=المقدمة
GenericName[ast]=Introducción
GenericName[bg]=Въведение
GenericName[bn]=পরিচয়
GenericName[bo]=བསུ་བ་ཞུ།
GenericName[ca]=Introducció
GenericName[cs]=Úvod
GenericName[da]=Introduktion
GenericName[de]=Einführung
GenericName[el]=Εισαγωγή
GenericName[en_AU]=Introduction
GenericName[es]=Introducción
GenericName[et]=Tutvustus
GenericName[fa]=معرفی
GenericName[fi]=Johdanto
GenericName[fr]=Introduction
GenericName[gl_ES]=Introdución
GenericName[hi_IN]=परिचय
GenericName[hr]=Uvod
GenericName[hu]=Bemutatkozás
GenericName[id]=Pengenalan
GenericName[it]=Introduzione
GenericName[ja]=イントロダクション
GenericName[kab]=Tazwart
GenericName[km_KH]=សេចក្តីផ្តើម
GenericName[ko]=소개
GenericName[lo]=ການແນະນໍາ
GenericName[lt]=Įžanga
GenericName[mn]=Танилцуулга
GenericName[ms]=Pengenalan
GenericName[ne]=परिचय
GenericName[nl]=Introductie
GenericName[pa]=ਜਾਣ-ਪਛਾਣ
GenericName[pl]=Wprowadzenie
GenericName[pt]=Introdução
GenericName[pt_BR]=Primeiros Passos
GenericName[ro]=Introducere
GenericName[ru]=Введение
GenericName[si]=හැඳින්වීම
GenericName[sk]=Úvod
GenericName[sl]=Uvod
GenericName[sq]=Hyrje
GenericName[sr]=Представљање
GenericName[sv]=Introduktion
GenericName[sw]=Utangulizi
GenericName[tr]=Tanıtım
GenericName[ug]=قارشى ئالىمىز
GenericName[uk]=Вступ
GenericName[vi]=Giới thiệu
GenericName[zh_CN]=欢迎
GenericName[zh_HK]=歡迎
GenericName[zh_TW]=歡迎
Name[ar]=مقدمة ديبين
Name[ast]=Deepin Introduction
Name[bg]=Deepin въведение
Name[bn]=ডিপিন  পরিচয়
Name[bo]=deepin བསུ་བ་ཞུ།
Name[ca]=Introducció al Deepin
Name[cs]=Úvod
Name[da]=Deepin introduktion
Name[de]=Einführung in Deepin
Name[el]=Εισαγωγή Deepin
Name[en_AU]=Deepin Introduction
Name[es]=Introducción
Name[et]=Deepini tutvustus
Name[fa]=معرفی دیپین
Name[fi]=Deepin johdanto
Name[fr]=Introduction de Deepin
Name[gl_ES]=Introdución Deepin
Name[hi_IN]=Deepin परिचय
Name[hr]=Deepin uvod
Name[hu]=Deepin® Bemutatkozás
Name[id]=Pengenalan Deepin
Name[it]=Introduzione a Deepin
Name[ja]=Deepin イントロダクション
Name[kab]=Tazwart n Deepin
Name[km_KH]=សេចក្តីផ្តើម Deepin
Name[ko]=Deepin 소개
Name[lo]=ການແນະນໍາ ດີບປີນ
Name[lt]=Deepin įžanga
Name[mn]=Дээпин танилцуулга
Name[ms]=Pengenalan Deepin
Name[ne]=डिपिन परिचय
Name[nl]=Deepin Introductie
Name[pa]=ਡੀਪਿਨ ਜਾਣ-ਪਛਾਣ
Name[pl]=Wprowadzenie do systemu Deepin
Name[pt]=Introdução Deepin
Name[pt_BR]=deepin Primeiros Passos
Name[ro]=Introducere Deepin
Name[ru]=Введение в Deepin
Name[si]=Deepin - ඩීපින් හැඳින්වීම
Name[sk]=Deepin Úvod
Name[sl]=Uvod v Deepin
Name[sq]=Hyrje në Deepin
Name[sr]=Дипин Представљање
Name[sv]=Deepin Introduktion
Name[sw]=Utangulizi ya Deepin
Name[tr]=Deepin Tanıtımı
Name[ug]=deepin سىزنى قارشى ئالىدۇ
Name[uk]=Вступ до Deepin
Name[vi]=Giới thiệu về Deepin
Name[zh_CN]=深度欢迎
Name[zh_HK]=deepin 歡迎
Name[zh_TW]=deepin 歡迎

