<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>LINGMOOS</vendor>
  <vendor_url>http://www.kylinos.cn</vendor_url>
  <icon_name>ues</icon_name>

  <action id="org.lingmo.lingmosdk.chpasswd">
    <description>change the password</description>
    <description xml:lang="zh">修改密码</description>
    <description xml:lang="bo">བཟོ་བཅོས་ཨང་ཡིག། </description>
    <message>Authorization required to modify user password.</message>
    <message xml:lang="zh">需要授权以修改用户密码</message>
    <message xml:lang="bo">དགོས་མཁོ་འི་དབང་ཆ་ར་བརྟེན་ནས་བཟོ་བཅོས་སྤྱོད་མཁན་ཨང་ཡིག། </message>
    <defaults>
      <allow_any>auth_self</allow_any>
      <allow_inactive>auth_self</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>

</policyconfig>
