<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="khtmlpart" version="7">
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
 <Action name="decFontSizes" />
 <Separator />
 <Action name="security" />
</ToolBar>
</gui>
