[Unit]
Description=ocean-permission-manager service

[Service]
Type=dbus
BusName=org.lingmo.ocean.Permission1
ExecStart=/usr/bin/ocean-permission-manager
Restart=on-failure

[Install]
WantedBy=default.target
