# SOME DESCRIPTIVE TITLE.
# Copyright (C) YEAR This file is copyright:
# This file is distributed under the same license as the kconfigwidgets package.
# FIRST AUTHOR <EMAIL@ADDRESS>, YEAR.
#
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-12-08 00:42+0000\n"
"PO-Revision-Date: 2022-11-16 08:35+0100\n"
"Last-Translator: Temuri Doghonadze <temuri.doghonadze@gmail.com>\n"
"Language-Team: Georgian <kde-i18n-doc@kde.org>\n"
"Language: ka\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Generator: Poedit 3.2\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Temuri Doghonadze"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "Temuri.doghonadze@gmail.com"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "შენახვამდე ავთენტიკაციას მოგთხოვთ"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "თქვენ არ გაქვთ უფლება შეინახოთ კონფიგურაცია"

#: kcodecaction.cpp:67
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "ნაგულისხმები"

#: kcodecaction.cpp:75
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "ავტოამოცნობა"

#: kcolorschememanager.cpp:220 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr "ფერების სქემა"

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "ნაგულისხმები"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr "ფილტრის შესაბამისი ბრძანებები არ არსებობს"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "მორგება"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&მენიუ"

#: khamburgermenu.cpp:326
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "&მენიუს ზოლის ჩვენება, ყველა ქმედებით"

#: khamburgermenu.cpp:352
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "მეტი"

#: khamburgermenu.cpp:353
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "მეტი ქმედება"

#: krecentfilesaction.cpp:71
#, kde-format
msgid "No Entries"
msgstr "ჩანაწერის გარეშე"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "Clear List"
msgstr "სიის გასუფთავება"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&უკან"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&წინ"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&სახლი"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&დახმარება"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"მენიუს ზოლის ჩვენება<p>მენიუს ზოლის თავიდან ჩვენება მას შემდეგ, რაც ის "
"დამალეთ</p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"სტატუსის ზოლის ჩვენება<p>სტატუსის ზოლის ჩვენება. ეს ფანჯრის ქვედა მხის "
"ზოლია, სადაც სტატუსის ინფორმაციის წაკითხვა შეგიძლიათ.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&ახალი"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "ახალი დოკუმენტის შექმნა"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&გახსნა..."

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "უკვე არსებული დოკუმენტის გახსნა"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "ბოლოს გახსნილი ფაილების გახსნა"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "ახლახანს გახსნილი დოკუმენტის გახსნა"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&შენახვა"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "დოკუმენტის შენახვა"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "შეინახვა &როგორც..."

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "დოკუმენტის ახალი სახელით შენახვა"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "&დაბრუნება"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "დოკუმენტზე განხორციელებული ცვლილებების გაუქმება"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "დაკე&ტვა"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "დოკუმენტის დახურვა"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "&ამობეჭდვა..."

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "დოკუმენტის დაბეჭდვა"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "&დასაბეჭდის გადახედვა"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "მიმდინარე დოკუმენტების დაბეჭდვისწინა გადახედვის ჩვენება"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&ფოსტა..."

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "დოკუმენტის ელფოსტით გაგზავნა"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&გასვლა"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "აპლიკაციიდან გასვლა"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&დაბრუნება"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "ბოლო ბრძანების გაუქმება"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "&გამეორება"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "ბოლო დაბრუნებული ცვლილების გამეორება"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "ამო&ჭრა"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "მონიშნულის ბუფერში ამოჭრა"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "&კოპირება"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "მონიშნულის ბუფერში კოპირება"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&ჩასმა"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "გაცვლის ბუფერიდან ჩასმა"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "გასუ&ფთავება"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "ყველაფრის &მონიშვნა"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "&მონიშვნის მოხსნა"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&პოვნა..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "&მომდევნოს მოძებნა"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "&წინას მოძებნა"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&ჩანაცვლება..."

#: kstandardaction_p.h:58
msgid "Zoom to &Actual Size"
msgstr "&რეალური ზომამდე გადიდება"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "დოკუმენტის რეალური ზომებით ნახვა"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&გვერდში ჩატევა"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "გვერდში ჩატევამდე გადიდება"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "გვერდის &სიგანეში ჩატევა"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "გვერდის სიგანეში ჩატევამდე გადიდება"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "გვერდის &სიმაღლეში ჩატევა"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "გვერდის სიმაღლეში ჩატევამდე გადიდება"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "შემცირება"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "გადიდება"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&გადიდება..."

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "გადიდების დონე"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "&განახლება"

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr "დოკუმენტის განახლება"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&მაღლა"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "მაღლა ასვლა"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&წინა გვერდი"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "წინა გვერდზე"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&შემდეგი გვერდი"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "შემდეგ გვერდზე გადასვლა"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&გადასვლა..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "&გადადით გვერდზე..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "&გადადით ხაზზე..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&პირველი გვერდი"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "პირველ გვერდზე"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&ბოლო გვერდი"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "ბოლო გვერდზე"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&უკან"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "დოკუმენტში უკან გადასვლა"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "&წინ"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "დოკუმენტში წინ გადასვლა"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "სანიშნის &დამატება"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "სანიშნების &ჩასწორება..."

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&მართლწერა..."

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "დოკუმენტის მართლწერის შემოწმება"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "&მენიუს ზოლის ჩვენება"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "მენიუს ზოლის ჩვენება/დამალვა"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "&პანელის ჩვენება"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "ხელსაწყოთა ზოლის ჩვენება/დამალვა"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "სტატუსის &ზოლის ჩვენება"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "სტატუსის ზოლის ჩვენება/დამალვა"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "&მთელ-ეკრანზე"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&პარამეტრების შენახვა"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "კლავიატურის &მალსახმობების მორგება..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "%1-ის &მორგება..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "ხელსაწყოების &პანელების მორგება...."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "&შეტყობინებების მორგება..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1-ის &სახელმძღვანელო"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "რა არის &ეს?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "&დღის მინიშნება"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "&შეცდომის ანგარიში..."

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "&ენის მორგება..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "%1-ის &შესახებ"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "&KDE-ს შესახებ"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "&წაშლა"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "&სახელის გადარქმევა..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "&სანაგვე ყუთში გადატანა"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "&შეწირვა"

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr "&მენიუს გახსნა"

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "დღის მინიშნება"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "იცოდით ...?\n"

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&გაშვებისას მინიშნებების ჩვენება"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&წინა"

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&შემდეგი"
