Source: ocean-network-core
Section: libs
Priority: optional
Maintainer: donghualin <donghualin@uniontech.com>
Build-Depends: debhelper-compat (= 12),
               cmake,
               libglib2.0-dev (>= 2.32),
               libgsettings-qt-dev,
               pkg-config,
               qtbase5-dev,
               qttools5-dev-tools,
               libgtest-dev,
               libkf5networkmanagerqt-dev (>= 5.90.0),
               libdtkwidget-dev,
               ocean-control-center-dev,
               ocean-session-shell-dev,
               libudev-dev,
               qttools5-dev,
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-tools-dev,
               libdtk6core-dev,
               libkf6networkmanagerqt-dev
Rules-Requires-Root: no
Standards-Version: 4.5.0
Homepage: https://gerrit.uniontech.com/admin/repos/ocean-network-core
Vcs-Browser: https://gerrit.uniontech.com/admin/repos/ocean-network-core

Package: libocean-network-core
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},
Description: the library of network
 libocean-network-core module

Package: libocean-network-core-dev
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},libocean-network-core (= ${binary:Version})
Description: the interface of networkcode,used for developers
 libocean-network-core-dev module

Package: oceanui-network-plugin
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},network-manager-integration-plugins,libocean-network-core (= ${binary:Version})
Description: the plugin of network for ocean control center
 oceanui-network-plugin module

Package: dss-network-plugin
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},libocean-network-core (= ${binary:Version})
Description: the plugin of network for ocean-lock
 dss-network-plugin module
