[Unit]
Description=Lingmo system monitor system server

[Service]
Type=dbus
BusName=com.lingmo.SystemMonitorSystemServer
ExecStart=/usr/lib/lingmo-daemon/lingmo-system-monitor-system-server
StandardOutput=syslog
CapabilityBoundingSet=~
MemoryLimit=1G
IOWeight=200