[Desktop Entry]
Name=ocean-dark
Comment=ocean-dark theme for Lingmo OS

X-KDE-PluginInfo-Author=ocean-dark
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=team@lingmo.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=ocean-dark
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[ContrastEffect]
enabled=false
contrast=0.3
intensity=1.9
saturation=1.9

[AdaptiveTransparency]
enabled = true

[Settings]
FallbackTheme=oxygen

[BlurBehindEffect]
enabled=true
