Source: dde-file-manager-external
Section: libdevel
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends:
 cmake,
 debhelper (>=9),
 pkg-config,
 qtbase5-dev,
 libqt5svg5-dev,
 libdtkwidget-dev,
 libdtkgui-dev,
 libdtkcore-dev,
 libdtkcore5-bin,
 qttools5-dev-tools,
 qttools5-dev,
 dde-control-center-dev,
 libdframeworkdbus-dev,
 libgtest-dev,
 libgmock-dev,
 libgsettings-qt-dev,
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: dcc-wallpapersetting-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: plugin of dde-control-center
 Wallpaper setting and screensaver setting plugin of dde-control-center which is created by dde-file-manager 
