Source: lingmo-texteditor
Section: devel
Priority: optional
Maintainer: LingmoOS Packaging Team <lingmo@lingmo.org>
Build-Depends: cmake,
               debhelper (>= 9),
	           libkf5syntaxhighlighting-dev
Standards-Version: 4.5.0
Homepage: https://github.com/LingmoOS/lingmo-texteditor

Package: lingmo-texteditor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LingmoOS Texteditor
