[Desktop Entry]
Type=Service
Icon=im-facebook
Comment=Facebook Protocol
Comment[ar]=ميفاق فيسبوك
Comment[az]=Facebook Protokolu
Comment[bg]=Протокол на Facebook
Comment[ca]=Protocol Facebook
Comment[ca@valencia]=Protocol Facebook
Comment[cs]=Protokol Facebook
Comment[da]=Facebook-protokollen
Comment[de]=Facebook-Protokoll
Comment[el]=Facebook πρωτόκολλο
Comment[en_GB]=Facebook Protocol
Comment[eo]=Facebook-Protokolo
Comment[es]=Protocolo Facebook
Comment[et]=Facebooki protokoll
Comment[eu]=Facebook Protokoloa
Comment[fi]=Facebook-yhteyskäytäntö
Comment[fr]=Protocole Facebook
Comment[gl]=Protocolo de Facebook
Comment[he]=פרוטוקול פייסבוק
Comment[hu]=Facebook protokoll
Comment[ia]=Protocollo de Facebook
Comment[id]=Protokol Facebook
Comment[it]=Protocollo di Facebook
Comment[ka]=Facebook პროტოკოლი
Comment[ko]=Facebook 프로토콜
Comment[lt]=Facebook protokolas
Comment[lv]=„Facebook“ protokols
Comment[nl]=Facebook-protocol
Comment[nn]=Facebook-protokoll
Comment[pl]=Protokół Facebooka
Comment[pt]=Protocolo do Facebook
Comment[pt_BR]=Protocolo do Facebook
Comment[ro]=Protocol Facebook
Comment[ru]=Протокол Facebook
Comment[sk]=Facebook Protokol
Comment[sl]=Protokol Facebook
Comment[sq]=Protokoli Facebook
Comment[sv]=Facebook-protokoll
Comment[tg]=Протоколи Facebook
Comment[tr]=Facebook Protokolü
Comment[uk]=Протокол Facebook
Comment[x-test]=xxFacebook Protocolxx
Comment[zh_CN]=Facebook 协议
Comment[zh_TW]=Facebook 通訊協定
Name=Facebook
Name[ar]=فيسبوك
Name[az]=FAcebook
Name[bg]=Facebook
Name[ca]=Facebook
Name[ca@valencia]=Facebook
Name[cs]=Facebook
Name[da]=Facebook
Name[de]=Facebook
Name[el]=Facebook
Name[en_GB]=Facebook
Name[eo]=Fejsbuko
Name[es]=Facebook
Name[et]=Facebook
Name[eu]=Facebook
Name[fi]=Facebook
Name[fr]=Facebook
Name[gl]=Facebook
Name[he]=פייסבוק
Name[hu]=Facebook
Name[ia]=Facebook
Name[id]=Facebook
Name[it]=Facebook
Name[ka]=Facebook
Name[ko]=Facebook
Name[lt]=Facebook
Name[lv]=Facebook
Name[nl]=Facebook
Name[nn]=Facebook
Name[pl]=Facebook
Name[pt]=Facebook
Name[pt_BR]=Facebook
Name[ro]=Facebook
Name[ru]=Facebook
Name[sk]=Facebook
Name[sl]=Facebook
Name[sq]=Facebook
Name[sv]=Facebook
Name[tg]=Facebook
Name[tr]=Facebook
Name[uk]=Facebook
Name[x-test]=xxFacebookxx
Name[zh_CN]=Facebook
Name[zh_TW]=Facebook
