[Desktop Entry]
Type=Service
Icon=im-gadugadu
Comment=Gadu-Gadu Protocol
Comment[ar]=ميفاق غادو-غادو
Comment[az]=Gadu-Gadu Protokolu
Comment[bg]=Протокол на Gadu-Gadu
Comment[ca]=Protocol Gadu-Gadu
Comment[ca@valencia]=Protocol Gadu-Gadu
Comment[cs]=Protokol Gadu-Gadu
Comment[da]=Gadu-Gadu-protokollen
Comment[de]=Gadu-Gadu-Protokoll
Comment[el]=Gadu-Gadu πρωτόκολλο
Comment[en_GB]=Gadu-Gadu Protocol
Comment[eo]=Gadu-Gadu-Protokolo
Comment[es]=Protocolo Gadu-Gadu
Comment[et]=Gadu-Gadu protokoll
Comment[eu]=Gadu-Gadu Protokoloa
Comment[fi]=Gadu-Gadu-yhteyskäytäntö
Comment[fr]=Protocole Gadu-Gadu
Comment[gl]=Protocolo de Gadu-Gadu
Comment[he]=פרוטוקול Gadu-Gadu
Comment[hu]=Gadu-Gadu protokoll
Comment[ia]=Protocollo Gadu-Gadu
Comment[id]=Protokol Gadu-Gadu
Comment[it]=Protocollo Gadu-Gadu
Comment[ja]=Gadu-Gadu プロトコル
Comment[ka]=გადუ-გადუს პროტოკოლი
Comment[ko]=Gadu-Gadu 프로토콜
Comment[lt]=Gadu-Gadu protokolas
Comment[lv]=„Gadu-Gadu“ protokols
Comment[nb]=Gadu-Gadu-protokoll
Comment[nl]=Gadu-Gadu-protocol
Comment[nn]=Gadu-Gadu-protokoll
Comment[pl]=Protokół Gadu-Gadu
Comment[pt]=Protocolo Gadu-Gadu
Comment[pt_BR]=Protocolo do Gadu-Gadu
Comment[ro]=Protocol Gadu-Gadu
Comment[ru]=Протокол Gadu-Gadu
Comment[sk]=Gadu-Gadu Protokol
Comment[sl]=Protokol Gadu-Gadu
Comment[sq]=Protokoli Gadu-Gadu
Comment[sv]=Gadu-Gadu protokoll
Comment[tg]=Протоколи Gadu-Gadu
Comment[tr]=Gadu-Gadu Protokolü
Comment[uk]=Протокол Gadu-Gadu
Comment[x-test]=xxGadu-Gadu Protocolxx
Comment[zh_CN]=Gadu-Gadu 协议
Comment[zh_TW]=Gadu-Gadu 通訊協定
Name=Gadu-Gadu
Name[ar]=غادو-غادو
Name[az]=Gadu-Gadu
Name[bg]=Gadu-Gadu
Name[ca]=Gadu-Gadu
Name[ca@valencia]=Gadu-Gadu
Name[cs]=Gadu-Gadu
Name[da]=Gadu-Gadu
Name[de]=Gadu-Gadu
Name[el]=Gadu-Gadu
Name[en_GB]=Gadu-Gadu
Name[eo]=Gadu-Gadu
Name[es]=Gadu-Gadu
Name[et]=Gadu-Gadu
Name[eu]=Gadu-Gadu
Name[fi]=Gadu-Gadu
Name[fr]=Gadu-Gadu
Name[gl]=Gadu-Gadu
Name[he]=Gadu-Gadu
Name[hu]=Gadu-Gadu
Name[ia]=Gadu-Gadu
Name[id]=Gadu-Gadu
Name[it]=Gadu-Gadu
Name[ja]=Gadu-Gadu
Name[ka]=Gadu-Gadu
Name[ko]=Gadu-Gadu
Name[lt]=Gadu-Gadu
Name[lv]=Gadu-Gadu
Name[nb]=Gadu-Gadu
Name[nl]=Gadu-Gadu
Name[nn]=Gadu-Gadu
Name[pl]=Gadu-Gadu
Name[pt]=Gadu-Gadu
Name[pt_BR]=Gadu-Gadu
Name[ro]=Gadu-Gadu
Name[ru]=Gadu-Gadu
Name[sk]=Gadu-Gadu
Name[sl]=Gadu-Gadu
Name[sq]=Gadu-Gadu
Name[sv]=Gadu-Gadu
Name[tg]=Gadu-Gadu
Name[tr]=Gadu-Gadu
Name[uk]=Gadu-Gadu
Name[x-test]=xxGadu-Gaduxx
Name[zh_CN]=Gadu-Gadu
Name[zh_TW]=Gadu-Gadu
