[Desktop Entry]
Type=Service
Icon=im-groupwise
Comment=Novell GroupWise Messenger
Comment[ar]=نوفل مرسال GroupWise
Comment[az]=Novell GroupWise Mesenceri
Comment[bg]=Моментни съобщения GroupWise на Novell
Comment[ca]=Novell GroupWise Messenger
Comment[ca@valencia]=Novell GroupWise Messenger
Comment[cs]=Novell GroupWise komunikátor
Comment[da]=Novell GroupWise Messenger
Comment[de]=Novell GroupWise Messenger
Comment[el]=Novell GroupWise Messenger
Comment[en_GB]=Novell GroupWise Messenger
Comment[eo]=Novell GroupWise Messenger
Comment[es]=Novell GroupWise Messenger
Comment[et]=Novelli GroupWise sõnumirakendus
Comment[eu]=Novell GroupWise Mezularia
Comment[fi]=Novell Groupwise -pikaviestin
Comment[fr]=Messagerie « GroupWise Novell »
Comment[gl]=Mensaxeiro GroupWise de Novell
Comment[he]=Novell GroupWise Messenger
Comment[hu]=Novell GroupWise Messenger
Comment[ia]=Messagero de GroupWise de Novell
Comment[id]=Perpesanan GroupWise Novell
Comment[it]=Novell GroupWise Messenger
Comment[ka]=Novell GroupWise Messenger
Comment[ko]=Novell GroupWise 메신저
Comment[lt]=Novell GroupWise pokalbių programa
Comment[lv]=Novell GroupWise Messenger
Comment[nb]=Novell GroupWise meldingsprogram
Comment[nl]=Protocol voor Novell GroupWise Messenger
Comment[nn]=Lynmeldingstenesta Novell GroupWise
Comment[pl]=Komunikator Novell GroupWise
Comment[pt]=Novell GroupWise Messenger
Comment[pt_BR]=Mensageiro do GroupWise da Novell
Comment[ro]=Mesager Novell GroupWise
Comment[ru]=Программа обмена сообщениями Novell GroupWise
Comment[sk]=Novell GroupWise Messenger
Comment[sl]=Novell GroupWise Messenger
Comment[sq]=Novell GroupWise Messenger
Comment[sv]=Novell GroupWise-meddelandeklient
Comment[tg]=Паёмнависи Novell GroupWise
Comment[tr]=Novell GroupWise Messenger
Comment[uk]=Програма обміну повідомленнями Novell GroupWise
Comment[x-test]=xxNovell GroupWise Messengerxx
Comment[zh_CN]=Novell GroupWise Messenger
Comment[zh_TW]=Novell GroupWise Messenger
Name=GroupWise
Name[ar]=GroupWise
Name[az]=GroupWise
Name[bg]=GroupWise
Name[ca]=GroupWise
Name[ca@valencia]=GroupWise
Name[cs]=GroupWise
Name[da]=GroupWise
Name[de]=GroupWise
Name[el]=GroupWise
Name[en_GB]=GroupWise
Name[eo]=GroupWise
Name[es]=GroupWise
Name[et]=GroupWise
Name[eu]=GroupWise
Name[fi]=GroupWise
Name[fr]=GroupWise
Name[gl]=GroupWise
Name[he]=GroupWise
Name[hu]=GroupWise
Name[ia]=GroupWise
Name[id]=GroupWise
Name[it]=GroupWise
Name[ja]=GroupWise
Name[ka]=GroupWise
Name[ko]=GroupWise
Name[lt]=GroupWise
Name[lv]=GroupWise
Name[nb]=GroupWise
Name[nl]=GroupWise
Name[nn]=GroupWise
Name[pl]=GroupWise
Name[pt]=GroupWise
Name[pt_BR]=GroupWise
Name[ro]=GroupWise
Name[ru]=GroupWise
Name[sk]=GroupWise
Name[sl]=GroupWise
Name[sq]=GroupWise
Name[sv]=GroupWise
Name[tg]=GroupWise
Name[tr]=GroupWise
Name[uk]=GroupWise
Name[x-test]=xxGroupWisexx
Name[zh_CN]=GroupWise
Name[zh_TW]=GroupWise
