[Desktop Entry]
Type=Service
Icon=im-irc
Comment=Internet Relay Chat
Comment[ar]=بروتوكول الدردشة عبر الإنترنت
Comment[az]=Internet Relay Chat (IRC)
Comment[bg]=Internet Relay Chat
Comment[ca]=Internet Relay Chat
Comment[ca@valencia]=Internet Relay Chat
Comment[cs]=Internet Relay Chat
Comment[da]=Internet Relay Chat
Comment[de]=Internet Relay Chat
Comment[el]=Internet Relay Chat
Comment[en_GB]=Internet Relay Chat
Comment[eo]=Interreta Relajsa Babilejo
Comment[es]=Internet Relay Chat
Comment[et]=IRC
Comment[eu]=IRC (Internet Relay Chat)
Comment[fi]=Internet Relay Chat
Comment[fr]=Internet Relay Chat
Comment[gl]=Internet Relay Chat
Comment[he]=ממסר צ׳אט באינטרנט
Comment[hu]=Internet Relay Chat
Comment[ia]=Internet Relay Chat (IRC)
Comment[id]=Internet Relay Chat
Comment[it]=Internet Relay Chat
Comment[ja]=インターネットリレーチャット
Comment[ka]=Internet Relay Chat
Comment[ko]=인터넷 릴레이 채팅
Comment[lt]=Tiesioginiai pokalbiai internete
Comment[lv]=Internetā retranslēta tērzēšana
Comment[nb]=Internet Relay Chat
Comment[nl]=Internet Relay Chat
Comment[nn]=Internet Relay Chat
Comment[pl]=Internet Relay Chat
Comment[pt]=Internet Relay Chat
Comment[pt_BR]=Bate-papo via Internet (IRC)
Comment[ro]=Internet Relay Chat
Comment[ru]=Internet Relay Chat (IRC)
Comment[sk]=Internet Relay Chat
Comment[sl]=Internet Relay Chat
Comment[sq]=Internet Relay Chat
Comment[sv]=Internet Relay Chat
Comment[tg]=Суҳбати иттисоли интернетӣ
Comment[tr]=IRC
Comment[uk]=Internet Relay Chat
Comment[x-test]=xxInternet Relay Chatxx
Comment[zh_CN]=互联网中继聊天
Comment[zh_TW]=網際網路中繼聊天 (IRC)
Name=IRC
Name[ar]=آي أر سي
Name[az]=IRC
Name[bg]=IRC
Name[ca]=IRC
Name[ca@valencia]=IRC
Name[cs]=IRC
Name[da]=IRC
Name[de]=IRC
Name[el]=IRC
Name[en_GB]=IRC
Name[eo]=IRC
Name[es]=IRC
Name[et]=IRC
Name[eu]=IRC
Name[fi]=IRC
Name[fr]=IRC
Name[gl]=IRC
Name[he]=IRC
Name[hu]=IRC
Name[ia]=IRC
Name[id]=IRC
Name[it]=IRC
Name[ja]=IRC
Name[ka]=IRC
Name[ko]=IRC
Name[lt]=IRC
Name[lv]=IRC
Name[nb]=IRC
Name[nl]=IRC
Name[nn]=IRC
Name[pl]=IRC
Name[pt]=IRC
Name[pt_BR]=IRC
Name[ro]=IRC
Name[ru]=IRC
Name[sk]=IRC
Name[sl]=IRC
Name[sq]=IRC
Name[sv]=IRC
Name[tg]=IRC
Name[tr]=IRC
Name[uk]=IRC
Name[x-test]=xxIRCxx
Name[zh_CN]=IRC
Name[zh_TW]=IRC
