[Desktop Entry]
Type=Service
Comment=Matrix
Comment[ar]=ماتريكس
Comment[az]=Matrix
Comment[bg]=Matrix
Comment[ca]=Matrix
Comment[ca@valencia]=Matrix
Comment[cs]=Matrix
Comment[de]=Matrix
Comment[el]=Matrix
Comment[en_GB]=Matrix
Comment[eo]=Matrico
Comment[es]=Matrix
Comment[eu]=Matrix
Comment[fi]=Matrix
Comment[fr]=Matrix
Comment[gl]=Matrix
Comment[he]=Matrix
Comment[hu]=Matrix
Comment[ia]=Matrix
Comment[it]=Matrix
Comment[ka]=Matrix
Comment[ko]=Matrix
Comment[lt]=Matrix
Comment[lv]=Matrix
Comment[nl]=Matrix
Comment[nn]=Matrix
Comment[pl]=Matrix
Comment[pt]=Matrix
Comment[pt_BR]=Matrix
Comment[ro]=Matrix
Comment[ru]=Matrix
Comment[sk]=Matica
Comment[sl]=Matrix
Comment[sv]=Matrix
Comment[tr]=Matrix
Comment[uk]=Matrix
Comment[x-test]=xxMatrixxx
Comment[zh_CN]=Matrix
Comment[zh_TW]=Matrix
Name=Matrix
Name[ar]=ماتريكس
Name[az]=Matrix
Name[bg]=Matrix
Name[ca]=Matrix
Name[ca@valencia]=Matrix
Name[cs]=Matrix
Name[de]=Matrix
Name[el]=Matrix
Name[en_GB]=Matrix
Name[eo]=Matrico
Name[es]=Matrix
Name[eu]=Matrix
Name[fi]=Matrix
Name[fr]=Matrix
Name[gl]=Matrix
Name[he]=Matrix
Name[hu]=Matrix
Name[ia]=Matrix
Name[it]=Matrix
Name[ka]=Matrix
Name[ko]=Matrix
Name[lt]=Matrix
Name[lv]=Matrix
Name[nl]=Matrix
Name[nn]=Matrix
Name[pl]=Matrix
Name[pt]=Matrix
Name[pt_BR]=Matrix
Name[ro]=Matrix
Name[ru]=Matrix
Name[sk]=Matica
Name[sl]=Matrix
Name[sv]=Matrix
Name[tr]=Matrix
Name[uk]=Matrix
Name[x-test]=xxMatrixxx
Name[zh_CN]=Matrix
Name[zh_TW]=Matrix
