[Desktop Entry]
Type=Service
Icon=im-meanwhile
Comment=Meanwhile Protocol
Comment[ar]=ميفاق Meanwhile
Comment[az]=Meanwhile Protokolu
Comment[bg]=Протокол на Meanwhile
Comment[ca]=Protocol Meanwhile
Comment[ca@valencia]=Protocol Meanwhile
Comment[cs]=Protokol Meanwhile
Comment[da]=Meanwhile-protokollen
Comment[de]=Meanwhile-Protokoll
Comment[el]=Meanwhile πρωτόκολλο
Comment[en_GB]=Meanwhile Protocol
Comment[eo]=Meanwhile-Protokolo
Comment[es]=Protocolo Meanwhile
Comment[et]=Meanwhile protokoll
Comment[eu]=Meanwhile Protokoloa
Comment[fi]=Meanwhile-yhteyskäytäntö
Comment[fr]=Protocole « Meanwhile »
Comment[gl]=Protocolo de Meanwhile
Comment[he]=פרוטוקול Meanwhile
Comment[hu]=Meanwhile protokoll
Comment[ia]=Protocollo Meanwhile
Comment[id]=Protokol Meanwhile
Comment[it]=Protocollo Meanwhile
Comment[ja]=Meanwhile プロトコル
Comment[ka]=Meanwhile პროტოკოლი
Comment[ko]=Meanwhile 프로토콜
Comment[lt]=Meanwhile protokolas
Comment[lv]=„Meanwhile“ protokols
Comment[nb]=Meanwhile-protokoll
Comment[nl]=Meanwhile-protocol
Comment[nn]=Meanwhile-protokoll
Comment[pl]=Protokół Meanwhile
Comment[pt]=Protocolo Meanwhile
Comment[pt_BR]=Protocolo do Meanwhile
Comment[ro]=Protocol Meanwhile
Comment[ru]=Протокол Meanwhile
Comment[sk]=Meanwhile Protokol
Comment[sl]=Protokol Meanwhile
Comment[sq]=Meanwhile Protocol
Comment[sv]=Meanwhile-protokoll
Comment[tg]=Протоколи Meanwhile
Comment[tr]=Meanwhile Protokolü
Comment[uk]=Протокол Meanwhile
Comment[x-test]=xxMeanwhile Protocolxx
Comment[zh_CN]=Meanwhile 协议
Comment[zh_TW]=Meanwhile 通訊協定
Name=Meanwhile
Name[ar]=Meanwhile
Name[az]=Meanwhile
Name[bg]=Meanwhile
Name[ca]=Meanwhile
Name[ca@valencia]=Meanwhile
Name[cs]=Meanwhile
Name[da]=Meanwhile
Name[de]=Meanwhile
Name[el]=Meanwhile
Name[en_GB]=Meanwhile
Name[eo]=Meanwhile
Name[es]=Meanwhile
Name[et]=Meanwhile
Name[eu]=Meanwhile
Name[fi]=Meanwhile
Name[fr]=Meanwhile
Name[gl]=Meanwhile
Name[he]=Meanwhile
Name[hu]=Meanwhile
Name[ia]=Meanwhile
Name[id]=Meanwhile
Name[it]=Meanwhile
Name[ja]=Meanwhile
Name[ka]=Meanwhile
Name[ko]=Meanwhile
Name[lt]=Meanwhile
Name[lv]=Meanwhile
Name[nb]=Meanwhile
Name[nl]=Meanwhile
Name[nn]=Meanwhile
Name[pl]=Meanwhile
Name[pt]=Meanwhile
Name[pt_BR]=Meanwhile
Name[ro]=Meanwhile
Name[ru]=Meanwhile
Name[sk]=Meanwhile
Name[sl]=Meanwhile
Name[sq]=Meanwhile
Name[sv]=Meanwhile
Name[tg]=Meanwhile
Name[tr]=Meanwhile
Name[uk]=Meanwhile
Name[x-test]=xxMeanwhilexx
Name[zh_CN]=Meanwhile
Name[zh_TW]=Meanwhile
