[Desktop Entry]
Type=Service
Icon=im-msn
Comment=MSN Messenger
Comment[ar]=مرسال ام اس ان
Comment[az]=MSN Mesencer
Comment[bg]=MSN Messenger
Comment[ca]=MSN Messenger
Comment[ca@valencia]=MSN Messenger
Comment[cs]=MSN Messenger
Comment[da]=MSN Messenger
Comment[de]=MSN Messenger
Comment[el]=MSN Messenger
Comment[en_GB]=MSN Messenger
Comment[eo]=MSN Messenger
Comment[es]=MSN Messenger
Comment[et]=MSN Messenger
Comment[eu]=MSN Mezularia
Comment[fi]=MSN Messenger
Comment[fr]=Messagerie MSN
Comment[gl]=MSN Messenger
Comment[he]=MSN Messenger
Comment[hu]=MSN Messenger
Comment[ia]=Messaggero MSN
Comment[id]=Perpesanan MSN
Comment[it]=MSN Messenger
Comment[ja]=MSN メッセンジャー
Comment[ka]=MSN მესინჯერი
Comment[ko]=MSN 메신저
Comment[lt]=MSN pokalbių programa
Comment[lv]=MSN Messenger
Comment[nb]=MSN Messenger
Comment[nl]=MSN Messenger
Comment[nn]=MSN Messenger
Comment[pl]=MSN Messenger
Comment[pt]=MSN Messenger
Comment[pt_BR]=MSN Messenger
Comment[ro]=Mesager MSN
Comment[ru]=Обмен сообщениями MSN
Comment[sk]=MSN Messenger
Comment[sl]=MSN Messenger
Comment[sq]=MSN Messenger
Comment[sv]=MSN Messenger
Comment[tg]=Паёмнависи MSN
Comment[tr]=MSN Messenger
Comment[uk]=MSN Messenger
Comment[x-test]=xxMSN Messengerxx
Comment[zh_CN]=MSN Messenger
Comment[zh_TW]=MSN Messenger
Name=MSN Messenger
Name[ar]=مرسال ام اس ان
Name[az]=MSN Mesencer
Name[bg]=MSN Messenger
Name[ca]=MSN Messenger
Name[ca@valencia]=MSN Messenger
Name[cs]=MSN Messenger
Name[da]=MSN Messenger
Name[de]=MSN Messenger
Name[el]=MSN Messenger
Name[en_GB]=MSN Messenger
Name[eo]=MSN Messenger
Name[es]=MSN Messenger
Name[et]=MSN Messenger
Name[eu]=MSN Mezularia
Name[fi]=MSN Messenger
Name[fr]=Messagerie MSN
Name[gl]=MSN Messenger
Name[he]=MSN Messenger
Name[hu]=MSN Messenger
Name[ia]=Messaggero MSN
Name[id]=MSN Messenger
Name[it]=MSN Messenger
Name[ja]=MSN メッセンジャー
Name[ka]=MSN მესინჯერი
Name[ko]=MSN 메신저
Name[lt]=MSN pokalbių programa
Name[lv]=MSN Messenger
Name[nb]=MSN Messenger
Name[nl]=MSN Messenger
Name[nn]=MSN Messenger
Name[pl]=MSN Messenger
Name[pt]=MSN Messenger
Name[pt_BR]=MSN Messenger
Name[ro]=Mesager MSN
Name[ru]=MSN Messenger
Name[sk]=MSN Messenger
Name[sl]=MSN Messenger
Name[sq]=MSN Messenger
Name[sv]=MSN Messenger
Name[tg]=Паёмнависи MSN
Name[tr]=MSN Messenger
Name[uk]=MSN Messenger
Name[x-test]=xxMSN Messengerxx
Name[zh_CN]=MSN Messenger
Name[zh_TW]=MSN Messenger
