[Desktop Entry]
Type=Service
Icon=im-qq
Comment=Tencent QQ Messaging
Comment[ar]=رسائل ترانسنت QQ
Comment[az]=Tencent QQ Mesajlaşma
Comment[bg]=Tencent QQ съобщения
Comment[ca]=Missatgeria Tencent QQ
Comment[ca@valencia]=Missatgeria Tencent QQ
Comment[cs]=Zprávy Tencent QQ
Comment[da]=Tencent QQ Messaging
Comment[de]=Tencent QQ Messaging
Comment[el]=Tencent QQ Messaging
Comment[en_GB]=Tencent QQ Messaging
Comment[eo]=Tencent QQ Messaging
Comment[es]=Mensajería Tencent QQ
Comment[et]=Tencent QQ snumirakendus
Comment[eu]=Tencent QQ Mezularitza
Comment[fi]=Tencent QQ -pikaviestintä
Comment[fr]=Messagerie « QQ » de Tencent
Comment[gl]=Tencent QQ Messaging
Comment[he]=התכתבות עם Tencent QQ
Comment[hu]=Tencent QQ üzenetküldés
Comment[ia]=Tencent QQ Messaging
Comment[id]=Perpesanan Tencent QQ
Comment[it]=Messaggistica Tencent QQ
Comment[ka]=Tencent QQ შეტყობინებები
Comment[ko]=Tencent QQ 메시징
Comment[lt]=Tencent QQ pranešimų perdavimas
Comment[lv]=Tencent QQ Messaging
Comment[nl]=Tencent QQ Messaging
Comment[nn]=Tencent QQ-lynmeldingar
Comment[pl]=Wiadomości Tencent QQ
Comment[pt]=Mensagens do Tencent QQ
Comment[pt_BR]=Mensagens do Tencent QQ
Comment[ro]=Mesagerie Tencent QQ
Comment[ru]=Обмен сообщениями Tencent QQ
Comment[sk]=Tencent QQ Messaging
Comment[sl]=Sporočanje Tencent QQ
Comment[sq]=Tencent QQ Messaging
Comment[sv]=Tencent QQ-meddelandeklient
Comment[tg]=Паёмнависи Tencent QQ
Comment[tr]=Tencent QQ Messaging
Comment[uk]=Обмін повідомленнями Tencent QQ
Comment[x-test]=xxTencent QQ Messagingxx
Comment[zh_CN]=腾讯 QQ 聊天
Comment[zh_TW]=Tencent QQ 通訊
Name=QQ
Name[ar]=QQ
Name[az]=QQ
Name[bg]=QQ
Name[ca]=QQ
Name[ca@valencia]=QQ
Name[cs]=QQ
Name[da]=QQ
Name[de]=QQ
Name[el]=QQ
Name[en_GB]=QQ
Name[eo]=QQ
Name[es]=QQ
Name[et]=QQ
Name[eu]=QQ
Name[fi]=QQ
Name[fr]=QQ
Name[gl]=QQ
Name[he]=QQ
Name[hu]=QQ
Name[ia]=QQ
Name[id]=QQ
Name[it]=QQ
Name[ka]=QQ
Name[ko]=QQ
Name[lt]=QQ
Name[lv]=QQ
Name[nl]=QQ
Name[nn]=QQ
Name[pl]=QQ
Name[pt]=QQ
Name[pt_BR]=QQ
Name[ro]=QQ
Name[ru]=QQ
Name[sk]=QQ
Name[sl]=QQ
Name[sq]=QQ
Name[sv]=QQ
Name[tg]=QQ
Name[tr]=QQ
Name[uk]=QQ
Name[x-test]=xxQQxx
Name[zh_CN]=QQ
Name[zh_TW]=QQ
