[Desktop Entry]
Type=Service
Comment=RocketChat
Comment[ar]=روكيت تشات
Comment[az]=RocketChat
Comment[bg]=RocketChat
Comment[ca]=RocketChat
Comment[ca@valencia]=RocketChat
Comment[cs]=RocketChat
Comment[de]=RocketChat
Comment[el]=RocketChat
Comment[en_GB]=RocketChat
Comment[eo]=RocketChat
Comment[es]=RocketChat
Comment[eu]=RocketChat
Comment[fi]=RocketChat
Comment[fr]=RocketChat
Comment[gl]=RocketChat
Comment[he]=RocketChat
Comment[hu]=RocketChat
Comment[ia]=RocketChat
Comment[it]=RocketChat
Comment[ka]=RocketChat
Comment[ko]=RocketChat
Comment[lt]=RocketChat
Comment[lv]=RocketChat
Comment[nl]=RocketChat
Comment[nn]=RocketChat
Comment[pl]=RocketChat
Comment[pt]=RocketChat
Comment[pt_BR]=RocketChat
Comment[ro]=RocketChat
Comment[ru]=RocketChat
Comment[sl]=RocketChat
Comment[sv]=RocketChat
Comment[tr]=RocketChat
Comment[uk]=RocketChat
Comment[x-test]=xxRocketChatxx
Comment[zh_CN]=RocketChat
Comment[zh_TW]=RocketChat
Name=RocketChat
Name[ar]=روكيت تشات
Name[az]=RocketChat
Name[bg]=RocketChat
Name[ca]=RocketChat
Name[ca@valencia]=RocketChat
Name[cs]=RocketChat
Name[de]=RocketChat
Name[el]=RocketChat
Name[en_GB]=RocketChat
Name[eo]=RocketChat
Name[es]=RocketChat
Name[eu]=RocketChat
Name[fi]=RocketChat
Name[fr]=RocketChat
Name[gl]=RocketChat
Name[he]=RocketChat
Name[hu]=RocketChat
Name[ia]=RocketChat
Name[it]=RocketChat
Name[ka]=RocketChat
Name[ko]=RocketChat
Name[lt]=RocketChat
Name[lv]=RocketChat
Name[nl]=RocketChat
Name[nn]=RocketChat
Name[pl]=RocketChat
Name[pt]=RocketChat
Name[pt_BR]=RocketChat
Name[ro]=RocketChat
Name[ru]=RocketChat
Name[sl]=RocketChat
Name[sv]=RocketChat
Name[tr]=RocketChat
Name[uk]=RocketChat
Name[x-test]=xxRocketChatxx
Name[zh_CN]=RocketChat
Name[zh_TW]=RocketChat
