[Desktop Entry]
Type=Service
Comment=Signal
Comment[ar]=سيجنال
Comment[az]=Signal
Comment[bg]=Signal
Comment[ca]=Signal
Comment[ca@valencia]=Signal
Comment[cs]=Signal
Comment[de]=Signal
Comment[el]=Signal
Comment[en_GB]=Signal
Comment[eo]=Signalo
Comment[es]=Signal
Comment[eu]=Signal
Comment[fi]=Signal
Comment[fr]=Signal
Comment[gl]=Signal
Comment[he]=Signal
Comment[hu]=Signal
Comment[ia]=Signal
Comment[it]=Signal
Comment[ka]=Signal
Comment[ko]=Signal
Comment[lt]=Signal
Comment[lv]=Signal
Comment[nl]=Signaal
Comment[nn]=Signal
Comment[pl]=Signal
Comment[pt]=Signal
Comment[pt_BR]=Signal
Comment[ro]=Signal
Comment[ru]=Signal
Comment[sl]=Signal
Comment[sv]=Signal
Comment[tr]=Signal
Comment[uk]=Сигнал
Comment[x-test]=xxSignalxx
Comment[zh_CN]=Signal
Comment[zh_TW]=Signal
Name=Signal
Name[ar]=سيجنال
Name[az]=Signal
Name[bg]=Signal
Name[ca]=Signal
Name[ca@valencia]=Signal
Name[cs]=Signal
Name[de]=Signal
Name[el]=Signal
Name[en_GB]=Signal
Name[eo]=Signalo
Name[es]=Signal
Name[eu]=Signal
Name[fi]=Signal
Name[fr]=Signal
Name[gl]=Signal
Name[he]=Signal
Name[hu]=Signal
Name[ia]=Signal
Name[it]=Signal
Name[ka]=Signal
Name[ko]=Signal
Name[lt]=Signal
Name[lv]=Signal
Name[nl]=Signaal
Name[nn]=Signal
Name[pl]=Signal
Name[pt]=Signal
Name[pt_BR]=Signal
Name[ro]=Signal
Name[ru]=Signal
Name[sl]=Signal
Name[sv]=Signal
Name[tr]=Signal
Name[uk]=Сигнал
Name[x-test]=xxSignalxx
Name[zh_CN]=Signal
Name[zh_TW]=Signal
