[Desktop Entry]
Type=Service
Icon=internet-telephone
Comment=Session Initiation Protocol
Comment[ar]=بروتوكول بدء جلسة
Comment[az]=Session İnitial Protocol (SİP)
Comment[bg]=Session Initiation Protocol
Comment[ca]=Protocol per a la iniciació de la sessió
Comment[ca@valencia]=Protocol per a la iniciació de la sessió
Comment[cs]=Session Initiation Protocol (SIP)
Comment[da]=Sessionsinitiering-protokollen
Comment[de]=Session Initiation Protocol
Comment[el]=Session Initiation Protocol
Comment[en_GB]=Session Initiation Protocol
Comment[eo]=Protokolo pri Seanca Iniciato
Comment[es]=Protocolo de inicio de sesión
Comment[et]=SIP
Comment[eu]=SIP (Saioa Hasieratzeko Protokoloa)
Comment[fi]=Istunnonalustusyhteyskäytäntö
Comment[fr]=Session Initiation Protocol
Comment[gl]=Protocolo de inicio de sesión
Comment[he]=פרוטקול התחלת שיח
Comment[hu]=Session Initiation Protocol
Comment[ia]=Session Initiation Protocol (Protocollo de initiation de session)
Comment[id]=Protokol Permulaan Sesi
Comment[it]=Session Initiation Protocol
Comment[ka]=Session Initiation Protocol
Comment[ko]=세션 연결 프로토콜(SIP)
Comment[lt]=Session Initiation protokolas
Comment[lv]=Sesijas inicializācijas protokols
Comment[nl]=Session Initiation Protocol
Comment[nn]=Session Initiation Protocol
Comment[pl]=Session Initiation Protocol
Comment[pt]=Protocolo de Início de Sessão
Comment[pt_BR]=Protocolo de Iniciação de Sessão
Comment[ro]=Protocol de Inițiere a Sesiunii
Comment[ru]=Session Initiation Protocol (SIP)
Comment[sk]=Session Initiation Protokol
Comment[sl]=Session Initiation Protocol
Comment[sq]=Session Initiation Protocol
Comment[sv]=Sessionsinitieringsprotokoll
Comment[tg]=Протоколи омодасозии ҷаласа
Comment[tr]=Oturum İlklendirme Protokolü
Comment[uk]=Session Initiation Protocol
Comment[x-test]=xxSession Initiation Protocolxx
Comment[zh_CN]=会话初始化协议
Comment[zh_TW]=對話啟動協定 (SIP)
Name=SIP
Name[ar]=SIP
Name[az]=SİP
Name[bg]=SIP
Name[ca]=SIP
Name[ca@valencia]=SIP
Name[cs]=SIP
Name[da]=SIP
Name[de]=SIP
Name[el]=SIP
Name[en_GB]=SIP
Name[eo]=SIP
Name[es]=SIP
Name[et]=SIP
Name[eu]=SIP
Name[fi]=SIP
Name[fr]=SIP
Name[gl]=SIP
Name[he]=SIP
Name[hu]=SIP
Name[ia]=SIP
Name[id]=SIP
Name[it]=SIP
Name[ka]=SIP
Name[ko]=SIP
Name[lt]=SIP
Name[lv]=SIP
Name[nl]=SIP
Name[nn]=SIP
Name[pl]=SIP
Name[pt]=SIP
Name[pt_BR]=SIP
Name[ro]=SIP
Name[ru]=SIP
Name[sk]=SIP
Name[sl]=SIP
Name[sq]=SIP
Name[sv]=SIP
Name[tg]=SIP
Name[tr]=SIP
Name[uk]=SIP
Name[x-test]=xxSIPxx
Name[zh_CN]=SIP
Name[zh_TW]=SIP
