[Desktop Entry]
Type=Service
Icon=im-sms
Comment=SMS Protocol
Comment[ar]=ميفاق خدمة الرسائل القصيرة
Comment[az]=SMS Protokolu
Comment[bg]=Протокол SMS
Comment[ca]=Protocol SMS
Comment[ca@valencia]=Protocol SMS
Comment[cs]=SMS protokol
Comment[da]=SMS-protokollen
Comment[de]=SMS-Protokoll
Comment[el]=SMS πρωτόκολλο
Comment[en_GB]=SMS Protocol
Comment[eo]=SMS-Protokolo
Comment[es]=Protocolo SMS
Comment[et]=SMS protokoll
Comment[eu]=SMS Protokoloa
Comment[fi]=Tekstiviestiyhteyskäytäntö
Comment[fr]=Protocole SMS
Comment[gl]=Protocolo de SMS
Comment[he]=פרוטוקול מסרונים (SMS)
Comment[hu]=SMS protokoll
Comment[ia]=Protocollo SMS
Comment[id]=Protokol SMS
Comment[it]=Protocollo SMS
Comment[ja]=SMS プロトコル
Comment[ka]=SMS პროტოკოლი
Comment[ko]=SMS 프로토콜
Comment[lt]=SMS protokolas
Comment[lv]=SMS protokols
Comment[nb]=SMS Protokoll
Comment[nl]=SMS-protocol
Comment[nn]=SMS-protokoll
Comment[pl]=Protokół SMS
Comment[pt]=Protocolo SMS
Comment[pt_BR]=Protocolo SMS
Comment[ro]=Protocol SMS
Comment[ru]=Протокол SMS
Comment[sk]=SMS Protokol
Comment[sl]=Protokol SMS
Comment[sq]=SMS Protocol
Comment[sv]=SMS-protokoll
Comment[tg]=Протоколи СМС
Comment[tr]=SMS Protokolü
Comment[uk]=Протокол SMS
Comment[x-test]=xxSMS Protocolxx
Comment[zh_CN]=短信协议
Comment[zh_TW]=SMS 通訊協定
Name=SMS
Name[ar]=اس ام اس
Name[az]=SMS
Name[bg]=SMS
Name[ca]=SMS
Name[ca@valencia]=SMS
Name[cs]=SMS
Name[da]=SMS
Name[de]=SMS
Name[el]=SMS
Name[en_GB]=SMS
Name[eo]=SMS
Name[es]=SMS
Name[et]=SMS
Name[eu]=SMS
Name[fi]=Tekstiviesti
Name[fr]=SMS
Name[gl]=SMS
Name[he]=SMS
Name[hu]=SMS
Name[ia]=SMS
Name[id]=SMS
Name[it]=SMS
Name[ja]=SMS
Name[ka]=SMS
Name[ko]=SMS
Name[lt]=SMS
Name[lv]=SMS
Name[nb]=SMS
Name[nl]=SMS
Name[nn]=SMS
Name[pl]=SMS
Name[pt]=SMS
Name[pt_BR]=SMS
Name[ro]=SMS
Name[ru]=SMS
Name[sk]=SMS
Name[sl]=SMS
Name[sq]=SMS
Name[sv]=SMS
Name[tg]=СМС
Name[tr]=SMS
Name[uk]=SMS
Name[x-test]=xxSMSxx
Name[zh_CN]=短信
Name[zh_TW]=SMS
