[Desktop Entry]
Type=Service
Comment=Telegram
Comment[ar]=تلغرام
Comment[az]=Teleqram
Comment[bg]=Telegram
Comment[ca]=Telegram
Comment[ca@valencia]=Telegram
Comment[cs]=Telegram
Comment[de]=Telegram
Comment[el]=Telegram
Comment[en_GB]=Telegram
Comment[eo]=Telegramo
Comment[es]=Telegram
Comment[eu]=Telegram
Comment[fi]=Telegram
Comment[fr]=Telegram
Comment[gl]=Telegram
Comment[he]=טלגרם
Comment[hu]=Telegram
Comment[ia]=Telegram
Comment[it]=Telegram
Comment[ka]=ტელეგრამი
Comment[ko]=텔레그램
Comment[lt]=Telegram
Comment[lv]=Telegram
Comment[nl]=Telegram
Comment[nn]=Telegram
Comment[pl]=Telegram
Comment[pt]=Telegram
Comment[pt_BR]=Telegram
Comment[ro]=Telegram
Comment[ru]=Telegram
Comment[sk]=Telegram
Comment[sl]=Telegram
Comment[sv]=Telegram
Comment[tr]=Telegram
Comment[uk]=Telegram
Comment[x-test]=xxTelegramxx
Comment[zh_CN]=Telegram
Comment[zh_TW]=Telegram
Name=Telegram
Name[ar]=تلغرام
Name[az]=Teleqram
Name[bg]=Telegram
Name[ca]=Telegram
Name[ca@valencia]=Telegram
Name[cs]=Telegram
Name[de]=Telegram
Name[el]=Telegram
Name[en_GB]=Telegram
Name[eo]=Telegramo
Name[es]=Telegram
Name[eu]=Telegram
Name[fi]=Telegram
Name[fr]=Telegram
Name[gl]=Telegram
Name[he]=טלגרם
Name[hu]=Telegram
Name[ia]=Telegram
Name[it]=Telegram
Name[ka]=ტელეგრამი
Name[ko]=텔레그램
Name[lt]=Telegram
Name[lv]=Telegram
Name[nl]=Telegram
Name[nn]=Telegram
Name[pl]=Telegram
Name[pt]=Telegram
Name[pt_BR]=Telegram
Name[ro]=Telegram
Name[ru]=Telegram
Name[sk]=Telegram
Name[sl]=Telegram
Name[sv]=Telegram
Name[tr]=Telegram
Name[uk]=Telegram
Name[x-test]=xxTelegramxx
Name[zh_CN]=Telegram
Name[zh_TW]=Telegram
