[Desktop Entry]
Type=Service
Comment=Threema
Comment[ar]=ثریما
Comment[az]=Threema
Comment[bg]=Threema
Comment[ca]=Threema
Comment[ca@valencia]=Threema
Comment[cs]=Threema
Comment[de]=Threema
Comment[el]=Threema
Comment[en_GB]=Threema
Comment[eo]=Threema
Comment[es]=Threema
Comment[eu]=Threema
Comment[fi]=Threema
Comment[fr]=Threema
Comment[gl]=Threema
Comment[he]=Threema
Comment[hu]=Threema
Comment[ia]=Threema
Comment[it]=Threema
Comment[ka]=Threema
Comment[ko]=Threema
Comment[lt]=Threema
Comment[lv]=Threema
Comment[nl]=Threema
Comment[nn]=Threema
Comment[pl]=Threema
Comment[pt]=Threema
Comment[pt_BR]=Threema
Comment[ro]=Threema
Comment[ru]=Threema
Comment[sl]=Threema
Comment[sv]=Threema
Comment[tr]=Threema
Comment[uk]=Threema
Comment[x-test]=xxThreemaxx
Comment[zh_CN]=Threema
Comment[zh_TW]=Threema
Name=Threema
Name[ar]=ثریما
Name[az]=Threema
Name[bg]=Threema
Name[ca]=Threema
Name[ca@valencia]=Threema
Name[cs]=Threema
Name[de]=Threema
Name[el]=Threema
Name[en_GB]=Threema
Name[eo]=Threema
Name[es]=Threema
Name[eu]=Threema
Name[fi]=Threema
Name[fr]=Threema
Name[gl]=Threema
Name[he]=Threema
Name[hu]=Threema
Name[ia]=Threema
Name[it]=Threema
Name[ka]=Threema
Name[ko]=Threema
Name[lt]=Threema
Name[lv]=Threema
Name[nl]=Threema
Name[nn]=Threema
Name[pl]=Threema
Name[pt]=Threema
Name[pt_BR]=Threema
Name[ro]=Threema
Name[ru]=Threema
Name[sl]=Threema
Name[sv]=Threema
Name[tr]=Threema
Name[uk]=Threema
Name[x-test]=xxThreemaxx
Name[zh_CN]=Threema
Name[zh_TW]=Threema
