# Copyright (C) YEAR THE PACKAGE'S COPYRIGHT HOLDER
# This file is distributed under the same license as the PACKAGE package.
# Lukáš Tinkl <lukas@kde.org>, 2010, 2011, 2012.
# SPDX-FileCopyrightText: 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2019, 2020, 2023 Vít Pelčák <vit@pelcak.org>
# Tomáš Chvátal <tomas.chvatal@gmail.com>, 2012, 2013.
# SPDX-FileCopyrightText: 2021, 2022, 2024 Vit Pelcak <vit@pelcak.org>
#
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2024-05-07 10:57+0200\n"
"Last-Translator: Vit Pelcak <vpelcak@suse.cz>\n"
"Language-Team: Czech <kde-i18n-doc@kde.org>\n"
"Language: cs\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=3; plural=(n==1) ? 0 : (n>=2 && n<=4) ? 1 : 2;\n"
"X-Generator: Lokalize 24.02.2\n"
"X-Language: cs_CZ\n"
"X-Source-Language: en_US\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Vít Pelčák, Marián Kyral"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "vit@pelcak.org,mkyral@email.cz"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Výchozí"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Automatická detekce"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr "Barevné schéma"

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr ""

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr "Příkazy odpovídající filtru"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Nastavit"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "Na&bídka"

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Zobrazit panel &nabídek se všemi činnostmi"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Více"

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Další činnosti"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Žádné položky"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Smazat seznam"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Zpět"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Vpřed"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Domů"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Zobrazovat hlavní nabídku<p>Znovu zobrazí hlavní nabídku, poté co byla "
"skryta</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Zobrazovat stavový panel<p>Zobrazovat panel se stavovými informacemi vespod "
"okna.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "&Nový"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Vytvořit nový dokument"

#: kstandardaction_p.h:64
msgid "&Open…"
msgstr "&Otevřít…"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Otevřít existující dokument"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "Ot&evřít nedávný"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Otevřít nedávno zavřený dokument"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Uložit"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Uložit dokument"

#: kstandardaction_p.h:67
msgid "Save &As…"
msgstr "Uložit j&ako…"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Uložit dokument pod jiným názvem"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "V&rátit"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Vrátit neuložené změny v dokumentu"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Zavřít"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Zavřít dokument"

#: kstandardaction_p.h:70
msgid "&Print…"
msgstr "&Tisknout…"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Vytisknout dokument"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "Ná&hled před tiskem"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Zobrazit náhled před tiskem"

#: kstandardaction_p.h:72
msgid "&Mail…"
msgstr "Od&eslat poštou…"

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Odeslat dokument emailem"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "U&končit"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Ukončit aplikaci"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Zpět"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Vrátit zpět poslední činnost"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "Zno&vu"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Zopakovat naposled vrácenou činnost"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "Vyjmou&t"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Vyjmout výběr do schránky"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "&Kopírovat"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Kopírovat výběr do schránky"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "V&ložit"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Vložit obsah schránky"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "Vyči&stit"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "Vybr&at vše"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "Zr&ušit výběr"

#: kstandardaction_p.h:83
msgid "&Find…"
msgstr "&Najít…"

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "Najít &následující"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Na&jít předchozí"

#: kstandardaction_p.h:86
msgid "&Replace…"
msgstr "Na&hradit…"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr "Zvětšit n&a skutečnou velikost"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Zobrazit dokument v reálné velikosti"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "Přizpůsobit &stránce"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Přizpůsobit stránku oknu"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "&Přizpůsobit šířce stránky"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Přizpůsobit šířce stránky"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "Přizpůsobit &výšce stránky"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Přizpůsobit výšce stránky"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "&Přiblížit"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "O&ddálit"

#: kstandardaction_p.h:94
msgid "&Zoom…"
msgstr "&Zvětšení…"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Vybrat úroveň přiblížení"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr "O&bnovit"

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr "Obnovit dokument"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "Nahor&u"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Přejít nahoru"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "&Předchozí strana"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Přejít na předchozí stranu"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "&Následující strana"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Přejít na následující stranu"

#: kstandardaction_p.h:104
msgid "&Go To…"
msgstr "&Přejít na…"

#: kstandardaction_p.h:105
msgid "&Go to Page…"
msgstr "Př&ejít na stranu…"

#: kstandardaction_p.h:106
msgid "&Go to Line…"
msgstr "Př&ejít na řádku…"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "P&rvní strana"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "Přejít na první stranu"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "Po&slední strana"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Přejít na poslední stranu"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "&Zpět"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Zpátky v dokumentu"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "&Vpřed"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Vpřed v dokumentu"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "&Přidat k záložkám"

#: kstandardaction_p.h:113
msgid "&Edit Bookmarks…"
msgstr "Upr&avit záložky…"

#: kstandardaction_p.h:115
msgid "&Spelling…"
msgstr "&Kontrola pravopisu…"

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Zkontrolovat pravopis dokumentu"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "Zobrazovat hlavní na&bídku"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Zobrazovat nebo skrýt hlavní nabídku"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "Zobrazi&t panel nástrojů"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Zobrazovat nebo skrýt panel nástrojů"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "Zobrazovat st&avový panel"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Zobrazovat nebo skrýt stavový panel"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "Celoobrazovkový reži&m"

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr "Nas&tavit klávesové zkratky…"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Configure %1…"
msgstr "&Nastavit %1…"

#: kstandardaction_p.h:123
msgid "Configure Tool&bars…"
msgstr "Nastavit panely nástro&jů…"

#: kstandardaction_p.h:124
msgid "Configure &Notifications…"
msgstr "&Nastavit upozornění…"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "&Příručka aplikace '%1'"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "Co je &toto?"

#: kstandardaction_p.h:130
msgid "&Report Bug…"
msgstr "Nahlásit &chybu…"

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr "Nastav&it jazyk…"

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "O &aplikaci '%1'"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "O prostředí &KDE"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "&Smazat"

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr "&Přejmenovat…"

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "Pře&sunout do koše"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "&Přispějte"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr "Otevřít na&bídku"

#: kstylemanager.cpp:60
#, kde-format
msgid "Application Style"
msgstr "Styl aplikací"

#: kstylemanager.cpp:64
#, kde-format
msgid "Default"
msgstr "Výchozí"
