# Live Image (UEFI boot)
source /boot/grub/config.cfg
loadfont unicode

source /boot/grub/config.cfg
set timeout=5

set gfxmode=auto
insmod all_video
insmod gfxterm
insmod png

set theme=/boot/grub/lingmo/theme.txt

set color_normal=white/black
set color_highlight=black/light-gray

# Live boot
LINUX_LIVE

menuentry "Boot Lingmo OS (@FLAVOUR_LIVE@ forensic mode)" {
	linux @KERNEL_LIVE@ @APPEND_LIVE@ noswap noautomount
	initrd @INITRD_LIVE@
}
menuentry "Boot Lingmo OS with USB persistence  (check lingmo.org/prst)" {
	linux @KERNEL_LIVE@ @APPEND_LIVE@ persistence
	initrd @INITRD_LIVE@
}
menuentry "Boot Lingmo OS with USB Encrypted persistence" {
	linux @KERNEL_LIVE@ @APPEND_LIVE@ persistent=cryptsetup persistence-encryption=luks persistence
	initrd @INITRD_LIVE@
}

# Installer (if any)
# LINUX_INSTALL

if [ ! -e /boot/grub/install.cfg ]; then
menuentry "Start installer with speech synthesis" {
	linux @KERNEL_GI@ speakup.synth=soft @APPEND_GI@
	initrd @INITRD_GI@
}
fi

submenu 'Advanced install options...' {

source /boot/grub/theme.cfg

# More installer entries (if any)
LINUX_ADVANCED_INSTALL

# Memtest (if any)
MEMTEST

}

submenu 'Utilities...' --hotkey=u {

        source /boot/grub/theme.cfg

        # Memtest (if any)
        if [ "${grub_platform}" = "pc" ] -a @ENABLE_MEMTEST@; then
                source /boot/grub/memtest.cfg
        fi

        # Firmware setup (UEFI)
        if [ "${grub_platform}" = "efi" ]; then
                menuentry "UEFI Firmware Settings" {
                        fwsetup
                }
        fi

}
grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry 'Boot from next volume' {
        exit 1
}
menuentry 'UEFI Firmware Settings' {
        fwsetup
}
menuentry 'Memory test' {
        linux   /live/memtest.bin
}
fi
