[Unit]
Description=LINGMO SDK SYSTIME DBUS

[Service]
Type=dbus
Restart=always
RestartSec=0
BusName=com.lingmosdk.base
ExecStart=/usr/bin/lingmosdk-logrotate

[Install]
WantedBy=multi-user.target
