[Desktop Entry]
Name=lingmo-appwidget-manager
Name[zh_CN]=小插框架件
Comment=lingmo-appwidget-manager
Comment[zh_CN]=小插框架件
Exec=/usr/bin/lingmo-appwidget-manager
Terminal=false
Type=Application
NoDisplay=true
OnlyShowIn=LINGMO
X-LINGMO-Autostart-Phase=Initialization
X-LINGMO-AutoRestart=true
