Source: ocean-tray-loader
Section: unknown
Priority: optional
Maintainer: Lingmo Packages Builder <packages@lingmo.com>
Build-Depends: debhelper-compat ( =12),
 pkg-config,
 cmake,
 extra-cmake-modules,
 qt6-wayland-dev,
 qt6-wayland-dev-tools,
 qt6-wayland-private-dev,
 qt6-base-dev-tools,
 qt6-base-private-dev,
 qt6-svg-dev,
 qt6-tools-dev,
 libwayland-dev,
 libxcb-image0-dev,
 libxcb-composite0-dev,
 libxcb-ewmh-dev,
 libxtst-dev,
 libxcb-xtest0-dev,
 libxcb-res0-dev,
 libxcb-util-dev,
 libxcb-icccm4-dev,
 libxcb-damage0-dev,
 libdtk6widget-dev,
 libdtk6core-dev,
 libdtk6core-bin,
 libdtk6gui-dev,
 libgtest-dev,
 libgmock-dev,
 libxcursor-dev,
 ocean-api-dev (>>5.6.3),
 libkf6networkmanagerqt-dev
Standards-Version: 3.9.8
Homepage: http://www.lingmo.org/

Package: ocean-tray-loader
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 lingmo-desktop-schemas (>=5.9.14),
 libdtk6widget,
 libdtk6core,
 libdtk6gui,
 ocean-qt6xcb-plugin,
 ocean-daemon (>=5.13.12),
 startocean (>=5.8.9),
 lastore-daemon (>=5.2.9),
 qtxdg-dev-tools,
 lingmo-service-plugin-network,
Conflicts:
 ocean-dock,
 ocean-dock-onboard-plugin
Replaces:
 ocean-dock,
 ocean-dock-onboard-plugin
Description: lingmo desktop-environment - the plugins of tray for ocean-dock
 Tray plugins module

Package: ocean-tray-loader-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts:
 ocean-dock-dev
Replaces:
 ocean-dock-dev
Provides:
 ocean-dock-dev (=6.1.0)
Description: lingmo desktop-environment - tray plugins module development files
 Tray plugins module development files of lingmo desktop-environment

Package: lingmo-service-plugin-network
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},curl
Description: the plugin of network service for lingmo-service-manager
 lingmo-service-plugin-network module

Package: ocean-wirelesscasting-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 lingmo-network-displays (>=0.90.6-lingmo2)
Description: lingmo desktop-environment - wireless casting plugin for ocean-dock
 wireless casting plugin module
