Source: liblingmo-ai-engine-dev
Section: libdevel
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (= 12),
               cmake

Standards-Version: 4.4.1
Section: libdevel
Package: liblingmo-ai-engine-dev
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Lingmo AI Engine Libs
  Lingmo AI Engine Libs provides a comprehensive set of AI functionalities for
  developers to integrate AI capabilities engine plugin into Lingmo AI Subsystem.
  This package only includes the development headers.
