Source: lingmo-os
Section: devel
Priority: optional
Maintainer: Lingmo OS Team <lingmo@lingmo.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               libglib2.0-dev,
               libsystemd-dev,
               libcap-dev,
               libdbus-1-dev,
               libkf5kio-dev,
               libkf5solid-dev,
               libkf5windowsystem-dev,
               libkf5config-dev,
               qtbase5-private-dev,
               kwin-dev,
               libxcb-util-dev,
               libxcb-util0-dev,
               libkf5globalaccel-dev,
               libkf5configwidgets-dev,
               libkdecorations2-dev,
               libkf5coreaddons-dev,
               libqt5opengl5-dev,
               libqt5x11extras5-dev,
               libqt5xdg-dev,
               libdbusmenu-qt5-dev,
               libxcb-shape0-dev,
               libxcb-icccm4-dev,
               libxcb1-dev,
               libxcb-ewmh-dev,
               qttools5-dev,
               qttools5-dev-tools,
               libpam0g-dev,
               libx11-dev,
               gtk-update-icon-cache,
               liblingmo,
               libicu-dev,
               libcrypt-dev,
               libxi-dev,
               libxcursor-dev,
               libfreetype6-dev,
               libqt5concurrent5,
               libfontconfig1-dev,
               libkf5networkmanagerqt-dev,
               modemmanager-qt-dev,
               libqt5webengine5,
               qtwebengine5-dev,
               qml-module-qtwebview,
               qtwebengine5-dev,
               network-manager,
               libpackagekitqt5-dev,
               libkf5syntaxhighlighting-dev,
               libmpv-dev,
               libkf5bluezqt-dev (>= 5.50.0~)
Standards-Version: 4.5.0
Homepage: https://lingmo.org

Package: lingmo-live
Architecture: any
Depends: calamares,
         cryptsetup,
         libglib2.0-bin,
         keyutils,
         pkexec,
         qml-module-qtquick-window2,
         qml-module-qtquick2,
         ${misc:Depends}
Description: Lingmo OS Installer

Package: liblingmo
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libkf5screen-bin
Description: Lingmo OS Library

Package: appmotor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lingmo OS Appmotor

Package: lingmo-calculator
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         qml-module-qtquick-dialogs,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Calculator

Package: lingmo-core
Architecture: any
Depends: accountsservice,
         python3-dbus,
         python3-pillow,
         python3-regex,
         qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         appmenu-gtk2-module,
         appmenu-gtk3-module,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS System Components

Package: lingmo-cursor-themes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LingmoOS Cursor Theme

Package: lingmo-daemon
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         python3-pyinotify,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Daemon.

Package: lingmo-dock
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         qml-module-qtgraphicaleffects,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Dock

Package: lingmo-filemanager
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         qml-module-qtquick-dialogs,
         qml-module-qtgraphicaleffects
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS File Manager

Package: lingmo-grub-config
Architecture: any
Section: lingmo
Priority: optional
Depends: grub-pc | grub-efi
Description: Package of Lingmo's GRUB2 theme and config.

Package: lingmo-gtk-themes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lingmo OS GTK Themes

Package: lingmo-kwin-plugins
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         lingmo-kwin-plugins-roundedwindow,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS KWin Plugins

Package: lingmo-kwin-plugins-roundedwindow
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS KWin Plugins - Rounded Window

Package: lingmo-launcher
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         liblingmo,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Launcher

Package: lingmo-plymouth
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plymouth theme for LingmoOS.

Package: lingmo-qt-plugins
Architecture: any
Depends: ${misc:Depends},                                              ${shlibs:Depends}
Description: Lingmo OS Qt Plugins

Package: lingmo-screenlocker
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         qml-module-qtquick-dialogs,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Screen Locker

Package: lingmo-screenshot
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         qml-module-qtquick-dialogs,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Screenshot

Package: lingmo-sddm-theme
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         qml-module-qtquick-dialogs,
         sddm,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS SDDM Themes

Package: lingmo-settings
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         qml-module-qtquick-dialogs,
         qml-module-qtquick-particles2,
         curl,
         openssl,
         libqt5webengine5,
         aria2,
         gnupg,
         zenity,
         pkexec,
         polkitd,
         network-manager,
         libnotify-bin,
         desktop-file-utils,
         liblingmo,
         kscreen,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Settings

Package: lingmo-settings-dev
Architecture: any
Depends: lingmo-settings (= ${binary:Version}), ${misc:Depends}, ${shlib:Depends}, ${dist:Depends}
Description: Lingmo OS Settings Dev

Package: lingmo-statusbar
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Statusbar

Package: lingmo-systemicons
Architecture: all
Depends: ${misc:Depends}
Description: System software icon for Lingmo OS

Package: lingmo-terminal
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         qml-module-qtquick-dialogs,
         liblingmo,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Terminal

Package: lingmo-texteditor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lingmo OS Texteditor

Package: lingmo-updator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lingmo OS Updator.

Package: lingmo-videoplayer
Architecture: any
Depends: qml-module-qtquick-controls2,
         qml-module-qtquick2,
         qml-module-qtquick-layouts,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtqml,
         qml-module-qtquick-window2,
         qml-module-qtquick-shapes,
         qml-module-qtquick-dialogs,
         qml-module-qtquick-particles2,
         ${misc:Depends},
         ${shlibs:Depends}
Description: An open source video player built with Qt/QML and libmpv

Package: lingmo-wallpapers
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Default Wallpapers
