[KCM Locale]
Name=Interlingue
Name[ar]=الغربية
Name[bg]=Интерлингве
Name[ca]=Interlingue
Name[ca@valencia]=Interlingue
Name[cs]=Interlingue
Name[de]=Interlingue
Name[el]=Interlingue
Name[en_GB]=Interlingue
Name[es]=Interlingue
Name[eu]=Interlingue
Name[fr]=Interlingua
Name[ia]=Interlingue
Name[is]=Interlingue
Name[it]=Interlingue
Name[ka]=ოქსიდენტური
Name[lt]=Interlingvė
Name[nl]=Interlingue
Name[nn]=Interlingue
Name[pl]=Interlingua
Name[pt]=Interlingue
Name[pt_BR]=Interlíngua
Name[ru]=Интерлингве
Name[sl]=Interlingva
Name[ta]=இன்டெர்லிங்குவே
Name[tr]=İnterlingue
Name[uk]=Окциденталь
Name[vi]=Tiếng Interlingue
Name[x-test]=xxInterlinguexx
Name[zh_CN]=拉丁国际语
Name[zh_TW]=西方國際語
