[Desktop Entry]
Exec=/usr/bin/lingmo-pc-manager-session-daemon
Name=lingmo-pc-manager-session-daemon
NoDisplay=true
Terminal=false
Type=Application
X-Lingmo-Vendor=user-custom
