[Desktop Entry]
Actions=new-window;
Categories=Utility;
Comment=Lingmo Backup Restore Tool
Exec=/usr/bin/lingmo-clone-pkexec %f
GenericName=Clone
Icon=lingmo-clone
MimeType=application/x-lingmoclone-dim;
Name=Lingmo Clone
NoDisplay=true
StartupNotify=true
Terminal=false
Type=Application
Version=0.1
X-Lingmo-Vendor=lingmo

# Translations:
# Do not manually modify!
Comment[am_ET]=የ ዲፕኢን ተተኪ እንደ ነበር መመለሻ መሳሪያ
Comment[ar]=أداة استعادة نسخ احتياطي لديبين
Comment[ast]=Ferramienta de restauración de copies de seguranza de Lingmo
Comment[bg]=Lingmo резервно копие и възтановяване
Comment[bn]=ডিপিন ব্যাকআপ রিস্টোর টুল
Comment[ca]=Eina de restauració de còpies de seguretat del Lingmo
Comment[cs]=Nástroj na obnovení ze zálohy
Comment[da]=Lingmo værktøj til gendannelse af sikkerhedskopiering
Comment[de]=Lingmo Sicherungs-/Wiederherstellungswerkzeug
Comment[el]=Εργαλείο δημιουργίας και επαναφοράς αντιγράφων ασφαλείας Lingmo
Comment[es]=Herramienta Lingmo de respaldo y restauración
Comment[es_419]=Herramienta de restauración de copia de seguridad de Lingmo
Comment[fa]=ابزار پشتیبان‌گیری و بازیابی دیپین
Comment[fi]=Lingmoin varmistus ja palautustyökalu
Comment[fr]=L'outil Lingmo de sauvegarde et de restauration système
Comment[gl_ES]=Ferramenta de copia e restauración do Lingmo
Comment[hu]=Lingmo biztonsági mentés és visszaállítás
Comment[id]=Alat Pemulihan Cadangan Lingmo
Comment[it]=Strumento di backup e ripristino di Lingmo
Comment[ja]=Lingmoバックアップとリストア工具
Comment[ko]=Lingmo 백업 복원 도구
Comment[lt]=Lingmo atsarginės kopijos atkūrimo įrankis
Comment[mn]=Деепин Нөөцлөх Сэргээх Багаж
Comment[ms]=Alat Pulih Sandar Lingmo
Comment[nl]=Lingmo back-up- en herstelhulpmioceanl
Comment[pl]=Narzędzie Lingmo do kopii zapasowych i przywracania
Comment[pt]=Lingmo Backup Restore Tool
Comment[pt_BR]=Ferramenta Lingmo para Backup e Restauração
Comment[ro]=Unealta de restaurare Lingmo
Comment[ru]=Инструмент восстановления Резервной копии Lingmo 
Comment[sk]=Lingmo Nástroj na obnovenie zálohy
Comment[sl]=Orodje za povrnitev varnostne kopije Lingmo
Comment[sq]=Mjet Lingmo Ritkhimi Kopjeruajtjesh
Comment[sr]=Дипинов алат за резерве и повраћај
Comment[tr]=Lingmo Yedekleme ve Geri Yükleme Aracı
Comment[uk]=Засіб Lingmo для відновлення даних з резервних копій
Comment[zh_CN]=深度备份还原工具
Comment[zh_TW]=Lingmo 備份還原工具
GenericName[am_ET]=ማባዣ
GenericName[ar]=استنساخ
GenericName[ast]=Clonación
GenericName[bg]=Клониране
GenericName[bn]=ক্লোন করুন
GenericName[ca]=Clona
GenericName[cs]=Klonovat
GenericName[da]=Klon
GenericName[de]=Klonen
GenericName[el]=Κλωνοποίηση
GenericName[es]=Clonar
GenericName[es_419]=Clonar
GenericName[et]=Klooni
GenericName[fa]=شبیه سازی
GenericName[fi]=Kloonaa
GenericName[fr]=Clone 
GenericName[gl_ES]=Clonar
GenericName[hr]=Kloniranje
GenericName[hu]=Klónozás
GenericName[id]=Klon
GenericName[it]=Clone
GenericName[ja]=クローン
GenericName[ko]=Clone
GenericName[lt]=Kopijuoti
GenericName[mn]=Хувилах
GenericName[ms]=Klon
GenericName[nb]=Klon
GenericName[nl]=Klonen
GenericName[pl]=Klonowanie
GenericName[pt]=Clonar
GenericName[pt_BR]=Clone
GenericName[ro]=Clonare
GenericName[ru]=Клонирование
GenericName[sk]=Klonovanie
GenericName[sl]=Kloniraj
GenericName[sq]=Clone
GenericName[sr]=Клонирање
GenericName[tr]=Klon
GenericName[uk]=Клонувальник
GenericName[zh_CN]=备份还原工具
GenericName[zh_TW]=複製
Name[am_ET]=የ ዲፕኢን ማባዣ
Name[ar]=مستنسخ ديبين
Name[ast]=Lingmo Clone
Name[bg]=Lingmo клониране
Name[bn]=ডিপিন ক্লোন
Name[ca]=Clon del Lingmo
Name[cs]=Klonování
Name[da]=Lingmo kloning
Name[de]=Lingmo Clone
Name[el]=Κλωνοποίηση Lingmo
Name[es]=Lingmo Clone
Name[es_419]=Lingmo Clone
Name[et]=Lingmo Clone
Name[fa]=شبیه ساز دیپین
Name[fi]=Lingmoin Kloonaaja
Name[fr]=Lingmo Clone
Name[gl_ES]=Lingmo Clone
Name[hr]=Lingmo kloniranje
Name[hu]=Lingmo Klónozás
Name[id]=Klon Lingmo
Name[it]=Lingmo Clone
Name[ja]=Lingmoクローン
Name[ko]=Lingmo Clone
Name[lt]=Lingmo kopija
Name[mn]=Деепин хувилагч
Name[ms]=Klon Lingmo
Name[nb]=Lingmo Klone
Name[nl]=Lingmo Klonen
Name[pl]=Klonowanie Lingmo
Name[pt]=Lingmo Clone
Name[pt_BR]=Clone Lingmo
Name[ro]=Lingmo Clone
Name[ru]=Клонирование Lingmo
Name[sk]=Lingmo Klonovanie
Name[sl]=Klonirnik Lingmo
Name[sq]=Klonim Lingmo
Name[sr]=Дипин Клонирање
Name[tr]=Lingmo Klon
Name[uk]=Клонувальник Lingmo
Name[zh_CN]=深度备份还原工具
Name[zh_TW]=Lingmo 時光機

