Source: dde-account-faces
Section: deepin
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8),

Package: dde-account-faces
Architecture: all
Depends: accountsservice
Conflicts: deepin-system-settings-module-account
Description: When users are ready to set their own account avatars,
 Deepin Account avatars provide many beautiful avatars for users to choose from.
 It is part of Deepin software and DDE (Deepin Desktop Environment).
