[Desktop Entry]
Categories=Utility;TextEditor;Development;IDE;
Comment=Code Editing. Redefined.
Exec=/usr/bin/lingmo-unioncode
GenericName=Lingmo Union Code
Icon=/usr/share/lingmo-unioncode/configures/icons/ide.svg
Keywords=lingmo-unioncode;
MimeType=text/plain;application/x-code-workspace;
Name=Lingmo Union Code
Path=/usr/bin
StartupNotify=false
StartupWMClass=UnionCode
Type=Application
X-Lingmo-Vendor=user-custom
