Source: lingmo-media
Section: x11
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: handsome_feng <team@lingmo.org>
Build-Depends: debhelper-compat (= 12),
               dpkg-dev (>= 1.16.1.1),
               intltool,
               qtbase5-dev,
               libgsettings-qt-dev,
               libglib2.0-dev,
               libxml2-dev,
               libqt5svg5-dev,
               libqt5multimedia5-plugins,
               qtmultimedia5-dev,
               qttools5-dev-tools,
               libkf5windowsystem-dev,
               liblingmo-log4qt-dev,
               libasound2-dev,
               libpulse-dev,
               libdconf-dev,
               libcanberra-dev,
               libukcc-dev,
	       libqt5x11extras5-dev,
               liblingmosdk-qtwidgets-dev(>= 1.0.0lingmo12+0429),
	       liblingmosdk-waylandhelper-dev,
	       libsndfile1-dev,
               liblingmosdk-sysinfo-dev(>= 1.2.1.1),
               liblingmosdk-hardware-dev,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: http://www.lingmo.org/

Package: lingmo-media
Architecture: any
Depends: lingmo-media-common (= ${source:Version}),
         lingmo-control-center(>=3.1.1+1103),
	 libcanberra-pulse(>=0.30-7lingmo2),
         pulseaudio(>=1:13.99.1-1lingmo114k4.22),
         ${misc:Depends},
         ${shlibs:Depends},
         libglib2.0-bin,
Recommends: alsa-utils,
            sound-theme-freedesktop,
Description: LINGMO media utilities
 LINGMO media utilities are the audio mixer and the volume
 control applet.

Package: lingmo-media-common
Architecture: all
Depends: ${misc:Depends},
Description: LINGMO media utilities (common files)
 LINGMO media utilities are the audio mixer and the volume
 control applet.
 .
 This package contains the common files.
