[KCM Locale]
Name=Occitan
Name[af]=Okkitaan
Name[ar]=الأوكسيتانية
Name[ast]=Occitanu
Name[az]=Oksitan dili
Name[be]=Аксітанская
Name[be@latin]=Aksitanskaja
Name[bg]=Окситански
Name[bn]=ওক্সিটান
Name[br]=Oksitaneg
Name[ca]=Occità
Name[ca@valencia]=Occità
Name[cs]=Okcitánský
Name[cy]=Ocsitaneg
Name[de]=Okzitanisch
Name[el]=Οξιτανικά
Name[en_GB]=Occitan
Name[eo]=Okcitana
Name[es]=Occitano
Name[et]=Oksitaani
Name[eu]=Okzitaniera
Name[fi]=Oksitaani
Name[fr]=Occitan
Name[fy]=Oksitaansk
Name[ga]=Ocatáinis
Name[gl]=Occitano
Name[he]=אוקסיטנית
Name[hi]=ओकितन
Name[hr]=Okitan
Name[hu]=Okszitán
Name[ia]=Occitano
Name[id]=Occitan
Name[is]=Oksítanska
Name[it]=Occitano
Name[ka]=ოციტანი
Name[ko]=오크어
Name[lb]=Okzitanesch
Name[lt]=Oksitanų
Name[lv]=Oksitāņu
Name[nl]=Occitaans
Name[nn]=Oksitansk
Name[pa]=ਓਸੀਟਾਨ
Name[pl]=Okcytański
Name[pt]=Occitano
Name[pt_BR]=Ocitano
Name[ro]=Occitană
Name[ru]=Окситанский
Name[sk]=Okcitánčina
Name[sl]=Oksitanščina
Name[sv]=Occitanska
Name[ta]=ஒக்சிட்டான்
Name[tr]=Oksitanca
Name[uk]=Окситанська
Name[uz]=Ossitancha
Name[uz@cyrillic]=Осситанча
Name[vi]=Tiếng Occitan
Name[xh]=Occitan
Name[x-test]=xxOccitanxx
Name[zh_CN]=欧西坦语
Name[zh_TW]=奧克語
