/build/
/.vscode/
/.cache/
/docs/*.latex
/docs/*.txt
/docs/*.aux
/docs/*.log
/docs/*.out
/docs/*.pdf
/docs/*.synctex.gz
/docs/*.toc
/obj-x86_64-linux-gnu/
debian/debhelper-build-stamp
debian/deepin-im/
debian/.debhelper/
debian/files
debian/deepin-im.substvars
debian/deepin-im.postinst.debhelper
debian/deepin-im.postrm.debhelper

