Source: lingmo-framework
Section: x11
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: xibowen <team@lingmo.org>
Build-Depends: debhelper-compat (= 12), lsb-release
Standards-Version: 4.6.1.0
Rules-Requires-Root: no
Homepage: https://github.com/LingmoOS

Package: lingmo-framework
Architecture: all
Depends: kwin-x11,
         lingmo-theme,
         explorer,
         qt5-lingmo-platformtheme,
         lingmo-control-center,
         lingmo-menu,
         lingmo-panel,
         lingmo-polkit,
         lingmo-session-manager,
         lingmo-settings-daemon,
         lingmo-sidebar,
         ${misc:Depends}
Description: LINGMO Framework
