[Desktop Entry]
Type=Application
Name=Test Service
Exec=/bin/false
X-KDE-Shortcuts=Meta+T
X-KDE-Migrate-Shortcut=kcm_touchpad,Toggle Touchpad
Actions=dotest;dotest2;

[Desktop Action dotest]
Name=Testing
Exec=/bin/false
X-KDE-Shortcuts=Meta+Shift+T
X-KDE-Migrate-Shortcut=kded5,display

[Desktop Action dotest2]
Name=Testing 2
Exec=/bin/false
X-KDE-Shortcuts=Meta+Space
X-KDE-Migrate-Shortcut=yakuake,toggle-window-state

