<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<HTML lang=en><HEAD><TITLE>Debian GNU/Linux -- Debian-Installer translation status in testing</TITLE>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<BODY text=#000000 vLink=#800080 aLink=#ff0000 link=#0000ff bgColor=#ffffff>
<TABLE cellSpacing=0 cellPadding=3 width="100%" align=center summary="" 
border=0>
  <TBODY>
  <TR>
    <TD vAlign=center align=left><A href="https://www.debian.org/"><IMG 
      height=61 alt="" hspace=0 
      src="https://www.debian.org/logos/openlogo-nd-50.png" width=50 border=0></A> 
      <A href="https://www.debian.org/" rel=start><IMG height=61 
      alt="Debian Project" hspace=0 src="https://www.debian.org/Pics/debian.jpg" 
      width=179 border=0></A> </TD>
    <TD vAlign=center align=right>
      <TABLE summary="">
        <TBODY>
        <TR>
	<TD align=center>
	<h1><!-- something here?? --></h1>
	</TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE><!--UdmComment-->
<TABLE cellSpacing=0 cellPadding=0 width="100%" bgColor=#df0451 summary="" 
border=0>
  <TBODY>
  <TR>
    <TD vAlign=top><IMG height=16 alt="" hspace=0 
    src="https://www.debian.org/Pics/red-upperleft.png" width=15 align=left 
      border=0> </TD>
    <TD align=center rowSpan=2></TD>
    <TD vAlign=top><IMG height=16 alt="" hspace=0 
      src="https://www.debian.org/Pics/red-upperright.png" width=16 align=right 
      border=0> </TD></TR>
  <TR>
    <TD vAlign=bottom><IMG height=16 alt="" hspace=0 
      src="https://www.debian.org/Pics/red-lowerleft.png" width=16 align=left 
      border=0> </TD>
    <TD vAlign=bottom><IMG height=16 alt="" hspace=0 
      src="https://www.debian.org/Pics/red-lowerright.png" width=15 align=right 
      border=0> </TD></TR></TBODY></TABLE><!--/UdmComment-->
      
      
<!-- BODY -->
<P>This page exists to give you an overview about the Debian Installer's 
translation status as it would be if released today.
</p>
<p>
The Debian Installer is a collection of packages maintained by the
installer development team 
in GIT (level1) and other packages that show up during the installation process. 
These &quot;other&quot; packages are in level 2 and 3.
</p>
<p>
<strong>This page gathers information for the version of packages available in
<em>testing</em> and its information is relevant only for the release
managers and translation coordinators.</strong>
</p>
<p>
For information about the status of packages available in <em>unstable</em>, see <a
href="translation-status.html">this page</a>.
</P>
<p>
For information about the status of packages in the various packages
development repositories, see <a
href="translation-status.html">this page</a>.
</P>


<H1>Current status in testing</H1>
<table width="100%" border=1>
<p><em>Follow links on columns headers to access files for each level.
Follow links on language codes to get details for each language/level
combination.</em></p>
        <tr>
	    <td colspan=3 align="center">
	    <strong>Overall translation ratio: <TOTAL>%</strong>
	    </td>
	</tr>
	<tr>
	    <td align="center" ><b><a
href="https://d-i.debian.org/l10n-stats/level1/">level1</a></b></td>
	    <td align="center" ><b><a href="https://d-i.debian.org/l10n-stats/level2/">level2</a></b></td>
	    <td align="center" ><b><a href="https://d-i.debian.org/l10n-stats/level3/">level3</a></b></td></tr>
	<tr><td width="20%"><pre>
<L1>
</pre></td>
<td width="20%"><pre>
<L2>
</pre></td><td width="20%"><pre>
<L3>
</pre></td></tr>
</table>
<!-- /BODY -->


<HR width="100%" noShade SIZE=1>
Back to the <A href="http://www.debian.org/">Debian Project homepage</A>. 
<HR width="100%" noShade SIZE=1>

Last changed: <DATE> UTC
</BODY></HTML>
