# translation of kdelibs4.po to Turkish
# translation of kdelibs4.po to
# Kdelibs Turkish translation file
# Copyright (C) 2000,2003, 2004, 2005, 2007, 2008 Free Software Foundation, Inc.
#
# Ömer Fadıl USTA <omer_fad@hotmail.com>,1999-2002.
# Görkem Çetin <gorkem@kde.org>, 2002,2003, 2004.
# Tuncay YENİAY <tuncayyeniay@mynet.com>,2002.
# Ayşe Genç <ayse@uludag.org.tr>, 2005.
# Görkem Çetin <gorkem@kde.org.tr>, 2005.
# Görkem Çetin <gorkem@gorkemcetin.com>, 2005.
# Bekir SONAT <cortexbs@yahoo.com>, 2005.
# Serdar Soytetir <tulliana@gmail.com>, 2007.
# Serdar Soytetir <tulliana@gmail.com>, 2007, 2008, 2009, 2011.
# H. İbrahim Güngör <ibrahim@pardus.org.tr>, 2010, 2011.
# Ozan Çağlayan <ozan@pardus.org.tr>, 2010, 2011.
# Serdar SOYTETİR <tulliana@gmail.com>, 2010, 2012.
# Volkan Gezer <volkangezer@gmail.com>, 2013, 2014, 2017.
# Kaan Ozdincer <kaanozdincer@gmail.com>, 2014.
# SPDX-FileCopyrightText: 2022, 2023, 2024 Emir SARI <emir_sari@icloud.com>
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2024-05-18 21:05+0300\n"
"Last-Translator: Emir SARI <emir_sari@icloud.com>\n"
"Language-Team: Turkish <kde-l10n-tr@kde.org>\n"
"Language: tr\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n > 1);\n"
"X-Generator: Lokalize 24.07.70\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr ""
"Serdar Soytetir, Görkem Çetin, H. İbrahim Güngör, Volkan Gezer, Emir SARI"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"tulliana@gmail.com, gorkem@kde.org, ibrahim@pardus.org.tr, volkangezer@gmail."
"com, emir_sari@icloud.com"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Öntanımlı"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Kendiliğinden Algıla"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr "Renk Şeması"

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr "Görüntülenecek komut yok"

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr "Süzgeçle bir komut eşleşmiyor"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Yapılandır"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Menü"

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "&Menü Çubuğunu Tüm Eylemlerle Göster"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Daha Fazla"

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Daha Fazla Eylem"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Girdi Yok"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Listeyi Temizle"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Geri"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "İ&leri"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Başlangıç"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Menü Çubuğunu Göster <p> Gizli duran menü çubuğunu yeniden gösterir</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Durum Çubuğunu Göster<p>Pencerelerin en alt bölümünde bulunan ve bilgi "
"vermek amacıyla kullanılan durum çubuğunu gösterir.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "&Yeni"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Yeni belge oluştur"

#: kstandardaction_p.h:64
msgid "&Open…"
msgstr "&Aç…"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Var olan bir belgeyi aç"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "&Son Kullanılanı Aç"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Yakınlarda açılmış olan bir belgeyi aç"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Kaydet"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Belgeyi kaydet"

#: kstandardaction_p.h:67
msgid "Save &As…"
msgstr "&Farklı Kaydet…"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Belgeyi yeni bir adla kaydet"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "Es&ki Haline Döndür"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Belgede yapılan ve kaydedilmemiş olan değişiklikleri geri al"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Kapat"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Belgeyi kapat"

#: kstandardaction_p.h:70
msgid "&Print…"
msgstr "Ya&zdır…"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Belgeyi yazdır"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "Yazdırma &Önizlemesi"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Belgenin yazdırma önizlemesini göster"

#: kstandardaction_p.h:72
msgid "&Mail…"
msgstr "&E-posta…"

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Belgeyi e-posta ile gönder"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "Çı&k"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Uygulamadan Çık"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Geri Al"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Son eylemi geri al"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "&Yinele"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Son geri alma işlemine kadar yinele"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "&Kes"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Seçimi keserek panoya al"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "Ko&pyala"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Seçimi kopyalayarak panoya al"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "&Yapıştır"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Pano içeriğini yapıştır"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "&Temizle"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "&Tümünü Seç"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "&Seçimi Kaldır"

#: kstandardaction_p.h:83
msgid "&Find…"
msgstr "&Bul…"

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "&Sonrakini Bul"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Önce&kini Bul"

#: kstandardaction_p.h:86
msgid "&Replace…"
msgstr "&Değiştir…"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr "Gerçek Boyut&a Yakınlaştır"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Belgeyi kendi özgün boyutunda göster"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "Sayfaya Sığdı&r"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Sayfayı pencereye sığdır"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "Sayfa &Genişliğine Sığdır"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Sayfayı pencerenin genişliğine göre sığdır"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "Sayfa &Yüksekliğine Sığdır"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Sayfayı pencerenin yüksekliğine göre sığdır"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "&Yakınlaştır"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "&Uzaklaştır"

#: kstandardaction_p.h:94
msgid "&Zoom…"
msgstr "&Yakınlaştır…"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Yakınlaştırma düzeyini seç"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr "&Yenile"

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr "Belgeyi yenile"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "&Yukarı"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Yukarı git"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "Ö&nceki Sayfa"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Önceki sayfaya git"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "&Sonraki Sayfa"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Sonraki sayfaya git"

#: kstandardaction_p.h:104
msgid "&Go To…"
msgstr "G&it…"

#: kstandardaction_p.h:105
msgid "&Go to Page…"
msgstr "Sayfaya &Git…"

#: kstandardaction_p.h:106
msgid "&Go to Line…"
msgstr "Satıra &Git…"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "İ&lk Sayfa"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "İlk sayfaya git"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "S&on Sayfa"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Son sayfaya git"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "&Geri"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Belge içerisinde geri git"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "&İleri"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Belge içerisinde ileri git"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "Yer İmi &Ekle"

#: kstandardaction_p.h:113
msgid "&Edit Bookmarks…"
msgstr "Yer İmlerini Dü&zenle…"

#: kstandardaction_p.h:115
msgid "&Spelling…"
msgstr "&Yazım Denetimi…"

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Belge içerisinde yazım denetimi yap"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "&Menü Çubuğunu Göster"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Menü çubuğunu göster veya gizle"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "&Araç Çubuğunu Göster"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Araç çubuğunu göster veya gizle"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "&Durum Çubuğunu Göster"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Durum çubuğunu göster veya gizle"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "Ta&m Ekran Kipi"

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr "&Klavye Kısayollarını Yapılandır…"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Configure %1…"
msgstr "%1 Uygulamasını &Yapılandır…"

#: kstandardaction_p.h:123
msgid "Configure Tool&bars…"
msgstr "&Araç Çubuklarını Yapılandır…"

#: kstandardaction_p.h:124
msgid "Configure &Notifications…"
msgstr "&Bildirimleri Yapılandır…"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &El Kitabı"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "Bu &Nedir?"

#: kstandardaction_p.h:130
msgid "&Report Bug…"
msgstr "&Hata Bildir…"

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr "&Dili Yapılandır…"

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "%1 &Hakkında"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "&KDE Hakkında"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "&Sil"

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr "&Yeniden Adlandır…"

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "&Çöp Kutusuna Taşı"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "&Bağış Yap"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr "Me&nüyü Aç"

#: kstylemanager.cpp:60
#, kde-format
msgid "Application Style"
msgstr "Uygulama Biçemi"

#: kstylemanager.cpp:64
#, kde-format
msgid "Default"
msgstr "Öntanımlı"

#~ msgid "Tip of the &Day"
#~ msgstr "&Günün İpucu"

#~ msgid "You will be asked to authenticate before saving"
#~ msgstr "Kaydetmeden önce kimlik doğrulaması yapmanız istenecek"

#~ msgid "You are not allowed to save the configuration"
#~ msgstr "Yapılandırmayı kaydetme izniniz yok"

#~ msgctxt "show help"
#~ msgid "&Help"
#~ msgstr "&Yardım"

#~ msgid "&Save Settings"
#~ msgstr "&Ayarları Kaydet"

#~ msgctxt "@title:window"
#~ msgid "Tip of the Day"
#~ msgstr "Günün İpucu"

#~ msgctxt "@title"
#~ msgid "Did you know...?\n"
#~ msgstr "Biliyor muydunuz...?\n"

#~ msgctxt "@option:check"
#~ msgid "&Show tips on startup"
#~ msgstr "&Başlangıçta ipuçlarını göster"

#~ msgctxt "@action:button Goes to previous tip"
#~ msgid "&Previous"
#~ msgstr "&Önceki"

#~ msgctxt "@action:button Goes to next tip, opposite to previous"
#~ msgid "&Next"
#~ msgstr "&Sonraki"
