Source: plasma-workspace
Section: lingmo
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: cmake (>= 3.16~),
               debhelper-compat (= 13),
               extra-cmake-modules (>= 5.102.0~),
Standards-Version: 4.6.2
Homepage: https://github.com/LingmoOS/lingmo-workspace
Vcs-Browser: https://github.com/LingmoOS/lingmo-workspace
Vcs-Git: https://github.com/LingmoOS/lingmo-workspace.git
Rules-Requires-Root: no

Package: plasma-workspace
Architecture: any
Depends: lingmo-workspace,
         ${misc:Depends},
Description: Lingmo OS Workspace for KF5
 Lingmo OS Workspace for KF5. Workspaces provide
 support for Lingmo OS Widgets, integrated search,
 hardware management and a high degree of customizability.
 .
 This contains the data files for the Plasma workspace.

Package: plasma-workspace-data
Architecture: all
Depends: lingmo-workspace-data,
         ${misc:Depends},
Breaks: breeze (<< 4:5.23.90~),
        plasma-desktop (<< 4:5.24.0),
        plasma-desktop-data (<< 4:5.27.0),
Replaces: breeze (<< 4:5.23.90~),
          plasma-desktop (<< 4:5.24.0),
          plasma-desktop-data (<< 4:5.27.0),
Description: Lingmo OS Workspace for KF5 - data files
 Lingmo OS Workspace for KF5. Workspaces provide
 support for Lingmo OS Widgets, integrated search,
 hardware management and a high degree of customizability.
 .
 This contains the data files for the Plasma workspace.

Package: plasma-workspace-dev
Architecture: any
Section: libdevel
Depends: lingmo-workspace-dev,
         ${misc:Depends},
         ${so:Depends},
Breaks: plasma-desktop-dev (<< 4:5.20),
Replaces: plasma-desktop-dev (<< 4:5.20),
Description: Lingmo OS Workspace for KF5 devel files
 Lingmo OS Workspace for KF5. Workspaces provide
 support for Lingmo OS Widgets, integrated search,
 hardware management and a high degree of customizability.
 .
 This package contains the development files.

Package: plasma-workspace-wayland
Architecture: any
Depends: lingmo-workspace-wayland,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Lingmo OS Workspace for KF5 - Wayland integration
 Lingmo OS Workspace for KF5. Workspaces provide
 support for Lingmo OS Widgets, integrated search,
 hardware management and a high degree of customizability.
 .
 This package contains the Wayland session.
