Source: lingmo-panel
Section: x11
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (=13),
               cmake,
               pkgconf,
               qtchooser,
               qtbase5-dev,
               qttools5-dev,
               qtdeclarative5-dev,
               libqt5remoteobjects5-dev,
               libqt5x11extras5-dev,
               libqt5waylandclient5-dev,
               libqt5xdg-dev,
               libkf5wayland-dev,
               libkf5windowsystem-dev (>= 5.92.0-ok5),
               libglib2.0-dev,
               libgsettings-qt-dev,
               liblingmo-search-dev,
               liblingmo-quick-dev (>= 4.10.8.0-ok0),
               libukcc-dev,
               liblingmosdk-datacollect-dev,
               liblingmosdk-waylandhelper-dev,
               liblingmosdk-systime-dev,
               liblingmosdk-qtwidgets-dev
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/LingmoOS

Package: lingmo-panel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         qml-module-org-lingmo-quick-items,
         qml-module-org-lingmo-quick-platform,
         lingmo-panel-widgets,
         lingmo-widget-system-tray (>= 4.10.0.5-ok1)
Replaces: lingmo-panel (< 4.10.1.0)
Conflicts: lingmo-panel (< 4.10.1.0)
Description: Panel in a dock window based on lingmo-quick.
             It provides a convenient area on desktop that help you manage your tasks and show system tray.
             Also it can load widgets base on lingmo-quick as you want.

Package: lingmo-panel-widgets
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
         qml-module-org-lingmo-quick-items,
         qml-module-org-lingmo-quick-platform,
         qml-module-org-lingmo-quick-modules
Description: Widgets base on lingmo-quick that will be loaded on lingmo-panel by default.
             These widgets are distributed with lingmo-panel.
