[Desktop Entry]
Categories=Video;
Comment=Camera is an image and video capture utility using your PC camera or webcam.
Exec=deepin-camera
GenericName=Camera
Icon=camera_normal
Name=Deepin Camera
StartupNotify=false
Terminal=false
Type=Application
X-Deepin-TurboType=dtkwidget
X-Deepin-Vendor=deepin
X-MultipleArgs=false

# Translations:
# Do not manually modify!
Comment[bg]=Камера е приложение за заснемане на видео и снимки с уеб камера или камерата на вашият компютър.
Comment[bo]=པར་ཆས་ནི་སྤྱོད་ཐབས་བདེ་བའི་པར་ལེན་ཡོ་བྱད་ཞིག་ཡིན་པ་དང་།པར་ལེན་དང་བཪྙན་ཕབ་སོགས་བྱེད་ནུས་མངོན་གྱུར་བྱེད་ཐུབ།
Comment[ca]=La Càmera és una utilitat de captura d’imatges i vídeos que usa la càmera o la càmera web del PC.
Comment[cs]=Kamera je nástroj pro zachytávání obrazu a videa pomocí kamery počítače.
Comment[en_US]=Camera is an image and video capture utility using your PC camera or webcam.
Comment[es]=Cámara de Deepin es una utilidad de captura de imágenes y vídeos que utiliza la cámara de su equipo o cámara web.
Comment[fi]=Kamera on kuvan ja videon sieppaustyökalu, joka käyttää tietokoneen kameraa tai verkkokameraa.
Comment[fr]=Caméra est un utilitaire de capture d'images et de vidéos utilisant votre caméra intégrée ou votre webcam.
Comment[hi_IN]=कैमरा - कंप्यूटर कैमरा या वेब कैम उपयोग कर चित्र लेने व वीडियो हेतु साधन है।
Comment[hu]=A Kamera egy kép- és videofelvételi segédprogram, amely a számítógép kameráját vagy webkameráját használja.
Comment[it]=Camera è un'app di acquisizione immagini e video che sfrutta la camera integrata nel tuo dispositivo. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[ms]=Kamera ialah sebuah utiliti tangkapan imej dan video menggunakan kamera PC atau kamera sesawang anda.
Comment[nl]=Met Camera kun je foto's en video's maken met je camera of webcam.
Comment[pl]=Kamera to narzędzie do przechwytywania obrazów i wideo za pomocą kamery komputera lub kamery internetowej.
Comment[pt]=A Câmara é um utilitário de captura de imagem e vídeo que utiliza a câmara do PC ou webcam.
Comment[pt_BR]=O Câmera é um utilitário para capturar imagens e vídeos pela webcam.
Comment[ro]=Camera - este instrumentul de capturare foto și video ce utilizează camera web a calculatorului dvs.
Comment[ru]=Камера - это приложение для захвата изображения и записи видео, используя веб-камеру вашего компьютера.
Comment[sl]=Kamera je orodje za zajem slik in videa, ki uporablja PC ali spletno kamero.
Comment[sq]=Kamera është një mjet për bërje fotosh dhe videosh duke përdorur kamerën e PC-së tuaj ose një kamerë web.
Comment[sr]=Камера је алат за снимање видеа и слика путем камаре рачунара или мрежне камере.
Comment[tr]=Kamera, PC kameranızı veya web kameranızı kullanan bir görüntü ve video yakalama aracıdır.
Comment[ug]=كامېرا كومپيۇتېرىڭىز ياكى كامېرا ئارقىلىق رەسىم ۋە سىنغا ئېلىش قورالى.
Comment[uk]=«Камера» — допоміжна програма для захоплення зображень та відео з відеокамери вашого персонального комп'ютера або вебкамери.
Comment[zh_CN]=相机是一款简单易用的摄像头应用工具，可实现拍照、录制视频等功能。
Comment[zh_HK]=相機是一款簡單易用的鏡頭應用工具，可實現拍照、錄製影片等功能。
Comment[zh_TW]=相機是一款簡單易用的攝影機應用工具，可實現拍照、錄製影片等功能。
GenericName[bg]=Камера
GenericName[bo]=པར་ཆས།
GenericName[ca]=Càmera
GenericName[cs]=Kamera
GenericName[en_US]=Camera
GenericName[es]=Cámara
GenericName[fi]=Kamera
GenericName[fr]=Caméra
GenericName[hi_IN]=कैमरा
GenericName[hu]=Kamera
GenericName[it]=Camera
GenericName[ms]=Kamera
GenericName[nl]=Camera
GenericName[pl]=Kamera
GenericName[pt]=Câmara
GenericName[pt_BR]=Câmera
GenericName[ro]=Camera
GenericName[ru]=Камера
GenericName[sl]=Kamera
GenericName[sq]=Kamerë
GenericName[sr]=Камера
GenericName[tr]=Kamera
GenericName[ug]=كامېرا
GenericName[uk]=Камера
GenericName[zh_CN]=相机
GenericName[zh_HK]=相機
GenericName[zh_TW]=相機
Name[bg]=Deepin Камера
Name[bo]=གཏིང་ཟབ་པར་ཆས།
Name[ca]=Càmera del Deepin
Name[cs]=Kamera
Name[en_US]=Deepin Camera
Name[es]=Cámara
Name[fi]=Deepin Kamera
Name[fr]=Caméra Deepin
Name[hi_IN]=दीपिन कैमरा
Name[hu]=Deepin® Kamera
Name[it]=Deepin Camera
Name[ms]=Kamera Deepin
Name[nl]=Deepin Camera
Name[pl]=Kamera Deepin
Name[pt]=Câmara Deepin
Name[pt_BR]=deepin Câmera
Name[ro]=Camera Deepin
Name[ru]=Камера Deepin
Name[sl]=Deepin kamera
Name[sq]=Kamera Deepin
Name[sr]=Дипин Камера
Name[tr]=Deepin Kamera
Name[ug]=Deepinكامىرا 
Name[uk]=Камера Deepin
Name[zh_CN]=深度相机
Name[zh_HK]=Deepin 相機
Name[zh_TW]=Deepin 相機

