Source: lingmo-service-manager
Section: admin
Priority: optional
Maintainer: Lingmo Sysdev <sysdev@lingmo.com>
Build-Depends:  debhelper (>= 11),
 pkg-config,
 cmake,
 qtbase5-dev,
 qttools5-dev-tools,
 qttools5-dev,
 libsystemd-dev
Standards-Version: 4.1.3
Homepage: https://github.com/lingmoos

Package: lingmo-service-manager
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Recommends:
 lingmo-service-plugins
Description: lingmo desktop-environment - service manager frame
 Load system plug-ins for unified management

Package: liblingmo-service-framework-dev
Architecture: any
Depends:
 ${misc:Depends},
 liblingmo-service-framework( =${binary:Version})
Description: lingmo desktop-environment - service frame for development

Package: liblingmo-service-framework
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: lingmo desktop-environment - service frame

