# Vietnamese translation for kdelibs.
# Copyright © 2007 KDE i18n Project for Vietnamese.
#
# Clytie Siddall <clytie@riverland.net.au>, 2006-2007.
# Hoàng Đức Hiếu <hieu.d.hoang@gmail.com>, 2008, 2011.
# Lê Hoàng Phương <herophuong93@gmail.com>, 2011, 2012.
# Phu Hung Nguyen <phu.nguyen@kdemail.net>, 2020, 2021, 2022.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2022-05-31 10:57+0200\n"
"Last-Translator: Phu Hung Nguyen <phu.nguyen@kdemail.net>\n"
"Language-Team: Vietnamese <kde-l10n-vi@kde.org>\n"
"Language: vi\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Generator: Lokalize 21.12.2\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Nguyễn Hùng Phú,Lê Hoàng Phương,Hoàng Đức Hiếu,Clytie Siddall"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"phu.nguyen@kdemail.net,herophuong93@gmail.com,hieu.d.hoang@gmail.com,"
"clytie@riverland.net.au"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Mặc định"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Tự động phát hiện"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr "Quy hoạch màu"

#: kcommandbar.cpp:639
#, fuzzy, kde-format
#| msgid "No commands matching the filter"
msgid "No commands to display"
msgstr "Không có lệnh nào khớp với bộ lọc"

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr "Không có lệnh nào khớp với bộ lọc"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Cấu hình"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "Trìn&h đơn"

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Hiện th&anh trình đơn với tất cả các hành động"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Thêm"

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Các hành động khác"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Không có mục nào"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Làm trống danh sách"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "Lù&i"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Tiến"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "N&hà"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Hiện thanh trình đơn<p>Hiện lại thanh trình đơn sau khi nó bị ẩn</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Hiện thanh trạng thái<p>Hiện thanh trạng thái, là thanh ở dưới cùng của cửa "
"sổ, dùng cho thông tin trạng thái.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "Tạ&o"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Tạo tài liệu mới"

#: kstandardaction_p.h:64
#, fuzzy
#| msgid "&Open..."
msgid "&Open…"
msgstr "&Mở..."

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Mở một tài liệu đã có"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "Mở &gần đây"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Mở một tài liệu từng mở gần đây"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Lưu"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Lưu tài liệu"

#: kstandardaction_p.h:67
#, fuzzy
#| msgid "Save &As..."
msgid "Save &As…"
msgstr "Lưu thà&nh..."

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Lưu tài liệu dưới một tên mới"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "Hoàn ngu&yên"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Hoàn nguyên các thay đổi chưa lưu trong tài liệu"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "Đón&g"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Đóng tài liệu"

#: kstandardaction_p.h:70
#, fuzzy
#| msgid "&Print..."
msgid "&Print…"
msgstr "&In..."

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "In tài liệu"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "&Xem thử bản in"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Hiện một phần xem thử bản in của tài liệu"

#: kstandardaction_p.h:72
#, fuzzy
#| msgid "&Mail..."
msgid "&Mail…"
msgstr "&Thư..."

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Gửi tài liệu qua thư"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "&Thoát"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Thoát khỏi ứng dụng"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "Đảo n&gược"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Đảo ngược hành động cuối cùng"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "&Làm lại"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Làm lại hành động bị đảo ngược cuối cùng"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "Cắ&t"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Cắt phần chọn đưa vào bảng nháp"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "&Chép"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Chép phần chọn vào bảng nháp"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "&Dán"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Dán nội dung bảng nháp"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "&Làm trống"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "C&họn tất cả"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "&Bỏ chọn"

#: kstandardaction_p.h:83
#, fuzzy
#| msgid "&Find..."
msgid "&Find…"
msgstr "&Tìm..."

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "Tìm về sa&u"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Tìm &về trước"

#: kstandardaction_p.h:86
#, fuzzy
#| msgid "&Replace..."
msgid "&Replace…"
msgstr "Tha&y thế..."

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr "Thu phóng về kíc&h cỡ thật"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Xem tài liệu ở kích cỡ thật của nó"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "&Vừa trang"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Thu phóng để trang vừa trong cửa sổ"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "Vừa bề &rộng trang"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Thu phóng để chiều rộng trang vừa trong cửa sổ"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "Vừa bề &cao trang"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Thu phóng để chiều cao trang vừa trong cửa sổ"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "Phóng t&o"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "Thu &nhỏ"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "&Zoom..."
msgid "&Zoom…"
msgstr "Th&u phóng..."

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Chọn cấp độ thu phóng"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr "Cậ&p nhật"

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr "Cập nhật tài liệu"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "&Lên"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Đi lên"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "Trang t&rước"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Đi đến trang trước"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "Trang &sau"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Đi đến trang sau"

#: kstandardaction_p.h:104
#, fuzzy
#| msgid "&Go To..."
msgid "&Go To…"
msgstr "Đi đế&n..."

#: kstandardaction_p.h:105
#, fuzzy
#| msgid "&Go to Page..."
msgid "&Go to Page…"
msgstr "Đi đến t&rang..."

#: kstandardaction_p.h:106
#, fuzzy
#| msgid "&Go to Line..."
msgid "&Go to Line…"
msgstr "Đi đến &dòng..."

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "Trang đầ&u"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "Đi đến trang đầu"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "Trang &cuối"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Đi đến trang cuối"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "Lù&i"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Đi lùi trong tài liệu"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "&Tiến"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Đi tiến trong tài liệu"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "T&hêm dấu nhớ"

#: kstandardaction_p.h:113
#, fuzzy
#| msgid "&Edit Bookmarks..."
msgid "&Edit Bookmarks…"
msgstr "&Sửa dấu nhớ..."

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "&Spelling..."
msgid "&Spelling…"
msgstr "Đánh &vần..."

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Kiểm tra đánh vần trong tài liệu"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "Hiện th&anh trình đơn"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Hiện hay ẩn thanh trình đơn"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "Hiện thanh &công cụ"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Hiện hay ẩn thanh công cụ"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "Hiện thanh t&rạng thái"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Hiện hay ẩn thanh trạng thái"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "Chế độ t&oàn màn hình"

#: kstandardaction_p.h:121
#, fuzzy
#| msgid "Configure Keyboard S&hortcuts..."
msgid "Configure Keyboard S&hortcuts…"
msgstr "Cấu hình phí&m tắt..."

#: kstandardaction_p.h:122
#, fuzzy, kde-format
#| msgid "&Configure %1..."
msgid "&Configure %1…"
msgstr "&Cấu hình %1..."

#: kstandardaction_p.h:123
#, fuzzy
#| msgid "Configure Tool&bars..."
msgid "Configure Tool&bars…"
msgstr "Cấu hình th&anh công cụ..."

#: kstandardaction_p.h:124
#, fuzzy
#| msgid "Configure &Notifications..."
msgid "Configure &Notifications…"
msgstr "Cấu hình thông &báo..."

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "&Sổ tay %1"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "Đây là &cái gì?"

#: kstandardaction_p.h:130
#, fuzzy
#| msgid "&Report Bug..."
msgid "&Report Bug…"
msgstr "&Báo lỗi..."

#: kstandardaction_p.h:131
#, fuzzy
#| msgid "Configure &Language..."
msgid "Configure &Language…"
msgstr "Cấu hình &ngôn ngữ..."

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "&Về %1"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "Về &KDE"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "&Xoá"

#: kstandardaction_p.h:135
#, fuzzy
#| msgid "&Rename..."
msgid "&Rename…"
msgstr "Đổ&i tên..."

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "Chuyển vào thùng &rác"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "&Quyên góp"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr "Mở trìn&h đơn"

#: kstylemanager.cpp:60
#, fuzzy, kde-format
#| msgid "Quit application"
msgid "Application Style"
msgstr "Thoát khỏi ứng dụng"

#: kstylemanager.cpp:64
#, kde-format
msgid "Default"
msgstr "Mặc định"

#~ msgid "Tip of the &Day"
#~ msgstr "&Mẹo của ngày"

#~ msgid "You will be asked to authenticate before saving"
#~ msgstr "Bạn sẽ được yêu cầu xác thực trước khi lưu"

#~ msgid "You are not allowed to save the configuration"
#~ msgstr "Bạn không được phép lưu cấu hình"

#~ msgctxt "show help"
#~ msgid "&Help"
#~ msgstr "Trợ &giúp"

#~ msgid "&Save Settings"
#~ msgstr "Lưu thiết lậ&p"

#~ msgctxt "@title:window"
#~ msgid "Tip of the Day"
#~ msgstr "Mẹo của ngày"

#~ msgctxt "@title"
#~ msgid "Did you know...?\n"
#~ msgstr "Bạn có biết...?\n"

#~ msgctxt "@option:check"
#~ msgid "&Show tips on startup"
#~ msgstr "Hiện mẹo khi &khởi động"

#~ msgctxt "@action:button Goes to previous tip"
#~ msgid "&Previous"
#~ msgstr "&Trước"

#~ msgctxt "@action:button Goes to next tip, opposite to previous"
#~ msgid "&Next"
#~ msgstr "&Sau"

#~ msgctxt ""
#~ "@action:inmenu A menu text advertising its contents (more features)."
#~ msgid "For %1 more action:"
#~ msgid_plural "For %1 more actions:"
#~ msgstr[0] "%1 hành động khác:"

#~ msgctxt ""
#~ "@action:inmenu A section heading advertising the contents of the menu bar"
#~ msgid "%1 Menu Bar Exclusive Action"
#~ msgid_plural "%1 Menu Bar Exclusive Actions"
#~ msgstr[0] "%1 hành động riêng cho thanh trình đơn"
