[Desktop Entry]
Categories=Utility
Exec=lingmo-log-viewer %f
GenericName=Log Viewer
Icon=lingmo-log-viewer
Name=Lingmo Log Viewer
StartupNotify=false
TryExec=lingmo-log-viewer
Type=Application
X-Lingmo-Vendor=lingmo

# Translations:
# Do not manually modify!
GenericName[ar]=عارض السجلات
GenericName[az]=Jurnal icmalı
GenericName[bo]=ཉིན་ཐོ་འཚོལ་སྡུད་ཡོ་བྱད།
GenericName[br]=Lenner renabloù
GenericName[ca]=Visualitzador de registres
GenericName[cs]=Prohlížeč záznamů událostí
GenericName[da]=Logfremviser
GenericName[de]=Protokollbetrachter
GenericName[en_GB]=Log Viewer
GenericName[es]=Visor de registro
GenericName[fi]=Tapahtumaloki
GenericName[fr]=Visionneuse de journaux
GenericName[gl_ES]=Visor de rexistros
GenericName[hi_IN]=लॉग फ़ाइल प्रदर्शक
GenericName[hr]=Preglednik zapisa
GenericName[hu]=Napló Megjelenítő
GenericName[it]=Log Viewer
GenericName[ko]=로그 보기도구
GenericName[lt]=Žurnalų žiūryklė
GenericName[ms]=Pelihat Log
GenericName[nl]=Logboek
GenericName[pl]=Przeglądarka dziennika
GenericName[pt]=Visualizador de Registos
GenericName[pt_BR]=Visualizador de Logs
GenericName[ru]= Просмотр журнала
GenericName[sl]=Pregledovalnik dnevnika
GenericName[sq]=Parës Regjistrash
GenericName[sr]=Прегледач Записника
GenericName[tr]=Günlük Görüntüleyici
GenericName[ug]=خاتىرە كۆرگۈچ
GenericName[uk]=Переглядач журналів
GenericName[zh_CN]=日志收集工具
GenericName[zh_HK]=日誌查看器
GenericName[zh_TW]=日誌收集工具
Name[ar]=عارض سجلات ديبين
Name[az]=Lingmo Jurnala İcmalı
Name[bo]=གཏིང་ཟབ་ཉིན་ཐོ་འཚུབ་སྡུད་ཡོ་བྱད།
Name[br]=Lenner renabloù Lingmo
Name[ca]=Visualitzador de registres del Lingmo
Name[cs]=Prohlížeč záznamů událostí
Name[da]=Lingmo logfremviser
Name[de]=Lingmo Protokollbetrachter
Name[en_GB]=Lingmo Log Viewer
Name[es]=Visor de registro
Name[fi]=Lingmo tapahtumaloki
Name[fr]=Visionneuse de journaux Lingmo
Name[gl_ES]=Visor de rexistros de Lingmo
Name[hi_IN]=दीपिन लॉग फ़ाइल प्रदर्शक
Name[hr]=Lingmo preglednik zapisa
Name[hu]=Lingmo® Napló Megjelenítő
Name[it]=Lingmo Log Viewer
Name[ko]=Lingmo 로그 보기도구
Name[lt]=Lingmo žurnalų žiūryklė
Name[ms]=Pelihat Log Lingmo
Name[nl]=Lingmo Logboek
Name[pl]=Przeglądarka dziennika Lingmo
Name[pt]=Visualizador de Registos do Lingmo
Name[pt_BR]=lingmo Visualizador de Logs
Name[ru]=Просмотр журнала Lingmo
Name[sl]=Lingmo pregledovalnik dnevnika
Name[sq]=Parës Regjistrash Lingmo
Name[sr]=Дипин Прегледач Записника
Name[tr]=Lingmo Günlük Görüntüleyici
Name[ug]=خاتىرە كۆرگۈچ Lingmo
Name[uk]=Переглядач журналів Lingmo
Name[zh_CN]=日志收集工具
Name[zh_HK]=Lingmo 日誌查看器
Name[zh_TW]=Lingmo 日誌收集工具

