[Desktop Entry]
Categories=Utility
Exec=lingmo-font-manager %F
GenericName=Font Manager
Icon=lingmo-font-manager
MimeType=font/collection;font/ttf;font/otf;application/x-font-otf;application/x-font-ttf;application/x-font-type1;
Name=Lingmo Font Manager
StartupNotify=false
TryExec=lingmo-font-manager
Type=Application
X-Lingmo-Vendor=lingmo

# Translations:
# Do not manually modify!
GenericName[ar]=مدير الخطوط
GenericName[ast]=Xestor de fontes
GenericName[az]=Şrift İdarəetməsi
GenericName[bg]=Инсталатор на шрифт
GenericName[bn]=ফন্ট ইনস্টলার
GenericName[bo]=ཡིག་གཟུགས་དོ་དམ་ཆས།
GenericName[br]=Merer skriturioù
GenericName[ca]=Gestor de lletres
GenericName[cs]=Správa písem
GenericName[da]=Skrifttypehåndtering
GenericName[de]=Schriftarten-Manager
GenericName[el]=Διαχείριση Γραμματοσειρών
GenericName[es]=Administrador de fuentes
GenericName[fi]=Kirjasimet
GenericName[fr]=Gestionnaire de polices
GenericName[gl_ES]=Xestor de fontes
GenericName[hi_IN]=मुद्रलिपि प्रबंधक
GenericName[hr]=Upravitelj fontovima
GenericName[hu]=Betűkészlet kezelő
GenericName[id]=Pengelola Huruf
GenericName[it]=Font Manager
GenericName[ja]=フォントインストーラー
GenericName[ko]=글꼴 관리자
GenericName[lt]=Šriftų tvarkytuvė
GenericName[mn]=Фонт суулгагч
GenericName[ms]=Pengurus Fon
GenericName[ne]=फन्ट प्रबन्धक
GenericName[nl]=Lettertypebeheer
GenericName[pl]=Zarządzanie czcionkami
GenericName[pt]=Gestor de Fontes
GenericName[pt_BR]=Gerenciador de Fontes
GenericName[ro]=Instalator font
GenericName[ru]=Менеджер Шрифтов
GenericName[si]=අකුරු කළමනාකරු
GenericName[sk]=Inštalátor písem
GenericName[sl]=Upravitelj pisav
GenericName[sq]=Përgjegjës Shkronjash
GenericName[sr]=Управник Фонтова
GenericName[tr]=Yazı Tipi Yöneticisi
GenericName[ug]=فونت باشقۇرغۇچ
GenericName[uk]=Керування шрифтами
GenericName[vi]=Quản lý Font
GenericName[zh_CN]=字体管理器
GenericName[zh_HK]=字體管理器
GenericName[zh_TW]=字體管理器
Name[ar]=مدير خطوط ديبين
Name[ast]=Lingmo Font Manager
Name[az]=Lingmo Şrift İdarəetməsi
Name[bg]=Lingmo инсталатор на шрифт
Name[bn]=ডিপিন ফন্ট ইনস্টলার
Name[bo]=གཏིང་ཟབ་ཡིག་གཟུགས་དོ་དམ་ཆས།
Name[br]=Merer skriturioù Lingmo
Name[ca]=Gestor de lletres del Lingmo
Name[cs]=Správa písem
Name[da]=Lingmo skrifttypehåndtering
Name[de]=Lingmo Schriftarten-Manager
Name[el]=Lingmo Διαχείριση Γραμματοσειρών
Name[es]=Administrador de fuentes
Name[fi]=Lingmo kirjasimet
Name[fr]=Gestionnaire de polices Lingmo
Name[gl_ES]=Xestor de fontes de Lingmo
Name[hi_IN]=दीपिन मुद्रलिपि प्रबंधक
Name[hr]=Lingmo Upravitelj fontovima
Name[hu]=Lingmo Betűkészlet kezelő
Name[id]=Lingmo Font Manager
Name[it]=Lingmo Font Manager
Name[ja]=Lingmo フォントインストーラー
Name[ko]=Lingmo 글꼴 관리자
Name[lt]=Lingmo šriftų tvarkytuvė
Name[mn]=Дээпин фонт суулгагч
Name[ms]=Pengurus Fon Lingmo
Name[ne]=दीपिन फन्ट प्रबन्धक
Name[nl]=Lingmo Lettertypebeheer
Name[pl]=Zarządzanie czcionkami Lingmo
Name[pt]=Gestor de Fontes Lingmo
Name[pt_BR]=lingmo Gerenciador de Fontes
Name[ro]=Instalator Lingmo Font
Name[ru]=Менеджер Шрифтов Lingmo
Name[si]=Lingmo අකුරු කළමනාකරු
Name[sk]=Lingmo Inštalátor písem
Name[sl]=Lingmo upravitelj pisav
Name[sq]=Përgjegjës Shkronjash Lingmo
Name[sr]=Дипин Управник Фонтова
Name[tr]=Lingmo Yazı Tipi Yöneticisi
Name[ug]=Lingmo فونت باشقۇرغۇچ
Name[uk]=Керування шрифтами Lingmo
Name[vi]=Quản lý Font
Name[zh_CN]=深度字体管理器
Name[zh_HK]=Lingmo 字體管理器
Name[zh_TW]=Lingmo 字體管理器

