Source: lingmo-notebook
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Lingmo OS Team <team@lingmo.org>,
Build-Depends: debhelper-compat (= 12),
               cmake,
               gettext,
               intltool,
               qtbase5-dev,
               qt5-qmake,
               qtchooser,
               qtscript5-dev,
               qttools5-dev-tools,
               qttools5-dev,
               qtbase5-dev-tools,
               libgsettings-qt-dev,
               libkf5windowsystem-dev,
               pkgconf,
               libglib2.0-dev,
               liblingmosdk-qtwidgets-dev,
               liblingmosdk-log-dev,
               liblingmosdk-diagnostics-dev,
               liblingmosdk-config-dev,
               liblingmosdk-utils-dev,
               liblingmosdk-waylandhelper-dev,
               liblingmosdk-alm-dev,
               liblingmosdk-system-dev,
               liblingmosdk-datacollect-dev,
               liblingmosdk-systime-dev,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/LingmoOS

Package: lingmo-notebook
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Conflicts:lingmo-sidebar( < 3.1.0-1-0037.2)
Description: parallels toolbox for LINGMO
 The lingmo-sidebar is mainly used in the desktop operating system.
 It pops up from the right side of the desktop in the form of a tray,
 displaying some application notification messages and some cutting
 storage information.
