# Copyright (C) 2023 This file is copyright:
# This file is distributed under the same license as the kconfigwidgets package.
#
# SPDX-FileCopyrightText: 2023 Enol P. <enolp@softastur.org>
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2023-12-12 00:53+0100\n"
"Last-Translator: Enol P. <enolp@softastur.org>\n"
"Language-Team: Asturian <alministradores@softastur.org>\n"
"Language: ast\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Generator: Lokalize 23.08.4\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Softastur"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "alministradores@softastur.org"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr ""

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr ""

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr ""

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr ""

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Menú"

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr ""

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Más"

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Más aiciones"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr ""

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr ""

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Atrás"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "A&lantre"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Aniciu"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""

#: kstandardaction_p.h:63
msgid "&New"
msgstr ""

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Crea un documentu"

#: kstandardaction_p.h:64
msgid "&Open…"
msgstr "&Abrir…"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Abre un documentu esistente"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr ""

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Abre un documentu que s'abriere apocayá"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Guardar"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Guarda'l documentu"

#: kstandardaction_p.h:67
msgid "Save &As…"
msgstr "Guardar &como…"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr ""

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr ""

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Zarrar"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Zarra'l documentu"

#: kstandardaction_p.h:70
msgid "&Print…"
msgstr "&Imprentar…"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Imprenta'l documentu"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr ""

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:72
msgid "&Mail…"
msgstr ""

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Unvia'l documentu per corréu electrónicu"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "&Colar"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Cola de l'aplicación"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Desfacer"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Desfai la última aición"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "&Refacer"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Vuelve facer la última aición"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "Cor&tar"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "&Copiar"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "A&pegar"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr ""

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr ""

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "Seleicionar &too"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "Dese&leicionar"

#: kstandardaction_p.h:83
msgid "&Find…"
msgstr "A&topar…"

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "Atopar lo si&guiente"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Atopar lo ante&rior"

#: kstandardaction_p.h:86
msgid "&Replace…"
msgstr "&Trocar…"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr ""

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr ""

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr ""

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr ""

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr ""

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "A&verar"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "A&lloñar"

#: kstandardaction_p.h:94
msgid "&Zoom…"
msgstr "&Zoom…"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr ""

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr "&Anovar"

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr ""

#: kstandardaction_p.h:97
msgid "&Up"
msgstr ""

#: kstandardaction_p.h:97
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "Páxina &anterior"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr ""

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "Páxina &siguiente"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr ""

#: kstandardaction_p.h:104
msgid "&Go To…"
msgstr ""

#: kstandardaction_p.h:105
msgid "&Go to Page…"
msgstr "&Dir a la páxina…"

#: kstandardaction_p.h:106
msgid "&Go to Line…"
msgstr "&Dir a la llinia…"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "&Primer páxina"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr ""

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "&Última páxina"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr ""

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "&Atrás"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr ""

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "A&lantre"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr ""

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr ""

#: kstandardaction_p.h:113
msgid "&Edit Bookmarks…"
msgstr ""

#: kstandardaction_p.h:115
msgid "&Spelling…"
msgstr ""

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr ""

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr ""

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr ""

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr ""

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr ""

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr ""

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr ""

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr ""

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr "Configurar los ata&yos del tecláu…"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Configure %1…"
msgstr ""

#: kstandardaction_p.h:123
msgid "Configure Tool&bars…"
msgstr ""

#: kstandardaction_p.h:124
msgid "Configure &Notifications…"
msgstr ""

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "&Manual de: %1"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr ""

#: kstandardaction_p.h:130
msgid "&Report Bug…"
msgstr ""

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr "Configurar la &llingua…"

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "&Tocante a «%1»"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "Tocante a &KDE"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "&Desaniciar"

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr ""

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "&Tirar a la papelera"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "&Donar"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr "Abrir el &menú"

#: kstylemanager.cpp:60
#, fuzzy, kde-format
#| msgid "Quit application"
msgid "Application Style"
msgstr "Cola de l'aplicación"

#: kstylemanager.cpp:64
#, kde-format
msgid "Default"
msgstr ""

#~ msgid "Tip of the &Day"
#~ msgstr "Conseyu del &día"
