[KCM Locale]
Name=Asturian
Name[ar]=الأستريّة
Name[ast]=Asturianu
Name[az]=Avstriya Dili
Name[be]=Астурыйская
Name[be@latin]=Asturyjskaja
Name[bg]=Астурийски
Name[bs]=asturijski
Name[ca]=Asturià
Name[ca@valencia]=Asturià
Name[cs]=Asturijský
Name[da]=Asturiansk
Name[de]=Asturisch
Name[el]=Αστουριανά
Name[en_GB]=Asturian
Name[eo]=Asturia
Name[es]=Asturiano
Name[et]=Astuuria
Name[eu]=Asturiera
Name[fa]=اتریشی
Name[fi]=Asturia
Name[fr]=Asturien
Name[ga]=Astúiris
Name[gd]=Astùrais
Name[gl]=Asturiano
Name[gu]=એસ્ટોરિયન
Name[he]=אסטורית
Name[hi]=एस्तुरियन
Name[hr]=Asturijanski
Name[hu]=Asztúriai
Name[ia]=Asturian  
Name[id]=Asturia
Name[is]=Astúríska
Name[it]=Asturiano
Name[ja]=アストゥリアス語
Name[ka]=ასთურიანული
Name[kk]=Астурианша
Name[km]=អាស្តូរៀន
Name[ko]=아스투리아스어
Name[ku]=Astûrî
Name[lt]=Asturų
Name[lv]=Astūriešu
Name[mk]=Астуриски
Name[mr]=अस्तुरियन
Name[ms]=Asturian
Name[nb]=Asturisk
Name[nds]=Astuursch
Name[nl]=Asturisch
Name[nn]=Asturleonesisk
Name[pa]=ਅਸਟੁਰੀਆਈ
Name[pl]=Asturyjski
Name[pt]=Asturiano
Name[pt_BR]=Asturiano
Name[ro]=Asturiană
Name[ru]=Астурийский
Name[se]=Asturiagiella
Name[sk]=Astúrčina
Name[sl]=Asturijščina
Name[sq]=Asturiane
Name[sv]=Asturiska
Name[ta]=அஸ்டூரியன்
Name[tg]=Астуриёнӣ
Name[th]=ภาษาอัสตูเรียส
Name[tr]=Avusturya Dili
Name[tt]=Астурий
Name[ug]=ئاستۇرىيەچە
Name[uk]=Астурійська
Name[vi]=Tiếng Asturias
Name[wa]=Asturyin
Name[x-test]=xxAsturianxx
Name[zh_CN]=阿斯图里亚斯语
Name[zh_TW]=阿斯圖里亞斯語
