Source: lingmo-quick
Section: x11
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (=12),
               cmake,
               pkgconf,
               qtchooser,
               qtbase5-dev,
               qttools5-dev,
               qtdeclarative5-dev,
               libqt5x11extras5-dev,
               libxcb1-dev,
               libopencv-dev,
               libgsettings-qt-dev,
               libkf5windowsystem-dev,
               liblingmosdk-waylandhelper-dev,
               libxcb-composite0-dev,
               libxcb-damage0-dev,
               libqt5xdg-dev,
               libpipewire-0.3-dev,
               libwayland-dev,
               libkf5wayland-dev,
               libqt5waylandclient5-dev,
               plasma-wayland-protocols,
               extra-cmake-modules,
               qtbase5-private-dev,
               libx11-dev,
               qtwayland5-dev-tools,
               libdrm-dev,
               wayland-protocols,
               lingmo-wayland-protocols,
               lingmo-wayland-compositor-client,
               plasma-wayland-protocols,
               libglx-dev
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/LingmoOS

Package: qml-module-org-lingmo-quick-items
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QML items adapted to the LINGMO theme style.
 This package contains a QML plugin which implements
 many QtQuick items for application development in LINGMO.

Package: qml-module-org-lingmo-quick-platform
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utility interfaces for style control.
 This package contain a QML plugin which implements
 interfaces for getting style parameters in LINGMO
 desktop environment, such as palette, radius,
 lite mode state, etc.

Package: liblingmo-quick-core1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: QML items adapted to the LINGMO theme style.
  C++ API for getting properties and using QtQuick items
  for application development in LINGMO. This Package provides
  run time library for lingmo-quick::core.

Package: liblingmo-quick-platform1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Utility interfaces for style control.
  C++ API for getting style parameters in LINGMO
  desktop environment such as palette, radius,
  lite mode state, etc. This Package provides
  run time library for lingmo-quick::platform.

Package: liblingmo-quick-framework1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: QML widgets plugin framework for LINGMO.
  Framework for QML widget plugins development in LINGMO.
  This Package provides run time library for
  lingmo-quick::framework.

Package: liblingmo-quick-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         liblingmo-quick-core1 (= ${binary:Version}),
         liblingmo-quick-platform1 (= ${binary:Version}),
         liblingmo-quick-framework1 (= ${binary:Version}),
Description: Development files for lingmo-quick.
 lingmo-quick is a framework for application development
 in LINGMO based on QtQuick.This package contains the
 header development files used for building applications
 base on lingmo-quick.

Package: qml-module-org-lingmo-quick-modules
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Extra QML modules for lingmo-quick.
 Plenty of QML modules, each one is a encapsulated
 independent function based on lingmo-quick, like
 window thumbnail, etc.
