[Unit]
Description=Lingmo process manager
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/lingmo-process-manager
Type=dbus
BusName=com.lingmo.ProcessManager
Slice=session.slice
