[Desktop Entry]
Name=Lingmo Lightdm Greeter
Comment=Lingmo Lightdm Greeter
Exec=/usr/bin/lingmo-greeter
NoDisplay=true
Type=Application
X-Ubuntu-Gettext-Domain=lingmo-lightdm-greeter
X-LightDM-Session-Type=wayland
