# Safa Alfulaij <safa1996alfulaij@gmail.com>, 2017, 2018.
# Zayed Al-Saidi <zayed.alsaidi@gmail.com>, 2021, 2022.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-12-08 00:42+0000\n"
"PO-Revision-Date: 2022-06-04 19:49+0400\n"
"Last-Translator: Zayed Al-Saidi <zayed.alsaidi@gmail.com>\n"
"Language-Team: Arabic <kde-l10n-ar@kde.org>\n"
"Language: ar\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=6; plural=n==0 ? 0 : n==1 ? 1 : n==2 ? 2 : n%100>=3 "
"&& n%100<=10 ? 3 : n%100>=11 && n%100<=99 ? 4 : 5;\n"
"X-Generator: Lokalize 21.07.70\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "زايد السعيدي,محمد هاني صباغ,صفا الفليج"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"zayed.alsaidi@gmail.com,hannysabbagh@hotmail.com,safaalfulaij@hotmail.com"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "ستُسأل عن الاستيثاق قبل الحفظ"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "ليس مسموحًا لك حفظ الضبط"

#: kcodecaction.cpp:67
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "المبدئي"

#: kcodecaction.cpp:75
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "اكتشفه آليًا"

#: kcolorschememanager.cpp:220 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr "مخطّط الألوان"

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "المبدئي"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr "لا يوجد أمر يطابق المرشح"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "اضبط"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&القائمة"

#: khamburgermenu.cpp:326
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "اعرض شريط ال&قوائم بكل الإجراءات"

#: khamburgermenu.cpp:352
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "المزيد"

#: khamburgermenu.cpp:353
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "المزيد من الإجراءات"

#: krecentfilesaction.cpp:71
#, kde-format
msgid "No Entries"
msgstr "لا مدخلات"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "Clear List"
msgstr "امسح القائمة"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&عُد"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "ت&قدّم"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "ال&منزل"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "م&ساعدة"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "اعرض شريط القوائم<p>يعرض شريط القوائم ثانيةً بعد أن أخفيته</p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"اعرض شريط الحالة<p>يعرض شريط الحالة، وهو شريط بأسفل النافذة يُستخدم لعرض "
"معلومات الحالة.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&جديد"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "أنشئ مستندًا جديدًا"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "ا&فتح…"

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "افتح مستندًا موجودًا"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "افتح ملفاً &حديثًا"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "افتح مستندًا كان مفتوحًا حديثًا"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "ا&حفظ"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "احفظ المستند"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "احفظ &كَ‍…"

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "احفظ المستند باسم آخر"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "ا&عكس"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "اعكس التغييرات غير المحفوظة المجراة على المستند"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "أ&غلق"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "أغلق المستند"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "ا&طبع…"

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "اطبع المستند"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "&عاين الطباعة"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "اعرض معاينة للمستند مطبوعًا"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "أبرِ&د…"

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "أرسل المستند بالبريد"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "أ&نهِ"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "أنهِ التطبيق"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "ت&راجع"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "تراجع عن آخر إجراء"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "أ&عِد"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "أعد آخر إجراء تراجعت عنه"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "ق&صّ"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "قصّ التحديد إلى الحافظة"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "ا&نسخ"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "انسخ التحديد إلى الحافظة"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "أل&صق"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "ألصق محتوى الحافظة"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "ام&سح"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "حدّد ال&كل"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "أ&زل التحديد"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "ابح&ث…"

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "ابحث عن ال&تالي"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "ابحث عن ال&سابق"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "ا&ستبدل…"

#: kstandardaction_p.h:58
msgid "Zoom to &Actual Size"
msgstr "&كبر للحجم الفعلي"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "اعرض المستند بمقاسه الأصلي"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "لا&ئم إلى الصفحة"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "غيّر التقريب لملاءمة الصفحة في النافذة"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "لائم إلى &عرض الصفحة"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "غيّر التقريب لملاءمة عرض الصفحة في النافذة"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "لائم إلى ارت&فاع الصفحة"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "غيّر التقريب لملاءمة ارتفاع الصفحة في النافذة"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "&قرّب"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "ب&عّد"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "الت&قريب…"

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "اختر مستوى التقريب"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "أن&عِش"

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr "أنعش المستند"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "لأ&على"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "انتقل لأعلى"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "الصفحة ال&سابقة"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "انتقل إلى الصفحة السابقة"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "الصفحة ال&تالية"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "انتقل إلى الصفحة التالية"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "ا&نتقل إلى…"

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "ا&نتقل إلى صفحة…"

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "ا&نتقل إلى سطر…"

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "الصفحة الأ&ولى"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "انتقل إلى الصفحة الأولى"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "الصفحة الأ&خيرة"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "انتقل إلى الصفحة الأخيرة"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&عُد"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "عُد وراءً في المستند"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "ت&قدّم"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "تقدّم أمامًا في المستند"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "أ&ضف علامة"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&حرّر العلامات…"

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "الإ&ملاء…"

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "دقّق الإملاء في المستند"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "اعرض شريط ال&قوائم"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "اعرض/أخفِ شريط القوائم"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "اعرض شريط الأ&دوات"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "اعرض/أخفِ شريط الأدوات"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "اعرض شريط ال&حالة"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "اعرض/أخف شريط الحالة"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "وضع ملء ال&شاشة"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "ا&حفظ الإعدادات"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "اضبط ا&ختصارات لوحة المفاتيح..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "ا&ضبط %1…"

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "اضبط أشرطة الأ&دوات…"

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "اضبط الإ&خطارات…"

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "ك&تيّب %1"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "ما &هذا؟"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "&فائدة اليوم"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "أ&بلغ عن علّة…"

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "اضبط الل&غة..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&عن %1"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "عن &كدي"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "ا&حذف"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "&غيّر الاسم…"

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "ا&نقل إلى المهملات"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "تبرّ&ع"

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr "افتح &قائمة"

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "فائدة اليوم"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "هل تعلم…؟\n"

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "ا&عرض الفوائد عند البدء"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "ال&سابقة"

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "ال&تالية"

#~ msgctxt ""
#~ "@action:inmenu A menu text advertising its contents (more features)."
#~ msgid "For %1 more action:"
#~ msgid_plural "For %1 more actions:"
#~ msgstr[0] "لأجل إجراء أخر:"
#~ msgstr[1] "لأجل إجراء أخر:"
#~ msgstr[2] "لأجل إجراءين آخرين:"
#~ msgstr[3] "لأجل %1 إجراءات أخرى:"
#~ msgstr[4] "لأجل %1 إجراء أخراً:"
#~ msgstr[5] "لأجل %1 إجراء أخر:"

#~ msgctxt ""
#~ "@action:inmenu A section heading advertising the contents of the menu bar"
#~ msgid "%1 Menu Bar Exclusive Action"
#~ msgid_plural "%1 Menu Bar Exclusive Actions"
#~ msgstr[0] "إجراء خاص لشريط القوائم"
#~ msgstr[1] "إجراء خاص واحد لشريط القائمة"
#~ msgstr[2] "إجراءين خاصين لشريط القائمة"
#~ msgstr[3] "%1 إجراءات خاصة لشريط القائمة"
#~ msgstr[4] "%1 إجراء خاصة لشريط القائمة"
#~ msgstr[5] "%1 إجراء خاصة لشريط القائمة"

#~ msgid "Switch Application &Language..."
#~ msgstr "بدّل &لغة التطبيق…"

#~ msgid "&Redisplay"
#~ msgstr "أ&عِد العرض"

#~ msgid "without name"
#~ msgstr "بلا اسم"
