[Desktop Entry]
Categories=System;
Comment=Lingmo Graphics Driver Manager is a compact and easy  to use graphics driver managing tool.
Exec=lingmo-graphics-driver-manager
GenericName=Graphics Driver Manager
Icon=lingmo-graphics-driver-manager
Name=Lingmo Graphics Driver Manager
StartupNotify=true
Terminal=false
Type=Application
X-Lingmo-Vendor=lingmo

# Translations:
# Do not manually modify!
Comment[ar]=مدير تعريف رسوميات ديبن هى أداة مدمجة و سهلة الإستخدام لإدارة تعريف الرسومات.
Comment[ast]=Lingmo Graphics Driver Manager ye una ferramienta de xestión de controladores gráficos cenciella d'uasr y compauta
Comment[az]=Lingmo Qrafik Sürücü İdarəetməsi qrafik sürücüləri idarə etmək üçün yığcam və rahat alətdir.
Comment[bg]=Lingmo диспечер на графичен драйвер е компактен и лесен за използване инструмент за управление на графични драйвери.
Comment[bo]=གཏིང་ཚད་མངོན་ཁཱ་སྐུལ་འདེད་དོ་དམ་ཆས་ནི་སྟབས་བདེ་ཞིང་སྤྱོད་བདེ་བའི་མངོན་ཁཱའི་སྐུལ་འདེད་དོ་དམ་ཡོ་བྱད་ཅིག་ཡིན།
Comment[ca]=El Gestor de controladors gràfics del Lingmo és una eina de gestió de controladors gràfics compacta i fàcil d'usar.
Comment[cs]=Správa ovladačů grafických čipů je kompaktní a snadno použitelný nástroj pro správu ovladačů grafického hardware.
Comment[da]=Lingmo grafikdriver-håndtering er et kompakt og letanvendeligt grafikdriver-håndteringsværktøj.
Comment[de]=Die Lingmo Grafiktreiberverwaltung hilft, um sehr einfach die Grafiktreiber zu konfigurieren.
Comment[es]=Gestor de controladores gráficos Lingmo es un compacta e intuitiva herramienta para gestionar controladores gráficos.
Comment[es_419]=Gestor de controladores gráficos Lingmo es una herramienta de gestión de controladores de gráficos compacta y fácil de usar.
Comment[fa]=مدیر درایور گرافیک دیپین ابزاری برای مدیریت درایور گرافیکی  به صورت جمع وجور و آسان برای استفاده است.
Comment[fi]=Lingmo grafiikkaohjaimen hallinta on pienikokoinen ja helppokäyttöinen näytönohjaimien hallintatyökalu.
Comment[fr]=Gestionnaire de pilotes graphiques Lingmo est un outil de gestion des pilotes graphiques léger et facile à utiliser.
Comment[gl_ES]=O Xestor de Controladores Gráficos do Lingmo é unha ferramenta de xestión de controladores compacta e uso doado.
Comment[hr]=Lingmo upravitelj grafičkim upravljačkim programom je kompaktan i lagan za korištenje alat za upravljanje grafičkim upravljačkim programom.
Comment[hu]=A Lingmo® Grafikus Illesztőprogram Kezelő egy kompakt és könnyen használható meghajtókezelő eszköz.
Comment[id]=Manajer Driver Grafis Lingmo adalah alat yang mengatur grafis yang kompak dan mudah digunakan
Comment[it]=Il Gestore driver grafici di Lingmo è uno strumento di gestione dei driver video. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[ko]=Lingmo 그래픽 드라이버 관리도구는 작고 사용하기 쉬운 그래픽 드라이버 관리 도구입니다.
Comment[lt]=Lingmo grafikos tvarkyklių tvarkytuvė yra kompaktiškas ir lengvas naudoti grafikos tvarkyklių valdymo įrankis.
Comment[ms]=Pengurus Pemacu Grafik Lingmo ialah alat pengurusan pemacu grafik yang ringkas dan mudah digunakan.
Comment[ne]=ग्राफिक्स ड्राइभर प्रबन्धक एक कम्पैक्ट तथा ग्राफिक्स ड्राइभर उपकरण हो येसलाई प्रयोग गर्न सजिलो छ
Comment[nl]=Lingmo Grafisch Stuurprogrammabeheer is een klein, eenvoudig hulpmioceanl om stuurprogramma's van grafische kaarten te beheren.
Comment[pl]=Zarządzanie sterownikami graficznymi Lingmo to kompaktowe i proste w obsłudze narzędzie zarządzania sterownikami graficznymi.
Comment[pt]=O Gestor de Controlador Gráfico Lingmo é um gestor de controladores gráficos fácil e compacto.
Comment[pt_BR]=O Gerenciador de Drivers Gráficos é uma ferramenta compacta e fácil de utilizar.
Comment[ro]=Manager Driver Vide Lingmo este un instrument de gestionare a driverului grafic compact și ușor de utilizat.
Comment[ru]=Lingmo Graphics Driver Manager - это компактный и простой в использовании инструмент управления графическим драйвером.
Comment[sk]=Lingmo Manažér grafického ovládača je kompaktný a ľahko použiteľný nástroj pre správu grafického ovládača.
Comment[sl]=Lingmo upravitelj grafičnih gonilnikov je kompaktno in enostavno orodje za upravljanje grafičnih gonilnikov.
Comment[sq]=Përgjegjësi Lingmo i Përudhësve Grafikë është një mjet kompakt dhe i lehtë për t’u përdorur administrimi përudhësish grafikë
Comment[sr]=Дипин Управник Графичких Управљача је компактан и лак за коришћење алат за управљање управљачим програмима.
Comment[tr]=Lingmo Görüntü Aygıtı Sürücüsü Yöneticisi küçük ve basit bir görüntü aygıtı sürücüsü yönetimi aracıdır.
Comment[ug]=Lingmo گرافىك قوزغاتقۇچ باشقۇرغۇچى گرافىك قوزغاتقۇچ باشقۇرۇش قورالى ئىخچام ۋە ئىشلىتىشكە قۇلايلىق.
Comment[uk]=Керування графічними картками Lingmo — компактний і простий у користуванні засіб для керування драйверами до графічних карток.
Comment[zh_CN]=深度显卡驱动管理器是一款小巧易用的显卡驱动管理工具。
Comment[zh_HK]=Lingmo 顯卡驅動管理器是一款小巧易用的顯卡驅動管理工具。
Comment[zh_TW]=Lingmo 顯示卡管理器是個嚴謹且易用的顯卡驅動管理程序。
GenericName[ar]=مدير تعريف الرسوميات 
GenericName[ast]=Xestor de controladores gráficos
GenericName[az]=Qrafik Sürücü İdarəetməsi
GenericName[bg]=Диспечер на графичен драйвер
GenericName[bo]=མངོན་ཁཱའི་སྐུལ་འདེད་དོ་དམ་ཆས།
GenericName[ca]=Gestor de controladors gràfics
GenericName[cs]=Správa ovladačů grafických čipů
GenericName[da]=Grafikdriver-håndtering
GenericName[de]=Grafiktreiberverwaltung
GenericName[es]=Gestor de controladores gráficos
GenericName[es_419]=Gestor de controladores gráficos
GenericName[et]=Videokaardi draiverite haldamine
GenericName[fa]=مدیر درایور گرافیک
GenericName[fi]=Grafiikkaohjaimet
GenericName[fr]=Gestionnaire de pilotes graphiques
GenericName[gl_ES]=Xestor de Controladores Gráficos
GenericName[hr]=Upravitelj grafičkim upravljačkim programom
GenericName[hu]=Grafikus Illesztőprogram Kezelő
GenericName[id]=Manajer Driver Grafis
GenericName[it]=Gestore driver grafici
GenericName[ko]=그래픽 드라이버 관리도구
GenericName[lt]=Grafikos tvarkyklių tvarkytuvė
GenericName[ms]=Pengurus Pemacu Grafik
GenericName[ne]=ग्राफिक्स ड्राइभर प्रबन्धक
GenericName[nl]=Grafisch Stuurprogrammabeheer
GenericName[pl]=Zarządzanie sterownikami graficznymi
GenericName[pt]=Gestor de Controlador Gráfico
GenericName[pt_BR]=Gerenciador de Drivers Gráficos
GenericName[ro]=Manager Driver Video
GenericName[ru]=Менеджер Графических Драйверов
GenericName[sk]=Manažér grafického ovládača
GenericName[sl]=Upravitelj grafičnih gonilnikov
GenericName[sq]=Përgjegjës Përudhësish Grafikë
GenericName[sr]=Управник Графичких Управљача
GenericName[tr]=Görüntü Aygıtı Sürücüsü Yöneticisi
GenericName[ug]=گىرافىك قوزغاتقۇچ باشقۇرغۇچى
GenericName[uk]=Керування драйверами графіки
GenericName[zh_CN]=显卡驱动管理器
GenericName[zh_HK]=顯卡驅動管理器
GenericName[zh_TW]=顯示卡管理器
Name[ar]=مدير تعريف رسوميات ديبن
Name[ast]=Lingmo Graphics Driver Manager
Name[az]=Lingmo Qrafik Sürücü İdarəetməsi
Name[bg]=Lingmo диспечер на графичен драйвер
Name[bo]=གཏིང་ཚད་མངོན་ཁཱ་སྐུལ་འདེད་དོ་དམ་ཆས།
Name[ca]=Gestor de controladors gràfics del Lingmo
Name[cs]=Správa ovladačů grafických čipů v Lingmo
Name[da]=Lingmo grafikdriver-håndtering
Name[de]=Lingmo Grafiktreiberverwaltung
Name[es]=Gestor de controladores gráficos Lingmo
Name[es_419]=Gestor de controladores gráficos Lingmo
Name[fa]=مدیر درایور گرافیک دیپین
Name[fi]=Lingmo grafiikkaohjaimen hallinta
Name[fr]=Gestionnaire de pilotes graphiques Lingmo
Name[gl_ES]=Xestor de Controladores Gráficos do Lingmo
Name[hr]=Lingmo upravitelj grafičkim upravljačkim programom
Name[hu]=Lingmo® Grafikus Illesztőprogram Kezelő
Name[id]=Manajer Driver Graphis Lingmo
Name[it]=Gestore driver grafici di Lingmo
Name[ko]=Lingmo 그래픽 드라이버 관리도구
Name[lt]=Lingmo grafikos tvarkyklių tvarkytuvė
Name[ms]=Pengurus Pemacu Grafik Lingmo
Name[ne]=डिपिन ग्राफिक्स ड्राइभर प्रबन्धक
Name[nl]=Lingmo Grafisch Stuurprogrammabeheer
Name[pl]=Zarządzanie sterownikami graficznymi Lingmo
Name[pt]=Gestor de Controlador Gráfico Lingmo
Name[pt_BR]=lingmo Gerenciador de Drivers Gráficos
Name[ro]=Manager Driver Video Lingmo
Name[ru]=Менеджер Графических Драйверов Lingmo
Name[sk]=Lingmo Manažér grafického ovládača
Name[sl]=Lingmo upravitelj grafičnih gonilnikov
Name[sq]=Përgjegjës Lingmo Përudhësish Grafikë
Name[sr]=Управник Графичких Управљача
Name[tr]=Lingmo Görüntü Aygıtı Sürücüsü Yöneticisi
Name[ug]=Lingmo گىرافىك قوزغاتقۇچ باشقۇرغۇچى
Name[uk]=Керування драйверами графіки Lingmo
Name[zh_CN]=深度显卡驱动管理器
Name[zh_HK]=Lingmo 顯卡驅動管理器
Name[zh_TW]=Lingmo 顯示卡管理器

