# SC1090: Can't follow non-constant source. Use a directive to specify location
# https://www.shellcheck.net/wiki/SC1090
disable=SC1090

# SC1091: Not following <file>
# https://www.shellcheck.net/wiki/SC1091
disable=SC1091

# SC3043: In POSIX sh, local is undefined
# https://www.shellcheck.net/wiki/SC3043
# ...but dash and BusyBox ash support it.
disable=SC3043
