polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.accounts.user-administration" &&
        subject.isInGroup("sudo")) {
        return polkit.Result.YES;
    }
});
