[Unit]
Description=lingmo input method target
DefaultDependencies=no

Wants=org.lingmo.ocean.dim@wayland.service
Wants=org.lingmo.ocean.dimwl@x11.servic
Wants=org.lingmo.ocean.dim@x11.servic
