[D-BUS Service]
Name=com.lingmo.ProcessManagerDaemon
Exec=/usr/bin/lingmo-process-manager-daemon
User=root
SystemdService=lingmo-process-manager-daemon.service