[Unit]
Description=Thaw forzen processes before shutdown
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/lingmo-process-manager-thawer
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target