[Unit]
Description=Disk Manager Daemon
After=local-fs.target udisks2.service

[Service]
Type=dbus
BusName=com.deepin.diskmanager
ExecStart=/usr/lib/deepin-daemon/deepin-diskmanager-service
CapabilityBoundingSet=~CAP_NET_RAW
MemoryLimit=8G

[Install]
WantedBy=multi-user.target
