Source: ocean-application-manager
Section: utils
Priority: optional
Maintainer: He YuMing <heyuming@lingmo.org>
Build-Depends: debhelper-compat ( =12), cmake,
 libgtest-dev,
 libsystemd-dev,
 pkg-config,
 qt6-base-dev,
 libdtkcommon-dev,
 libdtk6core-dev,
Standards-Version: 4.5.0
Homepage: https://github.com/lingmoos/ocean-application-manager

Package: ocean-application-manager
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description:  Application manager for OCEAN.
  Launch applications by systemd for more caps.

Package: ocean-application-manager-api
Architecture: any
Depends: ocean-application-manager( =${binary:Version}), ${misc:Depends}
Description: DBus Interface of ocean-application-manager.
  For the convenience of developers who want to use ocean-application-manager.
