Source: lingmo-music
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: cmake,
               debhelper,
               gcc,
               libavformat-dev,
               libgsettings-qt-dev,
               libkf5windowsystem-dev,
               liblingmosdk-qtwidgets-dev,
               libmpv-dev,
               libexplor-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libxi-dev,
               xorg-dev,
               libkf5wayland-dev,
               libwayland-dev,
               liblingmosdk-waylandhelper,
               liblingmosdk-waylandhelper-dev,
               liblingmosdk-appcommon,
               libsqlite3-dev,
               libtag1-dev,
               liblingmo-log4qt-dev,
               libxtst-dev,
               make,
               pkgconf,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtchooser,
               qtmultimedia5-dev,
               qtscript5-dev,
               qttools5-dev-tools
Standards-Version: 4.4.1
Homepage: https://github.com/LingmoOS/

Package: lingmo-music
Architecture: any
Depends: libqt5sql5-sqlite, ${misc:Depends}, ${shlibs:Depends}
Description: lingmo-music
 <insert long description, indented with spaces>
