Source: lingmo-installer
Maintainer: Lingmo OS Team <team@lingmo.org>
Section: universe/admin
Priority: optional
Build-Depends: debhelper-compat(=12),
               qtbase5-dev,
	       libxml2-dev, 
	       libxml2,
	       libqt5svg5-dev,
	       libglib2.0-dev,
	       qttools5-dev-tools,
	       qtchooser,
               libpolkit-qt5-1-dev,
	       libgsettings-qt-dev,
	       libkf5windowsystem-dev,
               libqt5x11extras5-dev,
               qtscript5-dev,
               qtbase5-dev-tools,
               libqt5x11extras5-dev,
               libqt5widgets5,
               libqt5concurrent5,
               libx11-dev,
	       libssl-dev,
	       liblingmosdk-qtwidgets-dev,
               liblingmosdk-kabase-dev,
               liblingmosdk-alm-dev,
               liblingmosdk-waylandhelper-dev,
               liblingmosdk-log-dev,
	       liblingmosdk-sysinfo-dev,
	       libncurses-dev,
	       libqapt-dev,
               liblingmosdk-soundeffects-dev
Standards-Version: 4.1.3

Package: lingmo-installer
Architecture: any
Section: universe/admin
Priority: optional
Depends: ${shlibs:Depends}, libxml2,aapt[amd64],aapt[arm64],aapt[mips64el],lingmo-system-updater(>=2.0.5.2) | lingmo-system-updater-immutable(>=2.0.5.2)
Description: Lingmo installer Tools for installing deb packages
 This package contains the lingmo-installer.
