[D-BUS Service]
Name=org.lingmo.ocean.Accounts1
Exec=/bin/false
SystemdService=ocean-system-daemon.service
SystemdService=lingmo-accounts1-daemon.service
