Source: lingmo-editor
Section: editors
Priority: optional
Maintainer: Debian Lingmo Packaging Team <pkg-lingmo-devel@lists.alioth.debian.org>
Uploaders: Ma Aiguo <imaiguo@gmail.com>,
Build-Depends:
 cmake,
 debhelper-compat (= 12),
 pkg-config,
 libqt5widgets5,
 libdtkcore-dev,
 libdtkwidget-dev,
 libpolkit-qt5-1-dev,
 libkf5syntaxhighlighting-dev,
 libkf5codecs-dev,
 qttools5-dev-tools,
 qtbase5-private-dev,
 libdframeworkdbus-dev,
 libgtest-dev,
 libgmock-dev,
 libchardet-dev,
 libuchardet-dev (>= 0.0.6),
 libicu-dev
Rules-Requires-Root: no
Standards-Version: 4.5.1
Homepage: https://github.com/lingmoos/lingmo-editor

Package: lingmo-editor
Architecture: any
Depends:
 ocean-qt5integration,
 ${shlibs:Depends},
 ${misc:Depends},
 libdtkwidget5 (>= 5.4.11),
 libuchardet0 (>= 0.0.6),
 libchardet1
Description: Text editor for OCEAN (Lingmo Desktop Environment)
 Advanced text editor based on dtk.
 .
 This package is part of OCEAN (Lingmo Desktop Environment).
Recommends: uos-reporter, lingmo-event-log