Source: lingmo-network-manager
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper (>=9),
               libcap-dev,
               libgsettings-qt-dev,
               libgtk-3-dev,
               libkf5networkmanagerqt-dev (>= 5.36.0),
               libkf5windowsystem-dev,
               liblingmosdk-qtwidgets-dev(>= 1.2.0),
               liblingmosdk-sysinfo-dev,
               liblingmosdk-waylandhelper-dev(>= 1.2.0lingmo2),
               libnm-dev,
               libnma-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libsecret-1-dev,
               libukcc-dev (>= 3.1.1+1217),
               liblingmo-common-dev,
               liblingmo-log4qt-dev,
               libx11-dev,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtchooser,
               qtscript5-dev,
               qttools5-dev-tools
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/lingmo/lingmo-nm
Vcs-Git: https://github.com/lingmo/lingmo-nm.git
Vcs-Browser: https://github.com/lingmo/lingmo-nm

Package: lingmo-network-manager
Architecture: any
Depends: liblingmosdk-qtwidgets(>= 1.2.0),
         liblingmosdk-waylandhelper(>= 1.2.0lingmo2),
         network-manager (>=1.2.6),
         lingmo-control-center (>= 3.1.1+1217),
         dpkg-dev,
         liblingmosdk-sysinfo,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Gui Applet tool for display and edit network simply
 Lingmo NM is a Applet tool for managing network settings simply.
 It has beautiful UI and very comfortable to use.
 It's better work together with LINGMO.
