Source: ocean
Section: metapackages
Priority: optional
Maintainer: LinuxLingmo Project <lingmoos@lingmoos.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: http://www.lingmoos.com

Package: ocean
Architecture: any
Depends: ${misc:Depends},
 lingmo-desktop-base | lingmo-desktop-server | lingmo-desktop-device,
 lingmo-default-settings,
 ocean-desktop,
 ocean-dock,
 ocean-launcher,
 ocean-control-center(>> 2.90.5),
 startocean,
 ocean-session-ui,
 lingmo-artwork,
 lingmo-manual,
 ocean-file-manager,
 ocean-qt5integration,
 eject,
 plymouth-theme-lingmo-logo,
 lingmo-wallpapers,
 fonts-noto,
 fonts-gb,
 lingmo-fix-init,
 ocean-kwin,
 ocean-clipboard,
 lingmo-screensaver,
 lingmo-license-activator,
 lingmo-app-store,
 lingmo-terminal,
 lingmo-defender,
 lingmo-system-monitor,
 lingmo-devicemanager,
 ocean-printer,
 ocean-calendar,
 uos-service-support,
 org.lingmo.chineseime [!sw_64],
 ocean-introduction,
 fcitx-config-gtk,
 lingmo-fcitxconfigtool-plugin,
# fcitx-table-arabic,
# fcitx-hangul,
 lingmo-bluetooth-blocker,
 uos-remote-assistance,
 lingmo-aiassistant [!sw_64],
 udcp-installer [amd64 arm64],
 grub-efi-arm64-signed [arm64],
 grub-efi-loongarch64-signed [loongarch64],
 uos-audit-dac,
 permission-manager,
 sec-cfg,
Recommends:
 ocean-qt5wayland-plugin,
 lingmo-mobile-assistant,
 com.lingmo.lianliankan,
 com.lingmo.gomoku,
 ocean-grand-search,
 org.lingmo.downloader,
 lingmo-editor,
 pppoe,
 gvfs-fuse,
 smbclient,
 python-smbc,
 cups-filters,
 printer-driver-all,
 foomatic-db-compressed-ppds,
 foomatic-db-engine,
 openprinting-ppds,
 libsane-hpaio,
 linux-firmware,
 wireless-tools,
 ttf-lingmo-opensymbol,
 printer-driver-hpcups,
 printer-driver-hpijs,
 libmtp-runtime,
 samsung-print,
 open-vm-tools-desktop,
 open-vm-tools,
 usbmuxd,
 ipheth-utils,
 libimobiledevice-dev,
 libimobiledevice-utils,
 dnsutils,
 libfile-mimeinfo-perl,
 lingmo-shortcut-viewer,
 crda,
 network-manager-integration-plugins,
 ocean-manual-content,
 libtxc-dxtn-s2tc0 | libtxc-dxtn-s2tc,
 libflashplugin-pepper,
 x-display-manager,
 lingmo-music,
 lingmo-image-viewer,
 lingmo-calculator,
 lingmo-voice-note,
 lingmo-screen-recorder,
 lingmo-font-manager,
 lingmo-draw,
 lingmo-album,
 lingmo-movie,
 lingmo-deb-installer,
 lingmo-compressor,
 lingmo-mail,
 lingmo-diskmanager,
 lingmo-camera,
 fcitx-sunpinyin,
 org.lingmo.scanner,
 fcitx-ui-classic,
 ocean-dconfig-daemon,
 ocean-service-manager
Conflicts:
 ocean-control-center(<< 2.90.5),
 lingmo-desktop-environment-desktop,
 lingmo-desktop-environment-dock,
 lingmo-desktop-environment-launcher,
 dconfig-daemon
Description: Lingmo New Desktop Environment - Next
 This metapackage merely depends on the various Lingmo Desktop Envrionment packages available in Lingmo. 
 Use this if you want Lingmo Desktop Envrionment.
 .
 The following metapackages will be pulled down as dependency which
 will inturn pull down real font packages.
   * lingmo-desktop-base 
   * lingmo-default-settings,
   * ocean-desktop
   * ocean-dock
   * ocean-launcher
   * ocean-control-center
   * startocean
   * ocean-session-ui
   * lingmo-artwork
   * lingmo-manual
   * ocean-file-manager
   * ocean-qt5integration
   * eject
   * plymouth-theme-lingmo-logo
   * lingmo-wallpapers
   * fonts-noto
   * ocean-kwin
   * ocean-clipboard
   * lingmo-screensaver
   * ocean-clipboard
   * lingmo-license-activator
   * ocean-dconfig-daemon
 You can safety remove it after installed.
