[Desktop Entry]
Exec=/usr/bin/lingmo-defender-daemonservice
Name=lingmo-defender-daemonservice
NoDisplay=true
Terminal=false
Type=Application
X-Lingmo-Vendor=user-custom
