[Unit]
Description=Lingmo Device Control Daemon

[Service]
Type=dbus
BusName=org.lingmo.DeviceControl
ExecStart=/usr/bin/lingmo-devicecontrol
CapabilityBoundingSet=~CAP_NET_RAW
MemoryLimit=8G

[Install]
WantedBy=multi-user.target
