[SddmGreeterTheme]
Name=Ocean
Name[ar]=نسيم
Name[az]=Ocean
Name[be]=Ocean
Name[bg]=Ocean
Name[ca]=Brisa
Name[ca@valencia]=Brisa
Name[cs]=Ocean
Name[da]=Ocean
Name[en_GB]=Ocean
Name[eo]=Ocean
Name[es]=Brisa
Name[eu]=Ocean
Name[fr]=Ocean
Name[he]=בריזה
Name[hu]=Ocean
Name[ia]=Ocean (Brisa)
Name[is]=Ocean
Name[it]=Brezza
Name[ka]=Ocean
Name[lt]=Ocean
Name[nl]=Ocean
Name[nn]=Ocean
Name[pl]=Bryza
Name[pt_BR]=Ocean
Name[ro]=Ocean
Name[sk]=Vánok
Name[sl]=Sapica
Name[sv]=Ocean
Name[ta]=பிரீஸ்
Name[tr]=Esinti
Name[uk]=Ocean
Name[x-test]=xxOceanxx
Name[zh_CN]=Ocean 微风
Name[zh_TW]=Ocean
Description=Ocean
Description[ar]=نسيم
Description[az]=Ocean
Description[be]=Ocean
Description[bg]=Ocean
Description[ca]=Brisa
Description[ca@valencia]=Brisa
Description[cs]=Ocean
Description[da]=Ocean
Description[en_GB]=Ocean
Description[eo]=Brizo
Description[es]=Brisa
Description[eu]=Brisa
Description[fr]=Ocean
Description[he]=בריזה
Description[hu]=Ocean
Description[ia]=Ocean (Brisa)
Description[is]=Ocean
Description[it]=Brezza
Description[ka]=Ocean
Description[lt]=Ocean
Description[nl]=Ocean
Description[nn]=Ocean
Description[pl]=Bryza
Description[pt_BR]=Ocean
Description[ro]=Briză
Description[sk]=Vánok
Description[sl]=Sapica
Description[sv]=Ocean
Description[ta]=பிரீஸ்
Description[tr]=Esinti
Description[uk]=Ocean
Description[x-test]=xxOceanxx
Description[zh_CN]=Ocean 微风
Description[zh_TW]=Ocean
Author=KDE Visual Design Group
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=lingmo-devel@kde.org
Theme-Id=ocean
Theme-API=2.0
QtVersion=6
