[Desktop Entry]
Categories=Utility;System;
Comment=A tool to create boot media
Exec=lingmo-boot-maker
GenericName=Boot Maker
Icon=lingmo-boot-maker
Name=Lingmo Boot Maker
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-Lingmo-Vendor=lingmo

# Translations:
# Do not manually modify!
Comment[am]=Livecd boot maker for Lingmo
Comment[ar]=أداة لإنشاء قرص إقلاع لـ Lingmo OS
Comment[az]=Önyükləyici daşıyıcı yaratmaq üçün alət
Comment[bg]=Инструмент за правене на стартиращ диск за  Lingmo OS
Comment[bn]=ডিপিন ওস এর জন্য বুট মিডিয়া তৈরীর একটি টুল।
Comment[bo]=འགོ་སློང་སྡེར་བཟོ་བའི་ཡོ་བྱད།
Comment[br]=Un ostilh evit krouiñ ur media loc'hañ
Comment[ca]=Una eina per crear mitjans d'arrencada per al Lingmo OS
Comment[cs]=Nástroj pro vytváření instalačního média
Comment[da]=Et værktøj til at oprette bootmedie til Lingmo OS
Comment[de]=Ein Werkzeug zum Erstellen von Bootmedien für Lingmo OS
Comment[de_DE]=Lingmo LiveCD Startmedium Ersteller
Comment[el]=Ένα εργαλείο για την δημιουργία εκκινήσιμων μέσων εγγραφής του Lingmo OS
Comment[el_GR]=Δημιουργία εκκινήσιμων Live CD για το Lingmo
Comment[en_AU]=A tool to create boot media for Lingmo OS
Comment[es]=Una herramienta para crear medios de arranque
Comment[es_AR]=Creador de discos booteables para Lingmo
Comment[es_CL]=LiveCD editar arranque Lingmo
Comment[es_ES]=Creador de Livecd de Lingmo
Comment[fa]=نرم افزاری برای ساختن دیسک راه انداز سیستم عامل دیپین
Comment[fi]=Käynnistysmedian tekeminen
Comment[fr]=Un outil pour créer un média de démarrage
Comment[gl_ES]=Unha ferramenta para crear soportes de arraque
Comment[hi_IN]=डीपिन ओएस हेतु बूट मीडिया बनाने का एक साधन
Comment[hu]=Egy eszköz rendszerindító adathordozó készítéséhez
Comment[id]=Sebuah alat untuk membuat media boot Lingmo OS
Comment[id_ID]=Pembuat  CD But Langsung Lingmo
Comment[it]=Un tool per creare una pendrive avviabile di Lingmo OS. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[km_KH]=ឧបករណ៍ដើម្បីបង្កើតមេឌៀប៊ូត
Comment[ko]=Lingmo OS용 시동 미디어를 생성하는 도구
Comment[ky]=Lingmo OS жүктөтүүчү медиа түзүү аспабы
Comment[lt]=Įrankis, skirtas sukurti Lingmo OS paleidimo laikmeną
Comment[mn]=Дээпин үйлдэлийн системд зориулсан ачааллагч үүсгэгч хэрэгсэл
Comment[ms]=Alat yang menghasilkan cakera but untuk Lingmo OS
Comment[nl]=Een hulpmioceanl om een opstartschijf te creëren voor Lingmo OS
Comment[pl]=Narzędzie do tworzenia nośników startowych dla systemu Lingmo OS
Comment[pl_PL]=Twórca płyty rozruchowej trybu live dla Lingmo
Comment[pt]=Uma ferramenta para criar unidades de arranque
Comment[pt_BR]=Ferramenta para criar a mídia de inicialização do Lingmo
Comment[pt_PT]=Criador de Livecd de arranque para Lingmo
Comment[ro]=Un instrument pentru a crea medii de încărcare pentru sistemul de operare Lingmo
Comment[ru]=Инструмент создания загрузочного диска для ОС Lingmo
Comment[sk]=Nástroj na tvorbu boot disku pre Lingmo OS
Comment[sq]=Një mjet për të krijuar media nisjesh
Comment[sr]=Алат за прављење покретача Дипин ОС-а
Comment[th]=เครื่องมือในการสร้างสื่อสำหรับบูต
Comment[tr]=Lingmo İşletim Sistemi için önyükleme diski oluşturma aracı
Comment[ug]=قوزغىتىش تاختىسى ياساش قورالى
Comment[uk]=Інструмент для створення завантажувальних дисків для Lingmo OS
Comment[zh_CN]=启动盘制作工具
Comment[zh_HK]=製作開機碟的工具
Comment[zh_TW]=啟動盤製作工具
GenericName[am_ET]=የ boot ዲስክ መፍጠሪያ
GenericName[ar]=صانع إقلاع
GenericName[az]=Önyükləyici Yaradıcısı
GenericName[bg]=Boot Maker
GenericName[bn]=বুট মেকার
GenericName[bo]=འགོ་སློང་སྡེར་བཟོ་བའི་ཡོ་བྱད།
GenericName[br]=Boot Maker
GenericName[ca]=Creador de mitjans d'arrencada
GenericName[cs]=Vytvoření instalačního média
GenericName[da]=Bootskaber
GenericName[de]=Boot Maker
GenericName[el]=Φορτωτής Εκκίνησης
GenericName[en_AU]=Boot Maker
GenericName[es]=Creador de arranque
GenericName[fa]=سازنده بوت
GenericName[fi]=Mediat
GenericName[fr]=Créateur de démarrage
GenericName[gl_ES]=Creador de arranque
GenericName[hi_IN]=बूट निर्माता
GenericName[hu]=Rendszerindító Készítő
GenericName[id]=Pembuat Boot
GenericName[it]=Boot Maker
GenericName[km_KH]=Boot Maker
GenericName[ko]=시동 제작도구
GenericName[ky]=Boot Maker
GenericName[lt]=Paleidimo kūrėjas
GenericName[mn]=Ачаалагч үүсгэгч
GenericName[ms]=Pembuat But
GenericName[nl]=Opstartmediummaker
GenericName[pl]=Twórca rozruchu
GenericName[pt]=Criador de unidade de arranque
GenericName[pt_BR]=Criador de Mídia Inicializável
GenericName[ro]=Boot Maker
GenericName[ru]=Создание Загрузочного Диска
GenericName[sk]=Boot Maker
GenericName[sq]=Boot Maker
GenericName[sr]=Творац Покретача
GenericName[sv]=Boot Skapare
GenericName[th]=Boot Maker
GenericName[tr]=Önyükleme Oluşturucu
GenericName[ug]=قوزغىتىش تاختىسى ياساش قورالى
GenericName[uk]=Створення дисків
GenericName[zh_CN]=启动盘制作工具
GenericName[zh_HK]=開機碟製作
GenericName[zh_TW]=開機碟製作器
Name[af]=Lingmo Selflaai Skepper
Name[am]=Lingmo Boot መፍጠሪያ
Name[am_ET]=ዲፕኢን Boot መፍጠሪያ
Name[ar]=منشئ إقلاع ديبين
Name[ast]=Lingmo Boot Maker
Name[az]=Lingmo Önyükləyicisi Yaradıcısı
Name[bg]=Lingmo Boot Maker
Name[bn]=ডিপিন বুট মেকার
Name[bo]=གཏིང་ཟབ་འགོ་སློང་སྡེར་བཟོ་བའི་ཡོ་བྱད།
Name[br]=Lingmo Boot Maker
Name[ca]=Creador de mitjans d'arrencada del Lingmo
Name[cs]=Vytvoření instalačního média
Name[da]=Lingmo bootskaber
Name[de]=Lingmo Startmedium Ersteller
Name[de_DE]=Lingmo Startmedium Ersteller
Name[el]=Δημιουργία Εκκινήσιμων Μονάδων Lingmo
Name[el_GR]=Lingmo Εγγραφή Εκκινήσιμων Μονάδων
Name[en_AU]=Lingmo Boot Maker
Name[eo]=Lingmo ekmarŝo faristo
Name[es]=Creador de arranque
Name[es_AR]=Creador de Booteo Lingmo
Name[es_CL]=Administrar boot de Lingmo
Name[es_ES]=Creador de Arranque de Lingmo
Name[fa]=سازنده بوت لینوکس دیپین
Name[fi]=Lingmo käynnistysmediat
Name[fr]=Créateur de démarrage Lingmo
Name[gl_ES]=Creador de arranque de Lingmo
Name[he]=Lingmo Boot Maker
Name[hi_IN]=डीपिन बूट निर्माता
Name[hr]=Lingmo medij za podizanje sustava
Name[hu]=Lingmo® Rendszerindító Készítő
Name[hy]=Lingmo Boot Ստեղծող
Name[id]=Pembuat Boot Lingmo
Name[id_ID]=Pembuat But Lingmo
Name[it]=Lingmo Boot Maker
Name[ja]=Lingmo ブートメーカー
Name[km_KH]=អ្នកបង្កើតប៊ូត Lingmo
Name[ko]=Lingmo 부트 메이커
Name[ky]=Lingmo Boot Maker
Name[lt]=Lingmo paleidimo kūrėjas
Name[mn]=Дээпин ачаалагч үүсгэгч
Name[ms]=Pembina But Lingmo
Name[nb]=Lingmo Boot Maker
Name[nl]=Lingmo Opstartmediummaker
Name[pam]=Lingmo Boot Maker
Name[pl]=Twórca rozruchu Lingmo
Name[pl_PL]=Twórca rozruchu Lingmo
Name[pt]=Criador de unidade de arranque Lingmo
Name[pt_BR]=Lingmo Criador de Mídia Inicializável
Name[pt_PT]=Lingmo Boot Maker
Name[ro]=Lingmo Boot Maker
Name[ru]=Создание Загрузочного Диска Lingmo
Name[sk]=Lingmo Boot Maker
Name[sl]=Boot izdelovalec Lingmo
Name[sq]=Lingmo Boot Maker
Name[sr]=Дипинов Творац Покретача
Name[sv]=Lingmo Boot Skapare
Name[th]=Lingmo Boot Maker
Name[tr]=Lingmo Önyükleme Oluşturucu
Name[ug]=چوڭقۇر قوزغىتىش تاختىسى ياساش قورالى
Name[uk]=Засіб створення дисків з Lingmo
Name[vi]=Lingmo Boot Maker
Name[zh_CN]=深度启动盘制作工具
Name[zh_HK]=Lingmo 開機碟製作
Name[zh_TW]=Lingmo 開機碟製作器

