Source: lingmo-welcome
Section: devel
Priority: optional
Maintainer: Lingmo OS <lingmo@lingmo.org>
Build-Depends:  cmake,
		libqapt-dev,
		qtbase5-dev,
		qtdeclarative5-dev,
		qml-module-qtwebview,
		qtquickcontrols2-5-dev,
		qttools5-dev,
		qttools5-dev-tools,
		debhelper (>= 9)
Standards-Version: 4.5.0
Homepage: https://lingmo.org
Rules-Requires-Root: no

Package: lingmo-welcome
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lingmo OS Welcome.
