[Unit]
Description=Lingmo live CD installer
Before=plymouth-quit.service plymouth-quit-wait.service lightdm.service
ConditionKernelCommandLine=boot=casper

[Service]
Type=oneshot
Restart=on-failure
RestartSec=0
ExecStart=/usr/share/lingmo-os-installer/data/start-lingmo-os-installer

[Install]
WantedBy=graphical.target
