Source: lingmo-ocr-plugin-manager
Section: devel
Priority: optional
Maintainer: Lingmo Packages Builder <packages@lingmo.com>
Build-Depends: debhelper (>= 11), cmake, libncnn-dev, libopencv-mobile-dev, pkg-config
Standards-Version: 4.1.3
Homepage: http://www.lingmo.org/

Package: liblingmo-ocr-plugin-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncnn, libopencv-mobile
Description: OCR plugin manager for UOS
 OCR develop library and useful plugin management tool.

Package: liblingmo-ocr-plugin-manager-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblingmo-ocr-plugin-manager
Description: OCR plugin manager for UOS
 OCR develop library and useful plugin management tool.
