[Desktop Entry]
Exec=/usr/bin/dde-device-formatter
NoDisplay=true
Icon=usb-device-formatter
Name=Device Formatter
NotShowIn=GNOME;Unity;Deepin
Type=Application

