Source: ocean-wallpapers
Section: utils
Priority: optional
Maintainer: Clay Stan <claystan97@gmail.com>
Build-Depends:
 debhelper-compat (= 11),
 ocean-api,
 imagemagick-6.q16
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://github.com/lingmoos/ocean-wallpapers
Vcs-Browser: https://github.com/lingmoos/ocean-wallpapers
Vcs-Git: https://github.com/lingmoos/ocean-wallpapers.git

Package: ocean-wallpapers
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Breaks: lingmo-desktop-base (<< 2017.11.2)
Description: When users are ready to set their own desktop background,
 The ocean Wallpaper provides a beautiful background pictures.
 It is part of Lingmo software and OCEAN (Lingmo Desktop Environment).
