Source: dde-calendar
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (=11),
 cmake,
 deepin-gettext-tools,
 libdtkgui-dev (>= 5.5.17~),
 libdtkwidget-dev (>= 5.5.17~),
 libgtest-dev,
 libqt5svg5-dev,
 pkg-config,
 qtbase5-dev,
 qttools5-dev,
 qttools5-dev-tools,
 deepin-gettext-tools,
 libgtest-dev,
 qttools5-dev,
 libical-dev,
 libgcrypt20-dev
Standards-Version: 4.3.0
Homepage: http://www.deepin.org
Vcs-Git: https://github.com/linuxdeepin/dde-calendar
Rules-Requires-Root: no

Package: dde-calendar
Architecture: linux-any
Depends:
 dde-qt5integration,
 dde-api,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Calendar is a smart daily planner to schedule all things in life.
 Calendar is a small management tool for personal life that combines time 
 and events and integrates the function of memorizing and scheduling.
