Source: lingmo-system-monitor
Section: x11
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (= 12),
               libglib2.0-dev (>= 2.46.0),
               libgsettings-qt-dev,
               libgtop2-dev,
               libkf5windowsystem-dev,
               libpcap-dev,
               libqt5charts5-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libsystemd-dev (>= 209) [linux-any],
               liblingmo-log4qt-dev,
               pkg-config,
               qt5-qmake,
               qtbase5-dev (>= 5.1),
               qtscript5-dev,
               qttools5-dev-tools,
               liblingmosdk-utils-dev (>= 1.2.0.5),
               liblingmosdk-qtwidgets-dev(>=1.0.0lingmo12+0429),
               liblingmosdk-waylandhelper,
               liblingmosdk-waylandhelper-dev,
               liblingmosdk-diagnostics-dev,
               liblingmosdk-hardware(>= 2.3.0.0-0k2.0),
               liblingmosdk-hardware-dev(>= 2.3.0.0-0k2.0),
               liblingmosdk-net(>= 2.3.0.0-0k2.0),
               liblingmosdk-net-dev(>= 2.3.0.0-0k2.0),
               liblingmosdk-sysinfo(>= 2.3.0.0-0k2.0),
               liblingmosdk-sysinfo-dev(>= 2.3.0.0-0k2.0),
               liblingmosdk-proc(>= 2.3.0.0-0k2.0),
               liblingmosdk-proc-dev(>= 2.3.0.0-0k2.0),
               liblingmosdk-realtime(>= 2.3.0.0-0k2.0),
               liblingmosdk-realtime-dev(>= 2.3.0.0-0k2.0)
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://www.lingmo.org

Package: lingmo-system-monitor
Architecture: any
Depends: libcap2-bin, libglib2.0-bin, ${misc:Depends}, ${shlibs:Depends}
Description: Monitor for LINGMO desktop environment
 LINGMO system monitor allows you to graphically view and manipulate the
 running processes, It also provides an overview of the resources (such
 as CPU and memory) and File Systems on your system.
