QWidget:focus{outline: none;}


/********************QPushButton************************/

QPushButton[flat="true"] {
  border: none;
  outline: none;
  color: white;
}

QPushButton#nextBtn{
    width: 320px;
    height: 48px;
    opacity: 1;
    border-radius: 4px;
    font-size: 14px;
    font-family: Noto Sans CJK SC;
    font-weight: 500;
    line-height: 35px;
    color: #FFFFFF;
    background: #1D8EFF;
}

#nextBtn:hover{
    background: #4BA0F5;
}
#nextBtn:foucs{
    background: #0C61D5;
}
#nextBtn:pressed{
    background: #0C61D5;
}

#nextBtn:disabled{
    background: #2D6BAA;
}

/*解决按钮设置enabled时，按钮显示的问题*/
QPushButton#nextBtn[enabled="false"]{
    background: #2D6BAA;
    border-radius: 6px;
}
QPushButton#nextBtn[enabled="true"]{
    background:  #0C61D5;
    border-radius: 6px;
}


#powerOffBtn, #keyboardBtn,#backbtn,#clostBtn {
    width: 48px;
    height: 48px;
    background: transparent;

}


#powerOffBtn:hover, #keyboardBtn:hover,#backbtn:hover,#clostBtn:hover {
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 4px;

}


#powerOffBtn:checked, #keyboardBtn:checked, #backbtn:checked,#clostBtn:checked{
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 4px;

}
#powerOffBtn {
    border-image:url(:/data/svg/power.svg)
}


#keyboardBtn {
    image: url(:/data/svg/keyboard.svg)
}


#backbtn{
   border-image:url(:/data/svg/back.svg)
}
#clostBtn{
   border-image:url(:/data/svg/power.svg)
}


QLabel#mainTitle {
    height:41px;
    font-size: 28px;
    font-family: Noto Sans CJK SC;
    font-weight: Medium;
    line-height: 40px;
    color: #FFFFFF;
    opacity: 1;
}
/***********************QComboBox*************************************************/
QComboBox
{
    width: 320px;
    height: 48px;
    border-radius:6px;
    background-color:rgba(0,0,0,0.25);
    font-size:14px;
    font-weight:400;
    font-family:Noto Sans CJK SC;
    color:rgb(255,255,255);
    border:0px ;
    padding-top: 2px;
    padding-left:22px;
    padding-right:0px;
    opacity:1;
    combobox-popup: 0;
}
QComboBox:disabled
{
    background-color:rgba(0,0,0,0.1);
    color:rgb(255,255,255);;
}
QComboBox:hover
{
    background-color:#304450;
    border:2px solid #5BADFF;
    opacity:1;
}
/*点击combox的样式*/
QComboBox:on
{
    opacity:1;
    border-radius:6px;
    background-color:#304450;
    color:rgb(255,255,255);
    opacity:1;
    /*border:2px solid #5BADFF;*/
}
/*下拉框的样式*/
QComboBox QAbstractItemView
{
    width: 316px;
    height: 128px;
    color: rgb(255,255,255);
    background:transparent;
    font-size:14px;
    border-radius:6px;
    border:0px solid #4BA0F5;
    inset:5px,5px,5px,5px;
    padding:4px;
    margin-top:4px;
}
 /*选中每一项高度*/
QComboBox QAbstractItemView::item
{
    height: 48px;
    background:#2B3D48;
    padding-left:22px;
    font-size:14px;
    margin-right:4px;
}
/*选中每一项的字体颜色和背景颜色*/
QComboBox QAbstractItemView::item:selected
{
    height: 48px;
    color: rgb(255,255,255);
    border-radius:4px;
    background-color:#4BA0F5;
    opacity:1;
}
/*选中每一项的字体颜色和背景颜色*/
QComboBox QAbstractItemView::item:hover
{
    height: 48px;
    color: rgb(255,255,255);
    border-radius:4px;
    background-color:#4BA0F5;
    opacity:1;
}
 /*下拉箭头的边框*/
QComboBox::drop-down
{
    border:2px solid transparent ;
    margin-right:4px;
    margin-left:4px;
    border-radius:4px;
}
 /*下拉箭头样式*/
QComboBox::down-arrow
{
    right:10px;/*控制箭头左右偏移*/
    width: 9px;
    height: 9px;
    image: url(:/data/png/pan-down-symbolic.svg);
}


 /*下拉箭头点击样式*/
QComboBox::down-arrow:on
{
    width: 9px;
    height: 9px;
    border:0px solid transparent ;
    image: url(:/data/png/pan-up-symbolic.svg);
}
QComboBox QListView {
/*    padding-left:22px;*/
    width: 316px;
    height: 128px;
    background:#2B3D48;
    font-size:14px;
    border:0px solid transparent ;
    border-radius:6px;
}
QComboBox QListView:item {
    height: 48px;
    background:#2B3D48;
    font-size:14px;
    padding-left:22px;
}

/******************************************************/

/*垂直滚动条整体*/
QScrollBar:vertical {
/*    border: 0px;*/
    width:8px;
    border-radius:4px;
    background:rgba(255,255,255,1);
    background-color:transparent;
}
QScrollBar:vertical:hover {
    width:8px;
    margin-top:4px;   /*上预留位置*/
    margin-bottom:4px;    /*下预留位置*/
    background:rgba(255,255,255,0.2);
    border-radius:4px;

}
QScrollBar::handle:vertical:selected {
    width:6px;
    min-height:80px;
    border-radius:3px;
    background:rgba(255,255,255,0.4);

}

/*滚动条中滑块的样式*/
QScrollBar::handle:vertical {
    width:6px;
    min-height:80px;
    border-radius:3px;
    background:rgba(255,255,255,0.2);
}

/*鼠标触及滑块样式*/
QScrollBar::handle:vertical:hover {
    width:6px;
    background:rgba(255,255,255,0.2);
    border-radius:3px;
    min-height:80px;
}

/*设置下箭头*/
QScrollBar::add-line:vertical {
    height:2px;
    width:6px;
    border-radius:3px;
    /*border-image:url(:/selectfile/scroll/3.png);*/
    subcontrol-position:bottom;
}

/*设置上箭头*/
QScrollBar::sub-line:vertical {
    height:2px;
    width:6px;
    border-radius:3px;
    /*border-image:url(:/selectfile/scroll/1.png);*/
    subcontrol-position:top;
}

/*设置下箭头:悬浮状态*/
QScrollBar::add-line:vertical:hover {
    height:12px;
    width:6px;
    border-radius:3px;
    /*border-image:url(:/selectfile/scroll/4.png);*/
    subcontrol-position:bottom;
}

/*设置上箭头：悬浮状态*/
QScrollBar::sub-line:vertical:hover {
    height:2px;
    width:6px;
    border-radius:3px;
   /* border-image:url(:/selectfile/scroll/2.png);*/
    subcontrol-position:top;
}

/*当滚动条滚动的时候，上面的部分和下面的部分*/
QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical {
    background:rgba(255,255,255,0);
    border-radius:3px;
}
