Source: lingmo-ai-runtime
Section: admin
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (= 12),
               cmake,
               liblingmo-ai-engine-dev,
               libjsoncpp-dev,
               libssl-dev,
               libglib2.0-dev,
               portaudio19-dev,
               libdbus-1-dev

Standards-Version: 4.4.1
Section: admin
Package: lingmo-ai-runtime
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}, liblingmo-ai-default-key, libdbus-1-3, libglib2.0-0
Description: Lingmo AI SDK Runtime
 This package provides the runtime environment for Lingmo AI SDK. It includes
 the necessary libraries and configurations to support AI-related functionalities
 in the Lingmo operating system. For issues or contributions, please contact us via
 our official homepage or email. See also: 
 https://gitee.com/lingmo/lingmo-ai-runtime
