[Desktop Entry]
Name=Peony Home
GenericName=Home
GenericName[tr]=Giriş
GenericName[de]=Persönliches Verzeichnis
GenericName[es]=Catálogo personal
GenericName[fr]=Catalogue personnel
GenericName[kk_KZ]=شەخسلەر باسمازمۇن
GenericName[ug_CN]=شەخسلەر مۇندەرىجىسى
GenericName[ky_KG]=شەخسلەر مازمۇۇنۇ
GenericName[zh_CN]=打开个人目录
GenericName[bo_CN]=སྒེར་གྱི་དཀར་ཆག
GenericName[mn]=ᠬᠤᠪᠢ ᠬᠦᠮᠦᠨ
GenericName[zh_HK]=打開個人目錄
Name[tr]=Giriş
Name[de]=Persönliches Verzeichnis
Name[es]=Catálogo personal
Name[fr]=Catalogue personnel
Name[kk_KZ]=شەخسلەر باسمازمۇن
Name[ug_CN]=شەخسلەر مۇندەرىجىسى
Name[ky_KG]=شەخسلەر مازمۇۇنۇ
Name[zh_CN]=个人目录
Name[bo_CN]=སྒེར་གྱི་དཀར་ཆག
Name[mn]=ᠬᠤᠪᠢ ᠬᠦᠮᠦᠨ
Name[zh_HK]=個人目錄
Exec=/usr/bin/explorer
Icon=user-home
Terminal=false
Type=Application
Categories=System;Settings;Security;
Keywords=file;home;folder;browser;disk;computer;
NoDisplay=true
