[Desktop Entry]
Name=Peony Trash
GenericName=Trash
GenericName[tr]=Çöp
GenericName[de]=Papierkorb
GenericName[es]=Estación de reciclaje
GenericName[fr]=La station de recyclage
GenericName[kk_KZ]=قايتارىپ الۋ پونكيتٸ
GenericName[ug_CN]=قايتۇرۇۋېلىش پونكىتى
GenericName[ky_KG]=قايتارىپ الۇۇ پونكىتى
GenericName[zh_CN]=打开回收站
GenericName[bo_CN]=སྙིགས་སྒམ།
GenericName[mn]=ᠬᠤᠭᠯᠠᠭᠤᠷ
GenericName[zh_HK]=打開回收站
Name[tr]=Çöp
Name[de]=Papierkorb
Name[es]=Estación de reciclaje
Name[fr]=La station de recyclage
Name[kk_KZ]=قايتارىپ الۋ پونكيتٸ
Name[ug_CN]=قايتۇرۇۋېلىش پونكىتى
Name[ky_KG]=قايتارىپ الۇۇ پونكىتى
Name[zh_CN]=回收站
Name[bo_CN]=སྙིགས་སྒམ།
Name[mn]=ᠬᠤᠭᠯᠠᠭᠤᠷ
Name[zh_HK]=回收站
Exec=/usr/bin/explorer trash:///
Icon=user-trash
Terminal=false
Type=Application
Categories=System;Settings;Security;
Keywords=file;home;folder;browser;disk;computer;
NoDisplay=true
