[Desktop Entry]
Name=Peony Desktop
GenericName=Desktop Manager
GenericName[tr]=LINGMO Masaüstü Yöneticisi
GenericName[zh_CN]=LINGMO桌面
Name[tr]=LINGMO Masaüstü Yöneticisi
Name[zh_CN]=LINGMO桌面
Exec=/usr/bin/explorer-qt-desktop -w -d
Icon=user-desktop
Terminal=false
Type=Application
Categories=System;Settings;Security;
Keywords=file;desktop;
OnlyShowIn=LINGMO;
NoDisplay=true
