[Desktop Entry]
Name=lingmo upgrade manager tool
Comment=lingmo upgrade manager tool
Exec=/usr/bin/lingmo-upgrade-manager-tool --action=notify
NoDisplay=true
OnlyShowIn=OCEAN;Lingmo
Type=Application
X-Lingmo-Vendor=user-custom