[SddmGreeterTheme]
Name=Lingmo Ocean
Description=Ocean Theme
Author=Lingmo OS Team
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Theme-Id=lingmo-breeze
Theme-API=2.0
