Source: lingmo-sound-theme
Section: x11
Priority: optional
Maintainer: Lingmo Sysdev <sysdev@lingmo.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.3
Homepage: http://www.lingmo.org/

Package: lingmo-sound-theme
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lingmo sound
 This package contains the lingmo sound theme.
