[Unit]
Description=active user service
After=systemd-logind.service

[Service]
Type=idle
ExecStart=python3 -u /usr/bin/activeuser.py
Restart=always

[Install]
WantedBy=multi-user.target
