[Unit]
Description=LINGMO Bluetooth service
After=dbus.service

[Service]
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket"
Type=simple
ExecStart=/usr/bin/bluetoothService
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
