[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=lingmo-bluetooth-daemon
Name[zh_CN]=蓝牙服务
Comment=Simple bluetooth server for lingmo desktop environment
Comment[zh_CN]=LINGMO桌面环境蓝牙系统级配置文件修改进程
Exec=/usr/bin/profileDaemon
NoDisplay=true
