[Desktop Entry]
Name=Screenshot
Name[zh_CN]=截图
Name[zh_HK]=截圖
Name[zh_TW]=截圖
Name[bo_CN]=པར་བཅད།
Name[mn]=ᠵᠢᠷᠤᠭᠴᠢᠯᠠᠯ
Name[ug_CN]=كەسمە رەسىم
Name[kk_KZ]=كەسپە راسىم
Name[ky_KG]=كەسمە سۉرۅت
Name[de]=Screenshot
Name[es]=Captura de pantalla
Name[fr]=Capture d’écran

GenericName=Screenshot tool
GenericName[zh_CN]=屏幕截图工具
GenericName[zh_HK]=截圖工具
GenericName[bo_CN]=པར་བཅད།
GenericName[mn]=ᠵᠢᠷᠤᠭᠴᠢᠯᠠᠯ
GenericName[ug_CN]=كەسمە رەسىم
GenericName[kk_KZ]=كەسپە راسىم
GenericName[ky_KG]=كەسمە سۉرۅت
GenericName[de]=Screenshot tool
GenericName[es]=Captura de pantalla
GenericName[fr]=Capture d’écran
GenericName[pl]=Zrzuty ekranu
GenericName[fr]=Outil de capture d'écran
GenericName[ja]=スクリーンショットツール
GenericName[ru]=Создание скриншотов
GenericName[sr]=Снимач екрана
GenericName[uk]=Інструмент скриншотів
Comment=Powerful yet simple to use screenshot software.
Comment[zh_CN]=强大又易用的屏幕截图软件
Comment[bo_CN]=ནུས་པ་ཆེ་ལ་སྤྱོད་བདེ་བའི་འཆར་ངོས་པར་བཅད་ལེན་མཉེན་ཆས།
Comment[pl]=Proste w użyciu narzędzie do zrzutów ekranu
Comment[fr]=Logiciel de capture d'écran puissant et simple d'utilisation.
Comment[ja]=パワフルで使いやすいスクリーンショットソフトウェア。
Comment[ru]=Простой и функциональный инструмент для создания скриншотов
Comment[sr]=Једноставан, а моћан алат за снимање екрана
Comment[uk]=Потужний простий у використанні додаток для створення знімків екрану.
Keywords=lingmo-screenshot;screenshot;capture;shutter;
Keywords[zh_CN]=lingmo-screenshot;screenshot;capture;shutter;截图;屏幕;
Keywords[fr]=lingmo-screenshot;capture d'écran;capter;shutter;
Keywords[ja]=lingmo-screenshot;screenshot;capture;shutter;スクリーンショット;キャプチャー;
Exec=lingmo-screenshot gui -d 400
Icon=lingmo-screenshot
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=false

