/*
    KDE CSS for ar HTML documentation (all media types).
    SPDX-FileCopyrightText: 2023 Zayed Al-Saidi <zayed.alsaidi@gmail.com>

    SPDX-License-Identifier: GPL-2.0-or-later

 */

/*
   These settings will override kde-default.css.

   Any updates should be validated, e.g. http://jigsaw.w3.org/css-validator/
*/

body{
    direction:rtl;
    text-align:right;
}
.userinput{  
    padding-right:3px;
    padding-left:3px;
}
.author{
    direction:ltr;
    text-align:left;
}
.copyright { 
    direction:ltr;
    text-align:left;
}
.othercredit {
    direction:ltr;
    text-align:left;
     
}
.legalnotice{
    direction:ltr;  
    text-align:left;
}