Source: lingmo-shortcut-viewer
Section: devel
Priority: optional
Maintainer: Lingmo Packages Builder <packages@lingmo.com>
Build-Depends: debhelper (>=9), pkg-config, qt5-qmake, qtbase5-dev, libdtkwidget-dev
Standards-Version: 3.9.8
Homepage: http://www.lingmo.org

Package: lingmo-shortcut-viewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: shortcut viewer tools
 A shortcut viewer tool for lingmo.
