[Desktop Entry]
Categories=Ocr;
Comment=Lingmo ocr
Exec=lingmo-ocr %F
GenericName=lingmo cor
Icon=lingmo-ocr
Name=lingmo Ocr
Type=Application

# Translations:
# Do not manually modify!
Comment[zh_CN]=Ocr
GenericName[zh_CN]=Ocr
Name[zh_CN]=Ocr
