# translation of kdelibs4.po to Lithuanian
# Ričardas Čepas <rch@richard.eu.org>, 2002-2004.
# Donatas Glodenis <dgvirtual@akl.lt>, 2004-2009.
# Gintautas Miselis <gintautas@miselis.lt>, 2008.
# Andrius Štikonas <andrius@stikonas.eu>, 2009.
# Tomas Straupis <tomasstraupis@gmail.com>, 2011.
# Remigijus Jarmalavičius <remigijus@jarmalavicius.lt>, 2011.
# Liudas Ališauskas <liudas.alisauskas@gmail.com>, 2011, 2012, 2013, 2014.
# Liudas Alisauskas <liudas@akmc.lt>, 2013, 2015.
# Mindaugas Baranauskas <opensuse.lietuviu.kalba@gmail.com>, 2016, 2019.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2024-05-25 13:59+0300\n"
"Last-Translator: Moo <<>>\n"
"Language-Team: Lithuanian <kde-i18n-lt@kde.org>\n"
"Language: lt\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=4; plural=(n==1 ? 0 : n%10>=2 && (n%100<10 || n"
"%100>=20) ? 1 : n%10==0 || (n%100>10 && n%100<20) ? 2 : 3);\n"
"X-Generator: Poedit 3.4.2\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr ""
"Ričardas Čepas, Donatas Glodenis, Gintautas Miselis, Andrius Štikonas, "
"Liudas Ališauskas, Moo"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"rch@richard.eu.org, dgvirtual@akl.lt, gintautas@miselis.lt, stikonas@gmail."
"com, liudas@akmc.lt, <>"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Numatytoji"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Automatiškai aptikti"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr "Spalvų rinkinys"

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr "Nėra komandų, kurias rodyti"

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr "Nėra jokių filtrą atitinkančių komandų"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Konfigūruoti"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Meniu"

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Rodyti &meniu juostą su visais veiksmais"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Daugiau"

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Daugiau veiksmų"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Nėra įrašų"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Išvalyti sąrašą"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Atgal"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Pirmyn"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Pradžia"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Rodyti meniu juostą<p>Vėl parodo meniu juostą po to, kai ji buvo paslėpta.</"
"p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Rodyti būsenos juostą<p>Parodo būsenos juostą, t.y., juostą, esančią lango "
"apačioje, ir naudojamą būsenos informacijai pateikti.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "&Naujas"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Sukurti naują dokumentą"

#: kstandardaction_p.h:64
msgid "&Open…"
msgstr "At&verti…"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Atverti esamą dokumentą"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "Atverti &paskiausiai naudotą"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Atverti paskiausiai atvertą dokumentą"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "Į&rašyti"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Įrašyti dokumentą"

#: kstandardaction_p.h:67
msgid "Save &As…"
msgstr "Įrašyti k&aip…"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Įrašyti dokumentą nauju pavadinimu"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "Su&grąžinti"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Sugrąžinti neįrašytus dokumente atliktus pakeitimus"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Užverti"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Užverti dokumentą"

#: kstandardaction_p.h:70
msgid "&Print…"
msgstr "S&pausdinti…"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Spausdinti dokumentą"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "&Spaudinio peržiūra"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Rodyti dokumento spaudinio peržiūrą"

#: kstandardaction_p.h:72
msgid "&Mail…"
msgstr "&Siųsti paštu…"

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Siųsti dokumentą paštu"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "&Išjungti"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Išjungti programą"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "Atš&aukti"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Atšaukti paskutinį veiksmą"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "G&rąžinti"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Grąžinti paskutinį atšauktą veiksmą"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "Iškirp&ti"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Iškirpti žymėjimą į iškarpinę"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "&Kopijuoti"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Kopijuoti žymėjimą į iškarpinę"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "Į&dėti"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Įdėti iškarpinės turinį"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "Iš&valyti"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "Žymėti &viską"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "&Panaikinti žymėjimą"

#: kstandardaction_p.h:83
msgid "&Find…"
msgstr "&Ieškoti…"

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "Ieškoti &kito"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Ieškoti &ankstesnio"

#: kstandardaction_p.h:86
msgid "&Replace…"
msgstr "Pa&keisti…"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr "Keisti mastelį į &faktinį dydį"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Rodyti dokumentą faktiniu dydžiu"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "&Talpinti į puslapį"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Mastelis toks, kad puslapis tilptų lange"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "Talpinti į puslapio &plotį"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Mastelis toks, kad puslapio plotis tilptų lange"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "Talpinti į puslapio &aukštį"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Mastelis toks, kad puslapio aukštis tilptų lange"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "&Didinti"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "&Mažinti"

#: kstandardaction_p.h:94
msgid "&Zoom…"
msgstr "&Mastelis…"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Pasirinkite mastelio lygį"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr "Į&kelti iš naujo"

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr "Įkelti dokumentą iš naujo"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "&Aukštyn"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Eiti aukštyn"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "Ankstesnis &puslapis"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Peršokti į ankstesnį puslapį"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "&Kitas puslapis"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Peršokti į kitą puslapį"

#: kstandardaction_p.h:104
msgid "&Go To…"
msgstr "&Eiti į…"

#: kstandardaction_p.h:105
msgid "&Go to Page…"
msgstr "&Eiti į puslapį…"

#: kstandardaction_p.h:106
msgid "&Go to Line…"
msgstr "&Eiti į eilutę…"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "&Pirmas puslapis"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "Peršokti į pirmą puslapį"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "P&askutinis puslapis"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Peršokti į paskutinį puslapį"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "&Atgal"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Eiti dokumente atgal"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "&Pirmyn"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Eiti dokumente pirmyn"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "&Pridėti žymelę"

#: kstandardaction_p.h:113
msgid "&Edit Bookmarks…"
msgstr "&Taisyti žymeles…"

#: kstandardaction_p.h:115
msgid "&Spelling…"
msgstr "&Rašybos tikrinimas…"

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Tikrinti rašybą dokumente"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "Rodyti &meniu juostą"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Rodyti arba slėpti meniu juostą"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "Rodyti į&rankių juostą"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Rodyti arba slėpti įrankių juostą"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "Rodyti &būsenos juostą"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Rodyti arba slėpti būsenos juostą"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "Rodyti &visame ekrane"

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr "Konfigūruoti &sparčiuosius klavišus…"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Configure %1…"
msgstr "&Konfigūruoti %1…"

#: kstandardaction_p.h:123
msgid "Configure Tool&bars…"
msgstr "Konfigūruoti įrankių &juostas…"

#: kstandardaction_p.h:124
msgid "Configure &Notifications…"
msgstr "Konfigūruoti pra&nešimus…"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &vadovas"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "Kas &tai yra?"

#: kstandardaction_p.h:130
msgid "&Report Bug…"
msgstr "P&ranešti apie programos klaidą…"

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr "Konfigūruoti ka&lbą…"

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "&Apie %1"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "Apie &KDE"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "&Ištrinti"

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr "Pe&rvadinti…"

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "Per&kelti į šiukšlinę"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "Pa&remti"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr "Atverti &meniu"

#: kstylemanager.cpp:60
#, kde-format
msgid "Application Style"
msgstr "Programų stilius"

#: kstylemanager.cpp:64
#, kde-format
msgid "Default"
msgstr "Numatytasis"

#~ msgid "Tip of the &Day"
#~ msgstr "&Dienos patarimas"

#~ msgid "You will be asked to authenticate before saving"
#~ msgstr "Prieš įrašant, jūsų bus paprašyta nustatyti savo tapatybę"

#~ msgid "You are not allowed to save the configuration"
#~ msgstr "Jums neleidžiama įrašyti konfigūraciją"

#~ msgctxt "show help"
#~ msgid "&Help"
#~ msgstr "&Pagalba"

#~ msgid "&Save Settings"
#~ msgstr "Į&rašyti nuostatas"

#~ msgctxt "@title:window"
#~ msgid "Tip of the Day"
#~ msgstr "Dienos patarimas"

#~ msgctxt "@title"
#~ msgid "Did you know...?\n"
#~ msgstr "Ar žinojote?\n"

#~ msgctxt "@option:check"
#~ msgid "&Show tips on startup"
#~ msgstr "Paleidžiant r&odyti patarimus"

#~ msgctxt "@action:button Goes to previous tip"
#~ msgid "&Previous"
#~ msgstr "&Ankstesnis"

#~ msgctxt "@action:button Goes to next tip, opposite to previous"
#~ msgid "&Next"
#~ msgstr "&Kitas"

#~ msgctxt ""
#~ "@action:inmenu A menu text advertising its contents (more features)."
#~ msgid "For %1 more action:"
#~ msgid_plural "For %1 more actions:"
#~ msgstr[0] "Dar %1 veiksmas:"
#~ msgstr[1] "Dar %1 veiksmai:"
#~ msgstr[2] "Dar %1 veiksmų:"
#~ msgstr[3] "Dar %1 veiksmas:"

#~ msgctxt ""
#~ "@action:inmenu A section heading advertising the contents of the menu bar"
#~ msgid "%1 Menu Bar Exclusive Action"
#~ msgid_plural "%1 Menu Bar Exclusive Actions"
#~ msgstr[0] "%1 išskirtinis meniu juostos veiksmas"
#~ msgstr[1] "%1 išskirtiniai meniu juostos veiksmai"
#~ msgstr[2] "%1 išskirtinių meniu juostos veiksmų"
#~ msgstr[3] "%1 išskirtinis meniu juostos veiksmas"

#~ msgid "Switch Application &Language..."
#~ msgstr "Pakeisti programos &kalbą..."

#~ msgid "&Redisplay"
#~ msgstr "&Rodyti iš naujo"

#~ msgid "without name"
#~ msgstr "be pavadinimo"

#~ msgid "&Rename File"
#~ msgstr "Pe&rvadinti failą"
