[Unit]
Description=Deepin Device Control Daemon

[Service]
Type=dbus
BusName=org.deepin.DeviceControl
ExecStart=/usr/bin/deepin-devicecontrol
CapabilityBoundingSet=~CAP_NET_RAW
MemoryLimit=8G

[Install]
WantedBy=multi-user.target
