[Unit]
Description=desktop application launch booster
After=display-manager.service

[Service]
Type=notify
ExecStart=/usr/lib/deepin-turbo/booster-desktop --systemd
Restart=always
RestartSec=1
OOMScoreAdjust=-250

[Install]
WantedBy=default.target
