Source: lingmo-framework
Section: libs
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: cmake (>= 3.16~),
               debhelper-compat (= 13),
               dh-sequence-kf5,
               dh-sequence-pkgkde-symbolshelper,
               doxygen,
               extra-cmake-modules (>= 5.103.0~),
               gettext,
               kirigami2-dev (>= 5.103.0~),
               libegl-dev,
               libkf5activities-dev (>= 5.103.0~),
               libkf5archive-dev (>= 5.103.0~),
               libkf5config-dev (>= 5.103.0~),
               libkf5configwidgets-dev (>= 5.103.0~),
               libkf5coreaddons-dev (>= 5.103.0~),
               libkf5dbusaddons-dev (>= 5.103.0~),
               libkf5declarative-dev (>= 5.103.0~),
               libkf5doctools-dev (>= 5.103.0~),
               libkf5globalaccel-dev (>= 5.103.0~),
               libkf5guiaddons-dev (>= 5.103.0~),
               libkf5i18n-dev (>= 5.103.0~),
               libkf5iconthemes-dev (>= 5.103.0~),
               libkf5kio-dev (>= 5.103.0~),
               libkf5notifications-dev (>= 5.103.0~),
               libkf5package-dev (>= 5.103.0~),
               libkf5parts-dev (>= 5.103.0~),
               libkf5service-dev (>= 5.103.0~),
               libkf5wayland-dev (>= 4:5.103.0~) [linux-any],
               libkf5widgetsaddons-dev (>= 5.103.0~),
               libkf5windowsystem-dev (>= 5.103.0~),
               libkf5xmlgui-dev (>= 5.103.0~),
               libopengl-dev,
               libqt5sql5-sqlite,
               libqt5svg5-dev (>= 5.15.2~),
               libqt5x11extras5-dev (>= 5.15.2~),
               libsm-dev,
               libx11-xcb-dev,
               libxcb-composite0-dev,
               libxcb-damage0-dev,
               libxcb-shape0-dev,
               pkg-config,
               qtbase5-dev (>= 5.15.2~),
               qtdeclarative5-dev (>= 5.15.2~),
               qtquickcontrols2-5-dev (>= 5.15.2~),
               qtscript5-dev,
               qttools5-dev,
               qttools5-dev-tools,
Standards-Version: 4.6.2
Homepage: https://github.com/LingmoOS
Vcs-Browser: https://github.com/LingmoOS/LingmoOS
Vcs-Git: https://github.com/LingmoOS/LingmoOS.git
Rules-Requires-Root: no

Package: libkf5plasma-dev
Architecture: any
Section: libdevel
Depends: extra-cmake-modules (>= 5.103.0~),
         libkf5package-dev (>= 5.103.0~),
         libkf5plasma5 (= ${binary:Version}),
         libkf5plasmaquick5 (= ${binary:Version}),
         libkf5service-dev (>= 5.103.0~),
         libkf5windowsystem-dev (>= 5.103.0~),
         lingmo-framework (= ${binary:Version}),
         ${misc:Depends},
Recommends: libkf5plasma-doc (= ${source:Version}),
Description: development files for lingmo-framework
 Lingmo library and runtime components based upon KF5 and Qt 5.
 .
 Contains development files for lingmo-framework.

Package: libkf5plasma-doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Lingmo Runtime components (documentation)
 Lingmo library and runtime components based upon KF5 and Qt5.
 .
 This package contains the qch documentation files.
Section: doc

Package: libkf5plasma5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Lingmo Runtime components
 Lingmo library and runtime components based upon KF5 and Qt5.

Package: libkf5plasmaquick5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Lingmo Runtime components
 Lingmo library and runtime components based upon KF5 and Qt 5.

Package: lingmo-framework
Architecture: any
Depends: qml-module-org-kde-kconfig (>= 5.70.0~),
         qml-module-org-kde-kquickcontrols (>= 5.70.0~),
         qml-module-org-kde-kquickcontrolsaddons (>= 5.70.0~),
         qml-module-qtqml-models2,
         qml-module-qtquick-controls,
         qml-module-qtquick-controls2,
         qml-module-qtquick-templates2,
         ${misc:Depends},
         ${shlibs:Depends},
Provides: plasma-framework
Replaces: plasma-framework
Description: Lingmo Runtime components
 Lingmo library and runtime components based upon KF5 and Qt 5.

Package: plasma-framework
Architecture: any
Depends: lingmo-framework,
         qml-module-org-kde-kconfig (>= 5.70.0~),
         qml-module-org-kde-kquickcontrols (>= 5.70.0~),
         qml-module-org-kde-kquickcontrolsaddons (>= 5.70.0~),
         qml-module-qtqml-models2,
         qml-module-qtquick-controls,
         qml-module-qtquick-controls2,
         qml-module-qtquick-templates2,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Lingmo Runtime components
 Lingmo library and runtime components based upon KF5 and Qt 5.
