[D-BUS Service]
Name=org.desktopspec.ConfigManager
Exec=/usr/bin/ocean-dconfig-daemon
User=ocean-dconfig-daemon
SystemdService=ocean-dconfig-daemon.service
