[Desktop Entry]
Encoding=UTF-8
Name=Font Viewer
Name[zh_CN]=字体管理器
Name[bo_CN]=ཡིག་གཟུགས་དོ་དམ་ཆས་
Name[de]=Font-Viewer
Name[es]=Visor de fuentes
Name[fr]=Visionneuse de polices
Name[kk_KZ]=فٶنىت باسقارۋ اسپابٸ
Name[kk]=فٶنىت باسقارۋ اسپابٸ
Name[ky_KG]=فوند باشقارىش  جابدۇۇسۇ
Name[ky]=فوند باشقارىش  جابدۇۇسۇ
Name[mn]=ᠦᠰᠦᠭ ᠤ᠋ᠨ ᠲᠢᠭ᠌ ᠤ᠋ᠨ ᠬᠠᠮᠢᠶᠠᠷᠤᠭᠤᠷ
Name[ug_CN]=فونت باشقۇرۇش ئۈسكۈنىسى
Name[ug]=فونت باشقۇرۇش ئۈسكۈنىسى
Name[zh_HK]=字體管理器
GenericName[zh_CN]=字体管理器
GenericName[bo_CN]=ཡིག་གཟུགས་དོ་དམ་ཆས་
GenericName[de]=Font-Viewer
GenericName[es]=Visor de fuentes
GenericName[fr]=Visionneuse de polices
GenericName[kk_KZ]=فٶنىت باسقارۋ اسپابٸ
GenericNameName[kk]=فٶنىت باسقارۋ اسپابٸ
GenericName[ky_KG]=فوند باشقارىش  جابدۇۇسۇ
GenericName[ky]=فوند باشقارىش  جابدۇۇسۇ
GenericName[mn]=ᠦᠰᠦᠭ ᠤ᠋ᠨ ᠲᠢᠭ᠌ ᠤ᠋ᠨ ᠬᠠᠮᠢᠶᠠᠷᠤᠭᠤᠷ
GenericName[ug_CN]=فونت باشقۇرۇش ئۈسكۈنىسى
GenericName[ug]=فونت باشقۇرۇش ئۈسكۈنىسى
GenericName[zh_HK]=字體管理器
Comment=lingmo-font-viewer is used to manage , preview , install and uninstall fonts.
Comment[zh_CN]=字体管理器用于管理,预览,安装和卸载字体。
Comment[bo_CN]=ཡིག་གཟུགས་དོ་དམ་ཆས་ནི་དོ་དམ་ལ་སྤྱོད་པ་དང་།སྔོན་ལ་ལྟ་བ།ཡིག་གཟུགས་སྒྲིག་སྦྱོར་དང་འབེབས་པ།
Comment[de]=Font-Viewer wird verwendet, um Schriftarten zu verwalten, in der Vorschau anzuzeigen, zu installieren und zu deinstallieren.
Comment[es]=Visor de fuentes se utiliza para administrar, previsualizar, instalar y desinstalar fuentes.
Comment[fr]=Visionneuse de polices est utilisé pour gérer, prévisualiser, installer et désinstaller les polices.
Comment[kk_KZ]=خەت نۇسخىسى كۆرگۈ نى باشقۇرۇش، ئالدىن كۆرۈش، قاچىلاش ۋە چىقىرىۋىلىش ئۈچۈن ئىشلىتىلىدۇ.
Comment[kk]=خەت نۇسخىسى كۆرگۈ نى باشقۇرۇش، ئالدىن كۆرۈش، قاچىلاش ۋە چىقىرىۋىلىش ئۈچۈن ئىشلىتىلىدۇ.
Comment[ky_KG]=خەت نۇسخىسى كۆرگۈ نى باشقۇرۇش، ئالدىن كۆرۈش، قاچىلاش ۋە چىقىرىۋىلىش ئۈچۈن ئىشلىتىلىدۇ.
Comment[ky]=خەت نۇسخىسى كۆرگۈ نى باشقۇرۇش، ئالدىن كۆرۈش، قاچىلاش ۋە چىقىرىۋىلىش ئۈچۈن ئىشلىتىلىدۇ.
Comment[mn]=ᠦᠰᠦᠭ ᠤ᠋ᠨ ᠲᠢᠭ᠌ ᠤ᠋ᠨ ᠬᠠᠮᠢᠶᠠᠷᠤᠭᠤᠷ ᠶᠢ ᠬᠠᠮᠢᠶᠠᠷᠤᠯᠲᠠ ᠂ ᠤᠷᠢᠳᠴᠢᠯᠠᠨ ᠦᠵᠡᠬᠦ ᠂ ᠤᠭᠰᠠᠷᠠᠬᠤ ᠪᠠ ᠪᠠᠭᠤᠯᠭᠠᠬᠤ ᠦᠰᠦᠭ ᠦᠨ ᠴᠣᠭᠴᠠ ᠳᠤ ᠬᠡᠷᠡᠭᠯᠡᠨ᠎ᠡ ᠃
Comment[ug]=خەت نۇسخىسى كۆرگۈ نى باشقۇرۇش، ئالدىن كۆرۈش، قاچىلاش ۋە چىقىرىۋىلىش ئۈچۈن ئىشلىتىلىدۇ.
Comment[ug_CN]=خەت نۇسخىسى كۆرگۈ نى باشقۇرۇش، ئالدىن كۆرۈش، قاچىلاش ۋە چىقىرىۋىلىش ئۈچۈن ئىشلىتىلىدۇ.
Comment[zh_HK]=字體管理器用於管理、預覽、安裝和卸載字體。
Exec=/usr/bin/lingmo-font-viewer %u
Icon=lingmo-font-viewer
StartupNotify=false
Terminal=false
MimeType=font/ttf;application/vnd.ms-opentype;font/otf;font/ttc;font/sfnt;
Type=Application
Categories=InstantMessaging;
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management,org_kde_plasma_activation_feedback,org_kde_kwin_keystate,org_kde_kwin_fake_input,zkde_screencast_unstable_v1
