[Unit]
Description=delete-oem-user
After=lightdm.service

[Service]
Type=notify
ExecStart=/usr/share/lingmo-os-installer/data/delete-oem-user.sh

[Install]
WantedBy=multi-user.target
