[Desktop Entry]
Type=Application
Name=%{APPNAME}
Icon=%{APPNAMELC}
# TODO: replace with your custom supported mime types
MimeType=text/plain;
Exec=%{APPNAMELC} %U
Terminal=false
