[Desktop Entry]
Name=Lingmo Lock
Comment=Lingmo Lock
Encoding=UTF-8
Exec=/usr/bin/ocean-lock
NoDisplay=true
OnlyShowIn=OCEAN
Type=Application
X-Lingmo-Vendor=user-custom
X-Lingmo-TurboType=dtkwidget
