#ENV{DEVTYPE}=="usb_device", ACTION=="add",RUN+="/usr/libexec/openconnect/USBadd.sh"
#ENV{DEVTYPE}=="usb_device", ACTION=="remove", RUN+="/usr/libexec/openconnect/USBremove.sh"

ENV{DEVTYPE}=="disk", ENV{ID_BUS}!="", ACTION=="add",RUN+="/usr/libexec/openconnect/USBadd.sh"
ENV{DEVTYPE}=="disk", ENV{ID_BUS}!="", ACTION=="remove", RUN+="/usr/libexec/openconnect/USBremove.sh"

