[Desktop Entry]
Categories=Utility;System;
Encoding=UTF-8
Exec=dde-printer
GenericName=Print Manager
Icon=dde-printer
Name=Print Manager
Type=Application
X-Deepin-AppID=dde-printer

# Translations:
# Do not manually modify!
GenericName[ar]=مدير الطباعة
GenericName[az]=Print idarəetməsi
GenericName[bo]=པར་འདེབས་དོ་དམ་ཆས།
GenericName[br]=Merer ar mouladurioù
GenericName[ca]=Gestor d'impressió
GenericName[cs]=Správa tisku
GenericName[da]=Udskrivningshåndtering
GenericName[de]=Print Manager
GenericName[es]=Impresoras
GenericName[et]=Printimise haldamine
GenericName[fi]=Tulostimet
GenericName[fr]=Gestionnaire d'impression
GenericName[gl_ES]=Xestor de impresión
GenericName[hr]=Upravitelj pisačem
GenericName[hu]=Nyomtatás Kezelő
GenericName[id]=Manajer Pencetakan
GenericName[it]=Gestore Stampanti
GenericName[ko]=인쇄 관리자
GenericName[lt]=Spausdinimo tvarkytuvė
GenericName[ms]=Pengurus Cetak
GenericName[ne]=प्रिन्ट म्यानेजर
GenericName[nl]=Afdrukbeheer
GenericName[pl]=Menedżer wydruku
GenericName[pt]=Gestor de Impressão
GenericName[pt_BR]=Gerenciador de Impressoras
GenericName[ro]=Manager Imprimantă
GenericName[ru]=Диспетчер печати
GenericName[sq]=Përgjegjës Shtypjesh
GenericName[sr]=Управник Штампања
GenericName[tr]=Yazdırma Yöneticisi
GenericName[ug]=پىرىنتېر باشقۇرغۇچىسى
GenericName[uk]=Диспетчер друку
GenericName[zh_CN]=打印管理器
GenericName[zh_HK]=打印管理器
GenericName[zh_TW]=列印管理器
Name[ar]=مدير الطباعة
Name[az]=Print idarəetməsi
Name[bo]=པར་འདེབས་དོ་དམ་ཆས།
Name[br]=Merer ar mouladurioù
Name[ca]=Gestor d'impressió
Name[cs]=Správa tisku
Name[da]=Udskrivningshåndtering
Name[de]=Print Manager
Name[es]=Impresoras
Name[et]=Printimise haldamine
Name[fi]=Tulostimet
Name[fr]=Gestionnaire d'impression
Name[gl_ES]=Xestor de impresión
Name[hr]=Upravitelj pisačem
Name[hu]=Nyomtatás Kezelő
Name[id]=Manajer Pencetakan
Name[it]=Gestore Stampanti
Name[ko]=인쇄 관리자
Name[lt]=Spausdinimo tvarkytuvė
Name[ms]=Pengurus Cetak
Name[ne]=प्रिन्ट म्यानेजर
Name[nl]=Afdrukbeheer
Name[pl]=Menedżer wydruku
Name[pt]=Gestor de Impressão
Name[pt_BR]=Gerenciador de Impressoras
Name[ro]=Manager Imprimantă
Name[ru]=Диспетчер печати
Name[sq]=Përgjegjës Shtypjesh
Name[sr]=Управник Штампања
Name[tr]=Yazdırma Yöneticisi
Name[ug]=پىرىنتېر باشقۇرغۇچىسى
Name[uk]=Диспетчер друку
Name[zh_CN]=打印管理器
Name[zh_HK]=打印管理器
Name[zh_TW]=列印管理器

