[Desktop Entry]
Exec=/bin/bash -c "dbus-send --session --print-reply --dest=com.deepin.dataserver.Calendar /com/deepin/dataserver/Calendar/AccountManager com.deepin.dataserver.Calendar.AccountManager.updateRemindJob boolean:true"
Name=dde-calendar-service
NoDisplay=true
Terminal=false
Type=Application
X-Deepin-Vendor=user-custom
