.cache
build*
.vscode
/debian/.debhelper
/debian/ocean-application-manager
/debian/ocean-application-manager-api
/debian/*.substvars
/debian/*.debhelper
/debian/debhelper-build-stamp
/debian/files
/debian/tmp
/obj-*-linux-gnu
*.user
