[Desktop Entry]
Categories=Office;
Exec=deepin-reader %F
GenericName=Document Viewer
Icon=deepin-reader
MimeType=application/pdf;image/vnd.djvu;image/vnd.djvu+multipage;application/wps-office.docx;application/vnd.openxmlformats-officedocument.wordprocessingml.document;
Name=Document Viewer
StartupNotify=true
TryExec=deepin-reader
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[ar]=عارض المستندات
GenericName[ast]=Visor de documentos
GenericName[az]=Sənədlərə baxış
GenericName[bo]=ཡིག་ཚགས་ལྟ་ཆས།
GenericName[ca]=Visualitzador de documents
GenericName[cs]=Prohlížeč dokumentů
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentbetrachter
GenericName[es]=Visor de documentos
GenericName[fi]=Asiakirjat
GenericName[fr]=Visionneuse de documents
GenericName[gl_ES]=Visor de documentos
GenericName[hi_IN]=प्रलेख प्रदर्शक
GenericName[hr]=Preglednik dokumenata
GenericName[hu]=Dokumentum Megjelenítő
GenericName[id]=Penampil Dokumen
GenericName[it]=Lettore Documenti
GenericName[ko]=문서 보기도구
GenericName[lt]=Dokumentų žiūryklė
GenericName[ms]=Pelihat Dokumen
GenericName[nl]=Documentweergave
GenericName[pl]=Przeglądarka dokumentów
GenericName[pt]=Visualizador de Documentos
GenericName[pt_BR]=Visualizador de Documentos
GenericName[ro]=Vizualizator de Documente
GenericName[ru]=Просмотрщик документов
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sq]=Parës Dokumentesh
GenericName[sr]=Прегледач Докумената
GenericName[tr]=Belge Görüntüleyici
GenericName[ug]=ھۆججەت كۆرگۈچ
GenericName[uk]=Переглядач документів
GenericName[zh_CN]=文档查看器
GenericName[zh_HK]=文檔查看器
GenericName[zh_TW]=文件查看器
Name[ar]=عارض المستندات
Name[ast]=Visor de documentos
Name[az]=Sənədlərə baxış
Name[bo]=ཡིག་ཚགས་ལྟ་ཆས།
Name[ca]=Visualitzador de documents
Name[cs]=Prohlížeč dokumentů
Name[da]=Dokumentfremviser
Name[de]=Dokumentbetrachter
Name[es]=Visor de documentos
Name[fi]=Asiakirjat
Name[fr]=Visionneuse de documents
Name[gl_ES]=Visor de documentos
Name[hi_IN]=प्रलेख प्रदर्शक
Name[hr]=Preglednik dokumenata
Name[hu]=Dokumentum Megjelenítő
Name[id]=Penampil Dokumen
Name[it]=Lettore Documenti
Name[ko]=문서 보기도구
Name[lt]=Dokumentų žiūryklė
Name[ms]=Pelihat Dokumen
Name[nl]=Documentweergave
Name[pl]=Przeglądarka dokumentów
Name[pt]=Visualizador de Documentos
Name[pt_BR]=Visualizador de Documentos
Name[ro]=Vizualizator de Documente
Name[ru]=Просмотрщик документов
Name[sl]=Pregledovalnik dokumentov
Name[sq]=Parës Dokumentesh
Name[sr]=Прегледач Докумената
Name[tr]=Belge Görüntüleyici
Name[ug]=ھۆججەت كۆرگۈچ
Name[uk]=Переглядач документів
Name[zh_CN]=文档查看器
Name[zh_HK]=文檔查看器
Name[zh_TW]=文件查看器

