[KCM Locale]
Name=Marathi
Name[ar]=الماراثيّة
Name[as]=মৰাঠি
Name[az]=Marathi dilində
Name[be]=Маратхі
Name[be@latin]=Maratchi
Name[bg]=Марати
Name[bn]=মারাঠি
Name[bn_IN]=মারাঠি
Name[bs]=marati
Name[ca]=Marathi
Name[ca@valencia]=Marathi
Name[cs]=Marathi
Name[csb]=Marathi
Name[da]=Marathi
Name[de]=Marathi
Name[el]=Marathi
Name[en_GB]=Marathi
Name[eo]=Marata
Name[es]=Marathi
Name[et]=Marathi
Name[eu]=Marathera
Name[fa]=ماراتی
Name[fi]=Marathi
Name[fr]=Marathe
Name[fy]=Marathi
Name[ga]=Maraitis
Name[gd]=Marathi
Name[gl]=Marathi
Name[gu]=મરાઠી
Name[he]=מראטהית
Name[hi]=मराठी
Name[hne]=मराठी
Name[hr]=marathski
Name[hsb]=Marathi
Name[hu]=Marathi
Name[ia]=Marathi
Name[id]=Marathi
Name[is]=Marathi
Name[it]=Marathi
Name[ja]=マラーティー語
Name[ka]=მარათი
Name[kk]=Марати
Name[km]=ម៉ារ៉ាទី
Name[kn]=ಮರಾಠಿ
Name[ko]=마라티어
Name[ku]=Maratî
Name[lt]=Marathi
Name[lv]=Marathu
Name[mai]=मराठी
Name[mk]=Марати
Name[ml]=മറാത്തി
Name[mr]=मराठी
Name[ms]=Marathi
Name[nb]=Marathi
Name[nds]=Marathi
Name[nl]=Marathi
Name[nn]=Marathi
Name[oc]=Marati
Name[pa]=ਮਰਾਠੀ
Name[pl]=Marathi
Name[ps]=مراټي
Name[pt]=Marathi
Name[pt_BR]=Marata
Name[ro]=Marathi
Name[ru]=Маратхи
Name[se]=Marathigiella
Name[si]=මරාති
Name[sk]=Maráthčina
Name[sl]=Maratščina
Name[sr]=марати
Name[sr@ijekavian]=марати
Name[sr@ijekavianlatin]=marati
Name[sr@latin]=marati
Name[sv]=Marathi
Name[ta]=மராத்தி
Name[tg]=Маравӣ
Name[th]=ภาษามราฐี
Name[tr]=Marati Dili
Name[tt]=Маратхи
Name[ug]=ماراتىچە
Name[uk]=Мараті
Name[vi]=Tiếng Marathi
Name[wa]=Marati
Name[x-test]=xxMarathixx
Name[zh_CN]=马拉地语
Name[zh_TW]=馬拉提語
