# translation of kdelibs4.po to hebrew
# Translation of kdelibs4.po to Hebrew
# translation of kdelibs4.po to
# KDE Hebrew Localization Project
#
# In addition to the copyright owners of the program
# which this translation accompanies, this translation is
# Copyright (C) 1998 Erez Nir <erez-n@actcom.co.il>
# Copyright (C) 1999-2003 Meni Livne <livne@kde.org>
#
# This translation is subject to the same Open Source
# license as the program which it accompanies.
#
# Diego Iastrubni <elcuco@kde.org>, 2003.
# Diego Iastrubni <elcuco@kde.org>, 2003, 2004.
# Diego Iastrubni <elcuco@kde.org>, 2005, 2006, 2007, 2008, 2009, 2012, 2014.
# Meni Livne <livne@kde.org>, 2007.
# tahmar1900 <tahmar1900@gmail.com>, 2008, 2009.
# Elkana Bardugo <ttv200@gmail.com>, 2017. #zanata
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets5\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-12-08 00:42+0000\n"
"PO-Revision-Date: 2017-05-16 06:51-0400\n"
"Last-Translator: Elkana Bardugo <ttv200@gmail.com>\n"
"Language-Team: Hebrew <kde-i18n-doc@kde.org>\n"
"Language: he\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Zanata 3.9.6\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "צוות התרגום של KDE ישראל"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "kde-l10n-he@kde.org"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "בקשה להזדהות לפני שמירה"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "אינך מורשה לשמור את ההגדרות"

#: kcodecaction.cpp:67
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "ברירת מחדל"

#: kcodecaction.cpp:75
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "זהה אוטומטית"

#: kcolorschememanager.cpp:220 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcolorschememodel.cpp:71
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "ברירת מחדל"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "הגדרות"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:326
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "הצג &שורת־תפריטים"

#: khamburgermenu.cpp:352
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr ""

#: khamburgermenu.cpp:353
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr ""

#: krecentfilesaction.cpp:71
#, kde-format
msgid "No Entries"
msgstr "אין רשומות"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "Clear List"
msgstr "נקה רשימה"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&אחורה"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&קדימה"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&בית"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&עזרה"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "הצג שורת־תפריטים<p>הצגת שורת־התפריטים שוב לאחר שהוסתרה</p>"

#: kstandardaction.cpp:253
#, fuzzy, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"הצג שורת מצב<p>הצגת שורת־המצב - השורה בתחתית החלון המשמשת להצגת מידע לגבי "
"מצב התוכנית.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&חדש"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "צור מסמך חדש"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&פתיחה..."

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "פתח מסמך קיים"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "פתח &אחרונים"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "פתח מסמך שהיה בשימוש לאחרונה"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&שמור"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "שמור מסמך"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "שמירה &בשם..."

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "שמור את המסמך בשם חדש"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "שח&זר"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "בטל שינויים שנעשו למסמך"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&סגור"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "סגור את המסמך"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "&הדפסה..."

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "הדפס את המסמך"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "תצוגה מקדימה לפני הדפס&ה..."

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "הצג תצוגה מקדימה של הדפסת המסמך"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "ש&ליחה בדואר..."

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "שלח את המסמך בדוא\"ל"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&יציאה"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "יציאה מהתוכנית"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&בטל"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "בטל את הפעילות האחרונה"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "בצע &שוב"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "בצע מחדש את הפעילות האחרונה"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "ג&זור"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "גזור את הבחירה אל לוח העריכה"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "&העתק"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "העתק את הבחירה אל לוח העריכה"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&הדבק"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "הדבק את תוכן לוח העריכה"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "נ&קה"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "בחר &הכל"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "ב&טל בחירה"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&חיפוש..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "חפש &את הבא"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "חפש את הק&ודם"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&החלפה..."

#: kstandardaction_p.h:58
#, fuzzy
#| msgid "&Actual Size"
msgid "Zoom to &Actual Size"
msgstr "גודל &אמיתי"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "הצג את המסמך בגודל האמיתי שלו"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&התאם לגודל העמוד"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "הגדל את המסמך כדי שיראה כולו בעמוד אחד"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "התאם לרוחב &העמוד"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "הגדל את המסמך כדי שיתאים לרוחב החלון"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "התאם לאורך &העמוד"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "הגדל את המסמך כדי שאיתים לגובה החלון"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "&התקרב"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "&התרחק"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&התקרבות..."

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "בחר את מצב ההתקרבות"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:65
#, fuzzy
#| msgid "Redisplay document"
msgid "Refresh document"
msgstr "הצג מחדש את המסמך"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&מעלה"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "עבור למעלה"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&העמוד הקודם"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "עבור אל עמוד הקודם"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&העמוד הבא"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "עבור אל העמוד הבא"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&עבור אל..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "&מעבר לעמוד..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "&מעבר לשורה..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&העמוד הראשון"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "עבור לעמוד הראשון"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&העמוד האחרון"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "עובר לעמוד האחרון"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&אחורה"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "חזור במסמך"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "&קדימה"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "התקדם במסמך"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "&הוסף לסימניות"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&ערוך סימניות..."

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&איות..."

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "בדוק איות במסמך"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "הצג &שורת־תפריטים"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "הצג או הסתר את שורת־תפריטים"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "הצג &סרגל־כלים"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "הצג או הסתר סרגל־כלים"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "הצג ש&ורת־מצב"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "הצג או הסתר את שורת מצב"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "מצב מסך מ&לא"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&שמור הגדרות"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "הגדרות &קיצורי־מקשים..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "&הגדרות %1..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "הגדרות סרגלי־&כלים..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "הגדרות &הודעות..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "&ספר ההדרכה של %1"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "מה &זה?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "&העצה היומית"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "&דיווח על באג..."

#: kstandardaction_p.h:108
#, fuzzy
#| msgid "&Configure %1..."
msgid "Configure &Language..."
msgstr "&הגדרות %1..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&אודות %1"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "אודות &KDE"

#: kstandardaction_p.h:111
#, fuzzy
msgid "&Delete"
msgstr "&מחק"

#: kstandardaction_p.h:112
#, fuzzy
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "&החלפה..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "פתח &אחרונים"

#: ktipdialog.cpp:222
#, fuzzy, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "העצה היומית"

#: ktipdialog.cpp:238
#, fuzzy, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "הידעת...?\n"

#: ktipdialog.cpp:291
#, fuzzy, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&הצג עצות בעת ההפעלה"

#: ktipdialog.cpp:296
#, fuzzy, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&הקודם"

#: ktipdialog.cpp:301
#, fuzzy, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&הבא"

#~ msgid "Switch Application &Language..."
#~ msgstr "החלפת &שפת היישום..."

#~ msgid "&Redisplay"
#~ msgstr "&הצג מחדש"

#~ msgid "without name"
#~ msgstr "ללא שם"

#, fuzzy
#~ msgid "&Rename File"
#~ msgstr "&שלח קובץ"
