Source: treeland-protocols
Priority: optional
Maintainer: rewine <luhongxu@lingmo.org>
Build-Depends: cmake (>= 3.4~),
               debhelper-compat (= 13),
Standards-Version: 4.6.0
Section: ocean
Homepage: https://github.com/lingmoos/treeland-protocols
#Vcs-Browser: https://salsa.debian.org/debian/treeland
#Vcs-Git: https://salsa.debian.org/debian/treeland.git
Rules-Requires-Root: no

Package: treeland-protocols
Section: ocean
Architecture: all
Depends: ${misc:Depends},
Description: wayland protocols of treeland.
