[Desktop Entry]
Type=Application
Name=File Manager
Name[zh_CN]=文件管理
GenericName=File Manager
Comment=Lingmo File Manager
Exec=lingmo-filemanager %u
MimeType=inode/directory;
Icon=file-system-manager
Categories=Qt;System;FileTools;FileManager;
StartupNotify=true