Source: lingmo-bluetooth
Section: x11
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper (>= 9),
               libglib2.0-dev,
               libgsettings-qt-dev,
               libkf5bluezqt-dev,
               libkf5windowsystem-dev,
               liblingmosdk-qtwidgets-dev,
               liblingmosdk-waylandhelper-dev,
               libpolkit-qt5-1-dev,
               libqt5x11extras5-dev,
               libukcc-dev,
               liblingmo-log4qt-dev,
               libxcursor-dev,
               libxi-dev,
               libxinerama-dev,
               libxrandr-dev,
               libexplor-dev,
               liblingmosdk-sysinfo-dev,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtchooser,
               qtscript5-dev,
               qttools5-dev-tools,
Standards-Version: 4.4.1
Homepage: https://github.com/LingmoOS

Package: lingmo-bluetooth
Architecture: any
Depends: bluez (>= 5),
         bluez-obexd,
         libkf5bluezqt-data,
         libkf5bluezqt6,
         libnotify-bin,
         explor-bluetooth (>= 3.2.2+0611),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: pulseaudio-module-bluetooth
Breaks:lingmo-control-center (<3.1.1+1028)
Replaces:lingmo-control-center (<3.1.1+1028)
Description: Manual for LINGMO desktop environment (common files)
 A lightweight Bluetooth tool based on libkf5bluezqt6 on the LINGMO desktop environment
