Source: ocean-application-wizard
Section: unknown
Priority: optional
Maintainer: Gary Wang <wangzichong@lingmo.org>
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkg-config,
 qt6-base-dev,
 qt6-tools-dev,
 qt6-tools-dev-tools,
 libdtkcommon-dev,
 libdtk6core-dev,
 libdtk6widget-dev,
 libdtk6gui-dev,
 libappstreamqt-dev,
 libpackagekitqt6-dev,
 qcoro-qt6-dev,
# v-- to get systemduserunitdir from its pkg-config data
 systemd
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: ocean-application-wizard-daemon-compat
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 packagekit
Conflicts: ocean-application-manager (< 1.1.0)
Description: D-Bus compat module to provide app uninstall support
 This package provides the app uninstallation related D-Bus APIs which

