$ cat /usr/share/dbus-1/services/com.deepin.Camera.service
[D-BUS Service]
Name=com.deepin.Camera
Exec=/usr/bin/qdbus --literal com.deepin.SessionManager /com/deepin/StartManager com.deepin.StartManager.Launch /usr/share/applications/deepin-camera.desktop
