[Desktop Entry]
Exec=/usr/bin/deepin-defender-daemonservice
Name=deepin-defender-daemonservice
NoDisplay=true
Terminal=false
Type=Application
X-Deepin-Vendor=user-custom
