Source: lingmo-icon-theme
Section: x11
Priority: optional
Maintainer: Lingmo Packages Builder <packages@lingmo.com>
Standards-Version: 4.5.1
Build-Depends:
 debhelper-compat (= 12),
 gtk-update-icon-cache,
 x11-apps,
Rules-Requires-Root: binary-targets
Homepage: https://github.com/lingmoos/lingmo-icon-theme

Package: lingmo-icon-theme
Architecture: all
Depends:
 ${misc:Depends},
 papirus-icon-theme,
Conflicts: lingmo-cursor-theme
Description: Lingmo Icons
 This package is LingmoIconTheme 

Package: sea-icon-theme
Architecture: all
Depends:
 ${misc:Depends},
Conflicts: lingmo-icon-theme (<< 15.12.65)
Description: Lingmo Sea Icons 
 This package is LingmoIconTheme Sea
