Source: qtbase-abi-5-15-13
Maintainer: Lingmo OS Team <team@lingmo.org>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0.1
Rules-Requires-Root: no
Homepage: https://github.com/LingmoOS/

Package: qtbase-abi-5-15-13
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: qtbase-abi-5-15-13.
