Source: ocean-calendar
Section: utils
Priority: optional
Maintainer: Lingmo Packages Builder <packages@lingmo.com>
Build-Depends:
 debhelper-compat (=11),
 cmake,
 lingmo-gettext-tools,
 libdtkgui-dev (>= 5.5.17~),
 libdtkwidget-dev (>= 5.5.17~),
 libgtest-dev,
 libqt5svg5-dev,
 pkg-config,
 qtbase5-dev,
 qttools5-dev,
 qttools5-dev-tools,
 lingmo-gettext-tools,
 libgtest-dev,
 qttools5-dev,
 libical-dev,
 libgcrypt20-dev
Standards-Version: 4.3.0
Homepage: http://www.lingmo.org
Vcs-Git: https://github.com/lingmoos/ocean-calendar
Rules-Requires-Root: no

Package: ocean-calendar
Architecture: linux-any
Depends:
 ocean-qt5integration,
 ocean-api,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Calendar is a smart daily planner to schedule all things in life.
 Calendar is a small management tool for personal life that combines time 
 and events and integrates the function of memorizing and scheduling.
