[Unit]
Description=deepin input method target
DefaultDependencies=no

Wants=org.deepin.dde.dim@wayland.service
Wants=org.deepin.dde.dimwl@x11.servic
Wants=org.deepin.dde.dim@x11.servic
