[Unit]
Description=deepin input method daemon service

# Limit startup frequency more than the default
StartLimitIntervalSec=15s
StartLimitBurst=1

[Service]
Type=simple
ExecCondition=/bin/sh -c 'test "$XDG_SESSION_TYPE" = "%I" || exit 2'
ExecStart=/usr/bin/dim
# Exit code 1 means we are probably *not* dealing with an extension failure
SuccessExitStatus=1

Restart=always
# Do not wait before restarting the shell
RestartSec=0ms

[Install]
WantedBy=dde-session.target
