nohup.out
.#*
*~
build*
dist
daemon/lingmo-feedback-daemon
daemon/daemon
misc/com.lingmo.Feedback.service
gui/*.o
gui/moc_*
gui/qrc_*
gui/Makefile
gui/lingmo-feedback
*.po~
*.swp
*.user
*.old
*.mo
.gitreview
__*
