Source: liblingmosdk-diagnosetest
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper,
                pkgconf,
                cmake,
                libc6-dev,
                libcjson-dev,
                libdbus-1-dev,
                libssl-dev,
                liblingmosdk-log-dev
Standards-Version: 4.4.1
Section: libs
Homepage: https://github.com/LingmoOS
Vcs-Git: https://github.com/LingmoOS/liblingmosdk-diagnosetest.git
Vcs-Browser: https://github.com/LingmoOS/liblingmosdk-diagnosetest

Package: liblingmosdk-diagnosetest
Architecture: any
Section: libdevel
Depends: liblingmosdk-datacollect(= ${binary:Version}),
			liblingmosdk-diagnosetest-doc,
 			${misc:Depends},
			${shlibs:Depends}
Description: lingmo SDK based on diagnose and test level
 A set of interfaces and tools are provided to assist the software
 development of the diagnose and test layer. It includes data collection 
 module.


Package: liblingmosdk-diagnosetest-dev
Architecture: any
Section: libdevel
Depends: liblingmosdk-datacollect-dev (= ${binary:Version}),
		 ${misc:Depends},
         ${shlibs:Depends}
Description: development for liblingmosdk-diagnosetest
 A set of interfaces and tools are provided to assist the software
 development of the diagnose and test layer. It includes data collection 
 module.
 Contains development files for liblingmosdk-diagnosetest.

Package: liblingmosdk-diagnosetest-doc
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
			${shlibs:Depends}
Description: a list of man page.
 You can use the man manual to query liblingmosdk diagnosetest 
 layer component information to help users.
 Enable users to quickly understand the corresponding api.

Package: liblingmosdk-datacollect
Architecture: any
Depends: ${misc:Depends},
        ${shlibs:Depends}
Description: liblingmosdk-datacollect is a module in liblingmosdk-diagnosetest that,
 used to collect user operation data,for optimize applications function.

Package: liblingmosdk-datacollect-dev
Section: libdevel
Architecture: any
Depends: liblingmosdk-datacollect(= ${binary:Version}),
         ${shlibs:Depends},
		${misc:Depends}
Description: development files for liblingmosdk-diagnosetest
 liblingmosdk-datacollect is a module in liblingmosdk-diagnosetest that,
 used to collect user operation data,for optimize applications function.
 Contains development files for liblingmosdk-diagnosetest.
