Source: lingmo-desktop-theme
Section: devel
Priority: optional
Maintainer: caixiangrong <caixiangrong@uniontech.com>
Build-Depends: debhelper (>= 9),
   cmake
Standards-Version: 3.9.8
Homepage: http://www.lingmo.org

Package: lingmo-theme-bloom
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},lingmo-icon-theme
Description: lingmo desktop-environment - bloom theme
 lingmo theme bloom.

Package: lingmo-theme-bloom-dark
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},lingmo-icon-theme,
 lingmo-theme-bloom( =${binary:Version})
Description: lingmo desktop-environment - bloom dark theme
 lingmo theme dark bloom.

Package: lingmo-theme-vintage
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},lingmo-icon-theme
Description: lingmo desktop-environment - Vintage theme
 lingmo theme Vintage icon.

Package: lingmo-theme-flow
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},lingmo-icon-theme
Description: lingmo desktop-environment - flow theme
 lingmo theme flow.

Package: lingmo-theme-square
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},lingmo-icon-theme
Description: lingmo desktop-environment - square theme
 lingmo theme square.

Package: lingmo-theme-hazy-color
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},
Description: lingmo desktop-environment - hazy color theme
 lingmo theme hazy color.

Package: lingmo-theme-organic-glass
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},
Description: lingmo desktop-environment - organic glass theme
 lingmo theme organic glass.

Package: lingmo-theme-macaron
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},
Description: lingmo desktop-environment - macaron theme
 lingmo theme macaron.

Package: lingmo-theme-nirvana
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends},
Description: lingmo desktop-environment - nirvana theme
 lingmo theme nirvana.

Package: lingmo-desktop-theme
Architecture: any
Depends:
   lingmo-theme-bloom,
   lingmo-theme-bloom-dark,
   lingmo-theme-vintage,
   lingmo-theme-organic-glass,
   lingmo-theme-hazy-color,
   lingmo-theme-flow,
   lingmo-theme-square,
   lingmo-theme-macaron,
   lingmo-theme-nirvana
Description: lingmo desktop theme
 This package is LingmoDesktopTheme
