[Desktop Entry]
Exec=env GIO_LAUNCHED_DESKTOP_FILE=/usr/bin/applications/lingmo-system-monitor-plugin-popup.desktop /usr/bin/lingmo-system-monitor-plugin-popup
Name=lingmo-system-monitor-plugin-popup
NotShowIn=GNOME;Unity;
Type=Application
X-Lingmo-Vendor=user-custom
