[Desktop Entry]
Name=Deepin Lock
Comment=Deepin Lock
Encoding=UTF-8
Exec=/usr/bin/dde-lock
NoDisplay=true
OnlyShowIn=Deepin
Type=Application
X-Deepin-Vendor=user-custom
X-Deepin-TurboType=dtkwidget
