[D-BUS Service]
Name=org.deepin.dde.ShutdownFront1
SystemdService=dde-lock.service
Exec=/usr/bin/dbus-send --print-reply --session --dest=org.deepin.dde.Application1.Manager /org/deepin/dde/Application1/Manager org.deepin.dde.Application1.Manager.LaunchApp string:/usr/share/applications/dde-lock.desktop uint32:0 array:string:--daemon
