[Unit]
Description=deepin-log-viewer coredump report timer

[Timer]
Unit=coredump-reporter.service
OnUnitActiveSec=15m
OnBootSec=5m

[Install]
WantedBy=timers.target
