[Desktop Entry]
Categories=Qt;Game
Exec=deepin-gomoku %F
GenericName=Gomoku
Icon=com.deepin.gomoku
Keywords=gomoku;game;deepin;
Name=Gomoku
StartupNotify=false
TryExec=/usr/bin/deepin-gomoku
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[ar]=جوموكو
GenericName[az]=Gomoku
GenericName[bo]=རྡེའུ་ལྔའི་མིག་མང་།
GenericName[ca]=Gomoku
GenericName[cs]=Gomoku
GenericName[de]=Gomoku
GenericName[es]=Gomoku
GenericName[fi]=Gomoku
GenericName[hr]=Gomoku
GenericName[hu]=Gomoku
GenericName[it]=Gomoku
GenericName[nl]=Gomoku
GenericName[pl]=Gomoku
GenericName[pt]=Gomoku
GenericName[pt_BR]=Gomoku
GenericName[ru]=Gomoku
GenericName[sq]=Gomoku
GenericName[sr]=Гомоку
GenericName[tr]=Gomoku
GenericName[ug]=بەشلىك شاھمات
GenericName[uk]=Ґомоку
GenericName[zh_CN]=五子棋
GenericName[zh_HK]=五子棋
GenericName[zh_TW]=五子棋
Name[ar]=جوموكو
Name[az]=Gomoku
Name[bo]=རྡེའུ་ལྔའི་མིག་མང་།
Name[ca]=Gomoku
Name[cs]=Gomoku
Name[de]=Gomoku
Name[es]=Gomoku
Name[fi]=Gomoku
Name[hr]=Gomoku
Name[hu]=Gomoku
Name[it]=Gomoku
Name[nl]=Gomoku
Name[pl]=Gomoku
Name[pt]=Gomoku
Name[pt_BR]=Gomoku
Name[ru]=Gomoku
Name[sq]=Gomoku
Name[sr]=Гомоку
Name[tr]=Gomoku
Name[ug]=بەشلىك شاھمات
Name[uk]=Ґомоку
Name[zh_CN]=五子棋
Name[zh_HK]=五子棋
Name[zh_TW]=五子棋

