Source: deepin-sound-theme
Section: x11
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.3
Homepage: http://www.deepin.org/

Package: deepin-sound-theme
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin sound
 This package contains the deepin sound theme.
