[Desktop Entry]
Name=USB Boot Maker
Name[zh_CN]=U盘启动器
Name[bo_CN]=ཆི་ལིན་Uསྡེར་སྒུལ ཆས་
Name[mn_MN]=U ᠳ᠋ᠠᠢᠢᠰᠺ ᠬᠥᠳᠡᠯᠭᠡᠭᠦᠷ
Name[ug_CN]=بارماق دىسكا قوزغاتقۇچ
Name[kk_KZ]=بارماقشى ديسكا ديسكا قوزعالتۋ اسبابى
Name[ky_KG]=بارماق دىسكا قوزعوتقۇچ
Comment=A tool for making USB flash disk made by Lingmo software
Comment[zh_CN]=由灵墨软件开发的一款制作U盘启动盘的软件
Comment[bo_CN]=ཆི་ལིན་མཉེན་ཆས་གསར་སྤེལ་གྱི་ནང་གསེས་དོན་ཚན་གཅིག་བཟོས་Uསྡེར་འགོ་བརྩམས་པའི་མཉེན་ཆས།
Comment[mn_MN]=ᠪᠢᠯᠢᠭᠲᠦ ᠭᠥᠷᠥᠭᠡᠰᠦ ᠶᠢᠨ ᠰᠣᠹᠲ ᠠᠴᠠ ᠨᠡᠭᠡᠭᠡᠭᠰᠡᠨ U ᠳ᠋ᠠᠢᠢᠰᠺ ᠤᠨ ᠬᠥᠳᠡᠯᠭᠡᠬᠦ ᠲᠠᠪᠠᠭ ᠢ ᠬᠢᠳᠡᠭ ᠰᠣᠹᠲ ᠤᠨ
Comment[ug_CN]=بوبرا كېيىك يۇمشاق دېتال تەرىپىدىن ئېچىش بىر خىل بارماق دېسكا قوزغىتىش دىسكىسى يۇمشاق دېتال ياساش
GenericName=Startup disk making tool
GenericName[zh_CN]=启动盘制作工具
GenericName[bo_CN]=འགོ་སློང་སྡེར་ལས་ལག་ཆ་
GenericName[mn_MN]=ᠬᠥᠳᠡᠯᠭᠡᠬᠦ ᠲᠠᠪᠠᠭ ᠦᠢᠯᠡᠳᠬᠦ ᠪᠠᠭᠠᠵᠢ
GenericName[ug_CN]=بارماق دىسكا قوزغاتقۇچ
GenericName[kk_KZ]=بارماقشى ديسكا ديسكا قوزعالتۋ اسبابى
GenericName[ky_KG]=بارماق دىسكا قوزعوتقۇچ
Exec=/usr/bin/lingmo-usb-creator %u
Icon=lingmo-usb-creator
Type=Application
Categories=Utility;System;
Keywords=USB;System;Manage
