[Desktop Entry]
Terminal=false
Name=Lingmo Engine Explorer
Name[az]=Lingmo Mexanizmi Bələdçisi
Name[be]=Агляд рухавіка Lingmo
Name[bg]=Преглед на енджини на Lingmo
Name[ca]=Explorador de motors del Lingmo
Name[ca@valencia]=Explorador de motors de Lingmo
Name[da]=Lingmo Engine Explorer
Name[de]=Lingmo-Datenquellen-Betrachter
Name[el]=Περιηγητής μηχανών Lingmo
Name[en_GB]=Lingmo Engine Explorer
Name[eo]=Esplorilo de Lingmo Motoro
Name[es]=Explorador de motores de Lingmo
Name[et]=Lingmo mootori uurija
Name[eu]=Lingmo motor esploratzailea
Name[fi]=Lingmo Engine Explorer
Name[fr]=Explorateur de moteurs Lingmo
Name[gl]=Explorador de motores de Lingmo
Name[he]=סייר מנועים של פלזמה
Name[hu]=Böngésző Lingmo adatmodulokhoz
Name[ia]=Explorator de Motor de Lingmo (Lingmo Engine Explorer)
Name[id]=Penjelajah Mesin Lingmo
Name[it]=Lingmo Engine Explorer
Name[ka]=Lingmo-ის ძრავის დათვალიერება
Name[ko]=Lingmo 엔진 탐색기
Name[lt]=Lingmo modulių tyrinėtojas
Name[nl]=Lingmo-engine-verkenner
Name[nn]=Utforskar for Lingmo-motorar
Name[pl]=Przeglądarka Silnika Plazmy
Name[pt]=Explorador do Motor do Lingmo
Name[pt_BR]=Explorador de mecanismos do Lingmo
Name[ru]=Диспетчер данных Lingmo
Name[sk]=Lingmo Engine prehliadač
Name[sl]=Raziskovalnik okolja Lingmo
Name[sv]=Gränssnittsutforskare för Lingmo
Name[tr]=Lingmo İşletke Gezgini
Name[uk]=Навігатор рушіїв Плазми
Name[x-test]=xxLingmo Engine Explorerxx
Name[zh_CN]=Lingmo 引擎浏览器
Name[zh_TW]=Lingmo 引擎探索器
GenericName=Lingmo Data Engines Viewing Tool
GenericName[az]=Məlumat Mexanizmlərinə baxış aləti
GenericName[be]=Інструмент для прагляду даных DataEngine Lingmo
GenericName[bg]=Инструмент на Lingmo за преглед енджини за данни
GenericName[ca]=Eina de visualització dels motors de dades del Lingmo
GenericName[ca@valencia]=Eina de visualització dels motors de dades de Lingmo
GenericName[da]=Visningsværktøj til Lingmo datamotorer
GenericName[de]=Anzeige von Lingmo-Datenquellen
GenericName[el]=Εργαλείο προβολής μηχανών δεδομένων Lingmo
GenericName[en_GB]=Lingmo Data Engines Viewing Tool
GenericName[eo]=Ilo por Vidado de Lingmoj Datumoj
GenericName[es]=Herramienta de visualización de motores de datos de Lingmo
GenericName[et]=Lingmo andmemootorite näitaja
GenericName[eu]=Lingmoren datu-motorrak ikusteko tresna
GenericName[fi]=Lingmon tietomoottorien katselin
GenericName[fr]=Outil de consultation des moteurs de données Lingmo
GenericName[gl]=Ferramenta de visión de motores de datos de Lingmo
GenericName[he]=כלי לצפייה במנועי נתונים של פלזמה
GenericName[hu]=Lingmo adatmodul-megjelenítő eszköz
GenericName[ia]=Instrumento de visualisar Motores de datos de Lingmo
GenericName[id]=Alat Penampilan Mesin Data Lingmo
GenericName[it]=Strumento di visualizzazione dei motori di dati di Lingmo
GenericName[ka]=Lingmo-ის მონაცეების ძრავების დამთვალიერებელი
GenericName[ko]=Lingmo 데이터 엔진 보기 도구
GenericName[lt]=Lingmo duomenų modulių peržiūros įrankis
GenericName[nl]=Hulpmiddel voor bekijken van Lingmo Data Engines
GenericName[nn]=Visingsverktøy for Lingmo-datamotor
GenericName[pl]=Narzędzie do przeglądania silników danych Plazmy
GenericName[pt]=Ferramenta de Visualização de Motores de Dados do Lingmo
GenericName[pt_BR]=Ferramenta de visualização de mecanismos de dados do Lingmo
GenericName[ru]=Просмотр систем управления базами данных Lingmo
GenericName[sk]=Nástroj na prezeranie Lingmo Data Engines
GenericName[sl]=Orodje za vpogled obdelav podatkov v Plazmi
GenericName[sv]=Visningsverktyg för Lingmo datagränssnitt
GenericName[tr]=Lingmo Veri İşletkeleri Görüntüleme Aracı
GenericName[uk]=Інструмент для перегляду рушіїв даних Плазми
GenericName[x-test]=xxLingmo Data Engines Viewing Toolxx
GenericName[zh_CN]=Lingmo 数据引擎查看工具
GenericName[zh_TW]=Lingmo 資料引擎檢視工具
Comment=Explorer for the data published by Lingmo DataEngines
Comment[az]=Yayınlanan Lingmo Mexanizmləri məlumatlarına baxış
Comment[be]=Сродак агляду даных ад Lingmo DataEngines
Comment[bg]=Преглед на данните, представени от Lingmo енджин за данни
Comment[ca]=Explorador de les dades publicades pels motors de dades del Lingmo
Comment[ca@valencia]=Explorador de les dades publicades pels motors de dades de Lingmo
Comment[da]=Udforsk de data der offentliggøres af Lingmo datamotorer
Comment[de]=Zeigt die Daten an, die von Lingmo-Datenquellen veröffentlicht werden
Comment[el]=Περιηγητής στα δημοσιευμένα δεδομένα των μηχανών δεδομένων Lingmo
Comment[en_GB]=Explorer for the data published by Lingmo DataEngines
Comment[eo]=Esploristo por la datumoj publikigitaj de Lingmo DataEngines
Comment[es]=Explorador para los datos publicados por los motores de datos de Lingmo
Comment[et]=Lingmo andmemootorite avaldatud andmete uurimine
Comment[eu]=Lingmo datu-motorrek argitaratutako datuentzako esploratzailea
Comment[fi]=Lingmon tietomoottorien julkaisemien tietojen selain
Comment[fr]=Explorateur de données publiées par les moteurs de données Lingmo
Comment[gl]=Explorador dos datos publicados polos motores de datos de Lingmo.
Comment[he]=סייר בנתונים שמפורסמים על ידי מנועי הנתונים של פלזמה
Comment[hu]=Adatkezelő a Lingmo DataEngines által szolgáltatott adatokhoz
Comment[ia]=Explorator per le datos publicte per Lingmo DataEngines (Motores de Datos de Lingmo)
Comment[id]=Penjelajah data yang dipublikasikan oleh Lingmo DataEngines
Comment[it]=Esploratore per i dati pubblicati da Lingmo DataEngines
Comment[ka]=Lingmo-ის მონაცემების ძრავების მიერ გამოქვეყნებული მონაცემების დამთვალიერებელი
Comment[ko]=Lingmo 데이터 엔진에서 제공하는 데이터 탐색기
Comment[lt]=Tyrinėtojas, skirtas Lingmo duomenų modulių paskelbtiems duomenims
Comment[nl]=Verkenner voor de gegevens gepubliceerd door Lingmo DataEngines
Comment[nn]=Utforsking av data publisert av Lingmo-datamotorar
Comment[pl]=Przeglądarka danych publikowanych przez silniki danych Plazmy
Comment[pt]=Explorador dos dados publicados pelos motores de dados do Lingmo
Comment[pt_BR]=Explorador para os dados publicados pelo Lingmo DataEngines
Comment[ru]=Просмотр данных, опубликованных поставщиками данных Lingmo
Comment[sk]=Prehliadač dát publikovaných pomocou Lingmo DataEngines
Comment[sl]=Raziskovalec podatkov, ki jih objavljajo obdelave podatkov v Plasmi
Comment[sv]=Utforskare av data som publiceras av datagränssnitt i Lingmo
Comment[tr]=Lingmo Veri İşletkeleri tarafından yayımlanan veri için gezgin
Comment[uk]=Навігатор для даних, оприлюднених рушієм даних Плазми
Comment[x-test]=xxExplorer for the data published by Lingmo DataEnginesxx
Comment[zh_CN]=Lingmo DataEngines 发布数据的浏览器
Comment[zh_TW]=瀏覽來自 Lingmo DataEngines 發布的資料
Exec=lingmoengineexplorer
Icon=lingmo
Type=Application
Categories=Qt;KDE;Development;IDE;
