LINGMO_arm=y
LINGMO_cortex_a5=y
LINGMO_ARM_ENABLE_VFP=y
LINGMO_ARM_INSTRUCTIONS_THUMB2=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_6=y
LINGMO_GLOBAL_PATCH_DIR="board/acmesystems/acqua-a5/patches"
LINGMO_DOWNLOAD_FORCE_CHECK_HASHES=y
LINGMO_SYSTEM_DHCP="eth0"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/acmesystems/acqua-a5/genimage.cfg"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.6.30"
LINGMO_LINUX_KERNEL_DEFCONFIG="sama5"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_CUSTOM_DTS_PATH="board/acmesystems/acqua-a5/at91-sama5d3_acqua.dts"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_AT91BOOTSTRAP3=y
LINGMO_TARGET_AT91BOOTSTRAP3_CUSTOM_GIT=y
LINGMO_TARGET_AT91BOOTSTRAP3_CUSTOM_REPO_URL="https://github.com/linux4sam/at91bootstrap.git"
LINGMO_TARGET_AT91BOOTSTRAP3_CUSTOM_REPO_VERSION="v3.10.3"
LINGMO_TARGET_AT91BOOTSTRAP3_DEFCONFIG="acqua-256m"
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
