# Architecture
LINGMO_arm=y
LINGMO_cortex_a15=y

# System
LINGMO_SYSTEM_DHCP="eth0"

# Linux headers same as kernel, a 6.6 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_6=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.6.14"
LINGMO_LINUX_KERNEL_DEFCONFIG="multi_v7"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="ti/omap/am574x-idk"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y

# Image
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/ti/am574x-idk/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/ti/am574x-idk/genimage.cfg"

# Bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2024.01"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="am57xx_evm"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
# LINGMO_TARGET_UBOOT_FORMAT_BIN is not set
LINGMO_TARGET_UBOOT_FORMAT_IMG=y
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="MLO"
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y

# Required tools to create the SD image
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
