# Architecture
LINGMO_powerpc=y
LINGMO_powerpc_8548=y

# Linux headers same as kernel, a 4.4 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_4=y

# System settings
LINGMO_TARGET_GENERIC_HOSTNAME="UCP1020"
LINGMO_TARGET_GENERIC_ISSUE="Welcome to Arcturus uCP1020 System on Module"
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS0"
LINGMO_SYSTEM_DHCP="eth0"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,ArcturusNetworks,uCP1020-kernel,v20190618)/linux-v20190618.tar.gz"
LINGMO_LINUX_KERNEL_DEFCONFIG="ucp1020"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="ucp1020"

# Filesystem
LINGMO_TARGET_ROOTFS_JFFS2=y

# U-boot
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="$(call github,ArcturusNetworks,uCP1020-uboot,v20190618)/uboot-v20190618.tar.gz"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="UCP1020"
