LINGMO_aarch64=y
# Linux headers same as kernel, a 6.1 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyAMA0"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.13"
LINGMO_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="arm/foundation-v8-gicv3-psci"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="128M"
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_BOOT_WRAPPER_AARCH64=y
LINGMO_TARGET_BOOT_WRAPPER_AARCH64_DTS="arm/foundation-v8-gicv3-psci"
LINGMO_TARGET_BOOT_WRAPPER_AARCH64_BOOTARGS="root=/dev/vda consolelog=9 console=ttyAMA0 rw"
LINGMO_TARGET_BOOT_WRAPPER_AARCH64_PSCI=y
LINGMO_TARGET_BOOT_WRAPPER_AARCH64_GICV3=y
