# Architecture
LINGMO_arm=y
LINGMO_cortex_a8=y

# Linux headers same as kernel, a 4.4 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_4=y

# System
LINGMO_TARGET_GENERIC_HOSTNAME="apf51"
LINGMO_TARGET_GENERIC_ISSUE="Welcome to Armadeus development platform !"
LINGMO_TARGET_GENERIC_GETTY_PORT="ttymxc2"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.4.291"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/armadeus/apf51/linux-4.4.config"
LINGMO_LINUX_KERNEL_UIMAGE=y
LINGMO_LINUX_KERNEL_UIMAGE_LOADADDR="0x90008000"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="imx51-apf51dev"

# Filesystem
LINGMO_TARGET_ROOTFS_UBIFS=y
LINGMO_TARGET_ROOTFS_UBIFS_MAXLEBCNT=135301
LINGMO_TARGET_ROOTFS_UBI=y
