# Architecture
LINGMO_arm=y
LINGMO_arm926t=y

# Linux headers same as kernel, a 4.9 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_9=y

# System
LINGMO_TARGET_GENERIC_HOSTNAME="apf28"
LINGMO_TARGET_GENERIC_ISSUE="Welcome to Armadeus development platform !"
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyAMA0"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.9.289"
LINGMO_LINUX_KERNEL_DEFCONFIG="mxs"
LINGMO_LINUX_KERNEL_UIMAGE=y
LINGMO_LINUX_KERNEL_UIMAGE_LOADADDR="0x40008000"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="imx28-apf28dev"

# Filesystem
LINGMO_TARGET_ROOTFS_UBIFS=y
LINGMO_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f000
LINGMO_TARGET_ROOTFS_UBIFS_MAXLEBCNT=4227
LINGMO_TARGET_ROOTFS_UBI=y
LINGMO_TARGET_ROOTFS_UBI_SUBSIZE=0
