# Architecture
LINGMO_arm=y
LINGMO_arm926t=y

# Linux headers same as kernel, a 4.12 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_12=y

# System
LINGMO_TARGET_GENERIC_HOSTNAME="apf27"
LINGMO_TARGET_GENERIC_ISSUE="Welcome to Armadeus development platform !"
LINGMO_TARGET_GENERIC_GETTY_PORT="ttymxc0"

# Filesystem
LINGMO_TARGET_ROOTFS_UBIFS=y
LINGMO_TARGET_ROOTFS_UBIFS_MAXLEBCNT=2047
LINGMO_TARGET_ROOTFS_UBI=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.12.4"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/armadeus/apf27/linux-4.12.config"
LINGMO_LINUX_KERNEL_UIMAGE=y
LINGMO_LINUX_KERNEL_UIMAGE_LOADADDR="0xA0008000"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="imx27-apf27dev"

# U-boot
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2018.09"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="apf27"
