# Architecture
LINGMO_arm=y

# System
LINGMO_TARGET_GENERIC_HOSTNAME="aspeed-evb"
LINGMO_TARGET_GENERIC_ISSUE="Aspeed EVB"
LINGMO_SYSTEM_DHCP="eth0"

# Filesystem
LINGMO_TARGET_ROOTFS_CPIO=y
LINGMO_TARGET_ROOTFS_CPIO_XZ=y

# Image
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/aspeed/common/post-image.sh"

# Linux headers same as kernel
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_17=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.17.7"
LINGMO_LINUX_KERNEL_DEFCONFIG="aspeed_g5"
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/aspeed/ast2500-evb/linux.fragment"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="aspeed-ast2500-evb"
LINGMO_LINUX_KERNEL_XZ=y

# Boot
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2022.01"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="evb-ast2500"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_CUSTOM_MAKEOPTS="DEVICE_TREE=ast2500-evb"
LINGMO_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="board/aspeed/ast2500-evb/uboot.fragment"
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
LINGMO_PACKAGE_HOST_GENIMAGE=y

# Target tools
LINGMO_PACKAGE_MTD=y
