LINGMO_arm=y
LINGMO_cortex_a15=y
LINGMO_GLOBAL_PATCH_DIR="board/beagleboneai/patches"
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_10=y
LINGMO_SYSTEM_DHCP="eth0"
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/beagleboneai/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/beagleboneai/genimage.cfg"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.10.79"
LINGMO_LINUX_KERNEL_DEFCONFIG="omap2plus"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="am5729-beagleboneai"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2021.04"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="am57xx_evm"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
# LINGMO_TARGET_UBOOT_FORMAT_BIN is not set
LINGMO_TARGET_UBOOT_FORMAT_IMG=y
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="MLO"
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
