LINGMO_arm=y
LINGMO_cortex_a15=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_9=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/beagleboardx15/genimage.cfg"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.9"
LINGMO_LINUX_KERNEL_DEFCONFIG="omap2plus"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="am57xx-beagle-x15 am57xx-beagle-x15-revb1"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2016.11"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="am57xx_evm"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
# LINGMO_TARGET_UBOOT_FORMAT_BIN is not set
LINGMO_TARGET_UBOOT_FORMAT_IMG=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM_NAME="spl/u-boot-spl.bin"
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="MLO"
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
