LINGMO_arm=y
LINGMO_cortex_a9=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_6=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/broadcom/northstar/post-image.sh"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.6.9"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/broadcom/northstar/linux.config"
LINGMO_LINUX_KERNEL_APPENDED_ZIMAGE=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="broadcom/bcm4708-smartrg-sr400ac broadcom/bcm47094-luxul-xwr-3150-v1"
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_ROOTFS_UBI=y
LINGMO_TARGET_ROOTFS_UBI_SUBSIZE=2048
LINGMO_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f000
LINGMO_PACKAGE_HOST_FIRMWARE_UTILS=y
LINGMO_PACKAGE_HOST_LZMA_ALONE=y
