# Architecture
LINGMO_arm=y
LINGMO_cortex_a7=y
LINGMO_ARM_FPU_NEON_VFPV4=y

# Linux headers same as kernel, a 5.15 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_15=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.15.11"
LINGMO_LINUX_KERNEL_DEFCONFIG="multi_v7"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="sun7i-a20-cubieboard2"

# Bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2021.10"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="Cubieboard2"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_NEEDS_PYLIBFDT=y
LINGMO_TARGET_UBOOT_NEEDS_PYTHON3=y
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="u-boot-sunxi-with-spl.bin"
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT_SOURCE="board/cubietech/cubieboard2/boot.cmd"

# System
LINGMO_TARGET_GENERIC_HOSTNAME="Cubieboard2"
LINGMO_TARGET_GENERIC_ISSUE="Welcome to Cubieboard2!"
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS0"
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/cubietech/cubieboard2/post-image.sh"
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
