LINGMO_aarch64=y
LINGMO_cortex_a35=y
LINGMO_ARM_FPU_VFPV3=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyLP0"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/imx/imx8-bootloader-prepare.sh board/freescale/common/imx/post-image.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="${UBOOT_DIR}/arch/arm/dts/fsl-imx8dxl-evk.dtb"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,nxp-imx,linux-imx,lf-6.1.22-2.0.0)/linux-imx-lf-6.1.22-2.0.0.tar.gz"
LINGMO_LINUX_KERNEL_DEFCONFIG="imx_v8"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="freescale/imx8dxl-evk"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_PACKAGE_FREESCALE_IMX=y
LINGMO_PACKAGE_FREESCALE_IMX_PLATFORM_IMX8DXL=y
LINGMO_PACKAGE_FIRMWARE_IMX=y
LINGMO_PACKAGE_IMX_SC_FIRMWARE=y
LINGMO_PACKAGE_IMX_SECO=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="120M"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL_LOCATION="$(call github,nxp-imx,imx-atf,lf-6.1.22-2.0.0)/imx-atf-lf-6.1.22-2.0.0.tar.gz"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="imx8dxl"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_BL31=y
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="$(call github,nxp-imx,uboot-imx,lf-6.1.22-2.0.0)/uboot-imx-lf-6.1.22-2.0.0.tar.gz"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="imx8dxl_evk"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_IMX_MKIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
