# Architecture
LINGMO_powerpc=y
LINGMO_powerpc_8548=y

# Linux headers same as kernel, a 4.15 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_15=y

# Serial port config
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS0"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.15.7"
LINGMO_LINUX_KERNEL_DEFCONFIG="mpc85xx_smp"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="fsl/p1025twr"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# Filesystem
LINGMO_TARGET_ROOTFS_CPIO=y
LINGMO_TARGET_ROOTFS_CPIO_GZIP=y
LINGMO_TARGET_ROOTFS_CPIO_UIMAGE=y
# LINGMO_TARGET_ROOTFS_TAR is not set
