# architecture
LINGMO_arm=y
LINGMO_arm926t=y

# Linux headers same as kernel, a 5.4 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_4=y

# system
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyAMA0"

# kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.4.42"
LINGMO_LINUX_KERNEL_DEFCONFIG="mxs"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="imx28-evk"

# bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BOARDNAME="mx28evk"
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2020.04"
LINGMO_TARGET_UBOOT_FORMAT_SD=y

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y

# To generate SD Image
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/mxs/post-image.sh"
