LINGMO_x86_x1000=y
LINGMO_GLOBAL_PATCH_DIR="board/intel/galileo/patches"
# Linux headers same as kernel, a 3.14 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_14=y
LINGMO_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS1"
LINGMO_TARGET_GENERIC_GETTY_BAUDRATE_115200=y
LINGMO_ROOTFS_OVERLAY="board/intel/galileo/rootfs_overlay"
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/intel/galileo/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/intel/galileo/post-image.sh"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,mdr78,Linux-x1000,8b3c9d8ce1656a26b1097d9091d53bfb39fef640)/linux-8b3c9d8ce1656a26b1097d9091d53bfb39fef640.tar.gz"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/intel/galileo/linux-3.14.config"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_GRUB2=y
LINGMO_TARGET_GRUB2_I386_EFI=y
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
