LINGMO_aarch64=y
LINGMO_cortex_a53=y
LINGMO_ARM_FPU_VFPV4=y

# Linux headers same as kernel, a 5.15 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_15=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.15.1"
LINGMO_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/globalscale/espressobin/linux-extras.config"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="marvell/armada-3720-espressobin marvell/armada-3720-espressobin-emmc marvell/armada-3720-espressobin-v7 marvell/armada-3720-espressobin-v7-emmc marvell/armada-3720-espressobin-ultra"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# Filesystem
LINGMO_TARGET_GENERIC_ISSUE="Welcome to Buildroot for the Marvell ESPRESSObin"
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="120M"
LINGMO_TARGET_ROOTFS_TAR_GZIP=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/globalscale/espressobin/genimage.cfg"
