LINGMO_arm=y
LINGMO_cortex_a9=y
LINGMO_ARM_ENABLE_NEON=y
LINGMO_ARM_ENABLE_VFP=y
LINGMO_ARM_FPU_VFPV3=y

# Linux headers same as kernel, a 5.15 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_15=y

# Additional features needed for packages
LINGMO_TOOLCHAIN_BUILDROOT_CXX=y

# System
LINGMO_TARGET_GENERIC_GETTY_PORT="ttymxc0"

# required tools to create the SD card image
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y

# Filesystem
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/imx/post-image.sh"
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="320M"
LINGMO_ROOTFS_OVERLAY="board/freescale/imx6-sabresd/rootfs_overlay"

# Bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BOARDNAME="mx6sabresd"
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2022.04"
LINGMO_TARGET_UBOOT_FORMAT_IMG=y
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="SPL"
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.15.41"
LINGMO_LINUX_KERNEL_DEFCONFIG="imx_v6_v7"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="imx6q-sabresd imx6dl-sabresd imx6qp-sabresd"
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/freescale/imx6-sabresd/linux_qt5.fragment"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# GL driver
LINGMO_PACKAGE_MESA3D=y
LINGMO_PACKAGE_MESA3D_GALLIUM_DRIVER_ETNAVIV=y
LINGMO_PACKAGE_MESA3D_OPENGL_ES=y
LINGMO_PACKAGE_MESA3D_OPENGL_EGL=y

# Fonts
LINGMO_PACKAGE_BITSTREAM_VERA=y
LINGMO_PACKAGE_CANTARELL=y
LINGMO_PACKAGE_DEJAVU=y
LINGMO_PACKAGE_FONT_AWESOME=y
LINGMO_PACKAGE_GHOSTSCRIPT_FONTS=y
LINGMO_PACKAGE_INCONSOLATA=y
LINGMO_PACKAGE_LIBERATION=y

# GL demos
LINGMO_PACKAGE_GLMARK2=y
LINGMO_PACKAGE_KMSCUBE=y
LINGMO_PACKAGE_LIBV4L=y
LINGMO_PACKAGE_LIBV4L_UTILS=y
LINGMO_PACKAGE_MESA3D_DEMOS=y

# Qt5
LINGMO_PACKAGE_QT5=y
LINGMO_PACKAGE_QT5BASE_OPENGL_LIB=y
LINGMO_PACKAGE_QT5BASE_LINUXFB=y
LINGMO_PACKAGE_QT5BASE_FONTCONFIG=y
LINGMO_PACKAGE_QT5BASE_GIF=y
LINGMO_PACKAGE_QT5BASE_JPEG=y
LINGMO_PACKAGE_QT5CINEX=y
LINGMO_PACKAGE_QT5CINEX_HD=y

# NXP firmware package
LINGMO_PACKAGE_FREESCALE_IMX=y
LINGMO_PACKAGE_FREESCALE_IMX_PLATFORM_IMX6Q=y
LINGMO_PACKAGE_FIRMWARE_IMX=y

# libdrm tests
LINGMO_PACKAGE_LIBDRM_INSTALL_TESTS=y

# gstreamer-1.0
LINGMO_PACKAGE_GSTREAMER1=y
LINGMO_PACKAGE_GST1_PLUGINS_GOOD=y
LINGMO_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_V4L2=y
LINGMO_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_V4L2_PROBE=y
LINGMO_PACKAGE_GST1_PLUGINS_BAD=y
LINGMO_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_VIDEOPARSERS=y
LINGMO_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_KMS=y
LINGMO_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VIDEOTESTSRC=y

# For automatic kernel module loading
LINGMO_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
