# architecture
LINGMO_arm=y
LINGMO_cortex_a7=y
LINGMO_ARM_FPU_NEON_VFPV4=y

# Linux headers same as kernel, a 6.6 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_6=y

# system
LINGMO_TARGET_GENERIC_GETTY_PORT="ttymxc0"

# kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.6.4"
LINGMO_LINUX_KERNEL_DEFCONFIG="imx_v6_v7"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="nxp/imx/imx6ull-14x14-evk"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BOARDNAME="mx6ull_14x14_evk"
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2023.10"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_FORMAT_DTB_IMX=y

# required tools to create the SD card image
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y

# filesystem / image
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/imx/post-image.sh"
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y

# NXP firmware package for SDMA Firmware
LINGMO_PACKAGE_FREESCALE_IMX=y
LINGMO_PACKAGE_FREESCALE_IMX_PLATFORM_IMX6UL=y
LINGMO_PACKAGE_FIRMWARE_IMX=y

# For automatic kernel module loading
LINGMO_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y

