# architecture
LINGMO_arm=y
LINGMO_cortex_a7=y
LINGMO_ARM_FPU_NEON_VFPV4=y

# Linux headers same as kernel, a 6.1 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

# system
LINGMO_TARGET_GENERIC_GETTY_PORT="ttymxc0"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.34"
LINGMO_LINUX_KERNEL_DEFCONFIG="imx_v6_v7"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="imx7d-sdb"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y

# U-Boot
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BOARDNAME="mx7dsabresd"
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2021.07"
LINGMO_TARGET_UBOOT_FORMAT_DTB_IMX=y

# Filesystem
LINGMO_ROOTFS_OVERLAY="board/freescale/imx7dsdb/rootfs_overlay"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/imx/post-image.sh"
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y

# required tools to create the eMMC image
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
