LINGMO_aarch64=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
LINGMO_TARGET_GENERIC_GETTY_PORT="ttymxc3"
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/bsh/imx8mn-bsh-smm-s2-pro/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/bsh/imx8mn-bsh-smm-s2-pro/post-image.sh"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.6"
LINGMO_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/bsh/common/imx8mn-bsh-smm-s2/linux.fragment"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="freescale/imx8mn-bsh-smm-s2pro"
LINGMO_LINUX_KERNEL_DTB_KEEP_DIRNAME=y
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_PACKAGE_FREESCALE_IMX=y
LINGMO_PACKAGE_FREESCALE_IMX_PLATFORM_IMX8MN=y
LINGMO_PACKAGE_FIRMWARE_IMX=y
LINGMO_PACKAGE_FIRMWARE_IMX_DDR3=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="120M"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_VERSION=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_VERSION_VALUE="v2.5"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="imx8mn"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_ADDITIONAL_VARIABLES="IMX_BOOT_UART_BASE=0x30a60000"
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2023.04"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="imx8mn_bsh_smm_s2pro"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_PYLIBFDT=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_NEEDS_ATF_BL31=y
LINGMO_TARGET_UBOOT_NEEDS_IMX_FIRMWARE=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM_NAME="flash.bin"
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_UUU=y
