LINGMO_aarch64=y
LINGMO_ARM_FPU_VFPV3=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_8=y
LINGMO_TARGET_GENERIC_GETTY_PORT="ttymxc0"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/imx/imx8-bootloader-prepare.sh board/freescale/common/imx/post-image.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="${UBOOT_DIR}/arch/arm/dts/imx8mq-evk.dtb"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.8.7"
LINGMO_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="freescale/imx8mq-evk"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_PACKAGE_FREESCALE_IMX=y
LINGMO_PACKAGE_FREESCALE_IMX_PLATFORM_IMX8M=y
LINGMO_PACKAGE_FIRMWARE_IMX=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="120M"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL_LOCATION="$(call github,nxp-imx,imx-atf,rel_imx_5.4.24_2.1.0)/imx-atf-rel_imx_5.4.24_2.1.0.tar.gz"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="imx8mq"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_BL31=y
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="$(call github,nxp-imx,uboot-imx,rel_imx_5.4.24_2.1.0)/uboot-imx-rel_imx_5.4.24_2.1.0.tar.gz"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="imx8mq_evk"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-nodtb.bin"
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_IMX_MKIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
