LINGMO_aarch64=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_15=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/imx/imx8-bootloader-prepare.sh board/freescale/common/imx/post-image.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="${UBOOT_DIR}/arch/arm/dts/imx8mm-pico-pi.dtb"
LINGMO_GLOBAL_PATCH_DIR="board/technexion/imx8mmpico/patches"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,TechNexion,linux-tn-imx,tn-kirkstone_5.15.71-2.2.0_20230512)/linux-tn-imx-tn-kirkstone_5.15.71-2.2.0_20230512.tar.gz"
LINGMO_LINUX_KERNEL_DEFCONFIG="tn_imx8"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="freescale/imx8mm-pico-pi freescale/imx8mm-pico-pi-ili9881c"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_PACKAGE_FREESCALE_IMX=y
LINGMO_PACKAGE_FREESCALE_IMX_PLATFORM_IMX8MM=y
LINGMO_PACKAGE_FIRMWARE_IMX=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="120M"
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL_LOCATION="$(call github,nxp-imx,imx-atf,lf-5.15.71-2.2.0)/imx-atf-lf-5.15.71-2.2.0.tar.gz"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="imx8mm"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_BL31=y
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="$(call github,TechNexion,u-boot-tn-imx,tn-kirkstone_5.15.71-2.2.0_20230512)/u-boot-tn-imx-tn-kirkstone_5.15.71-2.2.0_20230512.tar.gz"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="pico-imx8mm"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-nodtb.bin"
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_IMX_MKIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
