# Architecture
LINGMO_aarch64=y
LINGMO_cortex_a73_a53=y
LINGMO_ARM_FPU_VFPV4=y

# Image
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/khadas/vim3/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/khadas/vim3/post-image.sh"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.3"
LINGMO_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="amlogic/meson-g12b-a311d-khadas-vim3"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y

# Linux headers same as kernel, a 6.3 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_3=y

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="128M"

# Bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2023.04"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="khadas-vim3"
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y

# Required tool to sign the bootloader image
LINGMO_PACKAGE_HOST_AMLOGIC_BOOT_FIP=y
LINGMO_PACKAGE_HOST_AMLOGIC_BOOT_FIP_DEVICE="khadas-vim3"

# Required tools to create the SD image
LINGMO_PACKAGE_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y

# Supporting host tools to build FIT image
# LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
# LINGMO_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
