# Architecture
LINGMO_aarch64=y

# System
LINGMO_TARGET_GENERIC_GETTY_PORT="ttymxc2"
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/kontron/pitx-imx8m/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c $(BINARIES_DIR)/genimage.cfg"
LINGMO_GLOBAL_PATCH_DIR="board/kontron/pitx-imx8m/patches"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.17.7"
LINGMO_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="freescale/imx8mq-kontron-pitx-imx8m"
LINGMO_LINUX_KERNEL_DTB_KEEP_DIRNAME=y
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_17=y

LINGMO_PACKAGE_FREESCALE_IMX=y
LINGMO_PACKAGE_FREESCALE_IMX_PLATFORM_IMX8M=y
LINGMO_PACKAGE_FIRMWARE_IMX=y

# Filesystem / image
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="120M"

# Bootloader
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_VERSION=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_VERSION_VALUE="v2.5"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="imx8mq"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_BL31=y
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2022.04"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="kontron_pitx_imx8m"
LINGMO_TARGET_UBOOT_NEEDS_GNUTLS=y
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_PYTHON3=y
LINGMO_TARGET_UBOOT_NEEDS_PYLIBFDT=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_NEEDS_ATF_BL31=y
LINGMO_TARGET_UBOOT_NEEDS_ATF_BL31_BIN=y
LINGMO_TARGET_UBOOT_NEEDS_IMX_FIRMWARE=y
LINGMO_TARGET_UBOOT_NEEDS_UTIL_LINUX=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM_NAME="flash.bin"
LINGMO_TARGET_UBOOT_SPL=y

# Required host tools to create the SD/eMMC image
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_IMX_MKIMAGE=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
