LINGMO_aarch64=y
LINGMO_cortex_a53=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_10=y
LINGMO_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
LINGMO_SYSTEM_DHCP="eth0"
LINGMO_ROOTFS_OVERLAY="board/librecomputer/lafrite/overlay/"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/librecomputer/lafrite/genimage.cfg"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.10.9"
LINGMO_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="amlogic/meson-gxl-s805x-libretech-ac"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="120M"
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_PACKAGE_HOST_GENIMAGE=y
