# Architecture
LINGMO_arm=y
LINGMO_cortex_a8=y

# System settings
LINGMO_TARGET_GENERIC_HOSTNAME="pcduino"
LINGMO_TARGET_GENERIC_ISSUE="pcDuino buildroot is ready"

# Serial port config
LINGMO_TARGET_GENERIC_GETTY=y
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS0"

# SD image scripts
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/orangepi/common/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c $(BINARIES_DIR)/genimage.cfg"

# For kernel modules autoloading
LINGMO_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y

# Linux headers same as kernel, a 6.6 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_6=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.6.3"
LINGMO_LINUX_KERNEL_DEFCONFIG="sunxi"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="allwinner/sun4i-a10-pcduino"
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/linksprite/pcduino/linux-extras.config"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y

# U-Boot
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2023.10"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="Linksprite_pcDuino"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_NEEDS_PYLIBFDT=y
LINGMO_TARGET_UBOOT_NEEDS_PYTHON3=y
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="u-boot-sunxi-with-spl.bin"

# Host packages
LINGMO_PACKAGE_HOST_GENIMAGE=y

# Target packages: wireless support for pcduino-lite-wifi
LINGMO_PACKAGE_IW=y
LINGMO_PACKAGE_WIRELESS_TOOLS=y
LINGMO_PACKAGE_WIRELESS_TOOLS_LIB=y
LINGMO_PACKAGE_WPA_SUPPLICANT=y
LINGMO_PACKAGE_WPA_SUPPLICANT_NL80211=y
LINGMO_PACKAGE_WPA_SUPPLICANT_CLI=y
LINGMO_PACKAGE_LINUX_FIRMWARE=y
LINGMO_PACKAGE_LINUX_FIRMWARE_RTL_81XX=y
