# architecture
LINGMO_arm=y
LINGMO_cortex_a7=y
LINGMO_ARM_FPU_NEON_VFPV4=y

# system
LINGMO_TARGET_GENERIC_GETTY=y
LINGMO_TARGET_GENERIC_GETTY_PORT="ttymxc0"
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/boundarydevices/common/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/boundarydevices/common/post-image.sh"
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y

# filesystem
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y

# Linux headers same as kernel, a 6.1 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

# bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL=y
# Latest revision of branch boundary-v2022.04
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="https://github.com/boundarydevices/u-boot/archive/7e7eff74.tar.gz"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="nitrogen7"
LINGMO_TARGET_UBOOT_FORMAT_IMX=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT_SOURCE="board/boundarydevices/common/boot.cmd"

# kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL=y
# Latest revision  of branch boundary-imx_6.1.y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://github.com/boundarydevices/linux/archive/4470b050.tar.gz"
LINGMO_LINUX_KERNEL_DEFCONFIG="boundary"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="imx7d-nitrogen7 imx7d-nitrogen7-m4"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
