LINGMO_arm=y
LINGMO_cortex_a7=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/hardkernel/odroidxu4/post-image.sh"
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_14=y
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_GIT=y
LINGMO_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/hardkernel/linux.git"
LINGMO_LINUX_KERNEL_CUSTOM_REPO_VERSION="4.14.16-104"
LINGMO_LINUX_KERNEL_DEFCONFIG="odroidxu4"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="exynos5422-odroidxu4"
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_GIT=y
LINGMO_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/hardkernel/u-boot.git"
LINGMO_TARGET_UBOOT_CUSTOM_REPO_VERSION="88af53fbcef8386cb4d5f04c19f4b2bcb69e90ca"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="odroid-xu4"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_FORMAT_DTB_BIN=y
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="sd_fuse/bl1.bin.hardkernel sd_fuse/bl2.bin.hardkernel.720k_uboot sd_fuse/tzsw.bin.hardkernel "
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
