# Architecture
LINGMO_arm=y
LINGMO_arm926t=y

# Linux headers same as kernel, a 5.4 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_4=y

# System
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyAMA0"

# For automatic firmware loading
LINGMO_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.4.8"
LINGMO_LINUX_KERNEL_DEFCONFIG="mxs"
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/olimex/imx233_olinuxino/linux-wifi.fragment"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="imx23-olinuxino"
LINGMO_LINUX_KERNEL_UIMAGE=y
LINGMO_LINUX_KERNEL_UIMAGE_LOADADDR="0x42000000"

# Firmware for WiFi
LINGMO_PACKAGE_LINUX_FIRMWARE=y
LINGMO_PACKAGE_LINUX_FIRMWARE_ATHEROS_7010=y
LINGMO_PACKAGE_LINUX_FIRMWARE_ATHEROS_9271=y
LINGMO_PACKAGE_LINUX_FIRMWARE_RALINK_RT73=y
LINGMO_PACKAGE_LINUX_FIRMWARE_RALINK_RT2XX=y
LINGMO_PACKAGE_LINUX_FIRMWARE_RTL_81XX=y
LINGMO_PACKAGE_ZD1211_FIRMWARE=y

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
# LINGMO_TARGET_ROOTFS_TAR is not set

# U-Boot
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2017.11"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="mx23_olinuxino"
LINGMO_TARGET_UBOOT_FORMAT_SD=y
 
# To generate SD Image
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/mxs/post-image.sh"

