# Architecture
LINGMO_arm=y
LINGMO_cortex_a7=y

# Linux headers same as kernel, a 6.1 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

# System configuration
LINGMO_TARGET_GENERIC_HOSTNAME="A33-olinuxino"
LINGMO_TARGET_GENERIC_ISSUE="Welcome to A33 OLinuXino!"
LINGMO_TARGET_GENERIC_GETTY=y
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS0"

# Bootloaders
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2023.01"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="A33-OLinuXino"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_PYTHON3=y
LINGMO_TARGET_UBOOT_NEEDS_PYLIBFDT=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_FORMAT_BIN=y
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="u-boot-sunxi-with-spl.bin"
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT_SOURCE="board/olimex/a33_olinuxino/boot.cmd"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.9"
LINGMO_LINUX_KERNEL_USE_DEFCONFIG=y
LINGMO_LINUX_KERNEL_DEFCONFIG="sunxi"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="sun8i-a33-olinuxino"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/olimex/a33_olinuxino/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/olimex/a33_olinuxino/genimage.cfg"

# Additional tools
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
LINGMO_PACKAGE_HOST_MTOOLS=y
