LINGMO_arm=y
LINGMO_pj4=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_8=y
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/olpc/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/olpc/genimage.cfg"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.8.2"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/olpc/xo-1.75/linux.config"
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/olpc/linux.config"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_PACKAGE_LINUX_FIRMWARE=y
LINGMO_PACKAGE_LINUX_FIRMWARE_LIBERTAS_SD8686_V8=y
LINGMO_PACKAGE_LINUX_FIRMWARE_LIBERTAS_SD8686_V9=y
LINGMO_PACKAGE_LINUX_FIRMWARE_LIBERTAS_SD8688=y
LINGMO_PACKAGE_LINUX_FIRMWARE_MWIFIEX_SD8787=y
LINGMO_PACKAGE_LINUX_FIRMWARE_MWIFIEX_SD8797=y
LINGMO_PACKAGE_LINUX_FIRMWARE_MWIFIEX_SD8887=y
LINGMO_PACKAGE_LINUX_FIRMWARE_MWIFIEX_SD8897=y
LINGMO_PACKAGE_WPA_SUPPLICANT=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_LABEL="XO175"
LINGMO_TARGET_ROOTFS_EXT2_SIZE="32M"
LINGMO_TARGET_ROOTFS_EXT2_MKFS_OPTIONS="-O dir_index,^huge_file,^64bit,^extent"
LINGMO_PACKAGE_HOST_GENIMAGE=y
