LINGMO_x86_geode=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_7=y
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/olpc/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/olpc/genimage.cfg"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.7.1"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/olpc/xo-1/linux.config"
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/olpc/linux.config"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_PACKAGE_LINUX_FIRMWARE=y
LINGMO_PACKAGE_LINUX_FIRMWARE_LIBERTAS_USB8388_V9=y
LINGMO_PACKAGE_LINUX_FIRMWARE_LIBERTAS_USB8388_OLPC=y
LINGMO_PACKAGE_LINUX_FIRMWARE_LIBERTAS_USB_THINFIRM=y
LINGMO_PACKAGE_WPA_SUPPLICANT=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_LABEL="XO1"
LINGMO_TARGET_ROOTFS_EXT2_SIZE="32M"
LINGMO_TARGET_ROOTFS_EXT2_MKFS_OPTIONS="-O dir_index,^huge_file,^64bit,^extent"
LINGMO_TARGET_ROOTFS_JFFS2=y
LINGMO_TARGET_ROOTFS_JFFS2_NANDFLASH_128K=y
LINGMO_TARGET_ROOTFS_JFFS2_PAD=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
