LINGMO_aarch64=y
LINGMO_cortex_a53=y
LINGMO_ARM_FPU_VFPV4=y

# Linux headers same as kernel, a 4.19 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_19=y

# Firmware
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_GIT=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_REPO_URL="https://github.com/ARM-software/arm-trusted-firmware.git"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_REPO_VERSION="v2.0"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="sun50i_h6"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_BL31=y

# Bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_GIT=y
LINGMO_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/amarula/u-boot-amarula"
LINGMO_TARGET_UBOOT_CUSTOM_REPO_VERSION="h6-v1.0a"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="orangepi_lite2"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_PYLIBFDT=y
LINGMO_TARGET_UBOOT_NEEDS_ATF_BL31=y
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="u-boot-sunxi-with-spl.bin"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,amarula,linux-amarula,h6-v1.0b)/linux-amarula_h6-v1.0b.tar.gz"
LINGMO_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="allwinner/sun50i-h6-orangepi-lite2"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# Filesystem
LINGMO_TARGET_GENERIC_ISSUE="Welcome to Orangepi Lite2"
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/orangepi/orangepi-lite2/genimage.cfg"
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/orangepi/orangepi-lite2/post-build.sh"
LINGMO_ROOTFS_OVERLAY="board/orangepi/orangepi-lite2/rootfs_overlay"

# wireless firmware
LINGMO_PACKAGE_LINUX_FIRMWARE=y
LINGMO_PACKAGE_LINUX_FIRMWARE_BRCM_BCM43XXX=y

# wireless tools
LINGMO_PACKAGE_IW=y
LINGMO_PACKAGE_WPA_SUPPLICANT=y
LINGMO_PACKAGE_WPA_SUPPLICANT_NL80211=y
LINGMO_PACKAGE_WPA_SUPPLICANT_AP_SUPPORT=y
LINGMO_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
