# Architecture
LINGMO_arm=y
LINGMO_cortex_a9=y
LINGMO_ARM_ENABLE_NEON=y
LINGMO_ARM_ENABLE_VFP=y
LINGMO_ARM_FPU_VFPV3=y

# Linux headers same as kernel, a 5.12 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_12=y

# System
LINGMO_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS2"
LINGMO_SYSTEM_DHCP="eth0"

# Image
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/pandaboard/genimage.cfg"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.12.2"
LINGMO_LINUX_KERNEL_DEFCONFIG="omap2plus"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="omap4-panda-es omap4-panda omap4-panda-a4"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
# LINGMO_TARGET_ROOTFS_TAR is not set

# Bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2021.04"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="omap4_panda"
LINGMO_TARGET_UBOOT_FORMAT_IMG=y
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="MLO"

# Required tools to create the SD card image
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
