# Architecture
LINGMO_x86_64=y

# System
LINGMO_TARGET_GENERIC_GETTY_PORT="tty1"
LINGMO_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y

# Required tools to create bootable media
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y

# Bootloader
LINGMO_TARGET_GRUB2=y
LINGMO_TARGET_GRUB2_X86_64_EFI=y

# Filesystem / image
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="120M"
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/pc/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/pc/post-image-efi.sh"

# Linux headers same as kernel, a 6.1 LTS series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.24"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/pc/linux.config"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_LINUX_KERNEL_NEEDS_HOST_LIBELF=y

# Firmware
LINGMO_PACKAGE_LINUX_FIRMWARE=y
LINGMO_PACKAGE_LINUX_FIRMWARE_ATHEROS_9170=y
LINGMO_PACKAGE_LINUX_FIRMWARE_ATHEROS_9271=y
LINGMO_PACKAGE_LINUX_FIRMWARE_IWLWIFI_3160=y
LINGMO_PACKAGE_LINUX_FIRMWARE_IWLWIFI_3168=y
LINGMO_PACKAGE_LINUX_FIRMWARE_IWLWIFI_5000=y
LINGMO_PACKAGE_LINUX_FIRMWARE_IWLWIFI_6000G2A=y
LINGMO_PACKAGE_LINUX_FIRMWARE_IWLWIFI_6000G2B=y
LINGMO_PACKAGE_LINUX_FIRMWARE_IWLWIFI_7260=y
LINGMO_PACKAGE_LINUX_FIRMWARE_IWLWIFI_7265D=y
LINGMO_PACKAGE_LINUX_FIRMWARE_IWLWIFI_8000C=y
LINGMO_PACKAGE_LINUX_FIRMWARE_IWLWIFI_8265=y
LINGMO_PACKAGE_LINUX_FIRMWARE_RALINK_RT73=y
LINGMO_PACKAGE_LINUX_FIRMWARE_RALINK_RT2XX=y
LINGMO_PACKAGE_LINUX_FIRMWARE_RTL_8169=y
LINGMO_PACKAGE_LINUX_FIRMWARE_RTL_81XX=y
LINGMO_PACKAGE_LINUX_FIRMWARE_RTL_87XX=y
LINGMO_PACKAGE_LINUX_FIRMWARE_RTL_88XX=y

# Packages
#
# Use connman so that networking setup is simpler, via connmanctl tool
# acpid is for seamless power button support
LINGMO_PACKAGE_ACPID=y
LINGMO_PACKAGE_CONNMAN=y
LINGMO_PACKAGE_CONNMAN_CLIENT=y
LINGMO_PACKAGE_CONNMAN_WIFI=y
LINGMO_PACKAGE_WIRELESS_REGDB=y
