# Architecture
LINGMO_x86_64=y

# Kernel
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_16=y
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.16"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/pcengines/apu2/linux.config"
LINGMO_LINUX_KERNEL_NEEDS_HOST_LIBELF=y

# Default hostname and TTY
LINGMO_TARGET_GENERIC_HOSTNAME="apu2"
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS0"

# Networking
LINGMO_SYSTEM_DHCP="eth0"

# Rootfs
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_ISO9660=y
LINGMO_TARGET_ROOTFS_ISO9660_BOOT_MENU="board/pcengines/apu2/isolinux.cfg"
LINGMO_TARGET_ROOTFS_ISO9660_HYBRID=y
# LINGMO_TARGET_ROOTFS_TAR is not set

# Bootloader
LINGMO_TARGET_SYSLINUX=y
