# Target options
LINGMO_arm=y
LINGMO_cortex_a7=y
LINGMO_ARM_FPU_VFPV4=y

# Toolchain options
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

# System configuration
LINGMO_TARGET_GENERIC_HOSTNAME="pinecube"
LINGMO_TARGET_GENERIC_ISSUE="Welcome to Pine64 Pinecube"
LINGMO_SYSTEM_DHCP="eth0"
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/pine64/pinecube/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/pine64/pinecube/genimage.cfg"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.60"
LINGMO_LINUX_KERNEL_DEFCONFIG="sunxi"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="sun8i-s3-pinecube"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y

# Bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2023.10"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="pinecube"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_PYLIBFDT=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="u-boot-sunxi-with-spl.bin"

# Required host utilities for building an SDCard image
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
