# Architecture
LINGMO_s390x=y

# System
LINGMO_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
LINGMO_SYSTEM_DHCP="eth0"

# Filesystem
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/qemu/post-image.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="$(LINGMO_DEFCONFIG)"
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="120M"
# LINGMO_TARGET_ROOTFS_TAR is not set

# Linux headers same as kernel
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.44"
LINGMO_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# host-qemu for gitlab testing
LINGMO_PACKAGE_HOST_QEMU=y
LINGMO_PACKAGE_HOST_QEMU_SYSTEM_MODE=y
