# Architecture
LINGMO_riscv=y
LINGMO_RISCV_64=y
# LINGMO_RISCV_USE_MMU is not set

# Linux headers same as kernel
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

# System
LINGMO_TARGET_GENERIC_GETTY=y

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y

# Image
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/qemu/post-image.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="$(LINGMO_DEFCONFIG)"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.44"
LINGMO_LINUX_KERNEL_DEFCONFIG="nommu_virt"
LINGMO_LINUX_KERNEL_IMAGE=y

# Disable network scripts
# LINGMO_PACKAGE_IFUPDOWN_SCRIPTS is not set

# host-qemu for gitlab testing
LINGMO_PACKAGE_HOST_QEMU=y
LINGMO_PACKAGE_HOST_QEMU_SYSTEM_MODE=y
