# Architecture
LINGMO_mips=y
LINGMO_mips_32r6=y

# System
LINGMO_SYSTEM_DHCP="eth0"

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y
# LINGMO_TARGET_ROOTFS_TAR is not set

# Image
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/qemu/post-image.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="$(LINGMO_DEFCONFIG)"

# Linux headers same as kernel
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.44"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/qemu/mips32r6-malta/linux.config"
LINGMO_LINUX_KERNEL_VMLINUX=y

# Serial port config
LINGMO_TARGET_GENERIC_GETTY=y
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS0"

# host-qemu for gitlab testing
LINGMO_PACKAGE_HOST_QEMU=y
LINGMO_PACKAGE_HOST_QEMU_SYSTEM_MODE=y
