LINGMO_riscv=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
LINGMO_SYSTEM_DHCP="eth0"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/qemu/post-image.sh board/qemu/riscv64-virt-efi/assemble-flash-images support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="$(LINGMO_DEFCONFIG) -c board/qemu/riscv64-virt-efi/genimage.cfg"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.69"
LINGMO_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
LINGMO_TARGET_ROOTFS_EXT2=y
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_EDK2=y
LINGMO_TARGET_GRUB2=y
LINGMO_TARGET_GRUB2_RISCV64_EFI=y
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_PACKAGE_HOST_QEMU=y
LINGMO_PACKAGE_HOST_QEMU_SYSTEM_MODE=y
