LINGMO_arm=y
LINGMO_arm1176jzf_s=y
LINGMO_ARM_EABIHF=y

# Linux headers same as kernel, a 6.1 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

LINGMO_TOOLCHAIN_BUILDROOT_CXX=y

LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,raspberrypi,linux,17f135b742c4edb340afb365873c3a574f7e16cb)/linux-17f135b742c4edb340afb365873c3a574f7e16cb.tar.gz"
LINGMO_LINUX_KERNEL_DEFCONFIG="bcmrpi"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="bcm2708-rpi-zero-w"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

LINGMO_PACKAGE_RPI_FIRMWARE=y
LINGMO_PACKAGE_RPI_FIRMWARE_BOOTCODE_BIN=y
LINGMO_PACKAGE_RPI_FIRMWARE_VARIANT_PI=y
LINGMO_PACKAGE_RPI_FIRMWARE_CONFIG_FILE="board/raspberrypi0w/config_0w.txt"

# Required tools to create the SD image
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y

# Filesystem / image
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="120M"
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/raspberrypi0w/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/raspberrypi0w/post-image.sh"

# Enable compressed kernel module support
LINGMO_PACKAGE_BUSYBOX_SHOW_OTHERS=y
LINGMO_PACKAGE_KMOD_TOOLS=y
LINGMO_PACKAGE_XZ=y
LINGMO_PACKAGE_KMOD=y
LINGMO_PACKAGE_HOST_KMOD_XZ=y
