LINGMO_aarch64=y
LINGMO_cortex_a76_a55=y
LINGMO_KERNEL_HEADERS_5_10=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/radxa/rock5b/post-image.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS=""
LINGMO_TARGET_GENERIC_HOSTNAME="rock5b"
LINGMO_TARGET_GENERIC_ISSUE="Welcome to the rock5b board"
LINGMO_GLOBAL_PATCH_DIR="board/radxa/rock5b/patches"
LINGMO_DOWNLOAD_FORCE_CHECK_HASHES=y
LINGMO_SYSTEM_DHCP="eth0"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_GIT=y
LINGMO_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/radxa/kernel.git"
LINGMO_LINUX_KERNEL_CUSTOM_REPO_VERSION="52f51a2b5ba178f331af62260d2da86d7472c14b"
LINGMO_LINUX_KERNEL_DEFCONFIG="rockchip_linux"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_CUSTOM_DTS_PATH="board/radxa/rock5b/rock5b.dts"
LINGMO_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/radxa/rock5b/linux.fragment"
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="250M"
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2023.07"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="rock5b-rk3588"
LINGMO_TARGET_UBOOT_NEEDS_PYLIBFDT=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_NEEDS_PYELFTOOLS=y
LINGMO_TARGET_UBOOT_NEEDS_ROCKCHIP_RKBIN=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT_SOURCE="board/radxa/rock5b/boot.cmd"
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_DTC=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
LINGMO_PACKAGE_ROCKCHIP_RKBIN=y
LINGMO_PACKAGE_ROCKCHIP_RKBIN_TPL_FILENAME="bin/rk35/rk3588_ddr_lp4_2112MHz_lp5_2736MHz_v1.12.bin"
LINGMO_PACKAGE_ROCKCHIP_RKBIN_BL31_FILENAME="bin/rk35/rk3588_bl31_v1.40.elf"
