LINGMO_arm=y
LINGMO_cortex_a9=y
LINGMO_ARM_ENABLE_NEON=y
LINGMO_ARM_ENABLE_VFP=y
LINGMO_GLOBAL_PATCH_DIR="board/roseapplepi/patches"
# Linux headers same as kernel, a 5.15 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_15=y
LINGMO_SYSTEM_DHCP="eth0"
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/roseapplepi/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/roseapplepi/genimage.cfg"

LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.15.14"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/roseapplepi/linux.config"
LINGMO_LINUX_KERNEL_UIMAGE=y
LINGMO_LINUX_KERNEL_UIMAGE_LOADADDR="0x8000"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="owl-s500-roseapplepi"

# Filesystem / image
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
# LINGMO_TARGET_ROOTFS_TAR is not set

# Bootloaders
LINGMO_TARGET_S500_BOOTLOADER=y
LINGMO_TARGET_S500_BOOTLOADER_BOARD="linux/bubble_gum_sd"
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_GIT=y
LINGMO_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/xapp-le/u-boot.git"
LINGMO_TARGET_UBOOT_CUSTOM_REPO_VERSION="a035d2673a90143a1a74557503b2e137b1447ae6"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="actduino_bubble_gum_v10"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_FORMAT_DTB_IMG=y

# Required tools to create the SD image
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
