# Architecture
LINGMO_arm=y
LINGMO_arm926t=y

# system
LINGMO_GLOBAL_PATCH_DIR="board/sheevaplug/patches"
LINGMO_DOWNLOAD_FORCE_CHECK_HASHES=y
LINGMO_TARGET_GENERIC_GETTY=y
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS0"
LINGMO_SYSTEM_DHCP="eth0"

# filesystem
LINGMO_TARGET_ROOTFS_JFFS2=y
LINGMO_TARGET_ROOTFS_JFFS2_NANDFLASH_128K=y

# Linux headers same as kernel, a 4.14 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_14=y

# bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="sheevaplug"
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2018.07"
LINGMO_TARGET_UBOOT_FORMAT_KWB=y
# LINGMO_TARGET_UBOOT_NETWORK is not set

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.14.336"
LINGMO_LINUX_KERNEL_DEFCONFIG="mvebu_v5"
LINGMO_LINUX_KERNEL_APPENDED_UIMAGE=y
LINGMO_LINUX_KERNEL_UIMAGE_LOADADDR="0x8000"
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="kirkwood-sheevaplug"
