LINGMO_riscv=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
LINGMO_ROOTFS_OVERLAY="board/sipeed/lichee_rv/overlay"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/sipeed/lichee_rv/genimage.cfg"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,smaeul,linux,ca67838d84af4c9f85d06311c9e98e1adf46308f)/linux-ca67838d84af4c9f85d06311c9e98e1adf46308f.tar.gz"
LINGMO_LINUX_KERNEL_DEFCONFIG="nezha"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="allwinner/sun20i-d1-lichee-rv"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_OPENSBI=y
LINGMO_TARGET_OPENSBI_CUSTOM_VERSION=y
LINGMO_TARGET_OPENSBI_CUSTOM_VERSION_VALUE="1.2"
LINGMO_TARGET_OPENSBI_PLAT="generic"
# LINGMO_TARGET_OPENSBI_INSTALL_JUMP_IMG is not set
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="$(call github,smaeul,u-boot,528ae9bc6c55edd3ffe642734b4132a8246ea777)/uboot-528ae9bc6c55edd3ffe642734b4132a8246ea777.tar.gz"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="lichee_rv_dock"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_PYLIBFDT=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSBI=y
# LINGMO_TARGET_UBOOT_FORMAT_BIN is not set
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-sunxi-with-spl.bin"
LINGMO_PACKAGE_HOST_GENIMAGE=y
