# Target options
LINGMO_arm=y

# System configuration
LINGMO_TARGET_GENERIC_HOSTNAME="licheepi-nano"
LINGMO_TARGET_GENERIC_ISSUE="Welcome to Buildroot for the LicheePi Nano"
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS0"
LINGMO_TARGET_GENERIC_GETTY_BAUDRATE_115200=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/sipeed/licheepi_nano/genimage.cfg"

# Linux headers same as kernel
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_5=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.5.9"
LINGMO_LINUX_KERNEL_DEFCONFIG="sunxi"
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/sipeed/licheepi_nano/linux.fragment"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="allwinner/suniv-f1c100s-licheepi-nano"

# Filesystem images
LINGMO_TARGET_ROOTFS_JFFS2=y
LINGMO_TARGET_ROOTFS_JFFS2_FLASH_64=y
LINGMO_TARGET_ROOTFS_JFFS2_NOCLEANMARKER=y
LINGMO_TARGET_ROOTFS_JFFS2_PAD=y

# Bootloaders
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2023.04"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="licheepi_nano"
LINGMO_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="board/sipeed/licheepi_nano/uboot.fragment"
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="u-boot-sunxi-with-spl.bin"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_PYLIBFDT=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y

# Required host utilities
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_E2FSPROGS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_PACKAGE_HOST_SUNXI_TOOLS=y
