# Architecture
LINGMO_riscv=y
LINGMO_RISCV_64=y
LINGMO_riscv_custom=y
LINGMO_RISCV_ISA_RVM=y
LINGMO_RISCV_ISA_RVA=y
LINGMO_RISCV_ISA_RVF=y
LINGMO_RISCV_ISA_RVD=y
LINGMO_RISCV_ISA_RVC=y
# LINGMO_RISCV_USE_MMU is not set
LINGMO_RISCV_ABI_LP64D=y

# Linux headers same as kernel, a 5.19 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_19=y

# System
LINGMO_BINFMT_FLAT=y
LINGMO_BINFMT_FLAT_ONE=y
# LINGMO_TARGET_ENABLE_ROOT_LOGIN is not set
LINGMO_GLOBAL_PATCH_DIR="board/canaan/k210-soc/patches"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.19"
LINGMO_LINUX_KERNEL_DEFCONFIG="nommu_k210_sdcard"
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/canaan/k210-soc/linux-sdcard.config"
LINGMO_LINUX_KERNEL_IMAGE_TARGET_CUSTOM=y
LINGMO_LINUX_KERNEL_IMAGE_NAME="loader.bin"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="canaan/sipeed_maix_bit"

# Packages
# LINGMO_PACKAGE_IFUPDOWN_SCRIPTS is not set

# Filesystem
LINGMO_INIT_NONE=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="64M"
LINGMO_ROOTFS_OVERLAY="board/canaan/k210-soc/rootfs_overlay"
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/canaan/k210-soc/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/canaan/k210-soc/genimage.cfg"

# Bootloader and related host tools
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2022.04"
LINGMO_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="board/canaan/k210-soc/uboot.config"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="sipeed_maix_bitm"
LINGMO_TARGET_UBOOT_FORMAT_BIN=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_PACKAGE_HOST_UBOOT_TOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_PACKAGE_HOST_PYTHON_KFLASH=y
