# Architecture
LINGMO_arcle=y
LINGMO_archs38=y

# System
LINGMO_TARGET_GENERIC_HOSTNAME="axs103"
LINGMO_TARGET_GENERIC_ISSUE="Welcome to the ARC Software Development Platform"
LINGMO_TARGET_ROOTFS_INITRAMFS=y
LINGMO_SYSTEM_DHCP="eth0"
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/synopsys/axs10x/post-build.sh"

# Linux headers same as kernel, a 5.16 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_16=y

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.16"
LINGMO_LINUX_KERNEL_DEFCONFIG="axs103_smp"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# Bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2022.01"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="axs103"
LINGMO_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="board/synopsys/axs10x/uboot-fragment.config"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
