# Architecture
LINGMO_arm=y
LINGMO_cortex_a9=y
LINGMO_ARM_ENABLE_NEON=y
LINGMO_ARM_ENABLE_VFP=y
LINGMO_ARM_FPU_NEON=y

# Linux headers same as kernel, a 4.20 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_20=y

# System configuration
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/solidrun/clearfog/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/solidrun/clearfog/genimage.cfg"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.20"
LINGMO_LINUX_KERNEL_DEFCONFIG="mvebu_v7"
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/solidrun/clearfog/linux.fragment"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="armada-388-clearfog-base"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_PACKAGE_HOST_GENIMAGE=y

# Bootloader
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2019.07"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="clearfog"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
# LINGMO_TARGET_UBOOT_FORMAT_BIN is not set
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-spl.kwb"
