LINGMO_arm=y
LINGMO_cortex_m4=y
LINGMO_KERNEL_HEADERS_5_15=y
# LINGMO_UCLIBC_INSTALL_UTILS is not set
LINGMO_ENABLE_LTO=y
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/stmicroelectronics/common/stm32f4xx/stm32-post-build.sh"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.15.6"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/stmicroelectronics/stm32f469-disco/linux-xip.config"
LINGMO_LINUX_KERNEL_IMAGE_TARGET_CUSTOM=y
LINGMO_LINUX_KERNEL_IMAGE_TARGET_NAME="xipImage"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="stm32f469-disco"
LINGMO_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/stmicroelectronics/common/stm32f4xx/busybox.fragment"
# LINGMO_PACKAGE_IFUPDOWN_SCRIPTS is not set
LINGMO_TARGET_ROOTFS_INITRAMFS=y
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_AFBOOT_STM32=y
LINGMO_TARGET_AFBOOT_STM32_KERNEL_ADDR=0x0800C000
LINGMO_PACKAGE_HOST_OPENOCD=y
