LINGMO_arm=y
LINGMO_cortex_m4=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_14=y
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/stmicroelectronics/common/stm32f4xx/stm32-post-build.sh board/stmicroelectronics/stm32f469-disco/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/stmicroelectronics/stm32f469-disco/genimage.cfg"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.14.12"
LINGMO_LINUX_KERNEL_DEFCONFIG="stm32"
LINGMO_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(LINUX_DIR)/arch/arm/configs/dram_0x00000000.config board/stmicroelectronics/stm32f469-disco/linux-sd.fragment"
LINGMO_LINUX_KERNEL_IMAGE_TARGET_CUSTOM=y
LINGMO_LINUX_KERNEL_IMAGE_TARGET_NAME="zImage"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="stm32f469-disco"
LINGMO_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/stmicroelectronics/common/stm32f4xx/busybox.fragment"
# LINGMO_PACKAGE_IFUPDOWN_SCRIPTS is not set
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="32M"
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2023.04"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="stm32f469-discovery"
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_PACKAGE_HOST_OPENOCD=y
