# Architecture
LINGMO_arm=y
LINGMO_cortex_a7=y

# Linux headers same as kernel, a 5.13 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_13=y

# System configuration
LINGMO_ROOTFS_OVERLAY="board/stmicroelectronics/stm32mp157a-dk1/overlay/"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/stmicroelectronics/common/stm32mp157/post-image.sh"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.13"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/stmicroelectronics/stm32mp157a-dk1/linux.config"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="stm32mp157a-dk1"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y

# Filesystem
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_ROOTFS_EXT2_SIZE="120M"
# LINGMO_TARGET_ROOTFS_TAR is not set

# Bootloaders
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_LATEST_LTS_2_8_VERSION=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="stm32mp1"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_FIP=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_BL31=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_UBOOT_AS_BL33=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_UBOOT_BL33_IMAGE="u-boot-nodtb.bin"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_ADDITIONAL_VARIABLES="STM32MP_SDMMC=1 AARCH32_SP=sp_min DTB_FILE_NAME=stm32mp157a-dk1.dtb E=0 BL33_CFG=$(BINARIES_DIR)/u-boot.dtb"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_IMAGES="fip.bin *.stm32"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_NEEDS_DTC=y
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2023.04"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="stm32mp15_trusted"
# LINGMO_TARGET_UBOOT_FORMAT_BIN is not set
LINGMO_TARGET_UBOOT_NEEDS_PYLIBFDT=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_FORMAT_DTB=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM=y
LINGMO_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-nodtb.bin"
LINGMO_TARGET_UBOOT_CUSTOM_MAKEOPTS="DEVICE_TREE=stm32mp157a-dk1"

# Additional tools
LINGMO_PACKAGE_HOST_GENIMAGE=y
