LINGMO_arm=y
LINGMO_cortex_a7=y
LINGMO_GLOBAL_PATCH_DIR="board/seeed/stm32mp157c-odyssey/patches"
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_10=y
LINGMO_ROOTFS_OVERLAY="board/seeed/stm32mp157c-odyssey/overlay/"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/seeed/stm32mp157c-odyssey/genimage.cfg"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.10.1"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/seeed/stm32mp157c-odyssey/linux.config"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="stm32mp157c-odyssey"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_VERSION=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_VERSION_VALUE="v2.5"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="stm32mp1"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_ADDITIONAL_VARIABLES="STM32MP_SDMMC=1 AARCH32_SP=sp_min DTB_FILE_NAME=stm32mp157c-odyssey.dtb E=0"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_IMAGES="*.stm32"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_NEEDS_DTC=y
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2021.10"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="stm32mp15_trusted"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
# LINGMO_TARGET_UBOOT_FORMAT_BIN is not set
LINGMO_TARGET_UBOOT_FORMAT_STM32=y
LINGMO_TARGET_UBOOT_BUILD_FORMAT_STM32_LEGACY=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_CUSTOM_MAKEOPTS="DEVICE_TREE=stm32mp157c-odyssey"
LINGMO_PACKAGE_HOST_GENIMAGE=y
