LINGMO_arm=y
LINGMO_cortex_a9=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_9=y
LINGMO_GLOBAL_PATCH_DIR="board/toradex/apalis-imx6/patches"
LINGMO_TARGET_GENERIC_GETTY_PORT="ttymxc0"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/toradex/apalis-imx6/post-image.sh"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_GIT=y
LINGMO_LINUX_KERNEL_CUSTOM_REPO_URL="git://git.toradex.com/linux-toradex.git"
LINGMO_LINUX_KERNEL_CUSTOM_REPO_VERSION="d899927728beca8357a5b4120b690cb3c1d80844"
LINGMO_LINUX_KERNEL_DEFCONFIG="apalis_imx6"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="imx6q-apalis-eval imx6q-apalis-ixora imx6q-apalis-ixora-v1.1"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_GIT=y
LINGMO_TARGET_UBOOT_CUSTOM_REPO_URL="git://git.toradex.com/u-boot-toradex.git"
LINGMO_TARGET_UBOOT_CUSTOM_REPO_VERSION="30a1208727729dae22cb42f9ba9ba17efe5e6f77"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="apalis_imx6"
LINGMO_TARGET_UBOOT_FORMAT_IMG=y
LINGMO_TARGET_UBOOT_SPL=y
LINGMO_TARGET_UBOOT_SPL_NAME="SPL"
LINGMO_PACKAGE_HOST_GENIMAGE=y
