LINGMO_arm=y
LINGMO_cortex_a9=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_12=y
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/technologic/ts4900/post-image.sh"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.12"
LINGMO_LINUX_KERNEL_DEFCONFIG="imx_v6_v7"
LINGMO_LINUX_KERNEL_UIMAGE=y
LINGMO_LINUX_KERNEL_UIMAGE_LOADADDR="0x10008000"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="imx6q-ts4900"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_PACKAGE_TS4900_FPGA=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
