# architecture
LINGMO_i386=y
LINGMO_x86_i586=y

# Linux headers same as kernel, a 4.14 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_14=y

# system
LINGMO_TARGET_GENERIC_GETTY_PORT="ttyS1"
LINGMO_ROOTFS_OVERLAY="board/technologic/ts5500/fs-overlay"

# kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.14"
LINGMO_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
LINGMO_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/technologic/ts5500/linux-4.14.config"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y

# rootfs
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y

# bootloader
LINGMO_TARGET_SYSLINUX=y
LINGMO_TARGET_SYSLINUX_MBR=y
