LINGMO_aarch64=y
LINGMO_cortex_a72=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
LINGMO_ROOTFS_POST_BUILD_SCRIPT="board/versal/post-build.sh"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/versal/post-image.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="ttyAMA0,115200 mmcblk0p2"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,Xilinx,linux-xlnx,xlnx_rebase_v6.1_LTS_2023.2)/xlnx_rebase_v6.1_LTS_2023.2.tar.gz"
LINGMO_LINUX_KERNEL_DEFCONFIG="xilinx"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="xilinx/versal-vck190-rev1.1"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL=y
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_TARBALL_LOCATION="$(call github,Xilinx,arm-trusted-firmware,xlnx_rebase_v2.8_2023.2)/xlnx_rebase_v2.8_2023.2.tar.gz"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="versal"
LINGMO_TARGET_ARM_TRUSTED_FIRMWARE_BL31_UBOOT=y
LINGMO_TARGET_UBOOT_NEEDS_ATF_BL31=y
LINGMO_TARGET_UBOOT_NEEDS_ATF_BL31_ELF=y
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL=y
LINGMO_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="$(call github,Xilinx,u-boot-xlnx,xlnx_rebase_v2023.01_2023.2)/xlnx_rebase_v2023.01_2023.2.tar.gz"
LINGMO_TARGET_UBOOT_BOARD_DEFCONFIG="xilinx_versal_virt"
LINGMO_TARGET_UBOOT_CUSTOM_MAKEOPTS="DEVICE_TREE=versal-vck190-rev1.1"
LINGMO_TARGET_UBOOT_NEEDS_DTC=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y
LINGMO_TARGET_UBOOT_NEEDS_GNUTLS=y
LINGMO_TARGET_UBOOT_FORMAT_REMAKE_ELF=y
LINGMO_TARGET_UBOOT_FORMAT_DTB=y
LINGMO_PACKAGE_VERSAL_FIRMWARE=y
LINGMO_PACKAGE_VERSAL_FIRMWARE_VERSION="xilinx_v2023.2"
LINGMO_PACKAGE_VERSAL_FIRMWARE_BOARD="vck190"
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
LINGMO_PACKAGE_HOST_BOOTGEN=y
LINGMO_GLOBAL_PATCH_DIR="board/versal/patches"
