LINGMO_riscv=y
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_15=y
LINGMO_SYSTEM_DHCP="eth0"
LINGMO_ROOTFS_OVERLAY="board/visionfive2/overlay"
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
LINGMO_ROOTFS_POST_SCRIPT_ARGS="-c board/visionfive2/genimage.cfg"
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL=y
LINGMO_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,starfive-tech,linux,05533e9c31d6f0da20efc2d436a3b0f6d516ed4b)/linux-05533e9c31d6f0da20efc2d436a3b0f6d516ed4b.tar.gz"
LINGMO_LINUX_KERNEL_DEFCONFIG="starfive_visionfive2"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="starfive/jh7110-visionfive-v2"
LINGMO_LINUX_KERNEL_INSTALL_TARGET=y
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y
# LINGMO_TARGET_ROOTFS_TAR is not set
LINGMO_PACKAGE_HOST_GENIMAGE=y
