# architecture
LINGMO_arm=y
LINGMO_cortex_a7=y
LINGMO_ARM_FPU_NEON_VFPV4=y

# Linux headers same as kernel, a 6.6 series
LINGMO_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_6=y

# system
LINGMO_TARGET_GENERIC_GETTY_PORT="ttymxc0"

# rootfs overlay
LINGMO_ROOTFS_OVERLAY="board/warp7/rootfs_overlay"

# Kernel
LINGMO_LINUX_KERNEL=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION=y
LINGMO_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.6"
LINGMO_LINUX_KERNEL_DEFCONFIG="imx_v6_v7"
LINGMO_LINUX_KERNEL_DTS_SUPPORT=y
LINGMO_LINUX_KERNEL_INTREE_DTS_NAME="nxp/imx/imx7s-warp"
LINGMO_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# U-Boot
LINGMO_TARGET_UBOOT=y
LINGMO_TARGET_UBOOT_BOARDNAME="warp7"
LINGMO_TARGET_UBOOT_CUSTOM_VERSION=y
LINGMO_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2023.10"
LINGMO_TARGET_UBOOT_FORMAT_DTB_IMX=y
LINGMO_TARGET_UBOOT_NEEDS_OPENSSL=y

# wifi firmware for brcm43430
LINGMO_PACKAGE_LINUX_FIRMWARE=y
LINGMO_PACKAGE_LINUX_FIRMWARE_BRCM_BCM43XXX=y

# For automatic firmware loading
LINGMO_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y

# wireless packages
LINGMO_PACKAGE_WIRELESS_TOOLS=y
LINGMO_PACKAGE_WPA_SUPPLICANT=y
LINGMO_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y

# Filesystem
LINGMO_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/imx/post-image.sh"
LINGMO_TARGET_ROOTFS_EXT2=y
LINGMO_TARGET_ROOTFS_EXT2_4=y

# required tools to create the eMMC image
LINGMO_PACKAGE_HOST_DOSFSTOOLS=y
LINGMO_PACKAGE_HOST_GENIMAGE=y
LINGMO_PACKAGE_HOST_MTOOLS=y
