$ cat /usr/share/dbus-1/services/com.lingmo.Camera.service
[D-BUS Service]
Name=com.lingmo.Camera
Exec=/usr/bin/qdbus --literal com.lingmo.SessionManager /com/lingmo/StartManager com.lingmo.StartManager.Launch /usr/share/applications/lingmo-camera.desktop
