[Unit]
Description=flag-external
After=sshd.service
Requires=sshd.service
ConditionCapability=CAP_SYS_TIME

[Service]
Type=oneshot
ExecStart=/usr/local/bin/flag_external

[Install]
WantedBy=multi-user.target
