[Unit]
Description=OCEAN File Manager Daemon
After=local-fs.target udisks2.service usec-boot-unlock.service ocean-dconfig-daemon.service

[Service]
Type=dbus
BusName=org.lingmo.Filemanager.Daemon
ExecStart=/usr/bin/ocean-file-manager-daemon
CapabilityBoundingSet=~CAP_NET_RAW
MemoryLimit=8G

[Install]
WantedBy=multi-user.target
