[Unit]
Description=LINGMO DBUS FOR POLICE

[Service]
Type=dbus
Restart=always
RestartSec=0
BusName=com.lingmosdk.location
ExecStart=/usr/bin/python3 /usr/bin/location.py

[Install]
WantedBy=multi-user.target
