[Desktop Entry]
Exec=/bin/bash -c "dbus-send --session --print-reply --dest=com.lingmo.dataserver.Calendar /com/lingmo/dataserver/Calendar/AccountManager com.lingmo.dataserver.Calendar.AccountManager.updateRemindJob boolean:true"
Name=ocean-calendar-service
NoDisplay=true
Terminal=false
Type=Application
X-Lingmo-Vendor=user-custom
