[Desktop Entry]
Categories=Utility;
Comment=Device Manager is a handy tool for viewing hardware information and managing the devices.
Exec=deepin-devicemanager
GenericName=Device Manager
Icon=deepin-devicemanager
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
Name=Device Manager
Terminal=false
Type=Application
X-Ayatana-Desktop-Shortcuts=deepin-devicemanager
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ar]=مدير الأجهزة هو أداة مفيدة لعرض معلومات العتاد وإدارة الأجهزة
Comment[az]=Cihaz İdarəetməsi avadanlıq haqqında məlumatlara baxmaq və cihazları idarə etmək üçün lazımlı bir vasitədir.
Comment[bo]=སྒྲིག་ཆས་དོ་དམ་ཆས་ནི་མཁྲེགས་ཆས་ལྟ་བ་དང་དོ་དམ་བྱེད་པའི་ཡོ་བྱད་ཅིག་རེད།
Comment[ca]=El Gestor de dispositius és una eina pràctica per veure la informació del maquinari i gestionar els dispositius.
Comment[cs]=Správa zařízení je užitečný nástroj pro zobrazování informací o hardware a správu zařízení.
Comment[da]=Enhedshåndtering er et praktisk værktøj til at vise hardwareinformation og til at håndtere enhederne.
Comment[de]=Geräteverwaltung ist ein praktisches Werkzeug zur Anzeige von Hardware-Informationen und zur Verwaltung der Geräte.
Comment[en_AU]=Device Manager is a handy tool for viewing hardware information and managing the devices.
Comment[es]=Administrador de dispositivos de Deepin es una herramienta útil para ver la información del hardware y administrarlo.
Comment[fi]=Laitehallinta on kätevä työkalu laittetietojen tarkastelemiseen ja laitteiden hallintaan.
Comment[fr]=Gestionnaire de périphériques est un outil pratique pour afficher les informations sur le matériel et gérer les périphériques.
Comment[gl_ES]=Xestor de dispositivos é unha ferramenta útil para ver información de hardware e xestionar os dispositivos.
Comment[hr]=Upravitelj uređajima je alat koji služi za pregledavanje informacija o sklopovlju i upravljanje uređajima.
Comment[hu]=Az Eszközkezelő egy praktikus eszköz a hardverinformációk megtekintéséhez és az eszközök kezeléséhez.
Comment[it]=Il Gestore Dispositivi è uno strumento utile per visualizzare informazioni sull'hardware e gestire i dispositivi. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[ko]=장치 관리자는 하드웨어 정보를 보고 장치를 관리하기 위한 편리한 도구입니다.
Comment[ms]=Pengurus Peranti ialah sebuah alat mudah yang dapat melihat maklumat perkakasan dan mengurus peranti-peranti.
Comment[nl]=Apparaatbeheer is een programma dat hardware-informatie toont en apparaten kan beheren.
Comment[pl]=Menedżer urządzeń to przydatne narzędzie do przeglądania informacji o sprzęcie i zarządzania urządzeniami.
Comment[pt]=O Gestor de Dispositivos é uma ferramenta útil para visualizar informações de hardware e gerir os dispositivos.
Comment[pt_BR]=O Gerenciador de Dispositivos é uma ferramenta útil para visualizar as informações de hardware e gerenciar os dispositivos.
Comment[ro]=Manager Dispozitive este un instrument la îndemână pentru vizualizarea informațiilor hardware și gestionarea dispozitivelor.
Comment[ru]=Диспетчер устройств - удобный инструмент для просмотра информации об оборудовании и управления устройствами.
Comment[sk]=Správca zariadení je užitočný nástroj na prezeranie informácií o hardvéri a na správu zariadení.
Comment[sl]=Upravitelj naprav je priročno orodje za prikaz podatkov o strojni opremi in upravljanje naprav.
Comment[sq]=Përgjegjësi i Pajisjeve është një mjet i dobishëm për të parë të dhëna hardware dhe për administrim pajisjesh.
Comment[sr]=Управник Уређаја је користан алат за приказ података о рачунару, апаратури и за управљање уређајима.
Comment[tr]=Aygıt Yöneticisi, donanım bilgilerini görüntülemek ve aygıtları yönetmek için kullanışlı bir araçtır.
Comment[ug]=ئۈسكۈنە باشقۇرغۇچى قاتتىق دېتال ئۇچۇرلىرىنى كۆرۈش ۋە ئۈسكۈنىلەرنى باشقۇرۇشتىكى قۇلايلىق قورال.
Comment[uk]=«Керування пристроями» — зручний інструмент для перегляду відомостей щодо обладнання та керування пристроями.
Comment[zh_CN]=设备管理器是查看、管理硬件设备的工具软件。
Comment[zh_HK]=設備管理器是查看、管理硬件設備的工具軟件。
Comment[zh_TW]=設備管理器是查看、管理硬體設備的工具軟體。
GenericName[ar]=مدير الأجهزة
GenericName[az]=Cihaz idarəetməsi
GenericName[bo]=སྒྲིག་ཆས་དོ་དམ་ཆས།
GenericName[ca]=Gestor de dispositius
GenericName[cs]=Správa zařízení
GenericName[da]=Enhedshåndtering
GenericName[de]=Geräteverwaltung
GenericName[en_AU]=Device Manager
GenericName[es]=Administrador de dispositivos
GenericName[fi]=Laitehallinta
GenericName[fr]=Gestionnaire de périphériques
GenericName[gl_ES]=Xestor de dispositivos
GenericName[hr]=Upravitelj uređajima
GenericName[hu]=Eszközkezelő
GenericName[it]=Gestore dispositivi
GenericName[ko]=장치 관리자
GenericName[ms]=Pengurus Peranti
GenericName[nl]=Apparaatbeheer
GenericName[pl]=Menedżer urządzeń
GenericName[pt]=Gestor de Dispositivos
GenericName[pt_BR]=Gerenciador de Dispositivos
GenericName[ro]=Manager Dispozitive
GenericName[ru]=Диспетчер устройств
GenericName[sk]=Správca zariadení
GenericName[sl]=Upravitelj naprav
GenericName[sq]=Përgjegjës Pajisjesh
GenericName[sr]=Упраник Уређаја
GenericName[tr]=Aygıt Yöneticisi
GenericName[ug]=ئۈسكۈنە باشقۇرغۇچى
GenericName[uk]=Керування пристроями
GenericName[zh_CN]=设备管理器
GenericName[zh_HK]=設備管理器
GenericName[zh_TW]=設備管理器
Name[ar]=مدير أجهزة ديبين
Name[az]=Deepin Cihaz İdarəetməsi
Name[bo]=གཏིང་ཚད་སྒྲིག་ཆས་དོ་དམ་ཆས།
Name[ca]=Gestor de dispositius del Deepin
Name[cs]=Správa zařízení
Name[da]=Deepin enhedshåndtering
Name[de]=Deepin Geräteverwaltung
Name[en_AU]=Deepin Device Manager
Name[es]=Administrador de dispositivos
Name[fi]=Deepin laitehallinta
Name[fr]=Gestionnaire de périphériques Deepin
Name[gl_ES]=Xestor de dispositivos Deepin
Name[hr]=Deepin upravitelj uređajima
Name[hu]=Deepin® Eszközkezelő
Name[it]=Gestore dispositivi di Deepin
Name[ko]=Deepin 장치 관리자
Name[ms]=Pengurus Peranti Deepin
Name[nl]=Deepin Apparaatbeheer
Name[pl]=Menedżer urządzeń Deepin
Name[pt]=Gestor de Dispositivos Deepin
Name[pt_BR]=deepin Gerenciador de Dispositivos
Name[ro]=Manager Dispozitive Deepin
Name[ru]=Диспетчер устройств Deepin
Name[sk]=Deepin Správca zariadení
Name[sl]=Deepin upravitelj naprav
Name[sq]=Deepin Device Manager
Name[sr]=Дипин Упраник Уређаја
Name[tr]=Deepin Aygıt Yöneticisi
Name[ug]=ئۈسكۈنە باشقۇرغۇچ Deepin
Name[uk]=Керування пристроями Deepin
Name[zh_CN]=深度设备管理器
Name[zh_HK]=Deepin 設備管理器
Name[zh_TW]=Deepin 設備管理器

