<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<vendor>LinuxDeepin</vendor>
	<vendor_url>https://www.deepin.com/</vendor_url>
	<action id="com.deepin.pkexec.logViewerAuth">
		<description>authentication</description>
		<message>Authentication is required to view the log</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/logViewerAuth</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<description xml:lang="ca">autenticació</description>
		<message xml:lang="ca">Cal autenticació per veure el registre.</message>
		<description xml:lang="hr">ovjera</description>
		<message xml:lang="hr">Potrebna je ovjera za pregled zapisa</message>
		<description xml:lang="de">Authentifizierung</description>
		<message xml:lang="de">Zur Ansicht des Protokolls ist eine Authentifizierung erforderlich</message>
		<description xml:lang="zh_CN">认证</description>
		<message xml:lang="zh_CN">查看此日志需要授权</message>
		<description xml:lang="ms">pengesahihan</description>
		<message xml:lang="ms">Pengesahihan diperlukan untuk melihat log</message>
		<description xml:lang="es">autenticación</description>
		<message xml:lang="es">Se requiere autenticación para ver el registro</message>
		<description xml:lang="da">autentifikation</description>
		<description xml:lang="sl">overitev</description>
		<message xml:lang="sl">Ogled dnevnika zahteva overitev</message>
		<description xml:lang="sq">mirëfilltësim</description>
		<message xml:lang="sq">Për parjen e regjistrit është i domosdoshëm mirëfilltësimi</message>
		<description xml:lang="pt_BR">autenticação</description>
		<message xml:lang="pt_BR">A autenticação é necessária para visualizar os logs</message>
		<description xml:lang="ug">دەلىللەش</description>
		<message xml:lang="ug">بۇ خاتىرىنى كۆرۈش دەلىللەشنى تەلەپ قىلىدۇ</message>
		<description xml:lang="zh_TW">認證</description>
		<message xml:lang="zh_TW">查看日誌需要認證</message>
		<description xml:lang="az">kimlik doğrulaması</description>
		<message xml:lang="az">Jurnala baxmaq üçün kimlik doğrulaması tələb olunur</message>
		<description xml:lang="gl_ES">autenticación</description>
		<description xml:lang="nl">authenticatie</description>
		<message xml:lang="nl">Voer je wachtwoord in om het logboek te bekijken</message>
		<description xml:lang="fr">authentification</description>
		<message xml:lang="fr">L'authentification est requise pour voir les journaux</message>
		<description xml:lang="br">Anaouadur</description>
		<message xml:lang="br">An anaouadur a zo rekis evit gellout gwelet ar renabloù</message>
		<description xml:lang="pl">uwierzytelnienie</description>
		<message xml:lang="pl">Wymagane jest uwierzytelnienie, aby przeglądać dziennik</message>
		<description xml:lang="en_GB">authentication</description>
		<message xml:lang="en_GB">Authentication is required to view the log</message>
		<description xml:lang="zh_HK">認證</description>
		<message xml:lang="zh_HK">查看此日誌需要認證</message>
		<description xml:lang="fi">todennus</description>
		<message xml:lang="fi">Tapahtumalokin katsomiseen tarvitaan todennus</message>
		<description xml:lang="ko">인증</description>
		<message xml:lang="ko">로그를 보려면 인증이 필요합니다</message>
		<description xml:lang="ar">المصادقة</description>
		<message xml:lang="ar">المصادقة مطلوبة لعرض السجل</message>
		<description xml:lang="hu">Hitelesítés</description>
		<message xml:lang="hu">Hitelesítés szükséges a napló megtekintéséhez</message>
		<description xml:lang="hi_IN">प्रमाणीकरण</description>
		<message xml:lang="hi_IN">लॉग फ़ाइल देखने हेतु प्रमाणीकरण आवश्यक है</message>
		<description xml:lang="sr">идентификација</description>
		<message xml:lang="sr">Идентификација је неопходана за преглед записника</message>
		<description xml:lang="bo">དཔང་དཔྱད།</description>
		<message xml:lang="bo">ཉིན་ཐོ་འདི་ལྟ་བཤེར་བྱེད་པར་དཔང་དཔྱད་བྱ་དགོས། </message>
		<description xml:lang="pt">autenticação</description>
		<message xml:lang="pt">É necessária autenticação para visualizar o registo</message>
		<description xml:lang="tr">kimlik doğrulama</description>
		<message xml:lang="tr">Günlüğü görüntülemek için kimlik doğrulaması gerekli</message>
		<description xml:lang="uk">Розпізнавання</description>
		<message xml:lang="uk">Для перегляду журналу слід пройти розпізнавання</message>
		<description xml:lang="ru">Аутентификация</description>
		<message xml:lang="ru">Для просмотра журнала необходима аутентификация </message>
		<description xml:lang="it">autenticazione</description>
		<message xml:lang="it">Autenticazione richiesta per visualizzare il log</message>
		<description xml:lang="cs">ověření se</description>
		<message xml:lang="cs">Pro zobrazení událostí je vyžadováno ověření se</message>
	</action>
	<action id="com.deepin.pkexec.logViewerAuth.self">
		<description>authentication</description>
		<message>Authentication is required to view the log</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_self_keep</allow_active>
		</defaults>
		<description xml:lang="ca">autenticació</description>
		<message xml:lang="ca">Cal autenticació per veure el registre.</message>
		<description xml:lang="hr">ovjera</description>
		<message xml:lang="hr">Potrebna je ovjera za pregled zapisa</message>
		<description xml:lang="de">Authentifizierung</description>
		<message xml:lang="de">Zur Ansicht des Protokolls ist eine Authentifizierung erforderlich</message>
		<description xml:lang="zh_CN">认证</description>
		<message xml:lang="zh_CN">查看此日志需要授权</message>
		<description xml:lang="ms">pengesahihan</description>
		<message xml:lang="ms">Pengesahihan diperlukan untuk melihat log</message>
		<description xml:lang="es">autenticación</description>
		<message xml:lang="es">Se requiere autenticación para ver el registro</message>
		<description xml:lang="da">autentifikation</description>
		<description xml:lang="sl">overitev</description>
		<message xml:lang="sl">Ogled dnevnika zahteva overitev</message>
		<description xml:lang="sq">mirëfilltësim</description>
		<message xml:lang="sq">Për parjen e regjistrit është i domosdoshëm mirëfilltësimi</message>
		<description xml:lang="pt_BR">autenticação</description>
		<message xml:lang="pt_BR">A autenticação é necessária para visualizar os logs</message>
		<description xml:lang="ug">دەلىللەش</description>
		<message xml:lang="ug">بۇ خاتىرىنى كۆرۈش دەلىللەشنى تەلەپ قىلىدۇ</message>
		<description xml:lang="zh_TW">認證</description>
		<message xml:lang="zh_TW">查看日誌需要認證</message>
		<description xml:lang="az">kimlik doğrulaması</description>
		<message xml:lang="az">Jurnala baxmaq üçün kimlik doğrulaması tələb olunur</message>
		<description xml:lang="gl_ES">autenticación</description>
		<description xml:lang="nl">authenticatie</description>
		<message xml:lang="nl">Voer je wachtwoord in om het logboek te bekijken</message>
		<description xml:lang="fr">authentification</description>
		<message xml:lang="fr">L'authentification est requise pour voir les journaux</message>
		<description xml:lang="br">Anaouadur</description>
		<message xml:lang="br">An anaouadur a zo rekis evit gellout gwelet ar renabloù</message>
		<description xml:lang="pl">uwierzytelnienie</description>
		<message xml:lang="pl">Wymagane jest uwierzytelnienie, aby przeglądać dziennik</message>
		<description xml:lang="en_GB">authentication</description>
		<message xml:lang="en_GB">Authentication is required to view the log</message>
		<description xml:lang="zh_HK">認證</description>
		<message xml:lang="zh_HK">查看此日誌需要認證</message>
		<description xml:lang="fi">todennus</description>
		<message xml:lang="fi">Tapahtumalokin katsomiseen tarvitaan todennus</message>
		<description xml:lang="ko">인증</description>
		<message xml:lang="ko">로그를 보려면 인증이 필요합니다</message>
		<description xml:lang="ar">المصادقة</description>
		<message xml:lang="ar">المصادقة مطلوبة لعرض السجل</message>
		<description xml:lang="hu">Hitelesítés</description>
		<message xml:lang="hu">Hitelesítés szükséges a napló megtekintéséhez</message>
		<description xml:lang="hi_IN">प्रमाणीकरण</description>
		<message xml:lang="hi_IN">लॉग फ़ाइल देखने हेतु प्रमाणीकरण आवश्यक है</message>
		<description xml:lang="sr">идентификација</description>
		<message xml:lang="sr">Идентификација је неопходана за преглед записника</message>
		<description xml:lang="bo">དཔང་དཔྱད།</description>
		<message xml:lang="bo">ཉིན་ཐོ་འདི་ལྟ་བཤེར་བྱེད་པར་དཔང་དཔྱད་བྱ་དགོས། </message>
		<description xml:lang="pt">autenticação</description>
		<message xml:lang="pt">É necessária autenticação para visualizar o registo</message>
		<description xml:lang="tr">kimlik doğrulama</description>
		<message xml:lang="tr">Günlüğü görüntülemek için kimlik doğrulaması gerekli</message>
		<description xml:lang="uk">Розпізнавання</description>
		<message xml:lang="uk">Для перегляду журналу слід пройти розпізнавання</message>
		<description xml:lang="ru">Аутентификация</description>
		<message xml:lang="ru">Для просмотра журнала необходима аутентификация </message>
		<description xml:lang="it">autenticazione</description>
		<message xml:lang="it">Autenticazione richiesta per visualizzare il log</message>
		<description xml:lang="cs">ověření se</description>
		<message xml:lang="cs">Pro zobrazení událostí je vyžadováno ověření se</message>
	</action>
	<action id="com.deepin.pkexec.logViewerAuth.exportLogs">
		<description>authentication</description>
		<message>Authentication is required to export logs</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin</allow_active>
		</defaults>
		<description xml:lang="ca">autenticació</description>
		<message xml:lang="ca">Cal autenticació per exportar registres.</message>
		<description xml:lang="hr">ovjera</description>
		<description xml:lang="de">Authentifizierung</description>
		<message xml:lang="de">Zum Exportieren von Protokollen ist eine Authentifizierung erforderlich</message>
		<description xml:lang="zh_CN">认证</description>
		<message xml:lang="zh_CN">导出日志需要授权</message>
		<description xml:lang="ms">pengesahihan</description>
		<message xml:lang="ms">Pengesahihan diperlukan untuk mengeksport log</message>
		<description xml:lang="es">autenticación</description>
		<message xml:lang="es">Se requiere autenticación para exportar registros</message>
		<description xml:lang="da">autentifikation</description>
		<description xml:lang="sl">overitev</description>
		<description xml:lang="sq">mirëfilltësim</description>
		<message xml:lang="sq">Që të eksportohen regjistra, lypset mirëfilltësim</message>
		<description xml:lang="pt_BR">autenticação</description>
		<description xml:lang="ug">دەلىللەش</description>
		<message xml:lang="ug">خاتىرىنى چىقىرىش دەلىللەشنى تەلەپ قىلىدۇ</message>
		<description xml:lang="zh_TW">認證</description>
		<message xml:lang="zh_TW">導出日誌需要授權</message>
		<description xml:lang="az">kimlik doğrulaması</description>
		<message xml:lang="az">Jurnalların ixrac edilməsi üçün kimlik doğrulaması tələb olunur</message>
		<description xml:lang="gl_ES">autenticación</description>
		<description xml:lang="nl">authenticatie</description>
		<message xml:lang="nl">Voer je wachtwoord in om logboeken te kunnen exporteren</message>
		<description xml:lang="fr">authentification</description>
		<message xml:lang="fr">L'authentification est requise pour exporter les journaux</message>
		<description xml:lang="br">Anaouadur</description>
		<description xml:lang="pl">uwierzytelnienie</description>
		<message xml:lang="pl">Wymagane jest uwierzytelnienie do eksportu dziennika</message>
		<description xml:lang="en_GB">authentication</description>
		<description xml:lang="zh_HK">認證</description>
		<message xml:lang="zh_HK">導出日誌需要授權</message>
		<description xml:lang="fi">todennus</description>
		<message xml:lang="fi">Lokien viemiseksi vaaditaan todennus</message>
		<description xml:lang="ko">인증</description>
		<description xml:lang="ar">المصادقة</description>
		<description xml:lang="hu">Hitelesítés</description>
		<message xml:lang="hu">Hitelesítés szükséges a naplók exportálásához</message>
		<description xml:lang="hi_IN">प्रमाणीकरण</description>
		<description xml:lang="sr">идентификација</description>
		<description xml:lang="bo">དཔང་དཔྱད།</description>
		<message xml:lang="bo">ཉིན་ཐོ་འདྲེན་པ་ལ་དབང་སྐུར་དགོས།</message>
		<description xml:lang="pt">autenticação</description>
		<message xml:lang="pt">É necessária autenticação para exportar registos</message>
		<description xml:lang="tr">kimlik doğrulama</description>
		<message xml:lang="tr">Günlükleri dışa aktarmak için kimlik doğrulaması gerekli</message>
		<description xml:lang="uk">Розпізнавання</description>
		<message xml:lang="uk">Для експортування журналу слід пройти розпізнавання</message>
		<description xml:lang="ru">Аутентификация</description>
		<message xml:lang="ru">Для экспорта журналов необходима аутентификация </message>
		<description xml:lang="it">autenticazione</description>
		<message xml:lang="it">Autenticazione richiesta per esportare i log</message>
		<description xml:lang="cs">ověření se</description>
	</action>
	<action id="com.deepin.pkexec.logViewerAuth.exportLogsSelf">
		<description>authentication</description>
		<message>Authentication is required to export logs</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_self</allow_active>
		</defaults>
		<description xml:lang="ca">autenticació</description>
		<message xml:lang="ca">Cal autenticació per exportar registres.</message>
		<description xml:lang="hr">ovjera</description>
		<description xml:lang="de">Authentifizierung</description>
		<message xml:lang="de">Zum Exportieren von Protokollen ist eine Authentifizierung erforderlich</message>
		<description xml:lang="zh_CN">认证</description>
		<message xml:lang="zh_CN">导出日志需要授权</message>
		<description xml:lang="ms">pengesahihan</description>
		<message xml:lang="ms">Pengesahihan diperlukan untuk mengeksport log</message>
		<description xml:lang="es">autenticación</description>
		<message xml:lang="es">Se requiere autenticación para exportar registros</message>
		<description xml:lang="da">autentifikation</description>
		<description xml:lang="sl">overitev</description>
		<description xml:lang="sq">mirëfilltësim</description>
		<message xml:lang="sq">Që të eksportohen regjistra, lypset mirëfilltësim</message>
		<description xml:lang="pt_BR">autenticação</description>
		<description xml:lang="ug">دەلىللەش</description>
		<message xml:lang="ug">خاتىرىنى چىقىرىش دەلىللەشنى تەلەپ قىلىدۇ</message>
		<description xml:lang="zh_TW">認證</description>
		<message xml:lang="zh_TW">導出日誌需要授權</message>
		<description xml:lang="az">kimlik doğrulaması</description>
		<message xml:lang="az">Jurnalların ixrac edilməsi üçün kimlik doğrulaması tələb olunur</message>
		<description xml:lang="gl_ES">autenticación</description>
		<description xml:lang="nl">authenticatie</description>
		<message xml:lang="nl">Voer je wachtwoord in om logboeken te kunnen exporteren</message>
		<description xml:lang="fr">authentification</description>
		<message xml:lang="fr">L'authentification est requise pour exporter les journaux</message>
		<description xml:lang="br">Anaouadur</description>
		<description xml:lang="pl">uwierzytelnienie</description>
		<message xml:lang="pl">Wymagane jest uwierzytelnienie do eksportu dziennika</message>
		<description xml:lang="en_GB">authentication</description>
		<description xml:lang="zh_HK">認證</description>
		<message xml:lang="zh_HK">導出日誌需要授權</message>
		<description xml:lang="fi">todennus</description>
		<message xml:lang="fi">Lokien viemiseksi vaaditaan todennus</message>
		<description xml:lang="ko">인증</description>
		<description xml:lang="ar">المصادقة</description>
		<description xml:lang="hu">Hitelesítés</description>
		<message xml:lang="hu">Hitelesítés szükséges a naplók exportálásához</message>
		<description xml:lang="hi_IN">प्रमाणीकरण</description>
		<description xml:lang="sr">идентификација</description>
		<description xml:lang="bo">དཔང་དཔྱད།</description>
		<message xml:lang="bo">ཉིན་ཐོ་འདྲེན་པ་ལ་དབང་སྐུར་དགོས།</message>
		<description xml:lang="pt">autenticação</description>
		<message xml:lang="pt">É necessária autenticação para exportar registos</message>
		<description xml:lang="tr">kimlik doğrulama</description>
		<message xml:lang="tr">Günlükleri dışa aktarmak için kimlik doğrulaması gerekli</message>
		<description xml:lang="uk">Розпізнавання</description>
		<message xml:lang="uk">Для експортування журналу слід пройти розпізнавання</message>
		<description xml:lang="ru">Аутентификация</description>
		<message xml:lang="ru">Для экспорта журналов необходима аутентификация </message>
		<description xml:lang="it">autenticazione</description>
		<message xml:lang="it">Autenticazione richiesta per esportare i log</message>
		<description xml:lang="cs">ověření se</description>
	</action>
</policyconfig>
