<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<vendor>LinuxDeepin</vendor>
	<vendor_url>https://www.deepin.com/</vendor_url>
	<action id="com.deepin.pkexec.logViewerTruncate">
		<description>authentication</description>
		<message>Authentication is required to clear the log</message>
		<icon_name />
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/logViewerTruncate</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<description xml:lang="ca">autenticació</description>
		<message xml:lang="ca">Cal autenticació per netejar el registre.</message>
		<description xml:lang="hr">ovjera</description>
		<message xml:lang="hr">Potrebna je ovjera za čišćenje zapisa</message>
		<description xml:lang="de">Authentifizierung</description>
		<message xml:lang="de">Zum Löschen des Protokolls ist eine Authentifizierung erforderlich</message>
		<description xml:lang="zh_CN">认证</description>
		<message xml:lang="zh_CN">清除此日志需要授权</message>
		<description xml:lang="ms">pengesahihan</description>
		<message xml:lang="ms">Pengesahihan diperlukan untuk mengosongkan log</message>
		<description xml:lang="es">autenticación</description>
		<message xml:lang="es">La autenticación es necesaria para borrar el registro</message>
		<description xml:lang="da">autentifikation</description>
		<description xml:lang="sl">overitev</description>
		<message xml:lang="sl">Čiščenje dnevnika zahteva overitev</message>
		<description xml:lang="sq">mirëfilltësim</description>
		<message xml:lang="sq">Për spastrimin e regjistrit lypset mirëfilltësim</message>
		<description xml:lang="pt_BR">autenticação</description>
		<message xml:lang="pt_BR">A autenticação é necessária para limpar os logs</message>
		<description xml:lang="ug">دەلىللەش</description>
		<message xml:lang="ug">بۇ خاتىرىنى تازىلاش دەلىللەشنى تەلەپ قىلىدۇ</message>
		<description xml:lang="zh_TW">認證</description>
		<message xml:lang="zh_TW">清除此日誌需要認證</message>
		<description xml:lang="az">kimlik doğrulaması</description>
		<message xml:lang="az">Jurnalı təmizləmək üçün kimlik doğrulaması tələb olunur</message>
		<description xml:lang="gl_ES">autenticación</description>
		<message xml:lang="gl_ES">A autenticación é necesaria para limpar o rexistro</message>
		<description xml:lang="nl">authenticatie</description>
		<message xml:lang="nl">Voer je wachtwoord in om het logboek te wissen</message>
		<description xml:lang="fr">authentification</description>
		<message xml:lang="fr">L'authentification est requise pour effacer le journal</message>
		<description xml:lang="br">Anaouadur</description>
		<description xml:lang="pl">uwierzytelnienie</description>
		<message xml:lang="pl">Wymagane jest uwierzytelnienie do wyczyszczenia dziennika</message>
		<description xml:lang="en_GB">authentication</description>
		<description xml:lang="zh_HK">認證</description>
		<message xml:lang="zh_HK">清除此日誌需要認證</message>
		<description xml:lang="fi">todennus</description>
		<message xml:lang="fi">Tapahtumalokin tyhjentäminen edellyttää todennusta</message>
		<description xml:lang="ko">인증</description>
		<message xml:lang="ko">로그를 지우려면 인증이 필요합니다</message>
		<description xml:lang="ar">المصادقة</description>
		<description xml:lang="hu">Hitelesítés</description>
		<message xml:lang="hu">Hitelesítés szükséges a napló törléséhez</message>
		<description xml:lang="hi_IN">प्रमाणीकरण</description>
		<message xml:lang="hi_IN">लॉग फ़ाइल रिक्त करने हेतु प्रमाणीकरण आवश्यक है</message>
		<description xml:lang="sr">идентификација</description>
		<message xml:lang="sr">Идентификација је неопходана да обришете записник</message>
		<description xml:lang="bo">དཔང་དཔྱད།</description>
		<message xml:lang="bo">ཉིན་ཐོ་འདི་ལྟ་བཤེར་བྱེད་པར་དཔང་དཔྱད་བྱ་དགོས། </message>
		<description xml:lang="pt">autenticação</description>
		<message xml:lang="pt">É necessária a autenticação para limpar o registo</message>
		<description xml:lang="tr">kimlik doğrulama</description>
		<message xml:lang="tr">Günlüğü temizlemek için kimlik doğrulaması gerekli</message>
		<description xml:lang="uk">Розпізнавання</description>
		<message xml:lang="uk">Для спорожнення журналу слід пройти розпізнавання</message>
		<description xml:lang="ru">Аутентификация</description>
		<message xml:lang="ru">Для очистки журнала необходимо авторизоваться</message>
		<description xml:lang="it">autenticazione</description>
		<message xml:lang="it">Autenticazione richiesta per ripulire il Log</message>
		<description xml:lang="cs">ověření se</description>
		<message xml:lang="cs">Pro vyčištění záznamu událostí je vyžadováno ověření se</message>
	</action>
</policyconfig>
