[Desktop Entry]
Encoding=UTF-8
Name=Lingmo VPN
Name[zh_CN]=灵墨VPN设置工具
Name[zh_HK]=灵墨VPN設置工具
Name[zh_TW]=灵墨VPN設置工具
Icon=gnome-dev-ethernet
Comment=Beautiful Network Config Applet
Comment[zh_CN]=灵墨VPN设置工具，提供查看和简单设置功能，拥有美观的界面和舒适的操作.
Keywords=applet;vpn;network;network-manager;
Exec=/usr/bin/lingmo-vpn
StartupNotify=false
Terminal=false
Type=Application
OnlyShowIn=LINGMO
X-LINGMO-AutoRestart=true
NoDisplay=true
X-LINGMO-Autostart-Phase=Application
