[D-BUS Service]
Name=com.lingmo.ScreenRecorder
Exec=/usr/bin/lingmo-screen-recorder --screenRecord
#Exec=/usr/bin/dbus-send --session --type=method_call --print-reply --dest=com.lingmo.SessionManager /com/lingmo/StartManager com.lingmo.StartManager.LaunchApp string:"/usr/share/applications/lingmo-screen-recorder.desktop" uint32:0 array:string:"--screenRecord"
