[Unit]
Description=LINGMO SDK SYSTIME DBUS

[Service]
Type=dbus
Restart=always
RestartSec=0
BusName=com.lingmo.lingmosdk.Net
ExecStart=/usr/bin/lingmosdk-net

[Install]
WantedBy=multi-user.target
