[Desktop Entry]
Categories=downloader;Network;
Exec=downloader %F
GenericName=Downloader
Hidden=false
Icon=downloader
MimeType=application/torrent;application/x-bittorrent;
Name=Deepin Downloader
StartupNotify=false
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[bo]=ཕབ་ལེན་བྱེད་ཆས།
GenericName[ca]=Descarregador
GenericName[fi]=Lataaja
GenericName[fr]=Téléchargeur
GenericName[hu]=Letöltés Kezelő
GenericName[it]=Downloader
GenericName[nl]=Downloader
GenericName[pt]=Gestor de Transferências
GenericName[pt_BR]=Gerenciador de Downloads
GenericName[sr]=Преузимач
GenericName[tr]=İndirici
GenericName[ug]=چۈشۈرگۈچ
GenericName[uk]=Отримувач даних
GenericName[zh_CN]=下载器
GenericName[zh_HK]=下載器
GenericName[zh_TW]=下載器
Name[bo]=གཏིང་ཚད་ཕབ་ལེན་བྱེད་ཆས།
Name[ca]=Descarregador del Deepin
Name[fi]=Deepin Lataaja
Name[fr]=Téléchargeur Deepin
Name[hu]=Deepin® Letöltés Kezelő
Name[it]=Deepin Downloader
Name[nl]=Deepin Downloader
Name[pt]=Gestor de Transferências Deepin
Name[pt_BR]=deepin Gerenciador de Downloads
Name[sr]=Дипин Преузимач
Name[tr]=Deepin İndirici
Name[ug]=Deepin چۈشۈرگۈچ
Name[uk]=Отримувач даних Deepin
Name[zh_CN]=深度下载器
Name[zh_HK]=Deepin 下載器
Name[zh_TW]=Deepin 下載器

