# Korean messages for kdelibs.
# Copyright (C) Free Software Foundation, Inc.
# Cho Sung Jae <cho.sungjae@gmail.com>, 2007.
# Shinjo Park <kde@peremen.name>, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2020, 2021, 2022.
#
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-12-08 00:42+0000\n"
"PO-Revision-Date: 2022-07-13 14:09+0200\n"
"Last-Translator: Shinjo Park <kde@peremen.name>\n"
"Language-Team: Korean <kde-kr@kde.org>\n"
"Language: ko\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Generator: Lokalize 21.12.3\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "조성재,박신조"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "cho.sungjae@gmail.com,kde@peremen.name"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "설정을 저장하기 전에 인증해야 합니다"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "설정을 저장할 수 없습니다"

#: kcodecaction.cpp:67
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "기본값"

#: kcodecaction.cpp:75
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "자동 감지"

#: kcolorschememanager.cpp:220 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr "색 배열"

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "기본값"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr "필터와 일치하는 명령 없음"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "설정"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "메뉴(&M)"

#: khamburgermenu.cpp:326
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "모든 동작과 메뉴 표시줄 표시(&M)"

#: khamburgermenu.cpp:352
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "더 보기"

#: khamburgermenu.cpp:353
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "더 많은 동작"

#: krecentfilesaction.cpp:71
#, kde-format
msgid "No Entries"
msgstr "항목 없음"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "Clear List"
msgstr "목록 비우기"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "뒤로(&B)"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "앞으로(&F)"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "홈(&H)"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "도움말(&H)"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "메뉴 표시줄 표시<p>숨겨진 이후에 메뉴 표시줄을 다시 보여 줍니다</p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"상태 표시줄 표시<p>창 아래에서 상태 정보를 보여 주는 상태 표시줄을 표시합니"
"다.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "새로 만들기(&N)"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "새 문서 만들기"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "열기(&O)..."

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "기존 문서 열기"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "최근에 연 파일(&R)"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "최근에 열었던 문서 열기"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "저장(&S)"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "문서 저장"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "다른 이름으로 저장(&A)..."

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "다른 이름으로 문서 저장"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "되돌리기(&V)"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "저장되지 않은 문서의 변경 사항 되돌리기"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "닫기(&C)"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "문서 닫기"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "인쇄(&P)..."

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "문서 인쇄"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "인쇄 미리 보기(&W)"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "문서의 인쇄 미리 보기를 표시"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "보내기(&M)..."

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "이메일로 문서 전송"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "끝내기(&Q)"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "프로그램 끝내기"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "실행 취소(&U)"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "마지막 동작 실행 취소"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "다시 실행(&D)"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "마지막으로 취소한 동작 다시 실행"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "잘라내기(&T)"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "선택 항목을 클립보드로 잘라내기"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "복사(&C)"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "선택 항목을 클립보드에 복사"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "붙여넣기(&P)"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "클립보드 내용 붙여넣기"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "지우기(&L)"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "모두 선택(&A)"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "선택 해제(&L)"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "찾기(&F)..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "다음 찾기(&N)"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "이전 찾기(&V)"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "바꾸기(&R)..."

#: kstandardaction_p.h:58
msgid "Zoom to &Actual Size"
msgstr "실제 크기로 조정(&A)"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "문서를 실제 크기로 보기"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "쪽에 맞추기(&F)"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "쪽 크기를 창 크기에 맞게 조정"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "쪽 너비에 맞추기(&W)"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "쪽 너비를 창 너비에 맞게 조정"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "쪽 높이에 맞추기(&H)"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "쪽 높이를 창 높이에 맞게 조정"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "확대(&I)"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "축소(&O)"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "확대/축소(&Z)..."

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "확대/축소 단계 선택"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "새로 고침(&R)"

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr "문서 새로 고침"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "위로(&U)"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "위로 이동"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "이전 쪽(&P)"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "이전 쪽으로 이동"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "다음 쪽(&N)"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "다음 쪽으로 이동"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "이동(&G)..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "쪽으로 이동(&G)..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "줄로 이동(&G)..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "처음 쪽(&F)"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "첫 쪽으로 이동"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "마지막 쪽(&L)"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "마지막 쪽으로 이동"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "뒤로(&B)"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "문서의 뒤로 이동"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "앞으로(&F)"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "문서의 앞으로 이동"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "책갈피 추가(&A)"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "책갈피 편집(&E)..."

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "맞춤법 검사(&S)..."

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "문서의 맞춤법 검사"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "메뉴 표시줄 표시(&M)"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "메뉴 표시줄을 보이거나 숨기기"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "도구 모음 표시(&T)"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "도구 모음을 보이거나 숨기기"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "상태 표시줄 표시(&A)"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "상태 표시줄을 보이거나 숨기기"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "전체 화면 모드(&U)"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "설정 저장(&S)"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "키보드 단축키 설정(&H)..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "%1 설정(&C)..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "도구 모음 설정(&B)..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "알림 설정(&N)..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 도움말(&H)"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "이것에 대한 설명(&T)"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "오늘의 팁(&D)"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "버그 보고(&R)..."

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "언어 설정(&L)..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "%1 정보(&A)"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "KDE 정보(&K)"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "삭제(&D)"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "이름 바꾸기(&R)..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "휴지통으로 이동(&M)"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "기부하기(&D)"

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr "메뉴 열기(&M)"

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "오늘의 팁"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "알고 계십니까...?\n"

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "시작할 때 팁 보기(&S)"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "이전(&P)"

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "다음(&N)"

#~ msgctxt ""
#~ "@action:inmenu A menu text advertising its contents (more features)."
#~ msgid "For %1 more action:"
#~ msgid_plural "For %1 more actions:"
#~ msgstr[0] "추가 동작 %1개:"

#~ msgctxt ""
#~ "@action:inmenu A section heading advertising the contents of the menu bar"
#~ msgid "%1 Menu Bar Exclusive Action"
#~ msgid_plural "%1 Menu Bar Exclusive Actions"
#~ msgstr[0] "메뉴 표시줄 전용 동작 %1개"

#~ msgid "Switch Application &Language..."
#~ msgstr "프로그램 언어 변경(&L)..."

#~ msgid "&Redisplay"
#~ msgstr "다시 표시하기(&R)"

#~ msgid "without name"
#~ msgstr "이름 없이"

#~ msgid "&Rename File"
#~ msgstr "파일 이름 바꾸기(&R)"
