# Translation of kconfigwidgets5.po to Ukrainian
# Copyright (C) 2018-2020 This_file_is_part_of_KDE
# This file is distributed under the license LGPL version 2.1 or
# version 3 or later versions approved by the membership of KDE e.V.
#
# Eugene Onischenko <oneugene@ukr.net>, 2002, 2003, 2004, 2005, 2006.
# Andriy Rysin <arysin@bcsii.com>, 2002, 2003, 2006, 2007.
# Ivan Petrouchtchak <fr.ivan@ukrainian-orthodox.org>, 2005, 2006, 2007, 2008.
# Yuri Chornoivan <yurchor@ukr.net>, 2008, 2009, 2010, 2011, 2012, 2013, 2015, 2016, 2017, 2019, 2020, 2021, 2022.
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets5\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-12-08 00:42+0000\n"
"PO-Revision-Date: 2022-08-07 08:57+0300\n"
"Last-Translator: Yuri Chornoivan <yurchor@ukr.net>\n"
"Language-Team: Ukrainian <kde-i18n-uk@kde.org>\n"
"Language: uk\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 20.12.0\n"
"Plural-Forms: nplurals=4; plural=n==1 ? 3 : n%10==1 && n%100!=11 ? 0 : n"
"%10>=2 && n%10<=4 && (n%100<10 || n%100>=20) ? 1 : 2;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "о. Іван Петрущак,Юрій Чорноіван"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "fr.ivan@ukrainian-orthodox.org,yurchor@ukr.net"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Програма попросить вас пройти розпізнавання перед збереженням"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Вам заборонено зберігати налаштування"

#: kcodecaction.cpp:67
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Типове"

#: kcodecaction.cpp:75
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Автовиявлення"

#: kcolorschememanager.cpp:220 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr "Схема кольорів"

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "Типовий"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr "Фільтру не відповідає жодна команда"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Налаштовування"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Меню"

#: khamburgermenu.cpp:326
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Показати с&мужку меню із усіма кнопками дій"

#: khamburgermenu.cpp:352
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Більше"

#: khamburgermenu.cpp:353
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Більше дій"

#: krecentfilesaction.cpp:71
#, kde-format
msgid "No Entries"
msgstr "Немає записів"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "Clear List"
msgstr "Спорожнити список"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Назад"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Вперед"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Домівка"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Довідка"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Показати смужку меню<p>Вмикає показ смужки меню після того, як її було "
"сховано</p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Показати смужку стану<p>Вмикає показ смужки стану, панелі у нижній частині "
"вікна, яку використовують для показу даних щодо стану.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Створити"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "Створити новий документ"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Відкрити…"

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "Відкрити вже створений документ"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "Відкрити &недавні"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "Відкрити документ, який вже було нещодавно відкрито"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Зберегти"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "Зберегти документ"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "Зберегти &як…"

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "Зберегти документ під іншою назвою"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "&Відновити"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "Скасувати незбережені зміни у документі"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Закрити"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "Закрити документ"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "&Друкувати…"

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "Надрукувати документ"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "Перегляд др&уку"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "Показати попередній перегляд результатів друку документа"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&Надіслати листа…"

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "Надіслати документ електронною поштою"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "Ви&йти"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Вийти з програми"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&Вернути"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "Скасувати останню дію"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "П&овторити"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "Повернути результат останньої скасованої дії"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "Виріза&ти"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "Вирізати позначені об’єкти до буфера обміну даними"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "&Копіювати"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "Копіювати позначений фрагмент до буфера обміну даними"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&Вставити"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "Вставити вміст буфера обміну даними"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "О&чистити"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "Вибрати &все"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "Скасувати ви&бір"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Пошук…"

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "Знайти &далі"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "Знайти &позаду"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Замінити…"

#: kstandardaction_p.h:58
msgid "Zoom to &Actual Size"
msgstr "&Фактичний розмір"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "Переглянути документ з використанням його справжніх розмірів"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&Влаштувати в сторінку"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "Змінити масштаб, щоб розмістити сторінку цілком"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "Влаштувати в &ширину сторінки"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "Змінити масштаб, щоб розмістити всю ширину сторінки документа"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "Влаштувати в &висоту сторінки"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "Змінити масштаб, щоб розмістити всю висоту сторінки документа"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "З&більшити"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "З&меншити"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Масштаб…"

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "Вибрати масштаб"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "&Оновити"

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr "Оновити документ"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Нагору"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "Перейти вгору"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&Попередня"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "Перейти до попередньої сторінки"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Наступна"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "Перейти до наступної сторінки"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "П&ерейти…"

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "Перейти до &сторінки…"

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "Перейти до ря&дка…"

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "Пе&рша"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "Перейти до першої сторінки"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&Остання"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "Перейти до останньої сторінки"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&Назад"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "Перейти назад документом"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "&Вперед"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "Перейти вперед документом"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "&Додати закладку"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&Редагувати закладки…"

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&Перевірка правопису…"

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "Перевірити правопис у документі"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "Показати смужку &меню"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "Показати або приховати смужку меню"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "Показати &пенал"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "Показати або приховати панель інструментів"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "Пок&азувати смужку стану"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "Показати або приховати смужку стану"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "Повноекранний &режим"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&Зберегти параметри"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "Налаштувати клавіатурні с&корочення…"

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "&Налаштувати %1…"

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "Налаштувати пенал&и…"

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "Налаштувати &сповіщення…"

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "П&ідручник з %1"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "&Що це?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "П&орада дня"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "Надіслати &звіт про помилку…"

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "Налаштувати &мову…"

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&Про %1"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "П&ро KDE"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "Ви&лучити"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "П&ерейменувати…"

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "&Пересунути до смітника"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "Підтримати &фінансово"

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr "Відкрити &меню"

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Підказка дня"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Чи знали ви, що…\n"

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "П&оказувати підказки під час запуску"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Попередня"

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Наступна"

#~ msgctxt ""
#~ "@action:inmenu A menu text advertising its contents (more features)."
#~ msgid "For %1 more action:"
#~ msgid_plural "For %1 more actions:"
#~ msgstr[0] "Для %1 додаткової дії:"
#~ msgstr[1] "Для %1 додаткових дій:"
#~ msgstr[2] "Для %1 додаткових дій:"
#~ msgstr[3] "Для %1 додаткової дії:"

#~ msgctxt ""
#~ "@action:inmenu A section heading advertising the contents of the menu bar"
#~ msgid "%1 Menu Bar Exclusive Action"
#~ msgid_plural "%1 Menu Bar Exclusive Actions"
#~ msgstr[0] "%1 виключна дія панелі меню"
#~ msgstr[1] "%1 виключні дії панелі меню"
#~ msgstr[2] "%1 виключних дій панелі меню"
#~ msgstr[3] "%1 виключна дія панелі меню"

#~ msgid "Switch Application &Language..."
#~ msgstr "Перемкнути &мову програми…"

#~ msgid "&Redisplay"
#~ msgstr "&Перемалювати"

#~ msgid "without name"
#~ msgstr "без назви"

#~ msgid "&Rename File"
#~ msgstr "Пере&йменувати файл"
