Source: lingmo-turbo
Section: devel
Priority: extra
Maintainer: Lingmo Packages Builder <packages@lingmo.com>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               pkg-config,
               libdbus-1-dev,
               dbus,
               libsystemd-dev,
               qtbase5-dev,
               libdtkwidget-dev,
               qtdeclarative5-dev,
               libdtkdeclarative-dev
Standards-Version: 3.9.5

Package: lingmo-turbo
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description:  Application launcher for fast startup
 Application invoker and launcher daemon that speed up
 application startup time and share memory. Provides also
 functionality to launch applications as single instances.

Package: lingmo-turbo-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, lingmo-turbo
Description: Development files for launchable applications
  evelopment files for creating applications that can be launched
  using lingmo-turbo.

Package: lingmo-turbo-booster
Section: devel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, lingmo-turbo
Description:  DTK application booster binary for lingmo-turbo
 A series of boosters for Qt/QML Application.
