Source: deepin-pc-manager
Section: utils
Priority: optional
Maintainer: Packages <packages@deepin.com>
Build-Depends: debhelper (>= 11), 
	libdtkwidget-dev, 
	libdtkgui-dev, 
	qtbase5-dev, 
	libgsettings-qt-dev,
	qttools5-dev-tools,
	cmake,
        libqt5x11extras5-dev,
        libxext-dev,
        libncurses-dev,
        libdtkcore5-bin,
        libqt5multimedia5,
        libqt5svg5,
        libudev-dev,
        libpolkit-qt5-1-dev,
        qtmultimedia5-dev,
        libparted-dev
Standards-Version: 4.1.3
Homepage: https://www.deepin.org

Package: deepin-pc-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: New deepin defender provide security protection for the system
 Deepin Defender is the system protection App.
