body {
    color: rgba(192, 198, 212, 1) !important;
}

u {
    border-bottom: 1px solid rgba(192, 198, 212, 1) !important;
}

strike {
    text-decoration-color: rgba(192, 198, 212, 1) !important;
}

strike[style="text-decoration-line: underline;"] {
    border-bottom: 1px solid rgba(192, 198, 212, 1) !important;
}

.title, .time {
    color: rgba(192, 198, 212, 1) !important
}

.li {
    background: rgba(255, 255, 255, 0.05)
}

.minute {
    color: rgba(109, 124, 136, 1) !important
}

.note-popover .popover-content {
    background: rgba(42, 42, 42, 1) !important
}

.tooltip-inner {
    color: rgba(192, 198, 212, 1);
    background-color: rgba(42, 42, 42, 1) !important;
    border: 1px solid rgba(0, 0, 0, 0.30);
}

.btn-default {
    color: rgba(197, 207, 224, 1) !important
}

.dropdown-menu {
    background: rgba(42, 42, 42, 0.98) !important
}

.colorFont {
    color: rgba(192, 198, 212, 1) !important
}

.dropdown-fontsize li a {
    color: rgba(192, 198, 212, 1) !important
}

.dropdown-fontname li a {
    color: rgba(192, 198, 212, 1) !important
}

.wifi-symbol .first {
    background-image: url(../img/play_voice1.svg);
}

.wifi-symbol .second {
    background-image: url(../img/play_voice2.svg);
}

.wifi-symbol .third {
    background-image: url(../img/play_voice3.svg);
}

.wifi-symbol .four {
    background-image: url(../img/play_voice4.svg);
}

.wifi-symbol .fifth {
    background-image: url(../img/play_voice5.svg);
}

.wifi-symbol .sixth {
    background-image: url(../img/play_voice6.svg);
}

.wifi-symbol .seventh {
    background-image: url(../img/play_voice7.svg);
}

.dropdown-fontsize>li>a, .dropdown-fontname>li>a {
    color: rgba(197, 207, 224, 1)
}

.icon-forecolor .path1 {
    color: rgba(192, 198, 212, 1);
}

.icon-backcolor .path5 {
    color: rgb(255, 255, 255, .2);
}

.icon-forecolor .path2 {
    color: rgb(255, 255, 255, .2);
}

.note-editor .note-toolbar>.note-btn-group, .note-popover .popover-content>.note-line {
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.note-popover .popover-content .note-color-palette div .note-color-btn {
    border-color: rgba(255, 255, 255, 0.2);
}

.planButton button {
    background: rgba(255, 255, 255, 0.10);
}

.btn-default:hover {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

body::-webkit-scrollbar-thumb:hover,
.dropdown-fontname::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, .25);
    border-color: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb:active,
.dropdown-fontname::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, .3);
    border-color: rgba(0, 0, 0, 0.1);
}

.translate>div {
    color: rgba(192, 198, 212, 1) !important;
}