[Desktop Entry]
GenericName=Text Editor
GenericName[en_GB]=Text Editor
GenericName[x-test]=xxText Editorxx
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
Name=Notepad
Name[en_GB]=Notepad
Name[x-test]=xxNotepadxx
Name[zh_CN]=记事本
Name[zh_TW]=Notepad
Comment=Text Editor
Comment[en_GB]=Text Editor
Comment[x-test]=xxText Editorxx
Comment[zh_CN]=文本编辑器
Comment[zh_TW]=文字編輯器
MimeType=text/plain;
Exec=notepad %U
StartupNotify=true
Icon=accessories-text-editor
X-DocPath=notepad/index.html
Type=Application
InitialPreference=8
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.lingmo.notepad
Categories=Qt;Lingmo;Utility;TextEditor;
Keywords=text;txt;editor;note;notepad;
Keywords[ar]=نص;نصوص;دفتر;
Keywords[az]=mətn;txt;redaktor;qeyd;qeyd dəftəri;
Keywords[bg]=текст;редактор;бележка;
Keywords[ca]=text;txt;editor;nota;bloc de notes;
Keywords[ca@valencia]=text;txt;editor;nota;bloc de notes;
Keywords[el]=κείμενο;txt;κειμενογράφος;σημείωση;σημειωματάριο;
Keywords[en_GB]=text;txt;editor;note;notepad;
Keywords[es]=texto;txt;editor;nota;bloc de notas;
Keywords[eu]=testua;txt;editorea;oharra;ohar-bloka;
Keywords[fi]=teksti;txt;muokkain;editori;notepad;
Keywords[fr]=texte;txt;éditeur;note;bloc-notes;
Keywords[hu]=szöveg;txt;szerkesztő;jegyzet;jegyzettömb;
Keywords[ia]=texto;txt;editor;nota;notepad;
Keywords[ie]=text;txt;redactor;bloc;note;notar;notepad;
Keywords[it]=testo;txt;editor;note;blocco note;
Keywords[ka]=text;txt;editor;note;notepad;
Keywords[ko]=text;txt;editor;note;notepad;텍스트;편집기;에디터;메모;메모장;
Keywords[nl]=text;txt;tekst;tekstbewerker;notitie;notitieblok;
Keywords[pl]=tekst;txt;edytor;uwaga;notatnik;
Keywords[pt]=texto;txt;editor;nota;bloco de notas;
Keywords[pt_BR]=texto;txt;editor;nota;notepad;bloco de notas;
Keywords[ru]=text;txt;editor;note;notepad;текст;редактор;заметка;блокнот;
Keywords[sk]=text;txt;editor;poznámka;poznámkový blok;
Keywords[sl]=besedilo;tekst;urejevalnik;zaznamek;beležnica;
Keywords[sv]=text;txt;editor;anteckning;anteckningsblock;
Keywords[tr]=metin;txt;düzenleyici;not;not defteri;
Keywords[uk]=text;txt;editor;note;notepad;текст;теексте;редактор;нотатка;нотатник;
Keywords[vi]=text;txt;editor;note;notepad;văn bản;trình biên tập;ghi chép;sổ ghi chép;
Keywords[x-test]=xxtextxx;xxtxtxx;xxeditorxx;xxnotexx;xxnotepadxx;
Keywords[zh_CN]=text;txt;editor;note;notepad;文字;文本;编辑器;笔记;记事本;
Keywords[zh_TW]=text;txt;editor;note;notepad;
StartupWMClass=notepad
