[Unit]
Description=Lingmo OS Workspace
Requires=lingmo-core.target graphical-session.target
Wants=lingmo-ksplash-ready.service kde-baloo.service xdg-desktop-autostart.target
BindsTo=graphical-session.target
Before=graphical-session.target xdg-desktop-autostart.target lingmo-ksplash-ready.service
RefuseManualStart=yes
StopWhenUnneeded=true
