# Translation of kconfigwidgets6 to Norwegian Bokmål
#
# Knut Yrvin <knut.yrvin@gmail.com>, 2002, 2003, 2004, 2005.
# Bjørn Steensrud <bjornst@skogkatt.homelinux.org>, 2002, 2003, 2004, 2005, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015.
# Eskild Hustvedt <zerodogg@skolelinux.no>, 2004, 2005.
# Gaute Hvoslef Kvalnes <gaute@verdsveven.com>, 2004, 2005.
# Axel Bojer <fri_programvare@bojer.no>, 2005, 2006.
# Nils Kristian Tomren <slx@nilsk.net>, 2005, 2007.
# Øyvind A. Holm <sunny@sunbase.org>, 2009.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2015-02-24 20:39+0100\n"
"Last-Translator: Bjørn Steensrud <bjornst@skogkatt.homelinux.org>\n"
"Language-Team: Norwegian Bokmål <l10n-no@lister.huftis.org>\n"
"Language: nb\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.5\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Environment: kde\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Knut Yrvin,Axel Bojer,Bjørn Steensrud"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"knut.yrvin@gmail.com,fri_programvare@bojer.no,bjornst@skogkatt.homelinux.org"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Standard"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Oppdag automatisk"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr ""

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Sett opp"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr ""

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr ""

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr ""

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Ingen oppføringer"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Tøm liste"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Tilbake"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Fram"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Hjem"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Vis menylinja <p>Viser menylinja igjen etter at den har vært skjult</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Vis statuslinja<p>Viser statuslinja, som er den linja nederst i vinduet som "
"brukes til å vise statusinformasjon.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "&Ny"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Lag et nytt dokument"

#: kstandardaction_p.h:64
#, fuzzy
#| msgid "&Open..."
msgid "&Open…"
msgstr "&Åpne …"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Åpne et eksisterende dokument"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "Nylig &brukt"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Åpne et nylig åpnet dokument"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Lagre"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Lagre dokumentet"

#: kstandardaction_p.h:67
#, fuzzy
#| msgid "Save &As..."
msgid "Save &As…"
msgstr "Lagre &som …"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Lagre dokumentet med et nytt navn"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "&Tilbakestill"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Tilbakestill ulagrede endringer gjort i dokumentet"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Lukk"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Lukk dokumentet"

#: kstandardaction_p.h:70
#, fuzzy
#| msgid "&Print..."
msgid "&Print…"
msgstr "Sk&riv ut …"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Skriv ut dokumentet"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "Forhånds&visning av utskrift"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Vis forhåndsvisning av dokumentutskriften"

#: kstandardaction_p.h:72
#, fuzzy
#| msgid "&Mail..."
msgid "&Mail…"
msgstr "S&end e-post …"

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Send dokumentet med e-post"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "&Avslutt"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Avslutt program"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Angre"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Angre forrige handling"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "&Gjør om"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Gjør forrige angrede handling på nytt"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "&Klipp ut"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Klipp ut utvalget til utklippstavla"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "Ko&pier"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Kopier utvalget til utklippstavla"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "&Lim inn"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Lim inn innholdet i utklippstavla"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "&Tøm"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "Velg &alt"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "Ve&lg bort"

#: kstandardaction_p.h:83
#, fuzzy
#| msgid "&Find..."
msgid "&Find…"
msgstr "&Finn …"

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "Finn &neste"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Finn forri&ge"

#: kstandardaction_p.h:86
#, fuzzy
#| msgid "&Replace..."
msgid "&Replace…"
msgstr "&Erstatt …"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr ""

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Vis dokumentet i virkelig størrelse"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "&Tilpass sidestørrelsen"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Tilpass sida til vindustørrelsen"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "Tilpass til side&bredden"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Tilpass så sidebredden passer i vinduet"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "Tilpass til side&høyden"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Tilpass så sidehøyden passer i vinduet"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "Vis &større"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "Vis &mindre"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "&Zoom..."
msgid "&Zoom…"
msgstr "&Vis større/mindre …"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Velg forstørringsnivå"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr ""

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "&Opp"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Gå opp"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "&Forrige side"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Gå til forrige side"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "&Neste side"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Gå til neste side"

#: kstandardaction_p.h:104
#, fuzzy
#| msgid "&Go To..."
msgid "&Go To…"
msgstr "&Gå til …"

#: kstandardaction_p.h:105
#, fuzzy
#| msgid "&Go to Page..."
msgid "&Go to Page…"
msgstr "&Gå til side …"

#: kstandardaction_p.h:106
#, fuzzy
#| msgid "&Go to Line..."
msgid "&Go to Line…"
msgstr "&Gå til linje …"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "&Første side"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "Gå til første side"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "&Siste side"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Gå til siste side"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "&Tilbake"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Gå bakover i dokumentet"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "&Forover"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Gå forover i dokumentet"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "&Legg til bokmerke"

#: kstandardaction_p.h:113
#, fuzzy
#| msgid "&Edit Bookmarks..."
msgid "&Edit Bookmarks…"
msgstr "&Rediger bokmerker …"

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "&Spelling..."
msgid "&Spelling…"
msgstr "&Stavekontroll …"

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Kjør stavekontroll i dokumentet"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "Vis &menylinje"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Vis eller skjul menylinja"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "Vis &verktøylinje"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Vis eller skjul verktøylinje"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "Vis &statuslinja"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Vis eller skjul statuslinja"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "F&ullskjermmodus"

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr ""

#: kstandardaction_p.h:122
#, fuzzy, kde-format
#| msgid "&Configure %1..."
msgid "&Configure %1…"
msgstr "&Oppsett av %1 …"

#: kstandardaction_p.h:123
#, fuzzy
#| msgid "Configure Tool&bars..."
msgid "Configure Tool&bars…"
msgstr "Oppsett av verktøy&linjer …"

#: kstandardaction_p.h:124
#, fuzzy
#| msgid "Configure &Notifications..."
msgid "Configure &Notifications…"
msgstr "Oppsett av &varslinger …"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "%1-&håndbok"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "Hva er &dette?"

#: kstandardaction_p.h:130
#, fuzzy
#| msgid "&Report Bug..."
msgid "&Report Bug…"
msgstr "&Rapporter feil …"

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr ""

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "&Om %1"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "Om &KDE"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr ""

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr ""

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr ""

#: kstylemanager.cpp:60
#, fuzzy, kde-format
#| msgid "Quit application"
msgid "Application Style"
msgstr "Avslutt program"

#: kstylemanager.cpp:64
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "Standard"
