# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.user
*.pro.user.*
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
src/translations/*.qm

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

bin
cmake
src/DtkDeclaratives
src/dtkdeclarative_config.h
src/qt_lib_dtkdeclarative.pri
chameleon/imports/org

*/.vscode/*
build

#clangd
.cache

#vscode
.vscode

#idea
.idea

#doxygen-theme
/docs/doxygen/
