CPUSERIAL       002623
CPUMODEL        3090
MAINSIZE        256
CODEPAGE        default
XPNDSIZE        0
#CNSLPORT       3270
#HTTPPORT       8081 noauth userid password
#HTTPROOT       /usr/share/hercules/
NUMCPU          2
LOADPARM        0120....
OSTAILOR        LINUX
PANRATE         SLOW
ARCHMODE        ESA/390
