Source: lingmo-welcome
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper (>= 11),
               qt5-qmake,
               qtbase5-dev,
               qttools5-dev-tools

Package: lingmo-welcome
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lingmo OS Welcome
 Welcome application for Lingmo OS.
 A beautiful and friendly welcome program. 