[Desktop Entry]
Exec=/usr/bin/deepin-pc-manager-session-daemon
Name=deepin-pc-manager-session-daemon
NoDisplay=true
Terminal=false
Type=Application
X-Deepin-Vendor=user-custom
