Source: lingmo-gtk-theme
Section: gnome
Priority: optional
Maintainer: Lingmo Packages Builder <packages@lingmo.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),

Package: lingmo-gtk-theme
Architecture: all
Depends: ${misc:Depends}
Breaks: libgtk-3-0 ( <= 3.5.0 )
Description: Lingmo Gtk Themes
 This package contains GTK+ themes for Lingmo Desktop Environment.
