Source: lingmo-grub-config
Section: lingmo
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Elysia <c.elysia@foxmail.com>, Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.5.0

Package: lingmo-grub-config
Architecture: any
Section: lingmo
Priority: optional
Depends: grub-pc | grub-efi
Description: Package of Lingmo's GRUB2 theme and config.
