Source: lingmo-photo-viewer
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper (>=9),
               libfreeimage-dev,
               libfreeimageplus-dev,
               libgif-dev,
               libglib2.0-dev,
               libgsettings-qt-dev,
               libkf5windowsystem-dev,
               liblingmosdk-applications-dev,
               liblingmosdk-base-dev,
               liblingmosdk-ocr-dev,
               libopencv-core-dev,
               libopencv-imgcodecs-dev,
               libopencv-imgproc-dev,
               libexplor-dev,
               libpng-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libstb-dev,
               pkgconf,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtchooser,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               qtscript5-dev,
               qttools5-dev-tools,
               onnxruntime [amd64 arm64 !loong64 !riscv64],
               librsvg2-dev
Standards-Version: 4.4.0
Homepage: https://github.com/LingmoOS

Package: lingmo-photo-viewer
Architecture: any
Replaces: photo-viewer-aiassistant-plugin (<<1.3.0.3-ok22.15~)
Breaks: photo-viewer-aiassistant-plugin (<<1.3.0.3-ok22.15~)
Depends: apng2gif,
         apngasm,
         liblingmosdk-ocr,
         ${misc:Depends}, ${shlibs:Depends}
Description: Photo viewer, support to view, zoom and rotate images of various formats

Package: photo-viewer-aiassistant-plugin
Architecture: any
Depends: lingmo-photo-viewer,
         onnxruntime [amd64 arm64 !loong64],
         libfreeimage-dev,
         libfreeimageplus-dev,
         libopencv-dnn-dev,
         libopencv-calib3d-dev,
         libopencv-objdetect-dev,
         libopencv-photo-dev,
         libopencv-stitching-dev,
         libopencv-video-dev,
         libstb-dev,
         libgif-dev,
         librsvg2-dev,
         ${misc:Depends}, ${shlibs:Depends}
Description: The lingmo photo viewerp plugin of aiassistant, You can use it to
 matting for image background changes, and black and white filter enhancements
 for document scanning.
