Source: lingmo-windows-extra
Section: lingmo
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: cmake (>= 3.16~),
               debhelper-compat (= 13),
               extra-cmake-modules (>= 5.102.0~),
               gettext,
               kirigami2-dev (>= 5.102.0~),
               libkdecorations2-dev (>= 4:5.26.70~),
               libkf5config-dev (>= 5.102.0~),
               libkf5configwidgets-dev (>= 5.102.0~),
               libkf5coreaddons-dev (>= 5.102.0~),
               libkf5guiaddons-dev (>= 5.102.0~),
               libkf5i18n-dev (>= 5.102.0~),
               libkf5iconthemes-dev (>= 5.102.0~),
               libkf5kcmutils-dev (>= 5.102.0~),
               libkf5style-dev (>= 5.102.0~),
               libkf5windowsystem-dev (>= 5.102.0~),
               libqt5x11extras5-dev (>= 5.15.2~),
               libx11-dev,
               pkg-config,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev (>= 5.15.2~),
               qtdeclarative5-dev (>= 5.15.2~)
Standards-Version: 4.5.1
Homepage: https://github.com/LingmoOS/lingmo-windows-extra

Package: lingmo-windows-extra
Architecture: any
Depends: lingmo-framework (>= 5.102.0~), ${misc:Depends}, ${shlibs:Depends}
Replaces: breeze
Description: Lingmo OS Windows Plugins.
