[Unit]
Description=OCEAN BlackScreen

[Service]
Type=dbus
BusName=org.lingmo.ocean.BlackScreen1
ExecStart=/usr/lib/lingmo-daemon/ocean-blackwidget
Slice=session.slice
