[Desktop Entry]
Name=lingmo-panel
comment=Panel
Comment[zh_CN]=任务栏
Exec=lingmo-panel
Terminal=false
Type=Application
Icon=panel
X-LINGMO-AutoRestart=true
OnlyShowIn=LINGMO;
NoDisplay=true
X-LINGMO-Autostart-Phase=Panel