[Desktop Entry]
Name=Clock
Name[zh_CN]=灵墨时钟
Comment=Clock application for Lingmo OS
Comment[zh_CN]=Lingmo OS 时钟应用
Exec=lingmo-clock
Icon=clock
Terminal=false
Type=Application
Categories=Qt;Utility;
StartupNotify=true 