[Desktop Entry]
Categories=Qt;Archiving;Compression;
Comment=Work with file archives
Exec=lingmo-compressor  %F
GenericName=Archive Manager
Icon=lingmo-compressor
Keywords=compress;extract;lingmo;
MimeType=application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-tarz;application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-lzip-compressed-tar;application/x-tzo;application/x-lrzip-compressed-tar;application/x-lz4-compressed-tar;application/x-zstd-compressed-tar;application/x-cd-image;application/x-bcpio;application/x-cpio;application/x-cpio-compressed;application/x-sv4cpio;application/x-sv4crc;application/x-rpm;application/x-source-rpm;application/vnd.ms-cab-compressed;application/x-xar;application/x-iso9660-appimage;application/x-archive;application/vnd.rar;application/x-rar;application/x-7z-compressed;application/zip;application/x-java-archive;application/x-compress;application/gzip;application/x-bzip;application/x-lzma;application/x-xz;application/vnd.android.package-archive;
Name=Lingmo Archive Manager
StartupNotify=true
Terminal=false
TryExec=/usr/bin/lingmo-compressor
Type=Application
X-Lingmo-Vendor=lingmo

# Translations:
# Do not manually modify!
Comment[ar]=العمل مع أرشفة المفات
Comment[ast]=Trabaya con archivos
Comment[az]=Fayl arxivləri ilə işləmək
Comment[bo]=གནོན་བཙིར་ཡིག་ཆ་དོ་དམ་བྱེད་པ།
Comment[ca]=Treballeu amb arxius de fitxers.
Comment[cs]=Práce s archivy souborů
Comment[da]=Arbejd med filarkiver
Comment[de]=Arbeiten mit Dateiarchiven
Comment[en_AU]=Work with file archives
Comment[en_GB]=Work with file archives
Comment[es]=Administrador de archivos comprimidos
Comment[fi]=Pura ja pakkaa tiedostoja
Comment[fr]=Travailler avec des archives de fichiers
Comment[gl_ES]=Traballar con ficheiros arquivados
Comment[hr]=Radi s arhivama datoteka
Comment[hu]=Munka a tömörített fájlokkal
Comment[id]=Bekerja dengan file arsip
Comment[it]=Lavora con gli archivi
Comment[ja]=ファイルアーカイブを操作します
Comment[ka]=ფაილ არქივებთან სამუშაოდ
Comment[km_KH]=ធ្វើការជាមួយប័ណ្ណសារឯកសារ
Comment[ko]=파일 압축 작업
Comment[lt]=Dirbti su failų archyvais
Comment[ms]=Mengendali arkib-arkib fail
Comment[ne]=फाईल अभिलेखको साथ काम गर्नुहोस्
Comment[nl]=Werk met bestandsarchieven
Comment[pl]=Pracuj z archiwami plików
Comment[pt]=Funciona com ficheiros de arquivo
Comment[pt_BR]=Trabalhar com arquivos
Comment[ro]=Lucrul cu fișiere de arhive
Comment[ru]=Работа с файловыми архивами 
Comment[sl]=Deluje z arhivskimi datotekami
Comment[sq]=Punoni me arkiva kartelash
Comment[sr]=Рад са архивама датотека
Comment[tr]=Dosya arşivleriyle çalış
Comment[ug]=ھۆججەت ئارخىپى  ئىشلەڭ
Comment[uk]=Робота із файловими архівами
Comment[zh_CN]=管理压缩文件
Comment[zh_HK]=管理壓縮文件
Comment[zh_TW]=管理壓縮文件
GenericName[ar]=مدير اﻷرشيفات
GenericName[ast]=Xestor d'archivos
GenericName[az]=Arxiv meneceri
GenericName[bo]=ཡིག་ཚགས་དོ་དམ་ཆས།
GenericName[ca]=Gestor d'arxius
GenericName[cs]=Správce archivů
GenericName[da]=Arkivhåndtering
GenericName[de]=Archivverwaltung
GenericName[en]=Archive Manager
GenericName[en_AU]=Archive Manager
GenericName[en_GB]=Archive Manager
GenericName[es]=Compresor de archivos
GenericName[fi]=Pakkaaja
GenericName[fr]=Gestionnaire d'archives
GenericName[gl_ES]=Xestor de arquivos
GenericName[hr]=Upravitelj arhivama
GenericName[hu]=Archívumkezelő
GenericName[id]=Manajer Arsip
GenericName[it]=Gestore Archivi
GenericName[ja]=アーカイブ マネージャー
GenericName[ka]=არქივის მენეჯერი
GenericName[km_KH]=អ្នកគ្រប់គ្រងបណ្ណសារ
GenericName[ko]=압축파일 관리자
GenericName[lt]=Archyvų tvarkytuvė
GenericName[ms]=Pengurus Arkib
GenericName[ne]=अभिलेख प्रबन्धक
GenericName[nl]=Archiefbeheer
GenericName[pl]=Zarządzanie archiwami
GenericName[pt]=Gestor de Arquivos
GenericName[pt_BR]=Gerenciador de Compressão
GenericName[ro]=Managerul de Arhive
GenericName[ru]=Менеджер Архивов
GenericName[sl]=Upravitelj arhivov
GenericName[sq]=Përgjegjës Arkivash
GenericName[sr]=Архиватор
GenericName[tr]=Arşiv Yöneticisi
GenericName[ug]=ئارخىپ باشقۇرغۇچى
GenericName[uk]=Керування архівами
GenericName[zh_CN]=归档管理器
GenericName[zh_HK]=歸檔管理器
GenericName[zh_TW]=歸檔管理器
Keywords[ast]=comprimir;compresión;estrayer;estraición;archivar;archivu;archivos;lingmo;
Keywords[az]=compress;extract;lingmo;sıxışdırmaq;çıxartmaq
Keywords[bo]=compress;extract;lingmo;
Keywords[ca]=compressió;extracció;lingmo;
Keywords[cs]=zkomprimovat;rozbalit;lingmo;
Keywords[es]=comprimir;extraer;lingmo;
Keywords[fi]=compress;extract;lingmo;pakkaa;purkaminen;
Keywords[fr]=compresser;extraire;lingmo;
Keywords[hu]=tömörítés; kicsomagolás; lingmo;
Keywords[id]=compress;extract;lingmo;
Keywords[it]=comprimi;estrai;archivi;lingmo;
Keywords[ka]=შეკუმშვა;ამოარქივება;დიპინი;
Keywords[ms]=mampat;ekstrak;lingmo;
Keywords[nl]=inpakken;compressie;uitpakken;lingmo;archief;
Keywords[pl]=compress;extract;lingmo;skompresuj;wypakuj;lingmo;
Keywords[pt]=comprimir;extrair;lingmo;
Keywords[pt_BR]=comprimir;extrair;lingmo;
Keywords[ro]=comprimare;extragere;lingmo;
Keywords[ru]=сжат;распаков;lingmo;
Keywords[sl]=stisni;stiskanje;razširi;razširjanje;lingmo;
Keywords[sq]=ngjesh;përfto;lingmo;
Keywords[sr]=запакуј;распакуј;дипин;
Keywords[tr]=compress;extract;lingmo;sıkıştır;ayıkla;
Keywords[ug]=compress;extract;lingmo;
Keywords[uk]=compress;extract;lingmo;стиснути;стискання;видобути;видобування;діпін;
Keywords[zh_CN]=compress;extract;lingmo;
Keywords[zh_HK]=compress;extract;lingmo;
Keywords[zh_TW]=compress;extract;lingmo;
Name[ar]=مدير اﻷرشيفات من ديبين
Name[ast]=Lingmo Archive Manager
Name[az]=Lingmo arxiv meneceri
Name[bo]=གཏིང་ཟབ་ཡིག་ཚགས་དོ་དམ་ཆས།
Name[ca]=Gestor d'arxius del Lingmo
Name[cs]=Správce archivů
Name[da]=Lingmo arkivhåndtering
Name[de]=Lingmo Archivverwaltung
Name[en]=Lingmo Archive Manager
Name[en_AU]=Lingmo Archive Manager
Name[en_GB]=Lingmo Archive Manager
Name[es]=Compresor de archivos
Name[fi]=Lingmo pakkaaja
Name[fr]=Gestionnaire d'archives Lingmo
Name[gl_ES]=Xestor de arquivos Lingmo
Name[hr]=Lingmo Upravitelj arhivama
Name[hu]=Lingmo® Archívumkezelő
Name[id]=Manajer Arsip Lingmo
Name[it]=Gestore Archivi di Lingmo
Name[ja]=Lingmo アーカイブ マネージャー
Name[ka]=Lingmo არქივის მენეჯერი
Name[km_KH]=Lingmo Archive Manager
Name[ko]=Lingmo 압축파일 관리자
Name[lt]=Lingmo archyvų tvarkytuvė
Name[ms]=Pengurus Arkib Lingmo
Name[ne]=दीपिन पुरालेख प्रबन्धक
Name[nl]=Lingmo Archiefbeheer
Name[pl]=Zarządzanie archiwami Lingmo
Name[pt]=Gestor de Arquivos Lingmo
Name[pt_BR]=lingmo Gerenciador de Compressão
Name[ro]=Managerul de Arhive Lingmo
Name[ru]=Менеджер Архивов Lingmo
Name[sl]=Lingmo upravitelj arhivov
Name[sq]=Përgjegjës Lingmo Arkivash
Name[sr]=Дипин Архиватор
Name[tr]=Lingmo Arşiv Yöneticisi
Name[ug]=Lingmo ئارخىپ باشقۇرغۇچى
Name[uk]=Керування архівами Lingmo
Name[zh_CN]=深度归档管理器
Name[zh_HK]=Lingmo 歸檔管理器
Name[zh_TW]=Lingmo 歸檔管理器

