Source: liblingmosdk-system
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (= 12),
            cmake,
            libc6-dev,
            libsystemd-dev,
            libcjson-dev,
            libdbus-1-dev,
            libdbus-glib-1-dev,
            libglib2.0-dev,
            liblingmosdk-log-dev(>=1.2.0),
            liblingmosdk-config-dev(>=1.2.0),
            liblingmosdk-utils-dev(>=1.2.0),
            liblingmosdk-timer-dev(>=1.2.0),
            libqt5core5a,
            qtbase5-dev,
	        libudev-dev,
            libopencv-dev,
            libarchive-dev,
            libtesseract-dev,
            libcups2-dev,
            libcurl4-openssl-dev,
            libxrandr-dev,
            libqt5dbus5,
            libqt5webchannel5-dev,
            libqt5websockets5-dev,
            libkmod-dev,
            libhd-dev,
            libpci-dev,
            libbluetooth-dev,
            libsensors4-dev,
            libleptonica-dev,
            libusb-1.0-0-dev,
            libnl-3-dev,
            libnl-genl-3-dev,
            libnl-route-3-dev,
            libpolkit-gobject-1-dev,
            liblingmosdk-gsetting-dev,
            libgtk-3-dev,
            libmagic-dev,
            libnm-dev
Standards-Version: 4.4.1
Homepage: http://github.com/LingmoOS/lingmosdk-system

Package: liblingmosdk-system
Architecture: any
Section: utils
Depends: liblingmosdk-disk (>= ${binary:Version}),
         liblingmosdk-sysinfo (>= ${binary:Version}),
         liblingmosdk-systime (>= ${binary:Version}),
         liblingmosdk-filesystem (>= ${binary:Version}),
         liblingmosdk-proc (>= ${binary:Version}),
         liblingmosdk-hardware (>= ${binary:Version}),
         liblingmosdk-package (>= ${binary:Version}),
         liblingmosdk-powermanagement (>= ${binary:Version}),
         systemd,
         libglib2.0-0,
         liblingmosdk-location (>= ${binary:Version}),
         liblingmosdk-net (>= ${binary:Version}),
         liblingmosdk-realtime (>= ${binary:Version}),
         liblingmosdk-imageproc (>= ${binary:Version}),
         liblingmosdk-accounts (>= ${binary:Version}),
         liblingmosdk-battery (>= ${binary:Version}),
         liblingmosdk-system-dbus (>= ${binary:Version}),
         liblingmosdk-storage (>= ${binary:Version})
Multi-Arch: same
Description: 灵墨开发者套件 - 系统层套件，提供系统信息、磁盘信息、系统时间等API与服务

Package: liblingmosdk-system-dev
Architecture: all
Section: utils
Depends: liblingmosdk-system (>= ${binary:Version}),
         liblingmosdk-disk-dev (>= ${binary:Version}),
         liblingmosdk-sysinfo-dev (>= ${binary:Version}),
         liblingmosdk-systime-dev (>= ${binary:Version}),
         liblingmosdk-sysinfo-dev (>= ${binary:Version}),
         liblingmosdk-filesystem-dev (>= ${binary:Version}),
         liblingmosdk-proc-dev (>= ${binary:Version}),
         liblingmosdk-hardware-dev (>= ${binary:Version}),
         liblingmosdk-package-dev (>= ${binary:Version}),
         liblingmosdk-powermanagement-dev (>= ${binary:Version}),
         liblingmosdk-location-dev (>= ${binary:Version}),
         liblingmosdk-net-dev (>= ${binary:Version}),
         liblingmosdk-realtime-dev (>= ${binary:Version}),
         liblingmosdk-imageproc-dev (>= ${binary:Version}),
         liblingmosdk-accounts-dev (>= ${binary:Version}),
         liblingmosdk-battery-dev (>= ${binary:Version}),
         liblingmosdk-storage-dev (>= ${binary:Version})
Multi-Arch: foreign
Description: 灵墨开发者套件 - 系统层套件 - 开发库，提供系统信息、磁盘信息、系统时间等API与服务

Package: liblingmosdk-disk
Architecture: any
Section: utils
Depends: liblingmosdk-log(>=1.2.0),
         libhd21,
         libblkid1,
         libc6,
         liblingmosdk-config(>=1.2.0),
         libsystemd0,
         libudev1,
         libdbus-1-3
Multi-Arch: same
Description: 系统磁盘信息获取库

Package: liblingmosdk-disk-dev
Architecture: all
Section: utils
Depends: liblingmosdk-disk (>= ${binary:Version}),
         liblingmosdk-log-dev(>=1.2.0),
         liblingmosdk-utils-dev(>=1.2.0),
         libblkid-dev,
	     libudev-dev
Multi-Arch: foreign
Description: 系统磁盘信息获取库 - 开发库

Package: liblingmosdk-systime
Architecture: any
Section: utils
Depends: liblingmosdk-log(>=1.2.0),
         dbus,
         systemd,
         libglib2.0-0,
         liblingmosdk-timer(>=1.2.0),
         liblingmosdk-config(>=1.2.0),
         libc6,
         libdbus-1-3,
         libdbus-glib-1-2
Multi-Arch: same
Description: 系统时间相关操作库

Package: liblingmosdk-systime-dev
Architecture: all
Section: utils
Depends: liblingmosdk-systime (>= ${binary:Version}),
         libglib2.0-dev,
         liblingmosdk-timer-dev(>=1.2.0),
         liblingmosdk-config-dev(>=1.2.0)
Multi-Arch: foreign
Description: 系统时间相关操作库 - 开发库

Package: liblingmosdk-sysinfo
Architecture: any
Section: utils
Depends: liblingmosdk-log(>=1.2.0),
         dbus,
         libglib2.0-0,
         systemd,
         libcjson1,
         libxrandr2,
         libpci3,
         libkmod2,
         libc6,
         libdbus-1-3,
         libdbus-glib-1-2,
         libgcc-s1 | libgcc1,
         liblingmosdk-config(>=1.2.0),
         libstdc++6,
         libsystemd0,
         libx11-6
Multi-Arch: same
Description: 系统信息获取库

Package: liblingmosdk-sysinfo-dev
Architecture: all
Section: utils
Depends: liblingmosdk-sysinfo (>= ${binary:Version}),
         liblingmosdk-log-dev(>=1.2.0),
         liblingmosdk-utils-dev(>=1.2.0),
         libsystemd-dev,
         libcjson-dev,
         libdbus-1-dev,
         libdbus-glib-1-dev,
         libglib2.0-dev,
         libxrandr-dev
Multi-Arch: foreign
Description: 系统信息获取库 - 开发库

Package: liblingmosdk-filesystem
Architecture: any
Section: utils
Depends: liblingmosdk-log(>=1.2.0),
         libqt5core5a,
         liblingmosdk-config(>=1.2.0),
         systemd,
         libc6,
         libgcc-s1 | libgcc1,
         libstdc++6,
         libsystemd0
Multi-Arch: same
Description: 文件系统库

Package: liblingmosdk-filesystem-dev
Architecture: all
Section: utils
Depends: liblingmosdk-filesystem (>= ${binary:Version}),
         liblingmosdk-log-dev(>=1.2.0),
         liblingmosdk-config-dev(>=1.2.0),
         libsystemd-dev,
         qtbase5-dev
Multi-Arch: foreign
Description: 文件系统库 - 开发库

Package: liblingmosdk-hardware
Architecture: any
Section: utils
Depends: liblingmosdk-log(>=1.2.0),
         liblingmosdk-config(>=1.2.0),
         systemd,
         libcups2,
         libcurl4,
         libudev1,
         libhd21,
         libpci3,
         libxrandr2,
         libbluetooth3,
         libsensors5,
         libglib2.0-0,
         libdbus-glib-1-2,
         libc6,
         libsystemd0,
         libx11-6,
         libdbus-1-3,
         libnl-3-200,
         libnl-genl-3-200,
         libnl-route-3-200,
         libusb-1.0-0,
         ddcutil,
         libnm0
Multi-Arch: same
Description: 硬件信息获取库

Package: liblingmosdk-hardware-dev
Architecture: all
Section: utils
Depends: liblingmosdk-hardware (>= ${binary:Version}),
         liblingmosdk-log-dev(>=1.2.0),
         liblingmosdk-config-dev(>=1.2.0),
         libsystemd-dev,
         libcups2-dev,
         libcurl4-openssl-dev,
         libudev-dev,
         libxrandr-dev,
         liblingmosdk-utils-dev(>=1.2.0)
Multi-Arch: foreign
Description: 硬件信息获取库 - 开发库

Package: liblingmosdk-package
Architecture: any
Section: utils
Depends: libc6
Multi-Arch: same
Description: 包管理库

Package: liblingmosdk-package-dev
Architecture: all
Section: utils
Depends: liblingmosdk-package (>= ${binary:Version})
Multi-Arch: foreign
Description: 包管理库 - 开发库

Package: liblingmosdk-proc
Architecture: any
Section: utils
Depends: liblingmosdk-log(>=1.2.0),
         libc6
Multi-Arch: same
Description: 运行时信息获取库

Package: liblingmosdk-proc-dev
Architecture: all
Section: utils
Depends: liblingmosdk-log-dev(>=1.2.0),
         liblingmosdk-utils-dev(>=1.2.0),
         liblingmosdk-proc (>= ${binary:Version})
Multi-Arch: foreign
Description: 运行时信息获取库 - 开发库

Package: liblingmosdk-powermanagement
Architecture: any
Section: utils
Depends: liblingmosdk-log(>=1.2.0),
         libc6,
         libdbus-1-3,
         libgcc-s1 | libgcc1,
         liblingmosdk-config(>=1.2.0),
         liblingmosdk-utils(>=1.2.0),
         libstdc++6,
         libsystemd0,
         liblingmosdk-gsetting,
         dbus,
         libglib2.0-0,
         libdbus-glib-1-2,
         libgtk-3-0
Multi-Arch: same
Description: 电源管理库

Package: liblingmosdk-powermanagement-dev
Architecture: all
Section: utils
Depends: liblingmosdk-log-dev(>=1.2.0),
         liblingmosdk-powermanagement (>= ${binary:Version})
Multi-Arch: foreign
Description: 电源管理 - 开发库

Package: liblingmosdk-ocr
Architecture: any
Multi-Arch: same
Depends: libopencv-core406,
         libopencv-highgui406,
         libopencv-imgproc406,
         libopencv-imgcodecs406,
         liblept5,
         libarchive13,
         libtesseract5,
         libc6,
         libgcc-s1 | libgcc1,
         libstdc++6
Description: AI文字识别功能

Package: liblingmosdk-ocr-dev
Architecture: all
Multi-Arch: foreign
Depends: liblingmosdk-ocr (>= ${binary:Version}),
         libleptonica-dev,
         libopencv-dev,
         libarchive-dev,
         libtesseract-dev
Description: AI文字识别功能-开发库

Package: liblingmosdk-systemcommon
Architecture: any
Section: utils
Depends: 
Multi-Arch: same
Description: lingmosdk-system层公用数据包

Package: liblingmosdk-location
Architecture: any
Section: utils
Depends: libglib2.0-0,
         libc6
Multi-Arch: same
Description: 地理位置库

Package: liblingmosdk-location-dev
Architecture: all
Section: utils
Depends: liblingmosdk-location (>= ${binary:Version})
Multi-Arch: foreign
Description: 地理位置库 - 开发库

Package: liblingmosdk-net
Architecture: any
Section: utils
Depends: libc6,
         libdbus-1-3
Multi-Arch: same
Description: 网络信息库

Package: liblingmosdk-net-dev
Architecture: all
Section: utils
Depends: liblingmosdk-net (>= ${binary:Version})
Multi-Arch: foreign
Description: 网络信息库 - 开发库

Package: liblingmosdk-realtime
Architecture: any
Section: utils
Depends: libc6,
         libgcc-s1 | libgcc1,
         libstdc++6,
         lm-sensors,
         libdbus-1-3
Multi-Arch: same
Description: 运行时信息库

Package: liblingmosdk-realtime-dev
Architecture: all
Section: utils
Depends: liblingmosdk-realtime (>= ${binary:Version})
Multi-Arch: foreign
Description: 运行时信息库 - 开发库

Package: liblingmosdk-system-java
Architecture: any
Section: utils
Depends: liblingmosdk-system-dbus (>= ${binary:Version})
Multi-Arch: same
Description: 多语言支持 - java

Package: liblingmosdk-system-python
Architecture: any
Depends: python3-dbus,
         liblingmosdk-system-dbus (>= ${binary:Version})
Multi-Arch: same
Description: 多语言支持 - python

Package: liblingmosdk-system-dbus
Architecture: any
Section: utils
Depends: libqt5dbus5,
         liblingmosdk-disk (>= ${binary:Version}),
         liblingmosdk-hardware (>= ${binary:Version}),
         liblingmosdk-location (>= ${binary:Version}),
         liblingmosdk-net (>= ${binary:Version}),
         liblingmosdk-package (>= ${binary:Version}),
         liblingmosdk-proc (>= ${binary:Version}),
         liblingmosdk-realtime (>= ${binary:Version}),
         liblingmosdk-sysinfo (>= ${binary:Version}),
         liblingmosdk-accounts (>= ${binary:Version}),
         libblkid1,
         libbluetooth3,
         libc6,
         libcjson1,
         libcups2,
         libcurl4,
         libdbus-1-3,
         libdbus-glib-1-2,
         libgcc-s1 | libgcc1,
         libglib2.0-0,
         libhd21,
         libkmod2,
         liblingmosdk-config(>=1.2.0),
         liblingmosdk-log(>=1.2.0),
         libpci3,
         libqt5core5a,
         libsensors5,
         libstdc++6,
         libsystemd0,
         libudev1,
         libx11-6,
         libxrandr2
Multi-Arch: same
Description: sdk dbus

Package: liblingmosdk-system-javascript-http
Architecture: any
Depends: libqt5widgets5,
         libqt5gui5 | libqt5gui5-gles,
         libqt5dbus5,
         libqt5core5a,
         liblingmosdk-system-dbus (>= ${binary:Version}),
         libc6,
         libgcc-s1 | libgcc1,
         libqt5concurrent5,
         libqt5network5,
         libstdc++6
Multi-Arch: same
Description:多语言支持 - javascript

Package: liblingmosdk-system-javascript-websocket
Architecture: any
Depends: libqt5webchannel5,
         libqt5websockets5,
         liblingmosdk-system-dbus (>= ${binary:Version}),
         libc6,
         libgcc-s1 | libgcc1,
         libqt5concurrent5,
         libqt5core5a,
         libqt5dbus5,
         libqt5gui5 | libqt5gui5-gles,
         libqt5network5,
         libqt5qml5,
         libqt5widgets5,
         libstdc++6
Multi-Arch: same
Description: 多语言支持 - javascript

Package: liblingmosdk-logrotate
Architecture: any
Section: utils
Depends: libqt5core5a,
         libqt5dbus5,
         liblingmosdk-log(>=1.2.0),
         logrotate,
         libc6,
         libgcc-s1 | libgcc1,
         libstdc++6,
         cron
Multi-Arch: same
Description: 日志转储服务

Package: liblingmosdk-imageproc
Architecture: any
Section: utils
Depends: libc6,
         liblingmosdk-log(>=1.2.0),
         liblingmosdk-config(>=1.2.0),
         liblingmosdk-utils(>=1.2.0),
         libsystemd0
Description: 运行时信息库

Package: liblingmosdk-imageproc-dev
Architecture: all
Section: utils
Depends: liblingmosdk-imageproc (>= ${binary:Version})
Description: 运行时信息库 - 开发库

Package: liblingmosdk-battery
Architecture: any
Section: utils
Depends: libc6,
         liblingmosdk-log (>=1.2.0),
         libdbus-glib-1-2
Description: 电池管理信息库

Package: liblingmosdk-battery-dev
Architecture: all
Section: utils
Depends: liblingmosdk-battery (>= ${binary:Version})
Description: 电池管理信息库 - 开发库

Package: liblingmosdk-accounts
Architecture: any
Depends: libdbus-1-3, 
         liblingmosdk-log(>=1.2.0), 
         libc6,
         libdbus-glib-1-2,
         libglib2.0-0,
         libpolkit-gobject-1-0
Description: 系统设置

Package: liblingmosdk-accounts-dev
Architecture: all
Section: utils
Depends: liblingmosdk-accounts (>= ${binary:Version})
Multi-Arch: foreign
Description: 系统设置库 - 开发库

Package: liblingmosdk-storage
Architecture: any
Depends: liblingmosdk-log(>=1.2.0), 
         libc6,
         libmagic1
Description: 存储模块

Package: liblingmosdk-storage-dev
Architecture: all
Section: utils
Depends: liblingmosdk-storage (>= ${binary:Version})
Multi-Arch: foreign
Description: 存储模块库 - 开发库

Package: liblingmosdk-global
Architecture: any
Depends: ${misc:Depends},
		 ${shlibs:Depends},
         libc6,
         libcjson1,
         liblingmosdk-location
Description: 国际化模块

Package: liblingmosdk-global-dev
Architecture: all
Section: utils
Depends: liblingmosdk-global (>= ${binary:Version})
Multi-Arch: foreign
Description: 国际化模块 - 开发库
