# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build*/
*.core
*.autosave
*.user*
# qm file is auto generate from .ts file
*.qm
.vscode/

# vim tmp file
*.swp
.lingmo-deb-installer.desktop.swj
.lingmo-deb-installer.desktop.swm
debian/.debhelper/
debian/lingmo-deb-installer.debhelper.log
debian/lingmo-deb-installer.substvars
debian/lingmo-deb-installer/
debian/files
obj-x86_64-linux-gnu/
resources/images/icon22.svg
