Source: liblingmosdk-desktop
Priority: optional
Maintainer: Lingmo Team <team+lingmo@tracker.debian.org>
Uploaders: wangzhenyu <wangzhenyu@kylinos.cn>
Build-Depends: debhelper,
				qtmultimedia5-dev,
				libgsettings-qt-dev,
               	pkgconf,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
				qttools5-dev-tools
Standards-Version: 4.4.1
Section: libs
Homepage: https://gitlab2.lingmo.com/lingmoos-src/liblingmosdk-desktop
Vcs-Git: https://gitlab2.lingmo.com/lingmoos-src/liblingmosdk-desktop.git
Vcs-Browser: https://gitlab2.lingmo.com/lingmoos-src/liblingmosdk-desktop

Package: liblingmosdk-desktop-doc
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
			${shlibs:Depends}
Description: man manual function
 You can use the man manual to query
 liblingmosdk- Application layer component information to help users.
 Enable users to quickly understand the corresponding api

Package: liblingmosdk-desktop
Architecture: any
Section: libdevel
Depends: liblingmosdk-soundeffects(= ${binary:Version}),
            liblingmosdk-notification(= ${binary:Version}),
 			${misc:Depends},
			${shlibs:Depends}
Description: lingmo SDK based on desktop level
 A set of interfaces and tools are provided to assist the software
 development of the desktop layer. It includes sound effects module,notification module ​etc.
 It is a empty package

Package: liblingmosdk-desktop-dev
Architecture: any
Section: libdevel
Depends: liblingmosdk-soundeffects-dev (= ${binary:Version}),
         liblingmosdk-notification-dev(= ${binary:Version}),
		 liblingmosdk-desktop-doc,
		 ${misc:Depends},
         ${shlibs:Depends}
Description: development for liblingmosdk-desktop
 A set of interfaces and tools are provided to assist the software
 development of the desktop layer. It includes sound effects module,notification module ​etc.
 Contains development files for liblingmosdk-desktop.
 It is a empty package.

Package: liblingmosdk-soundeffects
Architecture: any
Depends: libgsettings-qt1,
			libqt5multimedia5,
Description: liblingmosdk-soundeffects is a module in liblingmosdk-desktop that, Under the lingmo theme, different scenes will output different theme sound effects

Package: liblingmosdk-soundeffects-dev
Section: libdevel
Architecture: any
Depends: liblingmosdk-soundeffects(= ${binary:Version}),
         ${shlibs:Depends},
		     ${misc:Depends}
Description: development files for liblingmosdk-desktop
 liblingmosdk-soundeffects is a module in liblingmosdk-desktop that, Under the lingmo theme, different scenes will output different theme sound effects
 Contains development files for liblingmosdk-desktop.
 It is a empty package.

Package: liblingmosdk-notification
Architecture: any
Depends: libc6,
         libqt5core5a,
         libqt5dbus5,
         libstdc++6,
Description: Lingmo system notification interface
 This package provides interfaces for invoking notification
 pop-ups for the system notification module, assisting the
 notification component in correctly displaying system messages.

Package: liblingmosdk-notification-dev
Section: libdevel
Architecture: any
Depends: liblingmosdk-notification(= ${binary:Version}),
         ${shlibs:Depends},
		     ${misc:Depends}
Description: development files for liblingmosdk-notification modal
 This package provides interfaces for invoking notification
 pop-ups for the system notification module, assisting the
 notification component in correctly displaying system messages.
 Contains development files for liblingmosdk-notification.

