msgid ""
msgstr ""
"Project-Id-Version: kdeorg\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2024-04-22 15:58\n"
"Last-Translator: \n"
"Language-Team: Chinese Simplified\n"
"Language: zh_CN\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Crowdin-Project: kdeorg\n"
"X-Crowdin-Project-ID: 269464\n"
"X-Crowdin-Language: zh-CN\n"
"X-Crowdin-File: /kf6-trunk/messages/kconfigwidgets/kconfigwidgets6.pot\n"
"X-Crowdin-File-ID: 43033\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "KDE China, Feng Chao, Guo Yunhe, Tyson Tan"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "kde-china@kde.org, chaofeng111@gmail.com, i@guoyunhe.me, tds00@qq.com"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "默认"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "自动检测"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr "配色方案"

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr "没有可以显示的命令"

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr "没有匹配该过滤条件的命令"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "配置"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "菜单(&M)"

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "显示菜单栏(包含全部操作)(&M)"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "更多"

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "更多操作"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "无项目"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "清除列表"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "后退(&B)"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "前进(&F)"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "主页(&H)"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "显示菜单栏<p>在菜单栏隐藏时重新显示它</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr "显示状态栏<p>显示状态栏，即位于窗口底部用于显示状态信息的长条。</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "新建(&N)"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "创建新文档"

#: kstandardaction_p.h:64
msgid "&Open…"
msgstr "打开(&O)…"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "打开已有文档"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "打开最近文件(&R)"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "打开最近打开过的文档"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "保存(&S)"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "保存文档"

#: kstandardaction_p.h:67
msgid "Save &As…"
msgstr "另存为(&A)…"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "用新文件名保存文档"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "还原(&V)"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "还原文档中未保存的更改"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "关闭(&C)"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "关闭文档"

#: kstandardaction_p.h:70
msgid "&Print…"
msgstr "打印(&P)…"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "打印文档"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "打印预览(&W)"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "显示文档的打印预览"

#: kstandardaction_p.h:72
msgid "&Mail…"
msgstr "电子邮件(&M)…"

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "通过电子邮件发送文档"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "退出(&Q)"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "退出应用程序"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "撤销(&U)"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "撤销上一步操作"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "重做(&D)"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "重做上一次撤销的操作"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "剪切(&T)"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "剪切选中内容到剪贴板"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "复制(&C)"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "复制选中内容到剪贴板"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "粘贴(&P)"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "粘贴剪贴板内容"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "清除(&L)"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "选择全部(&A)"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "取消选择(&L)"

#: kstandardaction_p.h:83
msgid "&Find…"
msgstr "查找(&F)…"

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "查找下一个(&N)"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "查找上一个(&V)"

#: kstandardaction_p.h:86
msgid "&Replace…"
msgstr "替换(&R)…"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr "缩放为实际大小(&A)"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "显示为文档的实际大小"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "适合整个页面(&F)"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "缩放以在窗口中显示整个页面"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "适合页面宽度(&W)"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "缩放以在窗口中适合页面宽度"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "适合页面高度(&H)"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "缩放以在窗口中适合页面高度"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "放大(&I)"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "缩小(&O)"

#: kstandardaction_p.h:94
msgid "&Zoom…"
msgstr "缩放(&Z)…"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "选择缩放级别"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr "刷新(&R)"

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr "刷新文档"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "向上(&U)"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "跳转到上一级"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "上一页(&P)"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "跳转到上一页"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "下一页(&N)"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "跳转到下一页"

#: kstandardaction_p.h:104
msgid "&Go To…"
msgstr "跳转到(&G)…"

#: kstandardaction_p.h:105
msgid "&Go to Page…"
msgstr "跳转到页面(&G)…"

#: kstandardaction_p.h:106
msgid "&Go to Line…"
msgstr "跳转到行(&G)…"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "第一页(&F)"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "跳转到第一页"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "最后一页(&L)"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "跳转到最后一页"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "后退(&B)"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "在文档中后退"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "前进(&F)"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "在文档中前进"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "添加书签(&A)"

#: kstandardaction_p.h:113
msgid "&Edit Bookmarks…"
msgstr "编辑书签(&E)…"

#: kstandardaction_p.h:115
msgid "&Spelling…"
msgstr "拼写检查(&S)…"

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "检查文档中的拼写错误"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "显示菜单栏(&M)"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "显示或者隐藏菜单栏"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "显示工具栏(&T)"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "显示或者隐藏工具栏"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "显示状态栏(&A)"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "显示或者隐藏状态栏"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "全屏模式(&U)"

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr "配置键盘快捷键(&H)…"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Configure %1…"
msgstr "配置 %1(&C)…"

#: kstandardaction_p.h:123
msgid "Configure Tool&bars…"
msgstr "配置工具栏(&B)..."

#: kstandardaction_p.h:124
msgid "Configure &Notifications…"
msgstr "配置通知(&N)…"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 使用手册(&H)"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "这是什么(&T)？"

#: kstandardaction_p.h:130
msgid "&Report Bug…"
msgstr "报告程序缺陷(&R)…"

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr "配置语言(&L)…"

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "关于 %1(&A)"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "关于 &KDE"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "删除(&D)"

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr "重命名(&R)…"

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "移动到回收站(&M)"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "捐款(&D)"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr "打开菜单(&M)"

#: kstylemanager.cpp:60
#, kde-format
msgid "Application Style"
msgstr "应用程序外观样式"

#: kstylemanager.cpp:64
#, kde-format
msgid "Default"
msgstr "默认"
