# SPDX-FileCopyrightText: 2023 UnionTech Software Technology Co., Ltd.
#
# SPDX-License-Identifier: CC0-1.0

build*/
.vscode/settings.json
*.user
.cache/
plugins/dde-dock/translations/
plugins/dde-network-core/translations/
obj-x86_64-linux-gnu/
*.autosave
