[Desktop Entry]
Categories=downloader;Network;
Comment=downloader
Exec=downloader %F
GenericName=Downloader
GenericName[zh_CN]=下载器
GenericName[zh_TW]=下载器
Hidden=false
Icon=downloader
MimeType=application/torrent;application/x-bittorrent;
Name=Downloader
Name[zh_CN]=下载器
Name[zh_TW]=下载器
StartupNotify=false
Type=Application
X-Deepin-Vendor=deepin
