[Desktop Entry]
Type=Application
Name=calendar
Comment=calendar plugin.
Icon=lingmo-calendar
Exec=/usr/bin/lingmo-calendar -h %u
StartupNotify=false
Terminal=false
OnlyShowIn=LINGMO
X-LINGMO-AutoRestart=true
NoDisplay=true
X-LINGMO-Autostart-Phase=Application

