Source: dde
Section: metapackages
Priority: optional
Maintainer: LinuxDeepin Project <linuxdeepin@linuxdeepin.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: http://www.linuxdeepin.com

Package: dde
Architecture: any
Depends: ${misc:Depends},
 deepin-desktop-base | deepin-desktop-server | deepin-desktop-device,
 deepin-default-settings,
 dde-desktop,
 dde-dock,
 dde-launcher,
 dde-control-center(>> 2.90.5),
 startdde,
 dde-session-ui,
 deepin-artwork,
 deepin-manual,
 dde-file-manager,
 dde-qt5integration,
 eject,
 plymouth-theme-deepin-logo,
 deepin-wallpapers,
 fonts-noto,
 fonts-gb,
 deepin-fix-init,
 dde-kwin,
 dde-clipboard,
 deepin-screensaver,
 deepin-license-activator,
 deepin-app-store,
 deepin-terminal,
 deepin-defender,
 deepin-system-monitor,
 deepin-devicemanager,
 dde-printer,
 dde-calendar,
 uos-service-support,
 org.deepin.chineseime [!sw_64],
 dde-introduction,
 fcitx-config-gtk,
 deepin-fcitxconfigtool-plugin,
# fcitx-table-arabic,
# fcitx-hangul,
 deepin-bluetooth-blocker,
 uos-remote-assistance,
 deepin-aiassistant [!sw_64],
 udcp-installer [amd64 arm64],
 grub-efi-arm64-signed [arm64],
 grub-efi-loongarch64-signed [loongarch64],
 uos-audit-dac,
 permission-manager,
 sec-cfg,
Recommends:
 dde-qt5wayland-plugin,
 deepin-mobile-assistant,
 com.deepin.lianliankan,
 com.deepin.gomoku,
 dde-grand-search,
 org.deepin.downloader,
 deepin-editor,
 pppoe,
 gvfs-fuse,
 smbclient,
 python-smbc,
 cups-filters,
 printer-driver-all,
 foomatic-db-compressed-ppds,
 foomatic-db-engine,
 openprinting-ppds,
 libsane-hpaio,
 linux-firmware,
 wireless-tools,
 ttf-deepin-opensymbol,
 printer-driver-hpcups,
 printer-driver-hpijs,
 libmtp-runtime,
 samsung-print,
 open-vm-tools-desktop,
 open-vm-tools,
 usbmuxd,
 ipheth-utils,
 libimobiledevice-dev,
 libimobiledevice-utils,
 dnsutils,
 libfile-mimeinfo-perl,
 deepin-shortcut-viewer,
 crda,
 network-manager-integration-plugins,
 dde-manual-content,
 libtxc-dxtn-s2tc0 | libtxc-dxtn-s2tc,
 libflashplugin-pepper,
 x-display-manager,
 deepin-music,
 deepin-image-viewer,
 deepin-calculator,
 deepin-voice-note,
 deepin-screen-recorder,
 deepin-font-manager,
 deepin-draw,
 deepin-album,
 deepin-movie,
 deepin-deb-installer,
 deepin-compressor,
 deepin-mail,
 deepin-diskmanager,
 deepin-camera,
 fcitx-sunpinyin,
 org.deepin.scanner,
 fcitx-ui-classic,
 dde-dconfig-daemon,
 dde-service-manager
Conflicts:
 dde-control-center(<< 2.90.5),
 deepin-desktop-environment-desktop,
 deepin-desktop-environment-dock,
 deepin-desktop-environment-launcher,
 dconfig-daemon
Description: Deepin New Desktop Environment - Next
 This metapackage merely depends on the various Deepin Desktop Envrionment packages available in Deepin. 
 Use this if you want Deepin Desktop Envrionment.
 .
 The following metapackages will be pulled down as dependency which
 will inturn pull down real font packages.
   * deepin-desktop-base 
   * deepin-default-settings,
   * dde-desktop
   * dde-dock
   * dde-launcher
   * dde-control-center
   * startdde
   * dde-session-ui
   * deepin-artwork
   * deepin-manual
   * dde-file-manager
   * dde-qt5integration
   * eject
   * plymouth-theme-deepin-logo
   * deepin-wallpapers
   * fonts-noto
   * dde-kwin
   * dde-clipboard
   * deepin-screensaver
   * dde-clipboard
   * deepin-license-activator
   * dde-dconfig-daemon
 You can safety remove it after installed.
