Source: lingmo-deb-installer
Section: utils
Priority: optional
Maintainer: Lingmo Packages Builder <packages@lingmo.com>
Build-Depends: debhelper (>= 9), pkg-config, cmake, libqt5widgets5, libqt5concurrent5, libqapt-dev, libdtkwidget-dev, qtbase5-dev, qttools5-dev-tools, qttools5-dev, qtchooser, libgtest-dev,  lingmo-gettext-tools,  libpolkit-qt5-1-dev
Standards-Version: 4.3.0
Homepage: https://www.lingmo.com/

Package: lingmo-deb-installer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 libqapt3-runtime, 
 libqapt3, 
# lingmo-app-store-runtime is available in the community edition.
 lingmo-elf-verify | lingmo-app-store-runtime, 
 lingmo-elf-sign-tool | lingmo-app-store-runtime
Description: Package Installer helps users install and remove local packages.
 Package Installer is an easy-to-use .deb package management tool 
 with a simple interface for users to quickly install customized applications
 not included in App Store supporting bulk installation, version identification
 and auto completion.
Recommends: uos-reporter, lingmo-event-log
