[Desktop Entry]
Comment=Deepin Cooperation Backend Server
Exec=systemctl --user enable cooperation-daemon.service --now --runtime
Name=Deepin Cooperation Daemon
NoDisplay=true
OnlyShowIn=Deepin;DDE
Type=Application
X-Deepin-Vendor=user-custom
