# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraies
*.so
*.dylib

# Compiled static libraies
*.lai
*.la
*.a

build*/
*.pro.user*

# misc
.vscode/

# log
*.log
#cppcheck
*.cppcheck
test-cppcheck-build-dir/*
# debian
debian/*
!debian/changelog
!debian/rules
!debian/control
!debian/compat
!debian/source/*
# cmake dir
obj-x86_64-linux-gnu/*
*.txt.user
#varlgind
*.supp
# other
*.qmake*
Makefile
moc_*

#test
*/report/*
*/coverage/*
report/*

