Source: ocean
Section: devel
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               gettext,
               libqt5x11extras5-dev,
               libkf5windowsystem-dev,
               libkf5config-dev,
               libkdecorations2-dev,
               libkf5guiaddons-dev,
               libkf5configwidgets-dev,
               libkf5coreaddons-dev,
               libkf5iconthemes-dev,
               libqt5xdg-dev,
               libdbusmenu-qt5-dev,
               libxcb-shape0-dev,
               libxcb-icccm4-dev,
               libxcb1-dev,
               libxcb-ewmh-dev,
               qtbase5-dev,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               qt3d5-dev,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 4.5.0
Homepage: https://lingmo.org

Package: ocean
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Ocean is a new generation of UI style for third-party Qt applications in Lingmo OS.

Package: lingmo-qt-plugins
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Ocean is a new generation of UI style for third-party Qt applications in Lingmo OS.