Source: lingmo-virtual-keyboard
Section: x11
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Uploaders: Lingmo OS Team <team@lingmo.org>
Build-Depends: 
	debhelper (>=11~), 
	qt5-qmake,
	libkf5windowsystem-dev,
	qtdeclarative5-dev,
	libfcitx5-qt-dev (>=5.0.14-1ok5),
	qtbase5-dev,
	qml-module-qtquick-controls2,
	libgsettings-qt-dev,
	pkg-config,
Standards-Version: 4.1.4
Homepage: https://github.com/LingmoOS

Package: lingmo-virtual-keyboard
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Lingmo Virtual Keyboard.
 Virtual keyboard based on fcitx5 InputMethod Framework.
 If you want to use this project, please ensure 
 that your system has fcitx5 installed.
