[Desktop Entry]
Name=lingmo-virtual-keyboard
Name[zh_CN]=灵墨虚拟键盘
Comment=lingmo-virtual-keyboard
Comment[zh_CN]=灵墨虚拟键盘
Exec=/usr/bin/lingmo-virtual-keyboard-xwayland
Terminal=false
Type=Application
X-GNOME-AutoRestart=true
X-GNOME-AutoRestart-Phase=Application
X-LINGMO-AutoRestart=true
X-LINGMO-AutoRestart-Phase=Application
NoDisplay=true
