/********************QLabel************************/
QLabel{
    color: #FFFFFF;
}



QLabel#m_mainTitle{
width: 174px;
height: 62px;
font-size: 42px;
font-family: Noto Sans CJK SC;
font-weight: 500;
line-height: 62px;
color: #FFFFFF;
letter-spacing: 50px;
opacity: 1;
}
#littleTitle{
    font-size: 14px;
    font-family: Noto Sans CJK SC;
}


QLabel#mainTitle1 {
    font-size: 42px;
    font-family: Noto Sans CJK SC;
    font-weight: 500;
    line-height: 62px;
    color: #FFFFFF;
    opacity: 1;
}

#m_tipInfo{
    font-size: 18px;
    font-family: Noto Sans CJK SC;
    color: #FFFFFF;
    opacity: 1;
}



QLabel#textContext {
width: 800px;
height: 320px;
background: rgba(0, 0, 0, 0.25);
opacity: 1;
border-radius: 13px;
}


QLabel#MsgContext{
    width: 112px;
    height: 20px;
    font-size: 14px;
    font-family: Noto Sans CJK SC;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 1;
}



QTextBrowser#textMsg{
width: 800px;
height: 320px;
background: rgba(0, 0, 0, 0);
border-radius: 13px;
font-size: 14px;
font-family: Noto Sans CJK SC;
font-weight: 800;
line-height: 28px;
color: #FFFFFF;
opacity: 1;
}


QPushButton#textDetail{
    width: 93px;
    height: 36px;
    background: #1C2840;
    opacity: 1;
    border-radius: 13px;
    font-size: 14px;
    font-family: Noto Sans CJK SC;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}

QPushButton#textcon{
width: 920px;
height: 580px;
background: rgba(0, 0, 0, 0.25);
opacity: 1;
border-radius: 13px;
}

QPushButton#restartBtn{
    width: 320px;
    height: 48px;
    opacity: 1;
    border-radius: 13px;
    font-size: 14px;
    font-family: Noto Sans CJK SC;
    font-weight: 500;
    line-height: 35px;
    color: #FFFFFF;
    background: #1D8EFF;
}

#restartBtn:hover{
    background: #4BA0F5;
}
#restartBtn:foucs{
    background: #0C61D5;
}
#restartBtn:pressed{
    background: #0C61D5;
}

#restartBtn:disabled{
    background: #2D6BAA;



/********************QProgressBar***********************/

QProgressBar::chunk {
    border-radius: 5px;
    background:qlineargradient(spread:pad, x1:0,y1:0,x2:1,y2:0,stop:0 #01FAFF,stop:1 #26B4FF);
}
QProgressBar {
   height: 10px;
   border-radius: 5px;
   background-color: #C2CCD0;
}
