/********************QLabel************************/
QLabel{

}
QLabel#mainTitle {
    font-size: 42px;
    font-family: Noto Sans CJK SC;
    font-weight: 500;
    line-height: 62px;
    color: #FFFFFF;
    opacity: 1;
}

#m_tipInfo{
    font-size: 18px;
    font-family: Noto Sans CJK SC;
    color: #FFFFFF;
    opacity: 1;
}

/********************QPushButton************************/

QPushButton[flat="true"] {
  border: none;
  outline: none;
  color: white;
}

QPushButton#restartBtn{
    width: 320px;
    height: 48px;
    opacity: 1;
    border-radius: 13px;
    font-size: 14px;
    font-family: Noto Sans CJK SC;
    font-weight: 500;
    line-height: 35px;
    color: #FFFFFF;
    background: #1D8EFF;
}

#restartBtn:hover{
    background: #4BA0F5;
}
#restartBtn:foucs{
    background: #0C61D5;
}
#restartBtn:pressed{
    background: #0C61D5;
}

#restartBtn:disabled{
    background: #2D6BAA;
}


