QWidget{
    font-family: Noto Sans CJK SC;
    border-radius: 6px;
}
QLabel#info{
    font-family: Noto Sans CJK SC;
    font-size: 14px;
}
/********************QPushButton************************/
QPushButton {
    color:#FFFFFF;
}
QPushButton#cancel,#OK{
    width: 96px;
    height: 36px;
    opacity: 1;
    border-radius: 4px;
    font-size: 14px;
    font-family: Noto Sans CJK SC;
    background: #4B575D;
}
#OK:default{
    background: #1D8EFF;
}
#cancel:default {
    background: #4B575D;
}
#cancel:hover,#OK:hover{
    background: #4BA0F5;
}
#cancel:foucs,#OK:foucs{
    background: #0C61D5;
}
#cancel:pressed,#OK:pressed{
    background: #0C61D5;
}

#cancel:disabled,#OK:disabled{
    background: #2D6BAA;
}



QPushButton#close{
    max-width: 48px;
    max-height: 48px;
    min-width: 48px;
    min-height: 48px;
    border-radius: 4px;
    background: transparent;

}


QPushButton#close:hover {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.35);

}


QPushButton#close:checked{
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.25);

}


QLabel {
    font-size: 14px;
    font-family: Noto Sans CJK SC;
    font-weight: Medium;
    line-height: 40px;
    color: #FFFFFF;
    opacity: 1;
}
/******************QLineEdit***********************/
QLineEdit:focus{
    border:2px solid #5BADFF;
    background: rgba(0, 0, 0, 0.15);

}
QLineEdit {
    width: 260px;
    height: 36px;
    background: rgba(0, 0, 0, 0.35);
    opacity: 1;
    font-size: 14px;
    font-family: Noto Sans CJK SC;
    font-weight: 400;
    line-height: 24px;
/*    padding-left:10px;*/
    color: #FFFFFF;
    border:2px solid transparent;
    border-radius:6px;

}

QLabel#checkpng {
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;
    min-height: 32px;
}
