
/*上一步下一步按钮设置*/
QPushButton {
    width: 320px;
    height: 48px;
    opacity: 1;
    border-radius: 6px;
    font-size: 14px;
    font-family: Noto Sans CJK SC;
    font-weight: 500;
    line-height: 35px;
    color: #FFFFFF;
}
QPushButton#nextBtn{
    background: #1D8EFF;
}
#nextBtn:hover{
    background: #4BA0F5;
}
#nextBtn:foucs{
    background: #4BA0F5;
}
#nextBtn:checked{
    background: #0C61D5;
}
#nextBtn:unchecked{

    color: rgba(255, 255, 255, 0.4);
    background: #2D6BAA;
}


/*解决按钮设置flat时，按钮显示的问题*/
#nextBtn:flat{
    font-size: 14px;
    background-color:transparent;
    border-style:inset;
    padding:0px 0px;
    color:white;
}




