[Desktop Entry]
Categories=Office;
Comment=Voice Notes is a lightweight memo tool to make text notes and voice recordings.
Exec=deepin-voice-note %f
GenericName=Voice Notes
Icon=deepin-voice-note
Name=Voice Notes
StartupNotify=false
Terminal=false
TryExec=deepin-voice-note
Type=Application
X-Deepin-Vendor=user-custom
Keywords=deepin-voice-note

# Translations:
# Do not manually modify!
Comment[ar]=الملاحظات الصوتية هي أداة مذكرة خفيفة لعمل الملاحظات النصية والتسجيلات الصوتية.
Comment[bo]=སྒྲའི་ཟིན་ཐོ་ནི་ཡི་གེའི་ཟིན་ཐོ་དང་སྒྲ་ཕབ་ཟིན་ཐོ་མཁོ་འདོན་བྱེད་པའི་ཐོ་འགོད་ཡོ་བྱད་ཆུང་གྲས་ཤིག་རེད།
Comment[br]=Notennoù mouezh a zo un ostilh evit gellout krouiñ notennoù testenn hag enrolladennoù mouezh.
Comment[ca]=Les Notes de veu és una eina lleugera per fer notes de text i gravacions de veu.
Comment[cs]=Hlasové poznámky jsou nástrojem pro pořizování textových poznámek a hlasových nahrávek.
Comment[da]=Stemmenoter er et letvægts memoværktøj til at oprette tekstnoter og stemmeoptagelser.
Comment[de]=Voice Notes ist ein kompaktes Notizwerkzeug zum Erstellen von Text- und Sprachnotizen.
Comment[en_GB]=Voice Notes is a lightweight memo tool to make text notes and voice and audio recordings.
Comment[es]=Notas de voz es una herramienta ligera para hacer notas de texto y grabaciones de voz.
Comment[fi]=Äänimuistio on kevyt työkalu, jolla voit tehdä muistiinpanoja tekstinä ja äänitallenteena.
Comment[fr]=Notes vocales est un outil pour créer des notes de texte et des enregistrements vocaux.
Comment[gl_ES]=Notas de voz é unha ferramenta lixeira para tomar notas de texto e realizar gravacións de voz.
Comment[hi_IN]=वाणी नोट्स, टेक्स्ट नोट्स व वाणी रिकॉर्डिंग बनाने हेतु एक सरल ज्ञापन साधन है।
Comment[hu]=A Hangjegyzetek egy könnyű jegyzeteszköz szöveges jegyzetek és hangfelvételek készítéséhez.
Comment[it]=Note Vocali è uno strumento di memo leggero per creare note di testo e registrazioni vocali. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[ko]=음성 메모는 텍스트 노트 및 음성 녹음을 할 수있는 경량 메모 도구입니다.
Comment[ms]=Nota Suara ialah sebuah alat memo ringkas dan pantas yang dapat membuat nota teks dan rakaman suara.
Comment[ne]=भ्वाईस नोटहरू पाठ नोटहरू र भ्वाईस रेकर्डि। बनाउन हल्का मोटो मेमो उपकरण हो।
Comment[nl]=Met Memorecorder kun je eenvoudig memo's opnemen en aantekeningen maken.
Comment[pl]=Notatki głosowe to lekkie narzędzie do tworzenia notatek tekstowych i nagrań głosowych
Comment[pt]=O Notas de Voz é uma ferramenta leve para fazer anotações de texto e gravações de voz.
Comment[pt_BR]=O Notas de Voz é uma ferramenta para se fazer anotações de texto e gravações de voz.
Comment[ru]=Голосовые Записки - это легкий инструмент для создания текстовых заметок и записи голоса.
Comment[sl]=Glasovne beležke je nazahtevno orodje za ustvarjanje beležk iz besedila in posnetkov glasu.
Comment[sq]=Shënimet Zanore janë një mjet i peshës së lehtë për shënime tekst dhe incizime zëri.
Comment[sr]=Гласовна Бележница је лаган алат за прављење текстуалних белешки и гласовних записа.
Comment[tr]=Sesli Notlar, metin notları ve ses kayıtları yapmak için hafif bir not aracıdır.
Comment[ug]=ئاۋازلىق خاتىرە تېكىست خاتىرىلىرى ۋە ئاۋازلىق خاتىرىلەر ئۈچۈن يېنىك خاتىرە قۇرالى.
Comment[uk]=«Голосовий нотатник» — невибаглива до ресурсів програма для ведення текстових і голосових нотаток.
Comment[zh_CN]=语音记事本是一款提供文本记事、语音录音记录的轻量级记事工具。
Comment[zh_HK]=語音記事本是一款提供文本記事、語音錄音記錄的輕量級記事工具。
Comment[zh_TW]=語音記事本是一款提供文字記事、語音錄音記錄的輕量級記事工具。
GenericName[ar]=الملاحظات الصوتية
GenericName[bo]=སྒྲའི་ཟིན་ཐོ།
GenericName[br]=Notennoù mouezh
GenericName[ca]=Notes de veu
GenericName[cs]=Hlasové poznámky
GenericName[da]=Stemmenoter
GenericName[de]=Sprachnotizen
GenericName[en_GB]=Voice Notes
GenericName[es]=Notas de voz
GenericName[fi]=Äänimuistio
GenericName[fr]=Notes vocales
GenericName[gl_ES]=Notas de voz
GenericName[hi_IN]=वाणी नोट्स
GenericName[hu]=Hangjegyzetek
GenericName[it]=Note Vocali
GenericName[ko]=음성 메모
GenericName[ms]=Nota Suara
GenericName[ne]=भ्वाइस नोटहरू
GenericName[nl]=Memorecorder
GenericName[pl]=Notatki głosowe
GenericName[pt]=Notas de Voz
GenericName[pt_BR]=Notas de Voz
GenericName[ru]=Голосовые Заметки
GenericName[sl]=Glasovne beležke
GenericName[sq]=Shënime Zanore
GenericName[sr]=Гласовна Бележница
GenericName[tr]=Sesli Notlar
GenericName[ug]=ئاۋازلىق خاتىرە
GenericName[uk]=Голосові нотатки
GenericName[zh_CN]=语音记事本
GenericName[zh_HK]=語音記事本
GenericName[zh_TW]=語音記事本
Name[ar]=الملاحظات الصوتية
Name[bo]=སྒྲའི་ཟིན་ཐོ།
Name[br]=Notennoù mouezh
Name[ca]=Notes de veu
Name[cs]=Hlasové poznámky
Name[da]=Stemmenoter
Name[de]=Sprachnotizen
Name[en_GB]=Voice Notes
Name[es]=Notas de voz
Name[fi]=Äänimuistio
Name[fr]=Notes vocales
Name[gl_ES]=Notas de voz
Name[hi_IN]=वाणी नोट्स
Name[hu]=Hangjegyzetek
Name[it]=Note Vocali
Name[ko]=음성 메모
Name[ms]=Nota Suara
Name[ne]=भ्वाइस नोटहरू
Name[nl]=Memorecorder
Name[pl]=Notatki głosowe
Name[pt]=Notas de Voz
Name[pt_BR]=Notas de Voz
Name[ru]=Голосовые Заметки
Name[sl]=Glasovne beležke
Name[sq]=Shënime Zanore
Name[sr]=Гласовна Бележница
Name[tr]=Sesli Notlar
Name[ug]=ئاۋازلىق خاتىرە
Name[uk]=Голосові нотатки
Name[zh_CN]=语音记事本
Name[zh_HK]=語音記事本
Name[zh_TW]=語音記事本

