Source: liblingmo
Section: devel
Priority: optional
Maintainer: LingmoOS <lingmo@lingmo.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               libkf6networkmanagerqt-dev,
               libkf6modemmanagerqt-dev,
               libkf6coreaddons-dev,
               libkscreen-dev,
               libkf6bluezqt-dev,
               qt6-sensors-dev,
               libcanberra-dev,
               libpulse-dev,
               sound-theme-freedesktop,
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-tools-dev,
               qt6-tools-dev-tools
Standards-Version: 4.5.0
Homepage: https://lingmo.org

Package: liblingmo
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libkscreen-bin
Description: LingmoOS Library
