[Desktop Entry]
Type=Application
Exec=/usr/bin/kySdkDbus-session
TryExec=/usr/bin/kySdkDbus-session
Name=SDK-SYSTEM-SESSION-BUS
Icon=
Keywords=session;lingmosdk-dbus-session
Comment=This session date you into sdk
NoDisplay=true
