[Unit]
Description=LINGMO SDK SYSTIME DBUS

[Service]
Type=dbus
Restart=always
RestartSec=0
BusName=com.lingmo.lingmosdk.service
ExecStart=/usr/bin/kySdkDbus

[Install]
WantedBy=multi-user.target
