# Translation of kconfigwidgets6 to Northern Sami
#
# Børre Gaup <boerre@skolelinux.no>, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2012-05-30 23:19+0200\n"
"Last-Translator: Børre Gaup <boerre@skolelinux.no>\n"
"Language-Team: Northern Sami <l10n-no@lister.huftis.org>\n"
"Language: se\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.4\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Environment: kde\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Børre Gaup"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "boerre@skolelinux.no"

# unreviewed-context
#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Standárda"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Áicca automáhtalaččat"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr ""

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr ""

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr ""

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr ""

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr ""

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Eai leat merkošat"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Sálke listtu"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Maŋos"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Ovddos"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Ruoktut"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Čájet fálloholgga <p>Čájeha fálloholgga fas maŋŋá go lea leamaš "
"čihkkojuvvon</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Čájet stáhtusholgga <p>Čájeha stáhtusholgga, mii lea láse vuollegeažis ja "
"mii čájeha stáhtusdieđuid.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "&Ođđa"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Ráhkat ođđa dokumeantta"

#: kstandardaction_p.h:64
#, fuzzy
#| msgid "&Open..."
msgid "&Open…"
msgstr "&Raba …"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Rába dokumeantta mii juo gávdno"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "Aiddo &geavahuvvon"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Raba dokumeantta mii easka geavahuvvui"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Vurke"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Vurke dokumeantta"

#: kstandardaction_p.h:67
#, fuzzy
#| msgid "Save &As..."
msgid "Save &As…"
msgstr "Vurke &nugo …"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Vurke dokumeantta eará nammii"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "Máh&cat"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Máhcat rievdadusaid mat eai leat vurkejuvvon dán dokumeanttas"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Gidde"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Gidde dokumeantta"

#: kstandardaction_p.h:70
#, fuzzy
#| msgid "&Print..."
msgid "&Print…"
msgstr "Čá&lit …"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Čálit dokumeantta"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "Čálihan&ovdačájeheapmi"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Čájet dokumeantta nugo čálihuvvo"

#: kstandardaction_p.h:72
#, fuzzy
#| msgid "&Mail..."
msgid "&Mail…"
msgstr "&Sádde …"

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Sádde dokumeantta e-boastta bokte"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "&Heaittit"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Heaittit prográmma"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Gađa"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Gáđa mannan dáhpáhusa"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "&Daga ođđasit"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr ""

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "Čuoh&pa"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Máŋge merkejuvvon oasi čuohposgirjái."

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "&Máŋge"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Máŋge merkejuvvon teavstta/áđa(id) čuohposgirjái"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "&Liibme"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Liibme čuohposgirjji sisdoalu sisa"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "&Sálke"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "Vállje &buot"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "&Váldde eret merkema"

#: kstandardaction_p.h:83
#, fuzzy
#| msgid "&Find..."
msgid "&Find…"
msgstr "&Oza …"

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "Oza č&uovvovaš"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Gávnna &ovddit"

#: kstandardaction_p.h:86
#, fuzzy
#| msgid "&Replace..."
msgid "&Replace…"
msgstr "&Buhtte …"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr ""

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Čájet dokumeantta duohta sturrodagas"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "&Heivet siidui"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Heivet stuorideami lásii"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "Heivet siidu&govdadahkii"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Heivet stuorideami láse viidodahkii"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "Heivet siidu&allodahkii"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Heivet stuorideami nu ahte siidu allodat heive lásii"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "&Stuorit"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "&Unnit"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "&Zoom..."
msgid "&Zoom…"
msgstr "&Stuorit/unnit …"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Vállje stuoridandási"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr ""

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "&Bajás"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Mana bajás"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "&Ovddit siidu"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Mana ovddit siidui"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "&Boahtte siidu"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Mana boahtte siidui"

#: kstandardaction_p.h:104
#, fuzzy
#| msgid "&Go To..."
msgid "&Go To…"
msgstr "&Mana …"

#: kstandardaction_p.h:105
#, fuzzy
#| msgid "&Go to Page..."
msgid "&Go to Page…"
msgstr "&Mana siidui …"

#: kstandardaction_p.h:106
#, fuzzy
#| msgid "&Go to Line..."
msgid "&Go to Line…"
msgstr "Mana &linjái …"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "&Vuosttáš siidui"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "Mana vuosttaš siidui"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "&Maŋemuš siidui"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Mana maŋemuš siidui"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "&Maŋos"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Mana ruovttoluotta dokumeanttas"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "&Sádde viidáset:"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Mana ovddasguvlui dokumeanttas"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "&Lasit girjemearkka"

#: kstandardaction_p.h:113
#, fuzzy
#| msgid "&Edit Bookmarks..."
msgid "&Edit Bookmarks…"
msgstr "&Doaimmat girjemearkkaid …"

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "&Spelling..."
msgid "&Spelling…"
msgstr "&Riektačállin …"

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Dárkkis riektačállima dokumeanttas"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "Čájet &fálloholgga"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Čájet dahje čiega fálloholgga"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "Čájet &reaidoholgga"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Čájet dahje čiega reaidoholggas"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "Čájet &stáhtusholgga"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Čájet dahje čiega stáhtusholgga"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "D&ievasšearbmadoaibmanvuohki"

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr ""

#: kstandardaction_p.h:122
#, fuzzy, kde-format
#| msgid "&Configure %1..."
msgid "&Configure %1…"
msgstr "&Heivet %1 …"

#: kstandardaction_p.h:123
#, fuzzy
#| msgid "Configure Tool&bars..."
msgid "Configure Tool&bars…"
msgstr "Heivet &reaidoholggaid …"

#: kstandardaction_p.h:124
#, fuzzy
#| msgid "Configure &Notifications..."
msgid "Configure &Notifications…"
msgstr "Heivet &dieđáhusaid …"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "%1-&giehtagirji"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "Mii dat &lea?"

#: kstandardaction_p.h:130
#, fuzzy
#| msgid "&Report Bug..."
msgid "&Report Bug…"
msgstr "Vá&idal dihki …"

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr ""

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "%1 &dieđut"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "KDE &dieđut"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "&Sihko"

#: kstandardaction_p.h:135
#, fuzzy
#| msgid "&Rename..."
msgid "&Rename…"
msgstr "Bija ođđa nama …"

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "&Sirdde ruskalihtái"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr ""

#: kstylemanager.cpp:60
#, fuzzy, kde-format
#| msgid "Quit application"
msgid "Application Style"
msgstr "Heaittit prográmma"

# unreviewed-context
#: kstylemanager.cpp:64
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "Standárda"
