Source: lingmo-systemicons
Section: x11
Priority: optional
Maintainer: Lingmo OS <lingmo@lingmo.org>
Standards-Version: 4.5.0
Build-Depends:
    debhelper-compat (= 12),
    gtk-update-icon-cache,
    cmake
Rules-Requires-Root: binary-targets
Homepage: https://lingmo.org


Package: lingmo-systemicons
Architecture: all
Depends: ${misc:Depends}
Description: System software icon for LingmoOS
