Source: ocean-grand-search
Section: utils
Priority: optional
Maintainer: Lingmo Packages Builder <packages@lingmo.com>
Build-Depends: debhelper (>= 9),
 pkg-config,
 qt5-qmake,
 qtbase5-dev,
 libdtkwidget-dev,
 libdtkcore-dev,
 libdtkgui-dev,
 libdtkcore5-bin,
 libdframeworkdbus-dev (>=5.4.6),
 qttools5-dev-tools,
 cmake,
 ocean-dock-dev,
 libglib2.0-dev,
 libffmpegthumbnailer-dev,
 libavformat-dev,
 libavcodec-dev,
 libtag1-dev,
 libicu-dev,
 libgsettings-qt-dev,
 libpcre3-dev,
 liblingmo-pdfium-dev,
 libjpeg62-turbo-dev,
 liblucene++-dev,
 libboost-dev,
 liblingmo-service-framework-dev
Standards-Version: 3.9.8
Homepage: http://www.lingmo.org/

Package: ocean-grand-search
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Recommends:
 lingmo-desktop-schemas (>=5.8.0.34),
 ocean-daemon (>=5.12.0.31),
 startocean (>=5.6.0.34),
 lingmo-anything-server[i386 amd64]
Description: lingmo desktop-environment - search module
 Search module of lingmo desktop-environment
