[Desktop Entry]
_Name=Volume Control
_Comment=Show desktop volume control
Name[mn]=ᠳᠠᠭᠤᠨ ᠤ ᠬᠡᠮᠵᠢᠶ᠎ᠡ ᠶᠢ ᠡᠵᠡᠮᠳᠡᠬᠦ
Name[zh_CN]=音量控制
Name[zh_HK]=音量控制
Comment[mn]=ᠰᠢᠷᠡᠭᠡᠨ ᠭᠠᠳᠠᠷᠭᠤ ᠶᠢᠨ ᠳᠠᠭᠤᠨ ᠤ ᠬᠡᠮᠵᠢᠶ᠎ᠡ ᠶᠢ ᠡᠵᠡᠮᠳᠡᠬᠦ ᠶᠢ ᠢᠯᠡᠷᠡᠭᠦᠯᠵᠡᠢ
Comment[zh_CN]=显示桌面音量控制
Comment[zh_HK]=顯示桌面音量控制
Icon=multimedia-volume-control
Exec=lingmo-volume-control-applet-qt
Terminal=false
Type=Application
Categories=AudioVideo;Mixer;Settings;HardwareSettings;
Keywords=LINGMO;volume;control;mixer;settings;sound;
NoDisplay=true
OnlyShowIn=LINGMO;
X-LINGMO-Bugzilla-Bugzilla=LINGMO
X-LINGMO-Bugzilla-Product=lingmo-media
X-LINGMO-Bugzilla-Component=lingmo-volume-control
# See http://bugzilla.lingmo.org/show_bug.cgi?id=568320
X-LINGMO-AutoRestart=true
X-LINGMO-Autostart-Phase=Application
