[Desktop Entry]
_Name=Sound Theme Player
_Comment=Sound Theme Player
Icon=multimedia-volume-control
Exec=sound-theme-player
Terminal=false
Type=Application
Categories=AudioVideo;Mixer;Settings;HardwareSettings;
Keywords=LINGMO;volume;control;mixer;settings;sound;
NoDisplay=true
OnlyShowIn=LINGMO;
X-LINGMO-Bugzilla-Bugzilla=LINGMO
X-LINGMO-Bugzilla-Product=lingmo-media
X-LINGMO-Bugzilla-Component=sound-theme-player
X-LINGMO-AutoRestart=true
X-LINGMO-Autostart-Phase=Application
