Source: liblingmo-chkname
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: autotools-dev, debhelper-compat (= 12)
Standards-Version: 4.4.1
Section: libs
Homepage: <insert the upstream URL, if relevant>

Package: liblingmo-chkname-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: liblingmo-chkname1(= ${binary:Version}), ${misc:Depends}
Description: lingmo username check - development files

Package: liblingmo-chkname1
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: lingmo username check - shared library
