[Desktop Entry]
Categories=Network;RemoteControl;
Comment=Data transfer is a powerful tool that helps you transfer your files, settings from windows to linux.
Exec=/usr/bin/deepin-data-transfer
GenericName=Data Transfer
Icon=deepin-data-transfer
Name=Deepin Data Transfer
StartupNotify=false
Terminal=false
Type=Application
X-Deepin-DEComponent=true
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[bo]=གཞི་གྲངས་སྤོ་བ་ནི་བྱེད་ནུས་ཧ་ཅང་ཆེ་བའི་ཡོ་བྱད་ཞིག་ཡིན་པས། དེས་ཁྱེད་ཀྱི་ཡིག་ཆ་དང་སྒྲིག་བཀོད་Windows ནས་ Linuxལ་སྤོ་ཐུབ།
Comment[ug]=سانلىق مەلۇمات يۆتكەش قورالىنىڭ ئىقتىدارى ئىنتايىن كۈچلۈك، ئۇ سىزنىڭ ھۆججەت، تەڭشەكلىرىڭىزنى Windows  سىستېمىسىدىن Linux سىستېمسىغا يۆتكىشىڭىزگە ياردەم بېرىدۇ.
Comment[zh_CN]=数据迁移是一款功能强大的工具，可帮助你将文件、设置从 Windows 传输到 Linux。
Comment[zh_HK]=數據遷移是一款功能強大的工具，可幫助你將文件、設置從 Windows 傳輸到 Linux。
Comment[zh_TW]=資料遷移是一款功能強大的工具，可幫助你將文件、設定從 Windows 傳輸到 Linux。
GenericName[bo]=གཞི་གྲངས་སྤོ་བ།
GenericName[ug]=سانلىق مەلۇمات يۆتكەش
GenericName[zh_CN]=数据迁移
GenericName[zh_HK]=數據遷移
GenericName[zh_TW]=資料遷移
Name[bo]=Deepinགཞི་གྲངས་སྤོ་བ།
Name[ug]=UOS سانلىق مەلۇمات يۆتكەش قورالى
Name[zh_CN]=深度数据迁移
Name[zh_HK]=深度數據遷移
Name[zh_TW]=深度資料遷移

