Source: ocean-account-faces
Section: lingmo
Priority: optional
Maintainer: Lingmo Sysdev <sysdev@lingmo.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8),

Package: ocean-account-faces
Architecture: all
Depends: accountsservice
Conflicts: lingmo-system-settings-module-account
Description: When users are ready to set their own account avatars,
 Lingmo Account avatars provide many beautiful avatars for users to choose from.
 It is part of Lingmo software and OCEAN (Lingmo Desktop Environment).
