Source: lingmo-wallpapers
Section: devel
Priority: optional
Maintainer: Lingmo OS Team <lingmo@lingmo.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules
Standards-Version: 4.5.0
Homepage: https://lingmo.org

Package: lingmo-wallpapers
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Lingmo OS Default Wallpapers
