[Desktop Entry]
Encoding=UTF-8
Name=Activities testing
Name[ar]=اختبار الأنشطة
Name[ast]=Prueba d'actividaes
Name[ca]=Prova de les activitats
Name[ca@valencia]=Prova de les activitats
Name[cs]=Testování aktivit
Name[da]=Test af aktiviteter
Name[de]=Aktivitätentest
Name[el]=Δοκιμές δραστηριοτήτων
Name[en_GB]=Activities testing
Name[es]=Prueba de actividades
Name[fi]=Aktiviteettitesti
Name[fr]=Test des activités
Name[gd]=Deuchainn nan gnìomhachdan
Name[gl]=Probas de actividades
Name[he]=בדיקת פעילויות
Name[hu]=Aktivitásteszt
Name[ia]=Essayante Activitates
Name[is]=Prófun á virknisviðum
Name[it]=Prova delle attività
Name[ko]=활동 테스트
Name[lt]=Veiklų bandymas
Name[mr]=कार्यपध्दती चाचणी
Name[nb]=Aktiviteter
Name[nds]=Aktiviteten-Tests
Name[nl]=Testen van activiteiten
Name[nn]=Aktivitetstesting
Name[pa]=ਐਕਟਵਿਟੀ ਟੈਸਟਿੰਗ
Name[pl]=Próba działań
Name[pt]=Teste das actividades
Name[pt_BR]=Teste de atividades
Name[ro]=Testare activități
Name[ru]=Тестирование комнат
Name[sk]=Testovanie aktivít
Name[sl]=Preizkušanje dejavnosti
Name[sr]=Испробавање активности
Name[sr@ijekavian]=Испробавање активности
Name[sr@ijekavianlatin]=Isprobavanje aktivnosti
Name[sr@latin]=Isprobavanje aktivnosti
Name[sv]=Aktivitetstestning
Name[tr]=Etkinlik sınaması
Name[uk]=Тестування просторів дій
Name[x-test]=xxActivities testingxx
Name[zh_CN]=活动测试
Name[zh_TW]=活動測試
Icon=preferences-system-time
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Ivan
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.listactivitiestest
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=lingmo.kde.org
X-KDE-ServiceTypes=Lingmo/Applet
X-Lingmo-API=declarativeappletscript
X-Lingmo-DefaultSize=640,400
X-Lingmo-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=
