Source: lingmo-installer-config
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (= 13), libglib2.0-bin
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/LingmoOS/lingmo-installer-config
Vcs-Git: https://github.com/LingmoOS/lingmo-installer-config.git
Vcs-Browser: https://github.com/LingmoOS/lingmo-installer-config

Package: lingmo-installer-config
Architecture: all
Depends: calamares,
         cryptsetup,
	     libglib2.0-bin,
         keyutils,
         pkexec,
         qml-module-qtquick-window2,
         qml-module-qtquick2,
         ${misc:Depends}
Description: Lingmo OS theme and settings for the Calamares Installer
 Calamares is a generic installer framework for Linux distributions.
 By default, it contains a set of boilerplate wording and images. This
 package provides the latest Debian artwork as well as scripts that
 supports EFI installations.
 .
 It also serves as an example for how derivatives can create their own
 calamares-settings packages.
