# Translation of kconfigwidgets5 to Northern Sami
#
# Børre Gaup <boerre@skolelinux.no>, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-12-08 00:42+0000\n"
"PO-Revision-Date: 2012-05-30 23:19+0200\n"
"Last-Translator: Børre Gaup <boerre@skolelinux.no>\n"
"Language-Team: Northern Sami <l10n-no@lister.huftis.org>\n"
"Language: se\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.4\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Environment: kde\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Børre Gaup"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "boerre@skolelinux.no"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Ovdalgo vurket, de fertet čállit hálddašanbeassansáni"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Dus ii leat lohpi vurket heivehusa"

# unreviewed-context
#: kcodecaction.cpp:67
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Standárda"

#: kcodecaction.cpp:75
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Áicca automáhtalaččat"

#: kcolorschememanager.cpp:220 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr ""

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr ""

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:326
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr ""

#: khamburgermenu.cpp:352
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr ""

#: khamburgermenu.cpp:353
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr ""

#: krecentfilesaction.cpp:71
#, kde-format
msgid "No Entries"
msgstr "Eai leat merkošat"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "Clear List"
msgstr "Sálke listtu"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Maŋos"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Ovddos"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Ruoktut"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Veahkki"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Čájet fálloholgga <p>Čájeha fálloholgga fas maŋŋá go lea leamaš "
"čihkkojuvvon</p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Čájet stáhtusholgga <p>Čájeha stáhtusholgga, mii lea láse vuollegeažis ja "
"mii čájeha stáhtusdieđuid.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Ođđa"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "Ráhkat ođđa dokumeantta"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Raba …"

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "Rába dokumeantta mii juo gávdno"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "Aiddo &geavahuvvon"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "Raba dokumeantta mii easka geavahuvvui"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Vurke"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "Vurke dokumeantta"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "Vurke &nugo …"

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "Vurke dokumeantta eará nammii"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "Máh&cat"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "Máhcat rievdadusaid mat eai leat vurkejuvvon dán dokumeanttas"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Gidde"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "Gidde dokumeantta"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "Čá&lit …"

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "Čálit dokumeantta"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "Čálihan&ovdačájeheapmi"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "Čájet dokumeantta nugo čálihuvvo"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&Sádde …"

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "Sádde dokumeantta e-boastta bokte"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&Heaittit"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Heaittit prográmma"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&Gađa"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "Gáđa mannan dáhpáhusa"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "&Daga ođđasit"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr ""

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "Čuoh&pa"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "Máŋge merkejuvvon oasi čuohposgirjái."

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "&Máŋge"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "Máŋge merkejuvvon teavstta/áđa(id) čuohposgirjái"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&Liibme"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "Liibme čuohposgirjji sisdoalu sisa"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "&Sálke"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "Vállje &buot"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "&Váldde eret merkema"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Oza …"

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "Oza č&uovvovaš"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "Gávnna &ovddit"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Buhtte …"

#: kstandardaction_p.h:58
msgid "Zoom to &Actual Size"
msgstr ""

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "Čájet dokumeantta duohta sturrodagas"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&Heivet siidui"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "Heivet stuorideami lásii"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "Heivet siidu&govdadahkii"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "Heivet stuorideami láse viidodahkii"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "Heivet siidu&allodahkii"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "Heivet stuorideami nu ahte siidu allodat heive lásii"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "&Stuorit"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "&Unnit"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Stuorit/unnit …"

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "Vállje stuoridandási"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr ""

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Bajás"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "Mana bajás"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&Ovddit siidu"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "Mana ovddit siidui"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Boahtte siidu"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "Mana boahtte siidui"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&Mana …"

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "&Mana siidui …"

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "Mana &linjái …"

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&Vuosttáš siidui"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "Mana vuosttaš siidui"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&Maŋemuš siidui"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "Mana maŋemuš siidui"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&Maŋos"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "Mana ruovttoluotta dokumeanttas"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "&Sádde viidáset:"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "Mana ovddasguvlui dokumeanttas"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "&Lasit girjemearkka"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&Doaimmat girjemearkkaid …"

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&Riektačállin …"

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "Dárkkis riektačállima dokumeanttas"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "Čájet &fálloholgga"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "Čájet dahje čiega fálloholgga"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "Čájet &reaidoholgga"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "Čájet dahje čiega reaidoholggas"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "Čájet &stáhtusholgga"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "Čájet dahje čiega stáhtusholgga"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "D&ievasšearbmadoaibmanvuohki"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&Vurke heivehusaid"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr ""

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "&Heivet %1 …"

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "Heivet &reaidoholggaid …"

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "Heivet &dieđáhusaid …"

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1-&giehtagirji"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "Mii dat &lea?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "&Otná ráva"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "Vá&idal dihki …"

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr ""

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "%1 &dieđut"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "KDE &dieđut"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "&Sihko"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "Bija ođđa nama …"

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "&Sirdde ruskalihtái"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr ""

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr ""

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr ""

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr ""

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr ""

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr ""
