Source: lingmo-gettext-tools
Section: devel
Priority: optional
Build-Depends:
 debhelper (>= 9),
Standards-Version: 4.0.0
Maintainer: Lingmo Sysdev <sysdev@lingmo.com>
Homepage: https://github.com/lingmoos/lingmo-gettext-tools

Package: lingmo-gettext-tools
Architecture: all
Depends:
 gettext,
 libconfig-tiny-perl,
 libxml-libxml-perl,
 perl,
 python3,
 ${misc:Depends},
Description: Lingmo Internationalization utilities
 This package provides various tools used by Lingmo software to extract
 translatable string and manage i18n works as a supplement to regular gettext
 tools.
 .
 This package is part of OCEAN (Lingmo Desktop Environment).
