# translation of kdelibs4.po to Chinese Traditional
# Copyright (C) 2001, 2002, 2004, 2005, 2006, 2007, 2008 Free Software Foundation, Inc.
# Eric Cheng <ericc@shinewave.com.tw>, unknown.
# This file referenced zh_CN translations at 2002.
# Chih-Wei Huang <cwhuang@linux.org.tw>, 2001.
# Kenduest Lee <kenduest@i18n.linux.org.tw>, 2001, 2002.
# Jouston Huang (Huang, Jiun-Jeng) <jouston@housediy.com>, 2002.
# Chia-Lin, Kao <acelan@linux.org.tw>, 2004.
# Yuan-Chen Cheng <ycheng@slat.org>, 2002.
# Goodhorse <franklin@goodhorse.idv.tw>, 2008.
# Frank Weng (a.k.a. Franklin) <franklin at goodhorse dot idv dot tw>, 2006-2009, 2010.
# Franklin Weng <franklin@mail.everfocus.com.tw>, 2010, 2011, 2012.
# Franklin Weng <franklin@goodhorse.idv.tw>, 2010, 2011, 2012, 2013, 2015.
# Jeff Huang <s8321414@gmail.com>, 2016, 2017, 2020.
# pan93412 <pan93412@gmail.com>, 2019, 2020.
# SPDX-FileCopyrightText: 2022, 2023, 2024 Kisaragi Hiu <mail@kisaragi-hiu.com>
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2024-05-18 00:36+0000\n"
"PO-Revision-Date: 2024-05-26 15:39+0900\n"
"Last-Translator: Kisaragi Hiu <mail@kisaragi-hiu.com>\n"
"Language-Team: Traditional Chinese <zh-l10n@lists.slat.org>\n"
"Language: zh_TW\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Generator: Lokalize 24.04.70\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Franklin Weng, Jeff Huang"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "franklin@goodhorse.idv.tw, s8321414@gmail.com"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "預設"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "自動偵測"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr "配色"

#: kcommandbar.cpp:639
#, kde-format
msgid "No commands to display"
msgstr "沒有能顯示的命令"

#: kcommandbar.cpp:641
#, kde-format
msgid "No commands matching the filter"
msgstr "沒有符合過濾器的命令"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "設定"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "選單(&M)"

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "顯示有所有動作的選單列(&M)"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "更多"

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "更多動作"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "沒有項目"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "清除清單"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "往回(&B)"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "往前(&F)"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "首頁(&H)"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "顯示選單列<p>隱藏選單列後再次顯示它</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr "顯示狀態列<p>顯示狀態列，它會在視窗底部顯示狀態資料。</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "開新檔案(&N)"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "建立新文件"

#: kstandardaction_p.h:64
msgid "&Open…"
msgstr "開啟(&O)…"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "開啟現有的文件"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "開啟最近的(&R)"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "開啟最近使用的文件"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "儲存(&S)"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "儲存文件"

#: kstandardaction_p.h:67
msgid "Save &As…"
msgstr "另存新檔(&A)…"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "以新名稱儲存文件"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "恢復(&V)"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "回復文件的變更"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "關閉(&C)"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "關閉文件"

#: kstandardaction_p.h:70
msgid "&Print…"
msgstr "列印(&P)…"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "列印文件"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "預覽列印(&W)"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "顯示文件的預覽列印"

#: kstandardaction_p.h:72
msgid "&Mail…"
msgstr "郵寄(&M)…"

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "以郵件傳送文件"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "離開(&Q)"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "結束應用程式"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "復原(&U)"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "復原上一次動作"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "重做(&D)"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "重做上一次的動作"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "剪下(&T)"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "將選取內容剪下到剪貼簿"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "複製(&C)"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "將選取內容複製到剪貼簿"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "貼上(&P)"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "貼上剪貼簿內容"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "清除(&L)"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "全選(&A)"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "取消選擇(&L)"

#: kstandardaction_p.h:83
msgid "&Find…"
msgstr "尋找(&F)…"

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "尋找下一個(&N)"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "尋找上一個(&V)"

#: kstandardaction_p.h:86
msgid "&Replace…"
msgstr "取代(&R)…"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr "縮放到實際大小(&A)"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "以實際大小檢視文件"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "調整成適合頁面大小(&F)"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "縮放到整個頁面適合視窗"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "調整成適合頁面寬度(&W)"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "縮放到頁面寬度適合視窗"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "調整成適合頁面高度(&H)"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "縮放到頁面高度適合視窗"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "放大(&I)"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "縮小(&O)"

#: kstandardaction_p.h:94
msgid "&Zoom…"
msgstr "縮放(&Z)…"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "選擇縮放等級"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr "重新整理(&R)"

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr "重新整理文件"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "向上(&U)"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "往上"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "前一頁(&P)"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "回到上一頁"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "下一頁(&N)"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "前往下一頁"

#: kstandardaction_p.h:104
msgid "&Go To…"
msgstr "前往(&G)…"

#: kstandardaction_p.h:105
msgid "&Go to Page…"
msgstr "前往頁面(&G)…"

#: kstandardaction_p.h:106
msgid "&Go to Line…"
msgstr "跳至行數(&G)…"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "第一頁(&F)"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "前往第一頁"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "最後一頁(&L)"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "前往最後一頁"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "上一步(&B)"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "在文件內返回"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "往前(&F)"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "在文件內往前"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "加入書籤(&A)"

#: kstandardaction_p.h:113
msgid "&Edit Bookmarks…"
msgstr "編輯書籤(&E)…"

#: kstandardaction_p.h:115
msgid "&Spelling…"
msgstr "拼字檢查(&S)…"

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "檢查文件內的拼字"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "顯示選單列(&M)"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "顯示或隱藏選單列"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "顯示工具列(&T)"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "顯示或隱藏工具列"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "顯示狀態列(&A)"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "顯示或隱藏狀態列"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "全螢幕模式(&U)"

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr "設定鍵盤快捷鍵(&H)…"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Configure %1…"
msgstr "設定 %1(&C)…"

#: kstandardaction_p.h:123
msgid "Configure Tool&bars…"
msgstr "設定工具列(&B)…"

#: kstandardaction_p.h:124
msgid "Configure &Notifications…"
msgstr "設定通知(&N)…"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 手冊(&H)"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "這是什麼？(&T)"

#: kstandardaction_p.h:130
msgid "&Report Bug…"
msgstr "回報問題(&R)…"

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr "設定語言(&L)…"

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "關於 %1(&A)"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "關於 KDE(&K)"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "刪除(&D)"

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr "重新命名(&R)…"

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "移到垃圾桶(&M)"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "贊助(&D)"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr "開啟選單(&M)"

#: kstylemanager.cpp:60
#, kde-format
msgid "Application Style"
msgstr "應用程式風格"

#: kstylemanager.cpp:64
#, kde-format
msgid "Default"
msgstr "預設"

#~ msgid "Tip of the &Day"
#~ msgstr "每日小祕訣(&D)"

#~ msgid "You will be asked to authenticate before saving"
#~ msgstr "您在儲存前將會被要求認證"

#~ msgid "You are not allowed to save the configuration"
#~ msgstr "您沒有權限儲存此設定"

#~ msgctxt "show help"
#~ msgid "&Help"
#~ msgstr "說明(&H)"

#~ msgid "&Save Settings"
#~ msgstr "儲存設定(&S)"

#~ msgctxt "@title:window"
#~ msgid "Tip of the Day"
#~ msgstr "每日小祕訣"

#~ msgctxt "@title"
#~ msgid "Did you know...?\n"
#~ msgstr "您知道嗎...？\n"

#~ msgctxt "@option:check"
#~ msgid "&Show tips on startup"
#~ msgstr "啟動時顯示小秘訣(&S)"

#~ msgctxt "@action:button Goes to previous tip"
#~ msgid "&Previous"
#~ msgstr "前一個(&P)"

#~ msgctxt "@action:button Goes to next tip, opposite to previous"
#~ msgid "&Next"
#~ msgstr "下一個(&N)"

#~ msgid "Switch Application &Language..."
#~ msgstr "切換應用程式語言(&L)..."

#~ msgid "&Redisplay"
#~ msgstr "重新顯示(&R)"
