Source: dde-introduction
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.org>
Build-Depends: debhelper (>= 9),
 pkg-config,
 cmake,
 libdtkgui-dev,
 libdtkwidget-dev,
 libdframeworkdbus-dev,
 libdmr-dev,
 libffmpegthumbnailer-dev,
 libdtkcore-dev,
 libdtkcore5-bin,
 qttools5-dev,
 libgsettings-qt-dev,
 qtmultimedia5-dev,
 libgtest-dev, 
 libgmock-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: dde-introduction
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Introduction for UOS
 When you log into the system for the first time, a welcome program will automatically start.    
 Watch the introduction video to get new features, customize your desktop, enable the window 
 effect and know more about UnionTech OS.
