[Desktop Entry]
Name=Deepin
Hidden=true
Comment=Deepin Desktop Environment
Exec=/usr/bin/runkwin-x11.sh
TryExec=/usr/bin/runkwin-x11.sh
X-LightDM-Session-Type=wayland
