Source: dtkio
Section: libdevel
Priority: optional
Maintainer: Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (= 12),
 cmake,
 doxygen,
 graphviz,
 pkg-config,
 qhelpgenerator-qt5 | qttools5-dev-tools,
 librsvg2-dev,
 qtbase5-dev,
 libsecret-1-dev,
 libglib2.0-dev,
 libdtkcore-dev,
 libdtkwidget-dev,
 libarchive-dev,
 libsecret-1-dev,
 libpoppler-cpp-dev,
 libudisks2-qt5-dev,
 libkf5codecs-dev,
 libzip-dev,
 libkf5archive-dev,
 libminizip-dev,
 libisoburn-dev,
 qttools5-dev,
 liblucene++-dev,
 libdocparser-dev,
 libboost-filesystem-dev
Standards-Version: 4.5.0

Package: libdtkmount
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin Tool Kit template library
 libdtkmount is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libdtkmount-dev
Architecture: any
Depends:${misc:Depends}, libdtkmount( =${binary:Version})
Description: Deepin Tool Kit template devel library
 libdtkmount-dev is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the header files and static libraries.

Package: libdtkcompressor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development Tool Kit template library
 libdtkcompressor is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libdtkcompressor-dev
Architecture: any
Depends:${misc:Depends}, libdtkcompressor( =${binary:Version})
Description: Development Tool Kit template devel library
 libdtkcompressor-dev is base devel library of Deepin Qt/C++ applications.

Package: libdtkio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin Tool Kit template library
 libdtkio is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libdtkio-dev
Architecture: any
Depends:${misc:Depends}, libdtkio( =${binary:Version})
Description: Deepin Tool Kit template devel library
 libdtkio-dev is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the header files and static libraries.

Package: libdtksearch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin Tool Kit template library
 libdtksearch is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libdtksearch-dev
Architecture: any
Depends:${misc:Depends}, libdtksearch( =${binary:Version})
Description: Deepin Tool Kit template devel library
 libdtksearch-dev is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the header files and static libraries.

 
Package: libdtkburn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libudfburn
Description: A libaray about burning CD
 libdtkburn is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libdtkburn-dev
Architecture: any
Depends:${misc:Depends}, libdtkburn( =${binary:Version})
Description: A libaray about burning CD
 libdtkburn-dev is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the header files and static libraries.
