[KCM Locale]
Name=Burmese
Name[ar]=البورمية
Name[ast]=Birmanu
Name[az]=Birma dili
Name[be]=Бірманская
Name[be@latin]=Birmanskaja
Name[bg]=Бирмански
Name[ca]=Birmà
Name[ca@valencia]=Birmà
Name[cs]=Barmský
Name[de]=Burmesisch
Name[el]=Βιρμανικά
Name[en_GB]=Burmese
Name[eo]=Birma
Name[es]=Birmano
Name[eu]=Birmaniera
Name[fi]=Burma
Name[fr]=Birman
Name[gl]=Birmano
Name[he]=בורמזית
Name[hi]=बर्मी
Name[hu]=Burmai
Name[ia]=Burmese
Name[id]=Burmese
Name[is]=Búrmneska
Name[it]=Birmano
Name[ka]=ბურმული
Name[ko]=버마어
Name[lt]=Birmiečių
Name[lv]=Birmiešu
Name[nl]=Burmees
Name[nn]=Burmesisk
Name[pa]=ਬਰਮੀਸੀ
Name[pl]=Birmański
Name[pt]=Birmanês
Name[pt_BR]=Birmanês
Name[ro]=Burmeză
Name[ru]=Бирманский
Name[sk]=Barmčina
Name[sl]=Burmanščina
Name[sv]=Burmesiska
Name[ta]=பர்மியம்
Name[tr]=Burmaca
Name[uk]=Бірманська
Name[vi]=Tiếng Myanmar
Name[x-test]=xxBurmesexx
Name[zh_CN]=缅甸语
Name[zh_TW]=緬甸語
