Source: dtkcommon
Section: libdevel
Priority: optional
Maintainer: Lingmo Packages Builder <packages@lingmo.com>
Build-depends: debhelper (>= 9), cmake
Standards-Version: 3.9.8
Homepage: http://www.lingmo.org/

Package: libdtkdata
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: dtk common files
 Used to store public configuration files

Package: libdtkcommon-dev
Architecture: any
Conflicts: libdtkcore-dev(<< 5.4.10)
Replaces: libdtkcore-dev(<< 5.4.10)
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: dtk common files
 Used to store public build files
