# translation of kdelibs4.po to Tajik Language
# Copyright (C) 2004, 2002, 2005, 2006, 2007, 2008 Free Software Foundation, Inc.
# 2004, 2005, 2006, 2007 infoDev, a World Bank organization.
# 2004, 2005, 2006, 2007 Khujand Computer Technologies, Inc.
# 2004, 2005, 2006, 2007 Youth Opportunities, NGO, 2005.
# Roger Kovacs <rkovacs@khujand.org>, 2003.
# Thomas Diehl <thd@kde.org>, 2003.
# Victor Ibragimov <victor.ibragimov@gmail.com>, 2003, 2004, 2005, 2006, 2007, 2008, 2019.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-12-08 00:42+0000\n"
"PO-Revision-Date: 2019-09-15 21:27+0500\n"
"Last-Translator: Victor Ibragimov <victor.ibragimov@gmail.com>\n"
"Language-Team: English <kde-i18n-doc@kde.org>\n"
"Language: tg\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 19.04.3\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Victor Ibragimov"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "victor.ibragimov@gmail.com"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Пеш аз нигоҳдорӣ ба шумо санҷиши ҳаққоният пешниҳод карда мешавад"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Шумо барои нигоҳ доштани танзимот иҷозат надоред"

#: kcodecaction.cpp:67
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Стандартӣ"

#: kcodecaction.cpp:75
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Худмуайянкунии"

#: kcolorschememanager.cpp:220 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kcolorschememodel.cpp:71
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "Стандартӣ"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Танзимот"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:326
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "&Нишон додани навори феҳрист"

#: khamburgermenu.cpp:352
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr ""

#: khamburgermenu.cpp:353
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr ""

#: krecentfilesaction.cpp:71
#, kde-format
msgid "No Entries"
msgstr "Ягон ворида нест"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "Clear List"
msgstr "Пок кардани рӯйхат"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Ба қафо"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Ба пеш"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Асосӣ"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Кумак"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Нишон додани навори феҳрист<p>Навори менюро аз нав нишон медиҳад, агар он "
"пинҳон карда шуда бошад</p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Нишон додани навори вазъият<p>Навори вазъиятеро нишон медиҳад, ки дар поёни "
"равзана ҷойгир аст ва барои намоиши иттилооти вазъият истифода мешавад.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Нав"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "Эҷод кардани ҳуҷҷати нав"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Кушодан..."

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "Кушодани ҳуҷҷати мавҷудбуда"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "&Кушодани маводи охирин"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "&Кушодани маводе, ки охирин бор кушода буд"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Нигоҳ доштан"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "Нигоҳ доштани ҳуҷҷат"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "&Нигоҳ доштан ҳамчун..."

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "Нигоҳ доштани ҳуҷҷат дар таҳти номи нав"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "&Бозсозӣ"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "Бозгашти тағйироте, ки дар ҳуҷҷат нигоҳ дошта нашуд"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Пӯшидан"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "Пӯшидани ҳуҷҷат"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "&Чоп кардан…"

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "Чоп кардани ҳуҷҷат"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "&Пешнамоиши чоп"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "Нишон додани пешнамоиши чопи ҳуҷҷат"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&Почта..."

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "Фиристодани ҳуҷҷат ба воситаи почта"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&Баромадан"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Баромадан аз барнома"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&Ботил сохтан"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "Ботил сохтани амали охирин"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "&Дубора анҷом додан"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "Дубора анҷом додани амали охирин"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "&Буридан"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "Буридани интихоб ба ҳофизаи муваққатӣ"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "&Нусха бардоштан"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "Нусха бардоштани интихоб ба ҳофизаи муваққатӣ"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&Гузоштан"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "Гузоштани муҳтавои ҳофизаи муваққатӣ"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "&Пок кардан"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "&Ҳамаро интихоб кардан"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "&Интихобро бекор кардан"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Ёфтан..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "&Ёфтани навбатӣ"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "&Ёфтани қаблӣ"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Ҷойгузин кардан..."

#: kstandardaction_p.h:58
#, fuzzy
#| msgid "&Actual Size"
msgid "Zoom to &Actual Size"
msgstr "&Андозаи ҳақиқӣ"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "Намоиш додани ҳуҷҷат дар андозаи ҳақиқӣ"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&Ба саҳифа ғунҷидан"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "Танзими андоза барои ба равзана ғунҷидан"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "&Ба паҳнии саҳифа ғунҷидан"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "Танзими андоза барои ба паҳнии саҳифа дар равзана ғунҷидан"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "&Ба баландии саҳифа ғунҷидан"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "Танзими андоза барои ба баландии саҳифа дар равзана ғунҷидан"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "&Бузург кардани андоза"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "&Хурд кардани андоза"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Танзими андоза..."

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "Интихоби дараҷаи танзими андоза"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:65
#, fuzzy
#| msgid "Redisplay document"
msgid "Refresh document"
msgstr "Аз нав нишон додани ҳуҷҷат"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Ба боло"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "Гузариш ба боло"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&Саҳифаи қаблӣ"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "Гузариш ба саҳифаи қаблӣ"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Саҳифаи навбатӣ"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "Гузариш ба саҳифаи навбатӣ"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&Гузариш ба..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "&Гузариш ба саҳифа..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "&Гузариш ба сатр..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&Саҳифаи аввалин"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "Гузариш ба саҳифаи аввалин"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&Саҳифаи охирин"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "Гузариш ба саҳифаи охирин"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&Ба қафо"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "Гузариш ба қафо дар ҳуҷҷат"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "&Ба пеш"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "Гузариш ба пеш дар ҳуҷҷат"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "&Илова кардани хатчӯб"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&Таҳрир кардани хатчӯбҳо..."

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&Санҷиши имло..."

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "Санҷиши имло дар ҳуҷҷат"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "&Нишон додани навори феҳрист"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "Нишон додан ё пинҳон кардани навори феҳрист"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "&Нишон додани навори абзорҳо"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "Нишон додан ё пинҳон кардани навори абзорҳо"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "Намоиш додани навори &вазъият"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "Нишон додан ё пинҳон кардани навори вазъият"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "&Реҷаи экрани пурра"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&Нигоҳ доштани танзимот"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "Танзимоти &миёнбурҳо..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "&Танзим кардани %1..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "&Танзимоти навори абзорҳо..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "Танзимоти &огоҳиномаҳо..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "&Маълумотномаи %1"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "Ин чист?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "&Маслиҳати рӯз"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "Гузориш дар бораи &хато..."

#: kstandardaction_p.h:108
#, fuzzy
#| msgid "&Configure %1..."
msgid "Configure &Language..."
msgstr "&Танзим кардани %1..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&Дар бораи барномаи %1"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "&Дар бораи KDE"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "&Нест кардан"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "&Номро иваз кардан..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "&Интиқол додан ба сабад"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "&Дастгирии молӣ"

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "&Кушодани маводи охирин"

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Маслиҳати рӯз"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Оё шумо медонед, ки...?\n"

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Нишон додани маслиҳат дар оғози кор"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Қаблӣ"

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Навбатӣ"

#~ msgid "Switch Application &Language..."
#~ msgstr "&Иваз кардани забони барнома..."

#~ msgid "&Redisplay"
#~ msgstr "&Аз нав нишон додан"
