[Desktop Entry]
Name=System Monitor
Name[zh_CN]=系统监视器
Name[zh_TW]=系統監視器
Name[ja]=システムモニター
Name[ko]=시스템 모니터
Name[fr]=Moniteur système
Name[de]=Systemmonitor
Name[es]=Monitor del sistema
Name[it]=Monitor di sistema
Name[ru]=Системный монитор
Name[pt]=Monitor do sistema
Comment=Monitor system resources and processes
Comment[zh_CN]=监视系统资源和进程
Comment[zh_TW]=監視系統資源和行程
Comment[ja]=システムリソースとプロセスを監視
Comment[ko]=시스템 리소스 및 프로세스 모니터링
Comment[fr]=Surveiller les ressources système et les processus
Comment[de]=Systemressourcen und Prozesse überwachen
Comment[es]=Monitorizar recursos del sistema y procesos
Comment[it]=Monitora risorse di sistema e processi
Comment[ru]=Мониторинг системных ресурсов и процессов
Comment[pt]=Monitorar recursos do sistema e processos
Exec=lingmo-system-monitor
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=Qt;System;Monitor;
StartupNotify=true 