[Desktop Entry]
Name=System Monitor
Name[zh_CN]=系统监视器
Name[zh_HK]=系統監視器
Name[tr_TR]=Sistem İzleyici
Name[bo_CN]=རྒྱུད་ཁོངས་སོ་ལྟ་ཆས།
Name[mn_MN]= ᠰᠢᠰᠲ᠋ᠧᠮ ᠤ᠋ᠨ ᠬᠢᠨᠠᠭᠤᠷ
Name[kk_KZ]=سەستيما كۇزەتۋشى
Name[ug_CN]=سىستېما كۆزەتكۈچ
Name[ky_KG]=ساامالىق  كۉزۅتكۉچ
Name[de]=Lingmo System-Monitor
Name[es]=Monitor del sistema Lingmo
Name[fr]=Moniteur système Lingmo
GenericName=System Monitor
GenericName[zh_CN]=系统监视器
GenericName[zh_HK]=系統監視器
GenericName[bo_CN]=རྒྱུད་ཁོངས་སོ་ལྟ་ཆས།
GenericName[mn_MN]= ᠰᠢᠰᠲ᠋ᠧᠮ ᠤ᠋ᠨ ᠬᠢᠨᠠᠭᠤᠷ
GenericName[kk_KZ]=سەستيما كۇزەتۋشى
GenericName[ug_CN]=سىستېما كۆزەتكۈچ
GenericName[ky_KG]=ساامالىق  كۉزۅتكۉچ
GenericName[de]=Lingmo System-Monitor
GenericName[es]=Monitor del sistema Lingmo
GenericName[fr]=Moniteur système Lingmo
Comment=System Monitor
Comment[zh_CN]=系统监视器
Comment[zh_HK]=系統監視器
Comment[tr_TR]=Sistem İzleyici
Comment[bo_CN]=རྒྱུད་ཁོངས་སོ་ལྟ་ཆས།
Comment[mn_MN]= ᠰᠢᠰᠲ᠋ᠧᠮ ᠤ᠋ᠨ ᠬᠢᠨᠠᠭᠤᠷ
Comment[kk_KZ]=سەستيما كۇزەتۋشى
Comment[ug_CN]=سىستېما كۆزەتكۈچ
Comment[ky_KG]=ساامالىق  كۉزۅتكۉچ
Comment[de]=Lingmo System-Monitor
Comment[es]=Monitor del sistema Lingmo
Comment[fr]=Moniteur système Lingmo
Keywords=guide;
Exec=/usr/bin/lingmo-system-monitor
Icon=lingmo-system-monitor
Terminal=false
Type=Application
NoDisplay=false
Categories=System;Utility;
StartupNotify=false
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management,org_kde_plasma_activation_feedback,org_kde_kwin_keystate,org_kde_kwin_fake_input,zkde_screencast_unstable_v1
