[Unit]
Description = ocean-calendar date service
After=dbus.socket
Requires=dbus.socket

[Service]
Type = simple
ExecStart = /bin/bash -c "dbus-send --session --dest=com.lingmo.dataserver.Calendar /com/lingmo/dataserver/Calendar/AccountManager com.lingmo.dataserver.Calendar.AccountManager.updateRemindJob boolean:false"

[Install]
WantedBy=user-session.target