Source: dtk6log
Section: libdevel
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper-compat ( =12), pkg-config, qt6-base-private-dev, cmake, libspdlog-dev, libsystemd-dev
Standards-Version: 3.9.8

Package: libdtk6log
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Simple, convinient and thread safe logger for Qt-based C++ apps.
 This package contains the shared libraries.

Package: libdtk6log-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdtk6log( =${binary:Version})
Description: Simple, convinient and thread safe logger for Qt-based C++ apps.
 This package contains the header files and static libraries of dlog
